[uwsgi]
gid = $USER

project = clist
chdir = $PROJECT_DIR

plugins = python3

virtualenv = $VIRTUAL_ENV
module = py%(project).wsgi:application

master = true
processes = 5

chmod-socket = 664
chown-socket = www-data:www-data
socket = %(chdir)/uwsgi.sock
vacuum = true

daemonize = /var/log/uwsgi/%(project).log
