SECRET_KEY=
PORT=8000
BASE_URL=https://bugsink.clist.by
ALLOWED_HOSTS=bugsink.clist.by,bugsink,localhost,127.0.0.1
BEHIND_HTTPS_PROXY=True
DATABASE_URL=postgresql://bugsink:password@db:5432/bugsink
CREATE_SUPERUSER=email:password
SNAPPEA_NUM_WORKERS=2
GUNICORN_CMD_ARGS=--workers=2
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=
