.flag-width-fixed {
  max-width: 18px;
  width: 18px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.select2-container div.flag {
  margin-right: 8px;
}

.flag {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.2em;
  line-height: 0.9em;
  filter: drop-shadow(0px 0px 1px rgb(0 0 0 / 0.5)) opacity(80%);
  background-image: url('../flags/4x3/xx.svg');
  transform: scale(1.3);
  margin-right: 5px;
}

.flag:before {
  content: '\00a0';
}

.flag.fis {
  width: 1em;
  background-image: url('../flags/1x1/xx.svg');
}

.custom-countries.active {
  cursor: default !important;
}
