{% load el_pagination_tags %}
{% load preload_statistics %}

{% lazy_paginate 50,200 accounts %}{% get_pages %}

{% preload_statistics accounts 'resource_id' attr='selected_stats' as preload_statistics_data %}

{% for account in accounts %}
<tr{% if account.my_account %} class="info"{% endif %}>
  <td class="no-stretch">{{ forloop.counter0|add:pages.current_start_index }}</td>
  <td class="account">
    {% include "account_table_cell.html" with resource=account.resource account=account with_resource=True with_fixed_width=True %}

    <span class="inline-button">

    {% if account.resource.profile_url and not account.info|get_item:"_no_profile_url" %}
      <a href="{{ account.resource.profile_url|format_dict:account.dict_with_info }}" class="small" target="_blank" rel="noopener"><i class="fas fa-external-link-alt"></i></a>
    {% endif %}

    {% if perms.ranking.link_account %}
      {% search_linked_coder request account as search %}
      {% if search %}
      <a href="{% url 'coder:accounts' %}?search={{ search }}&sort_column=n_contests&sort_order=desc">{% icon_to 'search' search %}</a>
      {% endif %}
    {% endif %}

    {% if perms.ranking.change_account %}
      <a href="{% url 'admin:ranking_account_change' account.id %}" target="_blank" rel="noopener"><i class="fas fa-database"></i></a>
    {% endif %}

    </span>

    {% for members_statistic in account.selected_stats %}
    {% if not members_statistic.addition.team_id %}
    {% include "standings_account_members.html" with members=members_statistic.addition|get_item:"_members" resource=resource inline=False with_fixed_width=True %}
    {% endif %}
    {% endfor %}

    {% if request.user.is_authenticated and request.GET.add_account %}
    <div class="buttons pull-right">
      <button
        class="btn btn-primary btn-xs add-account{% if account.my_account %} hidden{% endif %}"
        data-id="{{ account.pk }}"
        data-action="add-account"
        data-message="Account added"
        title="Add account"
        data-placement="left"
        data-toggle="tooltip"
      ><i class="fas fa-user-plus fa-fw"></i></button>
      <button
        class="btn btn-danger btn-xs delete-account{% if not account.my_account %} hidden{% endif %}"
        data-id="{{ account.pk }}"
        data-action="delete-account"
        data-message="Account deleted"
        title="Delete account"
        data-placement="left"
        data-toggle="tooltip"
      ><i class="far fa-trash-alt fa-fw"></i></button>
      <i class="loading-account fas fa-circle-notch fa-spin hidden fa-fw fa-lg"></i>
    </div>
    {% endif %}
  </td>
  {% if params.advanced_filter %}
  <td class="result-td">
    <table class="result-table">
      {% for stat in account.selected_stats %}
      {% with advance=stat.addition|get_item:'_advance' %}
      <tr>
        <td class="{% if advance.class %} {{ advance.class }}{% endif %}">
          {% if stat.place is None %}
          &mdash;
          {% else %}
          <div title="{{ stat.contest.title }}{% if advance.next %}<br/>Supposedly advance to {{ advance.next }}{% endif %}" data-html="true" data-toggle="tooltip">
            <a href="{% url 'ranking:standings' stat.contest.title|slug stat.contest.pk %}?find_me={{ stat.pk }}">{{ stat.place }}</a>
          </div>
          {% endif %}
        </td>
      </tr>
      {% endwith %}
      {% endfor %}
    </table>
  </td>
  {% endif %}
  <td>
    {% if not account.has_coders and perms.ranking.link_account %}
    <input class="scale15 mouseover-toggle" type="checkbox" name="accounts" value="{{ account.pk }}"{% if account.pk|slugify in params.link_accounts %} checked{% endif %}>
    {% elif perms.ranking.link_account %}
    <i class="has_coders fas fa-check clickable"></i>
    <input class="hidden scale15 mouseover-toggle" type="checkbox" name="accounts" value="{{ account.pk }}">
    {% else %}
    <i class="has_coders fas fa-{% if account.has_coders %}check{% else %}times{% endif %}"></i>
    {% endif %}
  </td>
  {% if params.to_list %}
  <td>
    {% if account.to_list %}
    <i class="fas fa-check"></i>
    {% else %}
    <input class="scale15" type="checkbox" name="to_list_accounts" value="{{ account.pk }}">
    {% endif %}
  </td>
  {% endif %}
  <td>
    {% if account.rating is not None %}
    {% with coloring_field=account.resource.info|get_item:'ratings'|get_item:'chartjs'|get_item:'coloring_field' %}
    {% with coloring_value=account.info|get_item:coloring_field|pass_arg:coloring_field|ifelse:account.rating %}
    <div class="{% coder_color_class account.resource coloring_value %}">
        {% coder_color_circle account.resource coloring_value %}
        {{ account.rating }}
    </div>
    {% endwith %}
    {% endwith %}
    {% else %}
    &mdash;
    {% endif %}
  </td>
  <td>{% if account.resource_rank %}{{ account.resource_rank }}{% else %}&mdash;{% endif %}</td>
  <td>{{ account.n_contests }}</td>
  <td>{{ account.n_writers }}</td>
  <td>
    {% if account.last_activity is not None %}
    <div title="{{ account.last_activity|timezone:timezone|format_time:timeformat }}" data-toggle="tooltip">{{ account.last_activity|timezone:timezone|naturalday }}</div>
    {% else %}
    &mdash;
    {% endif %}
  </td>
  {% if custom_fields %}
  {% for field in custom_fields.values %}
  <td>
    {% with k=resources_custom_fields|contains:field|iftrue:"info__"|default:""|add:field %}
    {% with v=account|get_item:k %}
    {% if v is None %}
      &mdash;
    {% elif v|get_type == "datetime" %}
      <div title="{{ v|timezone:timezone|format_time:timeformat }}" data-toggle="tooltip">{{ v|timezone:timezone|naturalday }}</div>
    {% else %}
      {{ v }}
    {% endif %}
    {% endwith %}
    {% endwith %}
  </td>
  {% endfor %}
  {% endif %}
</tr>
{% endfor %}
{% show_more_table %}
<script>init_account_buttons()</script>
<script>init_clickable_has_coders()</script>
