{% with account_id=account|default:"account" %}
{% with resource_id=account_id|add:"_resource" %}
{% if not without_resource %}{% include "resource_filter.html" with resource=resource_id noname=True nosubmit=True nomultiply=True %}{% endif %}
<div class="input-group input-group-sm hidden" id="{{ account_id }}-hidden">
  <span class="input-group-addon">Account</span>

  <select name="{{ account_id }}" id="{{ account_id }}" onchange="this.form.submit()"{% if not nomultiply %} multiple{% endif %}>
    <option></option>
    {% for account in accounts %}
    <option value="{{ account.pk }}" selected>{{ account.resource.short_host|default:account.resource.host }}:{{ account.key }}</option>
    {% endfor %}
  </select>
</div>

<script>
  $('#{{ account_id }}').select2({
    dropdownAutoWidth : true,
    theme: 'bootstrap',
    placeholder: '',
    allowClear: true,
    minimumInputLength: 1,
    templateResult: function (data) {
      var $result = $('<span></span>')
      $result.text(data.text)
      if (data.icon) {
        $result.prepend('<img src="/media/sizes/32x32/' + data.icon + '" width="16" height="16">&nbsp;')
      }
      return $result
    },
    ajax: {
      url: '/settings/search/',
      dataType: 'json',
      delay: 314,
      data: function (params) {
        return {
          query: 'accounts',
          search: params.term,
          {% if not without_resource %}resource: $('#{{ resource_id }}').val(),{% endif %}
          {% if with_contest %}contest: {{ with_contest.pk }},{% endif %}
          page: params.page || 1
        };
      },
      processResults: function (data, params) {
        return {
          results: data.items,
          pagination: {
            more: data.more
          }
        };
      },
      cache: true,
    },
  }).on('select2:unselecting', function() {
    $(this).data('unselecting', true);
  }).on('select2:opening', function(e) {
    if ($(this).data('unselecting')) {
      $(this).removeData('unselecting');
      e.preventDefault();
    }
  })
  $('#{{ account_id }}-hidden').removeClass('hidden');
</script>
{% endwith %}
{% endwith %}
