<div id="accounts-filters" class="form-group">
  <div class="input-group input-group-sm">
    <div class="input-group-addon">Account</div>

    <input
      type="search"
      name="search"
      value="{{ request.GET.search }}"
      class="form-control"
      {% if request.GET.search %}
      autofocus
      onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"
      {% endif %}
      autocomplete="off"
    />

    <div class="input-group-addon tooltip-help" data-toggle="tooltip" data-placement="bottom" data-html="true" title="You can search accounts after participating in a contest and after parsing statistics.<br>You can use key:{KEY} or name:{NAME} to strict search.<br>Use && and || and ! for difficult conditions.<br>To improve performance, use Settings > Lists for filtering accounts.">
      <i class="fas fa-info"></i>
    </div>

    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">{% icon_to 'search' %}</button>
    </span>
  </div>

  {% if request.GET.chart_column %}
  <input type="hidden" name="chart_column" value="{{ request.GET.chart_column }}"/>
  {% endif %}

  {% include 'country_filter.html' with has_country=True groupby=groupby|default:chart %}
  {% include 'resource_filter.html' with groupby=groupby|default:chart %}

  {% include 'contest_filter.html' with has_statistics=True %}
  {% if params.contests %}
  {% include "field_to_select.html" with field="advanced" data=params.advanced_filter %}
  {% endif %}

  {% include 'coder_kind_filter.html' %}

  {% include "list_filter.html" %}

  {% if custom_fields %}
  {% include "field_to_select.html" with field="field" data=custom_fields %}
  {% endif %}

  {% include "sort_select.html" with field="sort_column" data=sort_select %}

  {% if request.user.is_authenticated %}
  {% if request.GET.add_account %}
  <input type="hidden" name="add_account" value="{{ request.GET.add_account }}"/>
  {% endif %}
  <div class="input-group input-group-sm">
    <button
      class="btn btn-default btn-sm{% if request.GET.add_account %} active{% endif %}"
      name="add_account"{% if not request.GET.add_account %}
      value="on"{% endif %}
      title="Buttons to add/delete account"
      data-toggle="tooltip"
    >
      <i class="fas fa-user-plus"></i>
    </button>
  </div>
  {% endif %}

  {% if perms.ranking.link_account %}
  {% include "coder_filter.html" with nomultiply=True coder_urls=True submit="link" coders=params.link_coders %}
  {% endif %}

  {% include "list_filter.html" with list_field="to_list" nomultiply=True submit="add" submit_value="add_to_list" submit_enabled=params.to_list %}

  {% include "field_to_input.html" with field="field_instead_key" default=request.GET|get_item:"field_instead_key" force_collapse=True %}
</div>
