{% extends "profile_account.html" %}

{% block profile_body %}
<script>
account_url = '{{ account_url }}'
verify_url = window.location.href
</script>

<div id="account-verification" class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
{% if account.resource.account_verification_fields %}
  <div class="panel panel-primary">
    <div class="panel-heading">Verification</div>
    <ol class="list-group">
      <li class="list-group-item">
        Put the text <code class="copy-to-clipboard">{{ verification.text }}</code> in one of the possible fields in {% profile_url account inner="your profile" %}. Possible fields are: {% for field in account.resource.account_verification_fields %}{% if forloop.counter0 %}, {% endif %}{{ field|title_field }}{% endfor %}.
      </li>
      <li class="list-group-item">
        Click the button below to verify your account.
        <div class="text-center padding-xs">
          <button id="verify-account" type="submit" class="btn btn-primary">Verify</button>
          <i id="verify-loading" class="fa-2x fas fa-circle-notch fa-spin hidden"></i>
        </div>
        <div id="verify-error" class="alert alert-danger hidden padding-v-sm margin-zero" role="alert"></div>
      </li>
      <li class="list-group-item">
        Restore the modified field in {% profile_url account inner="your profile" %}.
      </li>
      <li class="list-group-item">
        Refresh the page or go to <a href="{{ account_url }}">your account</a>.
      </li>
    </ol>
  </div>
{% else %}
  <div class="alert alert-warning text-center" role="alert">
    Automatic verification is not available.
  </div>
{% endif %}
</div>

{% endblock %}
