{% if with_resource %}
  {% if with_fixed_width %}<div class="resource-width-fixed">{% endif %}
    {% if not without_url_transform and request %}<a href="{% url_transform request resource=resource.pk %}">{% endif %}
      <img data-toggle="tooltip" data-placement="bottom" title="{{ resource.host }}" src="{{ resource.icon|media_size:'32x32' }}" width="16" height="16"/>
    {% if not without_url_transform and request %}</a>{% endif %}
  {% if with_fixed_width %}</div>{% endif %}
{% endif %}

{% if not without_avatar %}
{% if with_fixed_width %}<div class="avatar-width-fixed">{% endif %}
{% if resource.avatar_url %}
  {% call_method account 'avatar_url' resource as avatar_url %}
  {% if avatar_url %}
    <img class="account-avatar" src="{{ avatar_url }}"/>
  {% endif %}
{% endif %}
{% if with_fixed_width %}</div>{% endif %}
{% endif %}

{% if not without_country %}
  {% if with_fixed_width %}<div class="flag-width-fixed">{% endif %}
  {% get_country_from_account account as country %}{% if country %}
  {% if not without_url_transform and request %}<a href="{% url_transform request country=country.code %}">{% endif %}
    <div class="flag flag-{{ country.flag_code|lower }}" title="{{ country.name }}" data-toggle="tooltip"></div>
  {% if not without_url_transform and request %}</a>{% endif %}
  {% endif %}
  {% if with_fixed_width %}</div>{% endif %}
{% endif %}

<span>

{% if not without_circle %}
{% coder_color_circle resource account.info %}
{% endif %}

{% if not without_url %}
<a href="{% if with_account_default_url %}{% url 'coder:account' account.key account.resource.host %}{% else %}{{ account.url }}{% endif %}" class="{% coder_color_class resource account.info %}">
{% else %}
<span class="{% coder_color_class resource account.info %}">
{% endif %}

{% if account.name and account.key|has_season:account.name %}
<span>{% trim_to account.name trim_length %}</span>
{% elif account.name and resource.info.standings.name_instead_key %}
<span>{% trim_to account.name trim_length %}</span>
{% else %}
<span{% if account.name %} title="{{ account.name }}" data-placement="top"{% endif %} data-toggle="tooltip">{% trim_to account.key trim_length %}</span>
{% endif %}

{% if resource.has_account_verification and with_verified %}
{% if account.verified %}{% icon_to 'verified' %}{% else %}{% icon_to 'unverified' %}{% endif %}
{% endif %}

{% if not without_url %}
</a>
{% else %}
</span>
{% endif %}

</span>
