{% extends "base.html" %}

{% block ogtitle %}{% block title %}Accounts{% endblock %}{% endblock %}
{% block description %}Browse through accounts from various external resources, each providing additional information. Utilize our filter feature to easily find the content that suits your interests and needs.{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/accounts.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/accounts.js' %}"></script>
{% endblock %}

{% block content %}
<div class="col-xl-10 col-xl-offset-1">
  <form class="form-inline" method="get" action="">

  {% include "filter_collapse.html" with include_filter="accounts_filters.html" %}

  {% include "chart.html" with chart=chart %}

  <script>$.endlessPaginate({paginateOnScroll: true, onCompleted: toggle_tooltip});</script>
  <div id="accounts" class="panel panel-default table-responsive">
    <table class="table table-hover table-striped table-float-head">
      <thead>
        <tr>
          <th>#</th>
          <th class="account">
            <div class="resource-width-fixed"></div>
            <div class="avatar-width-fixed"></div>
            <div class="flag-width-fixed"></div>
            <div>Accounts</div>
            <div class="sortable-column" data-column="account"></div>
          </th>
          {% if params.advanced_filter %}
          <th>
            <div>Result</div>
          </th>
          {% endif %}
          <th>
            <div>Linked<br/>coder</div>
          </th>
          <th>
            <div class="chart-column" data-field="rating"></div>
            <div>Rating</div>
            <div class="sortable-column" data-column="rating"></div>
          </th>
          <th>
            <div class="chart-column" data-field="rank"></div>
            <div>Rank</div>
            <div class="sortable-column" data-column="rank"></div>
          </th>
          <th>
            <div class="chart-column" data-field="n_contests"></div>
            <div>Contests<br/>number</div>
            <div class="sortable-column" data-column="n_contests"></div>
          </th>
          <th>
            <div class="chart-column" data-field="n_writers"></div>
            <div>Authors<br/>number</div>
            <div class="sortable-column" data-column="n_writers"></div>
          </th>
          <th>
            <div class="chart-column" data-field="last_activity"></div>
            <div>Last<br/>activity</div>
            <div class="sortable-column" data-column="last_activity"></div>
          </th>
          {% if custom_fields %}
          {% for field in custom_fields.values %}
          <th>
            <div class="chart-column" data-field="{{ field }}"></div>
            <div>{{ field|title_field|split:" "|join:"<br>" }}</div>
            <div class="sortable-column" data-column="{{ field }}"></div>
          </th>
          {% endfor %}
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% include page_template %}
      </tbody>
    </table>
  </div>

  </form>
</div>
{% endblock %}
