{% extends "base.html" %}

{% block ogtitle %}{% block title %}{% if source %}{{ source }} - {% endif %}Charts{% endblock %}{% endblock %}
{% block description %}desc{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/charts.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/charts.js' %}"></script>
{% endblock %}

{% block content %}

<form class="form-inline" id="problems-filter" method="get" action="">
  {% if groupby and groupby != 'none' %}<input name="groupby" value="{{ groupby }}" type="hidden"/>{% endif %}

  {% include "field_to_select.html" with field="source" data=source_field_select %}
  {% include "sort_select.html" with data=sort_field_select %}
  {% include "field_to_select.html" with field="x_axis" data=x_field_select %}

  {% if chart and chart.range_selection %}
  {% include "range_filter.html" with name=chart.name value_key="charts" from=chart.x_from to=chart.x_to icon_title="X Range" range_select=x_range_select %}
  {% include "range_filter_apply.html" %}
  {% endif %}

  {% if x_axis %}
    {% include "field_to_select.html" with field="y_axis" data=y_field_select %}

    {% if y_axis %}
      {% include "field_to_select.html" with field="y_agg" data=y_agg_select %}
      {% if y_agg == "percentile" %}
      <div class="input-group input-group-sm">
        <input min="0" max="1" step="0.01" type="number" class="form-control" name="percentile" value="{{ percentile }}" required></input>
      </div>
      {% endif %}
    {% endif %}
  {% endif %}

  {% include "field_to_select.html" with field="selection" data=selection_field_select %}

  {% for field_select in selection_field_selects %}
    {% include "field_to_select.html" with field=field_select.name data=field_select %}
  {% endfor %}

  {% include "field_to_select.html" with field="field" data=entity_fields_select %}

  {% if model.admin_url %}
  <div class="input-group{% if not nosmall %} input-group-sm{% endif %}">
    <a class="btn btn-default btn-sm" href="{% filtered_admin_url model.admin_url field_selects=selection_field_selects %}" target="_blank">{% icon_to 'extra_url' %}</a>
  </div>
  {% endif %}

  <div class="input-group{% if not nosmall %} input-group-sm{% endif %}">
    <button type="submit" class="btn btn-default btn-sm confirm-action" data-confirm-class="btn-danger" data-action="Delete" name="action" value="delete">{% icon_to 'delete' %}</button>
  </div>
</form>

<script>configure_pagination()</script>

<div>
{% include 'chart.html' with chart=chart without_close_chart=True %}
</div>

{% if entities is not None and entities.exists %}
<div id="entities" class="panel panel-default table-responsive">
  <table class="table table-hover table-striped table-float-head">
    <thead>
      <tr>
        {% for field in fields %}
        {% with model.fields|get_item:field|get_item:'type' as field_type %}
        <th{% if entity_fields|length >= forloop.counter0 %} class="sticky-left-column"{% endif %}>
          <div class="nowrap">{% if field_type == "BooleanField" %}{% trim_to field 5 %}{% else %}{{ field }}{% endif %}</div>
          <div class="nowrap text-muted small">{% if field_type == "BooleanField" %}{% trim_to field_type 5 %}{% else %}{{ field_type }}{% endif %}</div>
        </th>
        {% endwith %}
        {% endfor %}
      </tr>
    </thead>

    <tbody>
      {% include "charts_paging.html" %}
    </tbody>
  </table>
</div>
{% elif model %}
<div class="alert alert-warning">Not found entities</div>
{% endif %}

<script>update_table_sticky(); $(window).resize(update_table_sticky)</script>

{% endblock %}
