{% if chart %}
<div id="chart_{{ chart.field }}">
  {% if not without_buttons %}
  <div class="chart-buttons">
    <span class="toggle-log-scale">
      <input
          type="checkbox"
          data-toggle="toggle"
          data-on="logarithmic"
          data-off="linear"
          data-onstyle="default active"
          data-offstyle="default active"
          data-size="mini"
          />
    </span>
    {% if not without_toggle_type %}
    <span class="toggle-type">
      <input
          type="checkbox"
          data-toggle="toggle"
          data-on="line"
          data-off="bar"
          data-onstyle="default active"
          data-offstyle="default active"
          data-size="mini"
          />
    </span>
    {% endif %}
    {% if expand_class %}
    <span>
      <button class="btn btn-xs btn-default expand-chart"><i class="fas fa-expand-arrows-alt"></i></button>
    </span>
    {% endif %}
    {% if not without_close_chart %}
    <span>
      <a href="{% url_transform request get_query_chart|default:"chart_column" "" "with_remove" 1 %}"><i class="fas fa-times"></i></a>
    </span>
    {% endif %}
  </div>
  {% endif %}

  <canvas class="chart"{% if chart.height %} height="{{ chart.height }}"{% endif %}></canvas>
</div>

<script>
  function add_chart() {
    {% if chart.fields %}
    {% with n_pallete=chart.fields|length|multiply:4|divide:3 %}
    var bg_colors = palette('rainbow', {{ n_pallete }}, 0, 0.2, 1).map(function(hex) { return '#' + hex; })
    var border_colors = palette('rainbow', {{ n_pallete }}, 0, 0.5, 1).map(function(hex) { return '#' + hex; })
    {% endwith %}
    {% endif %}
    var data = {
      {% if chart.data %}
      labels: [{% for hist in chart.data %}{% if forloop.counter0 %},{% endif %}"{{ hist.bin }}"{% endfor %}],
      {% endif %}
      datasets: [
      {% if chart.fields %}
        {% if chart.my_dataset %}
        {
            data: [{% for d in chart.my_dataset.data %}{% if forloop.counter0 %},{% endif %}{'x': '{{ d.x }}', 'y': '{{ d.y }}'}{% endfor %}],
            label: "{{ chart.my_dataset.label|escapejs }}",
            {% if chart.cubic_interpolation %}
            cubicInterpolationMode: 'monotone',
            {% endif %}
            {% if chart.tension %}
            tension: {{ chart.tension }},
            {% endif %}
            pointBackgroundColor: [{% for d in chart.my_dataset.data %}{% if forloop.counter0 %},{% endif %}border_colors[{{ chart.fields|index:d.field }}]{% endfor %}],
            {% if chart.my_dataset.point_radius is not None %}
            pointRadius: {{ chart.my_dataset.point_radius }},
            pointHoverRadius: {{ chart.my_dataset.point_hover_radius|default:chart.my_dataset.point_radius }},
            {% endif %}
            {% if chart.show_line is not None %}
            showLine: {{ chart.show_line|lower }},
            {% endif %}
        },
        {% endif %}
        {% for field in chart.fields %}
        {
          {% if chart.datas and field in chart.datas %}
          {% with datas=chart.datas|get_item:field %}
            data: [{% for x, y in datas.items %}{% if forloop.counter0 %},{% endif %}{'x': '{{ x }}', 'y': '{{ y }}'}{% endfor %}],
          {% endwith %}
          {% else %}
            data: [{% for hist in chart.data %}{% if forloop.counter0 %},{% endif %}{% if field in hist %}{'x': '{{ hist.bin }}', 'y': '{{ hist|get_item:field }}'}{% endif %}{% endfor %}],
          {% endif %}
          label: {% if chart.labels %}'{{ chart.labels|get_item:field|escapejs }}'{% elif chart.slice == 'country' %}'{{ field|get_country_name|escapejs }}'{% else %}'{{ field|escapejs }}'{% endif %},
          backgroundColor: bg_colors[{{ forloop.counter0 }}],
          borderColor: border_colors[{{ forloop.counter0 }}],
          borderWidth: {{ chart.border_width|default:1 }},
          hoverBorderWidth: {{ chart.border_width|default:1|multiply:2 }},
          {% if chart.cubic_interpolation %}
          cubicInterpolationMode: 'monotone',
          {% endif %}
          {% if chart.tension %}
          tension: {{ chart.tension }},
          {% endif %}
          {% if chart.point_radius is not None %}
          pointRadius: {{ chart.point_radius }},
          pointHoverRadius: {{ chart.point_hover_radius|default:chart.point_radius }},
          {% endif %}
          {% if chart.show_line is not None %}
          showLine: {{ chart.show_line|lower }},
          {% endif %}
        },
        {% endfor %}
      {% else %}
        {
          data: [{% for hist in chart.data %}{% if forloop.counter0 %},{% endif %}{'x': '{{ hist.bin }}', 'y': '{{ hist.value }}'}{% endfor %}],
          {% if chart.data and chart.data.0.bgcolor %}
          backgroundColor: [{% for hist in chart.data %}{% if forloop.counter0 %},{% endif %}'{{ hist.bgcolor }}'{% endfor %}],
          {% endif %}
          {% if chart.data and chart.data.0.title %}
          title: [{% for hist in chart.data %}{% if forloop.counter0 %},{% endif %}'{{ hist.title }}'{% endfor %}],
          {% endif %}
          {% if chart.data and chart.data.0.subtitle %}
          subtitle: [{% for hist in chart.data %}{% if forloop.counter0 %},{% endif %}'{{ hist.subtitle }}'{% endfor %}],
          {% endif %}
          {% if chart.border_color is not None %}
          borderColor: '{{ chart.border_color  }}',
          backgroundColor: '{{ chart.background_color|default:chart.border_color }}',
          {% endif %}
          borderWidth: {{ chart.border_width|default:1 }},
          {% if chart.cubic_interpolation %}
          cubicInterpolationMode: 'monotone',
          {% endif %}
          {% if chart.tension %}
          tension: {{ chart.tension }},
          {% endif %}
          {% if chart.point_radius is not None %}
          pointRadius: {{ chart.point_radius }},
          pointHoverRadius: {{ chart.point_hover_radius|default:chart.point_radius }},
          {% endif %}
          barPercentage: {{ chart.bar_percentage|default:1.0 }},
          categoryPercentage: {{ chart.category_percentage|default:0.8 }},
        },
      {% endif %}

      ]
    }

    var config = {
      type: '{{ chart.type|default:"bar" }}',
      data: data,
      options: {
        responsive: true,
        interaction: {
          {% with default_mode=chart.fields|iftrue:'nearest'|default:'index' %}
          mode: '{{ chart.mode|default:default_mode }}',
          {% endwith %}
          intersect: false,
        },
        {% if chart.fields %}
        hover: {
          mode: '{{ chart.hover_mode|default:"dataset" }}',
          intersect: false,
        },
        {% endif %}
        plugins: {
          title: {
            display: true,
            text: '{{ chart.title|default:chart.field|title_field }}',
          },
          legend: {
            display: {% if chart.fields %}true{% else %}false{% endif %},
            position: '{{ chart.legend.position|default:"top" }}',
            labels: {
              usePointStyle: true,
            },
          },
          tooltip: {
            usePointStyle: true,
            {% if chart.disable_legend_tooltip %}
            displayColors: false,
            {% endif %}
            callbacks: {
              {% if chart.x_ticks_time_rounding %}
              title: function(context) {
                context = context[0]
                return context.chart.config.options.scales.x.ticks.callback(context.parsed.x)
              },
              {% elif not chart.fields and chart.data.0.title %}
              title: function(context) {
                context = context[0]
                if (context.dataset.title) {
                  return Array.isArray(context.dataset.title)? context.dataset.title[context.dataIndex] : context.dataset.title
                }
              },
              {% endif %}
              beforeBody: function(context) {
                context = context[0]
                if (context.dataset.subtitle) {
                  return Array.isArray(context.dataset.subtitle)? context.dataset.subtitle[context.dataIndex] : context.dataset.subtitle
                }
              },
              label: function(context) {
                ret = context.formattedValue
                if (context.dataset.label) {
                  if (Array.isArray(context.dataset.label)) {
                    ret = context.dataset.label[context.dataIndex] + ': ' + ret
                  } else {
                    ret = context.dataset.label + ': ' + ret
                  }
                }
                return ret
              },
            },
          },
        },
        scales: {
          x: {
            {% if chart.x_type %}
            type: '{{ chart.x_type }}',
            {% endif %}

            {% if chart.x_ticks_time_rounding %}
            ticks: {
              callback: function(value) {
                {% if chart.x_ticks_time_rounding == 'floor-minute' %}
                  value = Math.floor(value / 60)
                  var ret = Math.floor(value / 60)
                  var mod = value % 60
                  ret += ':' + (mod < 10? '0' : '') + mod
                {% else %}
                  {% if chart.x_ticks_time_rounding == 'floor-second' %}
                  value = Math.floor(value)
                  {% endif %}
                  var ret = Math.floor(value / 60 / 60)
                  var mod = Math.floor(value / 60 % 60)
                  ret += ':' + (mod < 10? '0' : '') + mod
                  var mod = value % 60
                  ret += ':' + (mod < 10? '0' : '') + mod
                {% endif %}
                return ret
              }
            },
            {% endif %}

            grid: {
              display: false,
            },
          },
          y: {
            type: '{{ chart.y_type|default:"linear" }}',
            ticks: {
              callback: function(value, index) {
                return +value.toFixed(2)
              },
            },
          },
          {% if chart.duplicate_y_axis %}
          y_right: {
            position: 'right',
            afterBuildTicks: (axis) => {
              axis.ticks = [...axis.chart.scales.y.ticks]
              axis.type = axis.chart.scales.y.type
              axis.min = axis.chart.scales.y.min
              axis.max = axis.chart.scales.y.max
            },
          },
          {% endif %}
        },
      },
      plugins: [
        {% if chart.my_dataset %}
        {
          beforeDraw: function(chart) {
            var legends = chart.legend.legendItems;
            legends[0].fillStyle = 'rgba(0, 0, 0, 0.1)'
          },
        },
        {% endif %}
        {% if chart.my_value is not None %}
        {
          afterDatasetDraw: function(chart) {
            var ctx = chart.ctx
            var y_axis = chart.scales['y']
            var x_axis = chart.scales['x']
            var x_ticks = x_axis['ticks']
            x_axis = {
                'min': {{ chart.bins|first }},
                'max': {{ chart.bins|last }},
                'left': x_axis.left,
                'right': x_axis.right,
            }

            var draw_x = function(x, color) {
              ctx.beginPath()
              ctx.moveTo(x, y_axis.top)
              ctx.lineTo(x, y_axis.bottom)
              ctx.lineWidth = 2
              ctx.strokeStyle = color
              ctx.stroke()
              ctx.closePath()
            }

            var val = {{ chart.my_value }}
            if ({{ chart.shift_my_value|default:'false'|lower }}) {
                val += 0.5
            }
            var x = get_x_chart(val, x_axis)
            draw_x(x, '#c9e1f1')

            var y = y_axis.top
            var width = {{ chart.my_value|scoreformat|length }} * 8 + 10
            var height = 20
            var rx = Math.min(Math.max(x_axis.left, x - width / 2), x_axis.right - width)
            var ry = y - height / 3
            var cx = rx + width / 2
            var cy = ry + height / 2

            ctx.fillStyle = '#fff'
            ctx.fillRect(rx, ry, width, height)
            ctx.lineWidth = 2
            ctx.strokeStyle = '#c9e1f1'
            ctx.strokeRect(rx, ry, width, height)

            ctx.font = '12px Comic Sans MS'
            ctx.textAlign = 'center'
            ctx.fillStyle = 'black'
            ctx.fillText("{{ chart.my_value|scoreformat }}", cx, cy + 4)
          },
        },
        {% endif %}
      ],
    }

    var ctx = $('#chart_{{ chart.field }} canvas')[0].getContext('2d');
    var chart = new Chart(ctx, config);

    $('#chart_{{ chart.field }} .toggle-log-scale').change(function() {
      chart.options.scales.y.type = chart.options.scales.y.type == 'linear'? 'logarithmic' : 'linear'
      chart.update()
    })

    $('#chart_{{ chart.field }} .toggle-type input').change(function() {
      chart.destroy();
      config['type'] = config['type'] == 'bar'? 'line' : 'bar';
      chart = new Chart(ctx, config);
    })

    {% if expand_class %}
    $('#chart_{{ chart.field }} .expand-chart').click(function() {
      var $div = $(this).closest("{{ expand_class }}")

      var classes = $div.attr('class')
      if ($div.attr('data-class')) {
          classes = $div.attr('data-class');
      } else {
          classes = $div.attr('class').replace(/\s(col[^\s]+)-[0-9]+/, ' $1-12')
      }
      $div.attr('data-class', $div.attr('class'))
      $div.attr('class', classes)

      $(this).closest("{{ expand_class }}").attr('class', classes)
      $(this).find('i').toggleClass('fa-expand-arrows-alt')
      $(this).find('i').toggleClass('fa-compress-arrows-alt')

      $('html, body').animate({scrollTop: $div.offset().top}, 500)
    })
    {% endif %}
  }
  add_chart()
</script>
{% endif %}
