{% extends "base.html" %}

{% block ogtitle %}{% block title %}Chats{% endblock %}{% endblock %}

{% block end-head %}
{% endblock %}

{% block content %}

<div class="col-xl-10 col-xl-offset-1">

  <form class="form-inline" method="get" action="">
    <div class="form-group">
      {% include "field_to_select.html" with data=chat_type_select field="app" %}
      {% include 'resource_filter.html' %}
      {% include 'contest_filter.html' %}
    </div>
  </form>

  {% comment %} <script>$.endlessPaginate({paginateOnScroll: true, onCompleted: toggle_tooltip});</script> {% endcomment %}
  {% comment %} <div id="chats" class="panel panel-default table-responsive"> {% endcomment %}
  {% comment %}   <table class="table table-hover table-striped table-float-head"> {% endcomment %}
  {% comment %}     <thead> {% endcomment %}
  {% comment %}       <tr> {% endcomment %}
  {% comment %}         <th>Name</th> {% endcomment %}
  {% comment %}       </tr> {% endcomment %}
  {% comment %}     </thead> {% endcomment %}
  {% comment %}     <tbody> {% endcomment %}
  {% comment %}       {% include page_template %} {% endcomment %}
  {% comment %}     </tbody> {% endcomment %}
  {% comment %}   </table> {% endcomment %}
  {% comment %} </div> {% endcomment %}
</div>

{% endblock %}
