<form class="form-inline" method="get" action="">
  <div id="coders-filters" class="form-group">
    <div class="input-group input-group-sm">
      <div class="input-group-addon">Coder</div>

      <input
        type="search"
        name="search"
        value="{{ request.GET.search }}"
        class="form-control"
        {% if request.GET.search %}
        autofocus
        onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"
        {% endif %}
        autocomplete="off"
      />

      <div class="input-group-addon tooltip-help" data-toggle="tooltip" data-html="true" title="User regex.<br>Use && and || and ! for difficult conditions.">
        <i class="fas fa-info"></i>
      </div>

      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">{% icon_to 'search' %}</button>
      </span>
    </div>

    {% include 'country_filter.html' with has_country=True %}
    {% include 'resource_filter.html' %}

    {% include "field_to_select.html" with field='virtual' data=virtual_field %}
    {% include "field_to_select.html" with field='chat' data=chat_fields %}
    {% include "list_filter.html" %}
    {% include "field_to_select.html" with field='field' data=custom_fields %}

    {% include 'contest_filter.html' with has_statistics=True %}
    {% if params.contests %}
    {% include "field_to_select.html" with field="advanced" data=params.advanced_filter %}
    {% endif %}

    {% if request.GET.sort_order %}
    <input type="hidden" name="sort_column" value="{{ request.GET.sort_column }}"/>
    <input type="hidden" name="sort_order" value="{{ request.GET.sort_order }}"/>
    {% endif %}
  </div>
</form>
