
{% coder_account_filter coders primary_coder row_number_field=row_number_field operator=row_number_operator as filtered_coder %}
{% lazy_paginate 50,200 coders %}{% get_pages %}

{% for coder in coders|chain:filtered_coder %}
<tr
  {% if request.user.is_authenticated and coder.username == request.user.username %} class="info"{% endif %}
  {% include "delete_on_duplicate_attrs.html" with name="coder" entry=coder primary=primary_coder %}
>
  <td class="no-stretch">{% if coder.row_number %}{{ coder.row_number }}{% else %}{{ forloop.counter0|add:pages.current_start_index }}{% endif %}</td>
  <td class="username">
    {% get_country_from_coder coder as country %}
    <div class="flag-width-fixed">
    {% if country %}
    <a href="{% url_transform request country=country.code %}" title="{{ country.name }}" data-toggle="tooltip">
      <div class="flag flag-{{ country.flag_code|lower }}"></div>
    </a>
    {% endif %}
    </div>

    <span{% if coder.user.first_name or coder.user.last_name %} data-toggle="tooltip" data-title="{{ coder.user.first_name }} {{ coder.user.last_name }}"{% endif %}>
      <a href="{% url 'coder:profile' coder.username %}">{{ coder.display_name }}</a>
    </span>

    {% if perms.true_coders.change_coder %}
    <a href="{% url 'admin:true_coders_coder_change' coder.id %}" class="inline-button" target="_blank" rel="noopener"><i class="fas fa-database"></i></a>
    {% endif %}
  </td>
  {% if enable_global_rating %}
  <td>
    {% if coder.has_global_rating %}
      {{ coder.global_rating }}
    {% else %}
      &#183;
    {% endif %}
  </td>
  {% endif %}
  {% for resource in params.resources %}
  <td>
    {% with rating_key=resource.pk|slugify|add:'_rating' n_contests_key=resource.pk|slugify|add:'_n_contests' rating_coloring_key=resource.pk|slugify|add:'_coloring_rating' %}
    {% with rating=coder|get_item:rating_key n_contests=coder|get_item:n_contests_key %}
    {% if rating is None and n_contests is None %}
    <div>&#183;</div>
    {% else %}
    <a href="{% url 'coder:profile' coder.username %}?search=resource:{{ resource.host }}">
      {% if rating is not None %}
        {% with coloring_rating=coder|get_item:rating_coloring_key|default:rating %}
        {% coder_color_circle resource coloring_rating %}
        <div class="{% coder_color_class resource coloring_rating %}" style="display: inline-block">{{ rating }}</div>
        {% endwith %}
      {% else %}
        <div>{{ n_contests }}</div>
      {% endif %}
    </a>
    {% endif %}
    {% endwith %}
    {% endwith %}
  </td>
  {% endfor %}
  <td>{{ coder.n_contests }}</td>
  <td>{{ coder.n_accounts }}</td>
  {% for field in custom_fields.values %}
  <td>
    {% with account=coder.resource_account.0 %}
      {{ account.info|get_item:field }}
    {% endwith %}
  </td>
  {% endfor %}
  {% if view_coder_chat %}
  {% with chat=coder.non_group_chats.0 %}
  <td>{{ chat.title }}</td>
  <td>{% if chat.name %}{{ chat.name }}{% endif %}</td>
  {% endwith  %}
  {% endif %}
</tr>
{% endfor %}
{% show_more_table %}
<script>delete_on_duplicate(true)</script>
