{% extends "base.html" %}

{% block ogtitle %}{% block title %}{{ coder_list.name }} - List{% endblock %}{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/bootstrap-editable.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/bootstrap-editable.min.js' %}"></script>

<link href="{% static_ts 'css/coder_list.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/coder_list.js' %}"></script>
{% endblock %}

{% block content %}
<h2>
  <i class="fas fa-list"></i>
  {{ coder_list.name }}
  {% if versus %}
  <a href="{% url 'ranking:versus' versus %}">{% icon_to 'versus' %}</a>
  {% endif %}
  <a href="{% url 'coder:accounts' %}?list={{ coder_list.uuid }}">{% icon_to 'accounts' %}</a>
  {% if perms.true_coders.change_coderlist %}
    <a href="{% url 'admin:true_coders_coderlist_change' coder_list.id %}" class="database-link invisible" target="_blank" rel="noopener"><i class="fas fa-database"></i></a>
  {% endif %}
</h2>

<div class="col-xl-10 col-xl-offset-1">
  {% if can_modify %}
  {% include "filter_collapse.html" with include_filter="coder_list_filters.html" %}
  {% endif %}

  <form class="form-inline" method="post" action="">
    {% if can_modify %}{% csrf_token %}{% endif %}
    <div id="coder-list" class="panel panel-default table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th class="no-stretch">#</th>
            <th class="no-stretch"><i class="fas fa-external-link-alt"></i></th>
            <th class="no-stretch">VS</th>
            {% if coder_list.custom_names %}
            <th class="no-stretch">Name</th>
            {% endif %}
            <th class="value">
              Coder/Accounts
              <span class="small text-muted">({{ coder_list_groups|length }} of {{ coder_list_n_values_limit }})</span>
            </th>
            {% for field in custom_field_select.values %}
            <th class="no-stretch">{{ field|title_field_div }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for group in coder_list_groups %}
          {% with list_values=group.values %}
          {% with has_list_values=list_values.count %}
          <tr>
            <td class="no-stretch">{{ forloop.counter }}</td>
            <td class="no-stretch">{% if has_list_values %}<a href="{% url 'coder:mixed_profile' group.profile_str %}"><i class="fa fa-user"></i></a>{% endif %}</td>
            <td class="no-stretch">
              {% if has_list_values %}
              {% if request.user.is_authenticated %}
              <a href="{% url 'ranking:versus' group.profile_str|add:"/vs/"|add:coder.username %}"><i class="fas fa-people-arrows"></i></a>
              {% else %}
              <a href="{% url 'auth:login' %}?next={{ request.path }}"><i class="fa fa-sign-in-alt"></i></a>
              {% endif %}
              {% endif %}
            </td>
            {% if coder_list.custom_names %}
            <td class="no-stretch">
              {% if can_modify %}
              <a class="edit-name" href="#" data-name="group-name" data-type="text" data-group-id="{{ group.id }}" data-value="{{ group.name|default:'' }}"></a>
              {% else %}
              {{ group.name }}
              {% endif %}
            </td>
            {% endif %}
            <td class="value">
              {% for v in list_values.all  %}
                {% if forloop.counter0 %}|{% endif %}
                {% if v.coder %}
                {% include "coder.html" with coder=v.coder with_fixed_width=False %}
                {% elif v.account %}
                {% include "account_table_cell.html" with resource=v.account.resource account=v.account with_resource=True with_fixed_width=False without_inline_button=True %}
                {% else %}
                &mdash;
                {% endif %}
                <button class="btn btn-danger btn-xs hidden confirm-action" data-action="Delete" data-confirm-class="btn-danger" name="delete_value_id" value="{{ v.id }}">{% icon_to "delete" %}</button>
              {% endfor %}
              <span class="inline-button">
                {% if can_modify %}
                <button href="#" class="add-account btn btn-primary btn-xs" data-group-id="{{ group.id }}">{% icon_to "add" %}</button>
                {% if list_values.all|length > 1 %}
                <button href="#" class="edit-group btn btn-primary btn-xs">{% icon_to "edit" %}</button>
                {% endif %}
                <button class="btn btn-danger btn-xs confirm-action" data-action="Delete" data-confirm-class="btn-danger" name="delete_group_id" value="{{ group.id }}">{% icon_to "delete" %}</button>
                {% endif %}
                {% if perms.true_coders.change_coderlist %}
                <a href="{% url 'admin:true_coders_listgroup_change' group.id %}" target="_blank" rel="noopener">{% icon_to "database" group %}</a>
                {% endif %}
              </span>
            </td>
            {% for field in custom_field_select.values %}
            <td class="no-stretch">{% include "field_value.html" with value=group|get_item:field %}</td>
            {% endfor %}
          </tr>
          {% endwith %}
          {% endwith %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </form>
</div>
{% endblock %}
