{% with contest_id=contest|default:"contest" %}
<div class="input-group{% if not nosmall %} input-group-sm{% endif %} hidden" id="{{ contest_id }}-hidden">
{% if groupby %}
  <div class="input-group-btn">
    <button class="btn btn-default{% if groupby == 'contest' %} active{% endif %}" name="groupby" value="{% if groupby != 'contest' %}contest{% endif %}">
      {% icon_to 'contest' %}
    </button>
  </div>
{% else %}
  <span class="input-group-addon">
    {% icon_to 'contest' %}
  </span>
{% endif %}

<select{% if not noname %} name="{{ contest_id }}"{% endif %} id="{{ contest_id }}"{% if not nosubmit %} onchange="this.form.submit()"{% endif %}{% if not nomultiply %} multiple{% endif %}{% if disabled %} disabled{% endif %}>
    <option></option>
    {% for contest in params.contests %}
      <option value="{{ contest.pk }}" selected>{{ contest.title }}</option>
    {% endfor %}
  </select>
</div>

<script>
  $('#{{ contest_id }}').select2({
    dropdownAutoWidth : true,
    theme: 'bootstrap',
    placeholder: '',
    allowClear: true,
    templateResult: function (data) {
      var $result = $('<span></span>')
      $result.text(data.text)
      if (data.icon) {
        $result.prepend('<img src="/media/sizes/32x32/' + data.icon + '" width="16" height="16">&nbsp;')
      }
      return $result
    },
    ajax: {
      url: '/settings/search/',
      dataType: 'json',
      delay: 314,
      data: function (params) {
        {% if resource_from %}
        var resources = $('#{{ resource_from }}').val()
        resources = Array.isArray(resources) ? resources : [resources];
        {% else %}
        var resources = [{% for resource in params.resources %}{{ resource.pk }}{% if not forloop.last %},{% endif %}{% endfor %}]
        {% endif %}
        return {
          query: 'contests',
          {% if has_problems %}has_problems: true,{% endif %}
          {% if has_statistics %}has_statistics: true,{% endif %}
          {% if has_started %}has_started: true,{% endif %}
          {% if has_virtual_start %}has_virtual_start: true,{% endif %}
          resources: resources,
          regex: params.term,
          page: params.page || 1
        };
      },
      processResults: function (data, params) {
        return {
          results: data.items,
          pagination: {
            more: data.more
          }
        };
      },
      cache: true,
    },
  }).on('select2:unselecting', function() {
    $(this).data('unselecting', true);
  }).on('select2:opening', function(e) {
    if ($(this).data('unselecting')) {
      $(this).removeData('unselecting');
      e.preventDefault();
    }
  })
  $('#{{ contest_id }}-hidden').removeClass('hidden');
</script>
{% endwith %}

