{% if perms.clist.reset_contest_statistic_timing %}
<span class="inline-button">
    <button class="reset-timing-statistic btn btn-default btn-xs" data-contest-id="{{ contest.pk }}" title="timing.statistic = {{ contest.timing.statistic|naturaltime }}" data-toggle="tooltip">
        <i class="fas fa-sync-alt"></i>
    </button>

    {% if perms.clist.change_contest %}
    <button class="database-href btn btn-default btn-xs" data-href="{% url 'admin:clist_contest_change' contest.id %}">
        <i class="fas fa-database"></i>
    </button>
    {% endif %}
</span>
{% endif %}
