{% if has_country %}

{% get_countries as countries %}
{% create_dict icon="country" title="country" field="country" nosmall=nosmall nogroupby=groupby|iffalse nosubmit=nosubmit nomultiply=nomultiply noajax=True options=countries values=params.countries value_id="code" value_option="name" pinned_id=request.user.coder.country.code template_format="<span><div class='flag flag-{data.id.toLowerCase}'></div>{data.text}</span>" as data %}
{% include "field_to_select.html" with data=data %}

{% endif %}
