{% extends "base.html" %}

{% block ogtitle %}{% block title %}Donate{% endblock %}{% endblock %}

{% block content %}
<style>
#sources img {
  border-radius: 20%;
}
</style>

<div id="sources" class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <h1>Donate</h1>
    <div class="list-group lead">
      {% for source in sources %}
      <a href="{{ source.url }}" class="list-group-item">
        <img src="{{ source.icon.url }}" alt="{{ source.name }}" class="icon service-icon-btn" height="30">
        <span>{{ source.name }}</span>
      </a>
      {% empty %}
      <div class="alert alert-info">No donation sources available.</div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
