{% extends "base.html" %}

{% block ogtitle %}{% block title %}Events{% endblock %}{% endblock %}
{% block description %}Explore our list of competitive programming events. Take part in coding challenges, enhance your skills, and connect with programming enthusiasts worldwide.{% endblock %}

{% block content %}

<h4>Events</h4>
<div class="events">
    {% for event in events %}
    <div class="event">
        <a class="lead" href="{% url 'events:event' event.slug %}">{{ event.name }}</a>
        {% if event.website_url %}
            <a href="{{ event.website_url }}"><i class="fas fa-external-link-alt"></i></a>
        {% endif %}
        <span class="label label-primary">{{ event.participant_set.all.count }} participant(s)</span>
        <span class="label label-primary">{{ event.team_set.all.count }} team(s)</span>
    </div>
    {% endfor %}
</div>

{% endblock %}
