{% if request.GET.favorite %}
<input type="hidden" name="favorite" value="{{ request.GET.favorite }}"/>
{% endif %}
<div class="input-group input-group-{{ input_group_size|default:'sm' }}">
  {% if not request.user.is_authenticated %}
    {% include 'favorite_filter_button.html' with tag='a' value='on' icon='fav' href='auth:login' %}
    {% include 'favorite_filter_button.html' with tag='a' value='off' icon='unfav' href='auth:login' %}
  {% else %}
    {% include 'favorite_filter_button.html' with tag='button' value='on' icon='fav' %}
    {% include 'favorite_filter_button.html' with tag='button' value='off' icon='unfav' %}
  {% endif %}
</div>
