{% with template_value=value|to_template_value %}
{% if field in resource.RATING_FIELDS %}{% coder_color_circle resource value value_name='rating' %}{% endif %}
<span class="{% if value|get_type == 'bool' %} text-muted{% endif %}{% if field in resource.RATING_FIELDS %} {% coder_color_class resource value value_name='rating' %}{% endif %}">
{% if fields_to_select and field in fields_to_select and value not in fields_to_select|get_item:field and not fields_to_select|get_item:field|get_item:'nourl' %}
  <a class="field-to-select" href="{{ request.path }}?{% query_transform request field value|to_template_filter_value %}">
    {% if value is None %}&mdash;{% else %}{{ template_value }}{% endif %}
  </a>
{% else %}
  {% with intvalue=value|toint %}
  {% with types=fields_types|get_item:field %}
    <span
      {% if field|is_rating_change_field %} class="rating-change{% if intvalue %} rating-change-{% if intvalue > 0 %}up{% else %}down{% endif %}{% endif %}"
      {% elif 'delta' in types %} class="rating-change{% if value %} rating-change-{% if value > 0 %}up{% else %}down{% endif %}{% endif %}"
      {% endif %}
    >
      {% if value is None %}
        <small class='text-muted'>&#183;</small>
      {% elif field == 'advance' and advance_icon %}
        <i class="{{ advance_icon }}"></i>
      {% elif field == 'hack' %}
        <small>
        {% if value.successful %}<div class="inline acc">+{{ value.successful }}</div>{% endif %}
        {% if value.unsuccessful %}<div class="inline rej">-{{ value.unsuccessful }}</div>{% endif %}
        </small>
      {% elif field|is_new_rating_field %}
        {{ value }}
        {% define field|to_rating_change_field as rating_change_field %}
        {% if rating_change_field not in fields and rating_change_field in hidden_fields or with_rating_change %}

          {% if rating_change_field|get_rating_predicition_field %}
          {% define rating_change_field|get_rating_predicition_field as predicition_rating_change_field %}
          {% define statistic.rating_prediction|get_item:predicition_rating_change_field as rating_change_value %}
          {% else %}
          {% define addition|get_item:rating_change_field as rating_change_value %}
          {% endif %}

          {% if rating_change_value is not None %}
          {% include "field_value.html" with field=rating_change_field value=rating_change_value %}
          {% endif %}
        {% endif %}
      {% elif field|is_rating_change_field and intvalue %}
        <i class="fas fa-angle-{% if intvalue > 0 %}up{% else %}down{% endif %}"></i>{{ intvalue|abs }}
      {% elif 'delta' in types and value %}
        <i class="fas fa-angle-{% if value > 0 %}up{% else %}down{% endif %}"></i>{{ value|abs|to_template_value }}
      {% elif 'timestamp' in types and value and not contest.is_over %}
        <span title="{{ value|timestamp_to_datetime|timezone:timezone|format_time:timeformat }}" data-toggle="tooltip">
          {{ value|timestamp_to_datetime|timezone:timezone|naturaltime }}
        <span>
      {% elif 'time' in types  or 'timestamp' in types and value and contest.is_over %}
        <span title="{{ value|timestamp_to_datetime|timezone:timezone|naturaltime }}" data-toggle="tooltip">
          {{ value|timestamp_to_datetime|timezone:timezone }}
        <span>
      {% elif 'timedelta' in types and value %}
        <span title="{{ value|hr_timedelta:-1 }}" data-toggle="tooltip">
          {{ value|hr_timedelta }}
        <span>
      {% elif field == 'analysis' and 'dict' in types and value and 'url' in value %}
        <span title="{{ value.url }}" data-toggle="tooltip">
          <a href="{{ value.url }}" rel="noopener noreferrer">
          {% if not value.icon %}
            <i class="text-muted fas fa-external-link-alt"></i>
          {% elif value.icon|startswith:"http" %}
            <img src="{{ value.icon }}" height="16px">
          {% else %}
            {% icon_to value.icon html_class="text-muted" %}
          {% endif %}
          </a>
        </span>
      {% elif 'badge' in field and value|get_item:'icon' %}
        <span{% if value.title %} title="{{ value.title }}" data-toggle="tooltip"{% endif %}>
          <img src="{{ value.icon }}" height="16px"/>
        </span>
      {% elif value.url %}
        <a href="{{ value.url }}" rel="noopener noreferrer">{{ template_value }}</a>
      {% elif value|startswith:"http" %}
        <a href="{{ value }}" rel="noopener noreferrer">{{ template_value }}</a>
      {% elif field|is_ip_field and value|get_type == 'list' %}
        {% for v in value %}{% if forloop.counter0 %}<br/>{% endif %}<a class="nowrap field-to-select" href="{% url_transform request field|strip:"_" v with_replace=1 %}">{{ v }}</a>{% endfor %}
      {% elif field == 'first_ac__accounts' and types|to_json == '["list"]' %}
        {% for handle in value %}{% if forloop.counter0 %}<br/>{% endif %}{% if resource %}<a href="{% url 'coder:account' handle resource.host %}">{{ handle }}</a>{% else %}{{ handle }}{% endif %}{% endfor %}
      {% elif field == 'hints' and types|to_json == '["list"]' %}
        <ul>{% for hint in value %}<li>{{ hint }}</li>{% endfor %}</ul>
      {% elif field in statistic_fields or field in account_fields %}
        {{ value|scoreformat }}
      {% elif value|get_type == 'RelatedManager' %}
        {% for object in value.all %}{{ object }}{% endfor %}
      {% elif value|get_type == 'datetime' %}
        <span title="{{ value|timezone:timezone|format_time:timeformat }}" data-toggle="tooltip">{{ value|timezone:timezone|naturalday }}</span>
      {% else %}
        {{ template_value }}
      {% endif %}
    </span>
  {% endwith %}
  {% endwith %}
{% endif %}
</span>
{% endwith %}
