{% with template_value=value|to_template_value %}
<span{% if value|get_type == 'bool' %} class="text-muted"{% endif %}>
{% if fields_to_select and field in fields_to_select and value not in fields_to_select|get_item:field and not fields_to_select|get_item:field|get_item:'nourl' %}
  <a class="field-to-select" href="{{ request.path }}?{% query_transform request field value|to_template_filter_value %}">{{ template_value|safe }}</a>
{% else %}
  {% with intvalue=value|toint %}
  {% with types=fields_types|get_item:field %}
    <span
      {% if field == 'rating_change' %} class="rating-change{% if intvalue %} rating-change-{% if intvalue > 0 %}up{% else %}down{% endif %}{% endif %}"
      {% elif 'delta' in types %} class="rating-change{% if value %} rating-change-{% if value > 0 %}up{% else %}down{% endif %}{% endif %}"
      {% endif %}
    >
      {% if value is None %}
        <small class='text-muted'>&#183;</small>
      {% elif field == 'rating_change' and intvalue %}
        <i class="fas fa-angle-{% if intvalue > 0 %}up{% else %}down{% endif %}"></i>{{ intvalue|abs }}
      {% elif 'delta' in types and value %}
        <i class="fas fa-angle-{% if value > 0 %}up{% else %}down{% endif %}"></i>{{ value|abs }}
      {% elif 'timestamp' in types and value %}
        <span title="{{ value|timestamp_to_datetime|timezone:timezone|format_time:timeformat }}" data-toggle="tooltip">
          {{ value|timestamp_to_datetime|timezone:timezone|naturaltime }}
        <span>
      {% elif 'time' in types %}
        <span title="{{ value|timestamp_to_datetime|timezone:timezone|naturaltime }}" data-toggle="tooltip">
          {{ value|timestamp_to_datetime|timezone:timezone|format_time:timeformat }}
        <span>
      {% elif 'timedelta' in types and value %}
        <span title="{{ value|hr_timedelta:False }}" data-toggle="tooltip">
          {{ value|hr_timedelta }}
        <span>
      {% elif field == 'analysis' and 'dict' in types and value and 'url' in value %}
        <span title="{{ value.url }}" data-toggle="tooltip">
          <a href="{{ value.url }}">
          {% if not value.icon %}
            <i class="text-muted fas fa-external-link-alt"></i>
          {% elif value.icon|startswith:"http" %}
            <img src="{{ value.icon }}" height="16px">
          {% else %}
            {% icon_to value.icon html_class="text-muted" %}
          {% endif %}
          </a>
        </span>
      {% else %}
        {{ template_value|safe }}
      {% endif %}
    </span>
  {% endwith %}
  {% endwith %}
{% endif %}
</span>
{% endwith %}
