{% if data %}
{% if 'field' in data %}{% define data.field as field %}{% endif %}
{% field_to_select_values as values %}
{% field_to_select_collapse as collapse %}

{% if data.state %}
  {% with value=request.GET|get_item:data.state.name|default:data.state.values.0 total=data.state.values|length %}
  <input type="hidden" name="{{ data.state.name }}" value="{{ value }}">
  {% endwith %}
{% endif %}

{% if collapse %}
<div class="input-group{% if not nosmall %} input-group-sm{% endif %} field-to-select">
  <button class="btn{% if not nosmall %} btn-sm{% endif %} btn-default" onclick="show_field_to_select(event, this, '{{ field }}')">
    {% icon_to data.icon|default:field data.title|default:field|capitalize_field|add:" selection" %}
  </button>
</div>
{% endif %}

{% if not noinputgroup %}
<div class="input-group{% if not nosmall %} input-group-sm{% endif %} field-to-select hidden">
  {% if data.state %}
  <div class="input-group-btn">
    {% with value=request.GET|get_item:data.state.name|default:data.state.values.0 total=data.state.values|length %}
    {% with index=data.state.values|index:value|default:0 %}
    {% with next_index=index|add:1|mod:total %}
    <button class="btn btn-default" name="{{ data.state.name }}" value="{{ data.state.values|get_item:next_index }}">
      {% icon_to data.state.icons|get_item:index field|title %}
    </button>
    {% endwith %}
    {% endwith %}
    {% endwith %}
  </div>
  {% elif data.nogroupby %}
  <span class="input-group-addon">
    {% if data.icon is False %}
      {{ data.title|default:field|capitalize_field }}
    {% else %}
      {% icon_to data.icon|default:field data.title|default:field|capitalize_field %}
    {% endif %}
  </span>
  {% else %}
  <div class="input-group-btn">
    <button class="btn btn-default{% if groupby == field %} active{% endif %}" name="groupby" value="{% if groupby != field %}{{ field }}{% endif %}">
      {% if data.icon is False %}
        {{ data.title|default:field|capitalize_field }}
      {% else %}
        {% icon_to data.icon|default:field data.title|default:field|capitalize_field %}
      {% endif %}
    </button>
  </div>
  {% endif %}
{% endif %}
<select{% if not noname %} name="{{ data.field_name|default:field }}"{% endif %} id="{{ field }}"{% if data.with_update_url %} onchange="update_urls_params({'{{ field }}': $(this).val()})"{% elif not data.nosubmit %} onchange="this.form.submit()"{% endif %}{% if not data.nomultiply and values %} multiple{% endif %}{% if disabled or data.disabled or collapse %} disabled{% endif %}>
  {% if data.options is not None %}
    {% if not data.noempty %}<option></option>{% endif %}
    {% for v in data.options %}
    {% if not data.noempty or v %}
    {% field_to_select_id v as id %}
    <option value="{% field_to_select_id v %}"{% if id in values %} selected{% endif %}>{% field_to_select_option v %}</option>
    {% endif %}
    {% endfor %}
  {% elif values and not data.data %}
    {% for v in values %}
    <option value="{% field_to_select_id v %}" selected>{% field_to_select_option v %}</option>
    {% endfor %}
  {% else %}
    <option></option>
  {% endif %}
  </select>
  {% if data.extra_url %}
  <div class="input-group-btn">
    <a href="{{ data.extra_url }}" target="_blank" class="btn btn-default" rel="noopener noreferrer">
      {% icon_to "extra_url" field|title|add:" extra url" %}
    </a>
  </div>
  {% endif %}
  {% if submit %}
  <span class="input-group-btn">
    <button class="btn btn-default" type="submit" name="action" value="{{ submit_value|default:submit }}"{% if not submit_enabled %} disabled{% endif %}>{{ submit|title }}</button>
  </span>
  {% endif %}
{% if not noinputgroup %}
</div>
{% endif %}

<script>
  var $field = $('#{{ field }}')

  {% if data.pinned_id %}
  var element = $field.find('option[value="{{ data.pinned_id }}"]')
  if (element.length) {
    element.detach()
    $field.prepend(element)
  }
  {% endif %}

  $field.select2({
    {% if data.data %}
    data: {{ data.data|safe }},
    {% endif %}
    minimumResultsForSearch: 7,
    dropdownAutoWidth : true,
    theme: 'bootstrap',
    placeholder: '',
    allowClear: true,
    {% if data.html %}
    escapeMarkup: function (m) { return m },
    {% endif %}
    {% if data.allow_new %}
    tags: true,
    {% endif %}
    {% if data.template_format %}
    templateResult: function (data) {
      if (!data.id) {
        return data.text;
      }
      return $("{{ data.template_format }}".format({'data': data}))
    },
    {% endif %}
    {% if not data.noajax %}
    ajax: {
      url: '/settings/search/',
      dataType: 'json',
      delay: 500,
      data: function (params) {
        return {
          query: '{{ data.ajax_query|default:'field-to-select' }}',
          {% if not data.ajax_query %}
          cid: {{ contest.pk|default:-1 }},
          division: '{{ request.GET.division }}',
          {% endif %}

          {% if data.ajax_params|get_type == "dict" %}
          ...{{ data.ajax_params|to_json }},
          {% elif data.ajax_params|get_type == "list" %}
          {% for field in data.ajax_params %}
          {{ field }}: '{{ request.GET|get_item:field }}',
          {% endfor %}
          {% endif %}

          field: $(this).attr('id'),
          text: params.term,
          page: params.page || 1
        };
      },
      processResults: function (data, params) {
        {% if data.value_id or data.value_text %}
        var items = data.items.map(function (item) {
          item['id'] = item['{{ data.value_id|default:"id" }}']
          item['text'] = item['{{ data.value_text|default:"text" }}']
          return item
        })
        {% else %}
        var items = data.items
        {% endif %}

        {% if data.with_all_option %}if ((params.page || 1) == 1) {
          items.unshift({id: 'all', text: 'Select All'})
        }{% endif %}

        return {
          results: items,
          pagination: {
            more: data.more
          }
        };
      },
      cache: true,
    },
    {% endif %}
  }).on('select2:unselecting', function() {
    $(this).data('unselecting', true)
  }).on('select2:opening', function(e) {
    if ($(this).data('unselecting')) {
      $(this).removeData('unselecting')
      e.preventDefault()
    }
  }).on('select2:open', function(e) {
    $('.select2-dropdown').addClass('select2-dropdown-{{ field }}');
  }).on('select2:closing', function(e) {
    $('.select2-dropdown').removeClass('select2-dropdown-{{ field }}');
  })
  {% if not collapse %}
  $field.closest('.field-to-select').removeClass('hidden')
  {% endif %}
</script>
{% endif %}
