{% if data %}
{% if data.state %}
  {% with value=request.GET|get_item:data.state.name|default:data.state.values.0 total=data.state.values|length %}
  <input type="hidden" name="{{ data.state.name }}" value="{{ value }}">
  {% endwith %}
{% endif %}
<div class="input-group{% if not nosm %} input-group-sm{% endif %} field-to-select hidden">
  {% if data.state %}
  <div class="input-group-btn">
    {% with value=request.GET|get_item:data.state.name|default:data.state.values.0 total=data.state.values|length %}
    {% with index=data.state.values|index:value|default:0 %}
    {% with next_index=index|add:1|mod:total %}
    <button class="btn btn-default" name="{{ data.state.name }}" value="{{ data.state.values|get_item:next_index }}">
      {% icon_to data.state.icons|get_item:index field|title %}
    </button>
    {% endwith %}
    {% endwith %}
    {% endwith %}
  </div>
  {% elif data.nogroupby %}
    <span class="input-group-addon">
      {% icon_to data.icon|default:field data.title|default:field|title_field %}
    </span>
  {% else %}
  <div class="input-group-btn">
    <button class="btn btn-default{% if groupby == field %} active{% endif %}" name="groupby" value="{% if groupby != field %}{{ field }}{% endif %}">
      {% icon_to data.icon|default:field data.title|default:field|title_field %}
    </button>
  </div>
  {% endif %}
  <select name="{{ field }}" id="{{ field }}"{% if not data.nosubmit %} onchange="this.form.submit()"{% endif %}{% if not data.nomultiply %} multiple{% endif %}{% if disabled or data.disabled %} disabled{% endif %}>
  {% if data.options %}
    <option></option>
    {% for v in data.options %}
    <option value="{{ v }}"{% if v in data.values %} selected{% endif %}>
    {% if data.options|get_type == 'dict' %}{{ data.options|get_item:v|default:v }}{% else %}{{ v }}{% endif %}
    </option>
    {% endfor %}
  {% elif data.values %}
    {% for v in data.values %}
      <option value="{{ v }}" selected>{{ v }}</option>
    {% endfor %}
  {% else %}
    <option></option>
  {% endif %}
  </select>
  {% if data.extra_url %}
  <div class="input-group-btn">
    <a href="{{ data.extra_url }}" target="_blank" class="btn btn-default" rel="noopener noreferrer">
      {% icon_to "extra_url" field|title|add:" extra url" %}
    </a>
  </div>
  {% endif %}
  {% if submit %}
  <span class="input-group-btn">
    <button class="btn btn-default" type="submit" name="action" value="{{ submit_value|default:submit }}"{% if not submit_enabled %} disabled{% endif %}>{{ submit|title }}</button>
  </span>
  {% endif %}
</div>
<script>
  $('#{{ field }}').select2({
    {% if data.data %}
    data: {{ data.data|safe }},
    {% endif %}
    minimumResultsForSearch: -1,
    dropdownAutoWidth : true,
    theme: 'bootstrap',
    placeholder: '',
    allowClear: true,
    {% if data.html %}
    escapeMarkup: function (m) { return m },
    {% endif %}
    {% if not data.noajax %}
    ajax: {
        url: '/settings/search/',
        dataType: 'json',
        delay: 314,
        data: function (params) {
            return {
                query: 'field-to-select',
                cid: {{ contest.pk|default:-1 }},
                division: '{{ request.GET.division }}',
                field: $(this).attr('name'),
                text: params.term,
                page: params.page || 1
            };
        },
        processResults: function (data, params) {
            return {
                results: data.items,
                pagination: {
                    more: data.more
                }
            };
        },
        cache: true,
    },
    {% endif %}
  }).on('select2:unselecting', function() {
    $(this).data('unselecting', true)
  }).on('select2:opening', function(e) {
    if ($(this).data('unselecting')) {
      $(this).removeData('unselecting')
      e.preventDefault()
    }
  }).on('select2:open', function(e) {
    $('.select2-dropdown').addClass('select2-dropdown-{{ field }}');
  }).on('select2:closing', function(e) {
    $('.select2-dropdown').removeClass('select2-dropdown-{{ field }}');
  })
  $('#{{ field }}').closest('.field-to-select').removeClass('hidden')
</script>
{% endif %}
