<footer id="footer" class="navbar navbar-default text-muted fullscreen-hidden">
  <div class="container-fluid">
    <ul>
      <li class="icons">
        <a href="https://t.me/s/clistbynews" rel="noopener noreferrer"><i class="fab fa-telegram-plane fa-lg"></i></a>
        <a href="https://github.com/aropan/clist/" rel="noopener noreferrer"><i class="fab fa-github fa-lg"></i></a>
        <a href="https://discord.gg/n8VxASFbfh" rel="noopener noreferrer"><i class="fab fa-discord fa-lg"></i></a>
      </li>
      <li class="footer-divider">&#x25E6;</li>
      <li><a href="{% url 'clist:api:latest:index' %}">API</a></li>
      <li class="footer-divider">&#x25E6;</li>
      <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
      <li class="footer-divider">&#x25E6;</li>
      <li><span class="small">&copy; 2012 <a href="{% url 'coder:profile' 'aropan' %}">Aleksey Ropan</a></span></li>
    </ul>
  </div>
</footer>
