<footer id="footer" >
  <div class="navbar navbar-default navbar-static-top fullscreen-hidden text-muted">
    <div class="collapse navbar-collapse" id="footer-collapse">
      <ul class="nav navbar-nav">
        <li><a href="https://github.com/aropan/clist/" rel="noopener noreferrer"><i class="fab fa-github fa-lg"></i></a></li>
        <li><a href="https://t.me/s/clistbynews" rel="noopener noreferrer"><i class="fab fa-telegram-plane fa-lg"></i></a></li>
        <li><a href="https://discord.gg/n8VxASFbfh" rel="noopener noreferrer"><i class="fab fa-discord fa-lg"></i></a></li>
        <li><a href="https://facebook.com/clistby" rel="noopener noreferrer"><i class="fab fa-facebook fa-lg"></i></a></li>
        <li><a href="https://twitter.com/clistby" rel="noopener noreferrer"><i class="fab fa-twitter fa-lg"></i></a></li>
        <li><a href="{% url 'clist:api:latest:index' %}">API</a></li>
        <li><a href="{% url 'terms' %}">Terms of Service</a></li>
        <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
        <li><a class="small" href="{% url 'coder:profile' 'aropan' %}">&copy; 2012 Aleksey Ropan</a></li>
      </ul>
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>
  </div>
</footer>
