{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <style type="text/css">a:hover { text-decoration: none; }</style>
  <style>{{ base_css }}</style>
</head>
<body>
  <svg width="0" height="0" style="display: block"><defs><clipPath id="rating-clip-14"><circle cx="7" cy="7" r="6"/></clipPath></defs></svg>

  <div class="container">
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Country', 'Team count', 'Translit'],
                {% for country, count in countries %}['{% language 'ru' %}{% trans country %}{% endlanguage %}', {{ count }} , '{{ country|slugify }}'],{% endfor %}
            ]);

            var options = {
                title: "Распределение по странам (всего {{ teams.count }})",
                pieSliceText: 'value',
                tooltip: { trigger: 'selection' },
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
            google.visualization.events.addListener(chart, 'select', function(entry) {
                var selectedItem = chart.getSelection()[0];
                if (selectedItem) {
                    $('.team .index').hide();
                    $('.team').hide();
                    hash = data.getValue(selectedItem.row, 2);
                    $('.team.country-' + hash).show();
                } else {
                    $('.team .index').show();
                    $('.team').show();
                }
            });
        }
    </script>
    <div id="piechart" class="text-center center-block" style="height: 400px; width: 500px"></div>

    <div class="input-group">
      <span class="input-group-addon" id="number_filtered">{{ teams.count }}</span>
      <input id="search" name="search" class="form-control" placeholder="Filter teams by inner content" autocomplete="off"/>
    </div>
    <br/>
    <script>

      $.extend($.expr[':'], {	//definizione di :conaints() case insesitive
        'icontains': function(elem, i, match, array) {
          return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
        }
      });
      var $search = $('#search');
      $search.on('keyup', function() {
        var query = $(this).val();
        if (query.length) {
          $('.team').hide();
          $('#number_filtered').html($('.team:icontains("' + query + '")').show().length)
        } else {
          $('.team').show();
          $('#number_filtered').html($('.team').length)
        }
      });
    </script>

    <div class="list-group">
      {% for team in teams %}
      <div class="team list-group-item country-{{ team.country|slugify }}">
        <strong class="name">
          {{ team.title }}
        </strong>
        <span class="label label-{{ team_status.classes|get_item:team.status }}">{{ team_status.frame_labels|get_item:team.status }}</span>
        <span class="badge alert-info index">{{ forloop.revcounter }}</span>

        <div class="small">
          {% for o in team.organizations %}{{ o.name_ru }}{% if forloop.revcounter0 %} + {% endif %}{% endfor %}, {% language 'ru' %}{% trans team.country %}{% endlanguage %}
          <div class="text-muted">
            Состав:
            {% for p in team.ordered_participants %}
              {{ p.first_name_native }}
              {% for a in p.coder.account_set.all %}
              {% coder_color_circle codeforces_resource a.info size=14 %}
              <a href="{{ codeforces_resource.profile_url|format_dict:a.dict_with_info }}" class="{% coder_color_class codeforces_resource a.info %}" target="_blank" rel="noopener noreferrer">{{ a.key }}</a>
              {% endfor %}
              {{ p.last_name_native }}{% if forloop.revcounter0 %}, {%endif %}
            {% endfor %}
          </div>
          {% if team.coach %}
          <div class="text-muted">
            Тренер:
            {{ team.coach.first_name_native }} {{ team.coach.middle_name_native }} {{ team.coach.last_name_native }}
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <script>
      window.parent.postMessage(document.body.scrollHeight, '*');
    </script>
  </div>
  <script>$(function(){$('[data-toggle="tooltip"]').tooltip()})</script>
</body>
</html>
