{% extends "base.html" %}

{% block ogtitle %}{% block title %}Links{% endblock %}{% endblock %}

{% block content %}
<style>
#links .list-group-item > * {
  vertical-align: middle;
}
#links img {
  border-radius: 20%;
}
</style>

<div id="links" class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1>Links</h1>
    <hr/>
    <ul class="list-group lead">
      <li class="list-group-item">
        <img src="{% static_ts 'img/links/zibada-guru-gcj.png' %}" width="40px" height="40px">
        <span>
          <a href="https://zibada.guru/gcj/" rel="external noopener" target="_blank">Google Coding Competitions Archive</a>
          &mdash; unofficial archive
        </span>
      </li>
      <li class="list-group-item">
        <img src="{% static_ts 'img/links/zibada-finals.png' %}" width="40px" height="40px">
        <span>
          <a href="https://zibada.guru/finals/" rel="external noopener" target="_blank">ICPC World Finals</a>
          &mdash; unofficial standings
        </span>
      </li>
      <li class="list-group-item">
        <img src="{% static_ts 'img/links/coding-list.webp' %}" width="40px" height="40px">
        <span>
          <a href="https://play.google.com/store/apps/details?id=io.github.vikasgola.coding_list" rel="external nofollow noopener" target="_blank">Coding List: A Coders Calendar</a>
          &mdash; unofficial android app
        </span>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
