{% extends "base.html" %}

{% block full_ogtitle %}{% block full_title %}CLIST{% endblock %}{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/contest/main.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/contest/main.js' %}"></script>
<script src="{% static_ts 'js/countdown.js' %}"></script>
<script src="{% static_ts 'js/contest/toggle.js' %}"></script>

{% include "calendar.html" %}

<link href="{% static_ts 'css/contest/check-timezone-and-filter.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/contest/check-timezone-and-filter.js' %}"></script>

{% endblock %}

{% block content %}

{% if promotion %}
<script>
  skip_promotion_url = "{% url 'coder:skip-promotion' %}"
</script>
<div id="promotion"
{% if promotion.background %}
  class="text-center dark-background"
  style="background-image: url('{{ promotion.background.url }}'); background-size: cover; background-position: center;"
{% else %}
  class="alert-info text-center"
{% endif %}
>
  <a href="{{ promotion.contest.actual_url }}" title="{{ promotion.contest.host }}" data-toggle="tooltip" target="_blank" rel="noopener noreferrer">{{ promotion.contest.title }}</a>
  {% if promotion.timer_message %}<span>{{ promotion.timer_message }}</span>{% endif %}
  <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ promotion.target_time|format_time:"%Y%m%dT%H%M" }}" class="timeleft countdown" title="{{ promotion.target_time|timezone:timezone|format_time:time_format }}" data-toggle="tooltip" data-timestamp="{{ promotion.target_time.timestamp }}" target="_blank" rel="noopener noreferrer">{{ promotion.target_time|countdown }}</a>
  <a id="skip-promotion" class="pull-right" data-promotion-id="{{ promotion.id }}">{% icon_to 'close' 'skip' %}</a>
</div>
{% endif %}

<div id="timezone-and-filter">
  {% if not request.GET.timezone %}
  {% if not request.user.is_authenticated or request.user.coder.settings.check_timezone != 0 %}
    {% include "check_timezone.html" %}
  {% endif %}
  {% endif %}
  <div id="time-view-search">
    <div id="time" class="small text-muted" title="{{ timezone }}" data-toggle="tooltip">{{ now|timezone:timezone|format_time:"%A, %H:%M:%S%z" }}</div>
    <div>
      <input
         id="toggle-view"
         type="checkbox"
         data-toggle="toggle"
         data-on="List"
         data-off="Calendar"
         data-onstyle="default active"
         data-offstyle="default active"
         data-size="mini"
         {% if viewmode == 'list' %}checked{% endif %}
       >
      <script>$('#toggle-view').bootstrapToggle()</script>
    </div>
    <div id="filter" class="form-inline">
      {% if favorite_contests %}{% include "favorite_filter.html" with input_group_size="xs" %}{% endif %}
      <div class="input-group input-group-xs">
        <input id="search" class="input-xs form-control" type="text" value="{{ request.GET.q }}"></input>
        <span class="input-group-addon icon" rel="tooltip" title="regex insensitive search">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="tab-content list-calendar-views">
  <div class="tab-pane{% if viewmode == "list" %} active{% endif %}" id="list-view">
    {% if contests %}
    <table id="contests" class="table table-bordered table-hover">
      {% for contest in contests %}
      {% with rid=contest.resource.id|stringformat:"s"  %}
      {% with group=contest.state|add:"-"|add:rid %}
      {% if contest.state == 'coming' %}
        {% define 'start' as time_field %}
      {% else %}
        {% define 'end' as time_field %}
      {% endif %}

      {% ifchanged time_field %}
        {% with is_first=forloop.counter0|yesno:",y" %}
        {% if not is_first  %}<tr class="hidden-xs text-muted"><th colspan="100%"></th></tr>{% endif %}
        <tr class="hidden-xs text-muted">
          <th class="header-start-time no-stretch">{{ time_field|title }} time</th>
          <th class="header-timeleft no-stretch">{{ time_field|title }}s in</th>
          <th class="header-duration no-stretch">Duration</th>
          {% for field in more_fields %}
          <th class="no-stretch">{% with title_field=field|title_field %}{% for f in title_field.split %}{% if forloop.counter0 %}<br/>{% endif %}{{ f }}{% endfor %}{% endwith %}</th>
          {% endfor %}
          <th class="header-event">
            {% if hide_contest %}
            <i class="fa fa-eye invisible"></i>
            {% endif %}
            Event
            {% if is_first %}
              {% if contests|total_sub_contest > 0 %}
              <a href="#" id="toggle-all" class="badge progress-bar-info">{{ contests|total_sub_contest }}&nbsp;<i class="fa fa-caret-down"></i></a>
              {% endif %}
              <span id="filter-count-matches" class="badge progress-bar-info hidden"></span>
            {% endif %}
          </th>
        </tr>
        {% endwith %}
      {% endifchanged %}

        <tr class="contest {{ contest.state }}{% if contest.state == 'running' %} success{% elif contest.state == 'past' %} text-muted{% endif %}{% if contest.sub_contest %} {{ group }} subcontest{% endif %}">
          <td class="start-time">
            {% with contest_time_field=time_field|add:"_time" %}
            <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ contest|get_item:contest_time_field|format_time:"%Y%m%dT%H%M" }}{% if time_field == "start" and contest.duration|less_24_hours %}&ah={{ contest.duration|hours }}&am={{ contest.duration|minutes }}{% endif %}&msg={{ contest.title|urlencode }}">
              {{ contest|get_item:contest_time_field|timezone:timezone|format_time:time_format }}
            </a>
            {% endwith %}
          </td>
          {% with next_time=contest|next_time_to:now %}
          <td class="timeleft{% if next_time %} countdown{% endif %}"{% if next_time %} data-timestamp="{{ contest.next_time_datetime.timestamp }}"{% endif %}>
            {% if contest.is_over %}over{% else %}{{ next_time|countdown }}{% endif %}
          </td>
          {% endwith %}
          <td class="duration">
            {{ contest.hr_duration }}
            {% if contest.is_coming and contest.with_virtual_start %}
            <a class="text-muted small" href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ contest.end_time|format_time:"%Y%m%dT%H%M" }}&msg={{ contest.title|urlencode }}" title="Window duration: {{ contest.full_duration|hr_timedelta }}<br>End time: {{ contest.end_time|timezone:timezone|format_time:time_format }}" data-toggle="tooltip" data-html="true">{% icon_to "period" %}</a>
            {% endif %}
          </td>
          {% for field in more_fields %}
          <td class="nowrap">
            {% with value=contest|get_item:field %}
            {% if value is None %}&#183;{% else %}{{ value }}{% endif %}
            {% endwith %}
          </td>
          {% endfor %}
          <td class="event">
            {% if hide_contest %}
            <i onclick="toggle_hide_contest(event, this)" class="hide-contest fa fa-eye" data-contest-id="{{ contest.id }}"></i>
            {% endif %}
            {% if party %}
            <i class="party-check{% if party.has_permission_toggle %} has-permission-toggle-party-contest{% endif %} fa-fw far {% if contest.id in party.contest_ids %}fa-check-square{% else %}fa-square{% endif %}" data-contest-id="{{ contest.id }}"></i>
            {% endif %}
            <span class="contest_title">
              {% if contest.sub_contest %}
              <a href="#" class="toggle" data-group=".{{ group }}"><i class="fa fa-caret-up"></i></a>
              {% endif %}
              <a href="{% url 'clist:resource' contest.resource.host %}" title="{{ contest.resource.host }}" data-toggle="tooltip"><img src="{{ contest.resource.icon|media_size:'32x32' }}" width="16" height="16"/></a>
              <a class="title-search" href="{{ contest.actual_url }}"{% if open_new_tab %} target="_blank" rel="noopener"{% endif %} title="{{ contest.title }}">{% trim_to contest.title 60 %}</a>
            </span>
            {% if favorite_contests %}{% activity_action "fav" contest %}{% endif %}
            {% if contest.state != "past" and add_to_calendar != "disable" %}
            <a class="data-ace" data-ace='{
              "title":"{{ contest.title }}",
              "desc":"url: {{ contest.url }}",
              "location":"{{ contest.host }}",
              "time":{
                "start":"{{ contest.start_time|timezone:timezone|format_time:"%B %d, %Y %H:%M:%S" }}",
                "end":"{{ contest.end_time|timezone:timezone|format_time:"%B %d, %Y %H:%M:%S" }}",
                "zone":"{{ timezone|get_timezone_offset_hm }}"
              }
            }'><i class="far fa-calendar-alt"></i></a>
            {% endif %}
            {% if share_to_category and share_to_category != "disable" %}
            <a data-toggle="modal" data-target="#send_notification" data-title="{{ contest.title }}" data-contest-id="{{ contest.id }}" data-method="{{ share_to_category }}">
              <i class="share-to-category fas fa-share-square"></i>
            </a>
            {% endif %}
            {% if contest.group_size %}
            <a href="#" class="toggle badge progress-bar-info" data-group=".{{ group }}">{{ contest.group_size }}&nbsp;<i class="fa fa-caret-down"></i></a>
            {% endif %}

            {% include "contest_inline_buttons.html" with user=request.user contest=contest perms=perms only %}

            <span class="pull-right hidden-xs"><a class="resource-search resource" href="{{ contest.resource|resource_href:contest.host }}"><small class="text-muted">{{ contest.host }}</small></a></span>
            <div class="visible-xs"><a class="resource-search resource" href="{{ contest.resource|resource_href:contest.host }}"><small class="text-muted">{{ contest.host }}</small></a></div>
          </td>
        </tr>
      {% endwith %}
      {% endwith %}
      {% endfor %}
    </table>
    {% else %}
    <div class="alert alert-info text-center">List of competitions is empty</div>
    {% endif %}
  </div>
  <div class="tab-pane{% if viewmode == "calendar" %} active{% endif %}" id="calendar-view">
    <div id="calendar"></div>
    <div id="loading">loading...</div>
  </div>
</div>

{% if add_to_calendar != "disable" %}
<script>
  $('a.data-ace').addcalevent({
    'onclick': true,
    'apps': [{% if add_to_calendar == "enable" %}1,2,3{% else %}{{ add_to_calendar }}{% endif %}]
  })
</script>
{% endif %}

{% if share_to_category and share_to_category != "disable" %}
  {% include "send_message.html" with message_id="send_notification" body_template="main_notification.html" %}
{% endif %}

{% endblock %}
