<div class="navbar navbar-default navbar-static-top fullscreen-hidden">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'clist:main' %}">
                <img id="logo" src="{% static_ts 'img/logo-48.png' %}" height="24px">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ news_url }}" target="_blank" rel="noopener noreferrer">News</a></li>
                <li><a href="{% url 'clist:resources' %}">Resources</a></li>
                <li><a href="{% url 'ranking:standings_list' %}">Standings</a></li>
                <li><a href="{% url 'clist:problems' %}">Problems</a></li>
                <li><a href="{% url 'coder:coders' %}">Coders</a></li>
                <li><a href="{% url 'coder:accounts' %}">Accounts</a></li>
                <li><a href="{% url 'ranking:make_versus' %}">Versus</a></li>
                <li><a href="{{ issues_url }}" target="_blank" rel="noopener noreferrer">Issues</a></li>
                {% block banner %}
                    {% for b in banners %}
                        {% if not b.template %}
                            <li>
                                <a href="{{ b.url }}" target="_blank" rel="noopener"{% if b.data.style %} style="{{ b.data.style }}"{% endif %}>
                                    <strong>{{ b.name }}</strong> {{ b.data.text }}
                                    <strong
                                        title="{{ b.end_time|timezone:timezone|format_time:time_format }}"
                                        data-placement="bottom"
                                        data-toggle="tooltip"
                                        class="countdown"
                                        data-timestamp="{{ b.next_time }}"
                                    >
                                        {{ b.end_time|countdown }}
                                    </strong>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endblock %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% get_notification_messages_badges user request.path as notification_messages_badges %}
                <li>
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                        <li><a href="/admin/"><i class="fas fa-server"></i></a></li>
                        {% endif %}
                        <li><a href="{% url 'coder:profile' user.username %}">{{ user.username }}</a></li>
                    {% else %}
                        {% url 'auth:login' as login_url %}
                        {% if request.path != login_url %}
                        <li><a href="{{ login_url }}"><i class="fa fa-sign-in-alt">&nbsp;</i>Log in / Sign up</a></li>
                        {% endif %}
                    {% endif %}
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{ notification_messages_badges }}
                                <i class="fa fa-caret-down"></i>
                            </a>

                    <ul class="dropdown-menu{% if not user.is_authenticated %} login-signup{% endif %}">
                        {% if not user.is_authenticated %}
                        <li><a href="{% url 'coder:my_profile' %}" class="authorized"><i class="fa fa-user"></i> Profile</a></li>
                        <li role="separator" class="divider"></li>
                        {% endif %}
                        <li><a href="{% url 'clist:api:latest:index' %}"><i class="fas fa-terminal"></i>&nbsp;API</a></li>
                        <li><a href="{% url 'oauth2_provider:list' %}"><i class="fas fa-exchange-alt"></i>&nbsp;OAuth</a></li>
                        <li><a href="{% url 'telegram:me' %}" target="_blank" class="authorized" rel="noopener noreferrer"><i class="fab fa-telegram-plane"></i>&nbsp;@{{ telegram_bot_name }}</a></li>
                        <li><a href="{{ discuss_url }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-comments"></i>&nbsp;Discuss</a></li>
                        <li><a href="{% url 'notification:messages' %}" class="authorized"><i class="far fa-comment-alt"></i>&nbsp;Messages {{ notification_messages_badges }}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'coder:settings' 'preferences' %}" class="authorized"><i class="fa fa-cog"></i>&nbsp;Preferences</a></li>
                        <li><a href="{% url 'coder:settings' 'social' %}" class="authorized"><i class="fas fa-info-circle"></i>&nbsp;Social</a></li>
                        <li><a href="{% url 'coder:settings' 'accounts' %}"><i class="fas fa-users"></i>&nbsp;Accounts</a></li>
                        <li><a href="{% url 'coder:settings' 'filters' %}" class="authorized"><i class="fa fa-filter"></i>&nbsp;Filters</a></li>
                        <li><a href="{% url 'coder:settings' 'lists' %}" class="authorized"><i class="fas fa-list"></i>&nbsp;Lists</a></li>
                        <li><a href="{% url 'coder:settings' 'notifications' %}" class="authorized"><i class="fa fa-bullhorn"></i>&nbsp;Notifications</a></li>
                        <li><a href="{% url 'coder:settings' 'calendars' %}" class="authorized"><i class="far fa-calendar-alt"></i>&nbsp;Calendars</a></li>
                        <li><a href="{% url 'clist:api:latest:index' %}#atom-and-rss"><i class="fas fa-rss"></i></i>&nbsp;Atom&RSS</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'coder:parties' %}"><i class="far fa-handshake"></i>&nbsp;Parties</a></li>
                        <li><a href="{% url 'events:events' %}"><i class="far fa-calendar-check"></i>&nbsp;Events</a></li>
                        {% if user.is_authenticated %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'auth:logout' %}"><i class="fa fa-sign-out-alt"></i> Log out</a></li>
                        {% endif %}
                    </ul>

                    {% if not user.is_authenticated %}
                        </li>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
{% use_lightrope as use_lightrope %}
{% if use_lightrope %}{% include "lightrope.html" %}{% endif %}
