{% extends "base.html" %}
{% load humanize %}

{% block ogtitle %}{% block title %}Ranking - {{ party.name }}{% endblock %}{% endblock %}

{% block end-head %}
    <link href="{% static_ts 'css/party/ranking.css' %}" rel="stylesheet">
    <script src="{% static_ts 'js/countdown.js' %}"></script>
    {% include "calendar.html" %}
{% endblock %}

{% block content %}

<h3 id="party-name" data-slug="{{ party.slug }}">
    <a href="{% url 'coder:parties' %}"><i class="fas fa-chevron-left"></i></a> {{ party.name }}
    {% if perms.true_coders.change_party %}
      <a href="{% url 'admin:true_coders_party_change' party.id %}" class="database-link invisible" target="_blank" rel="noopener"><i class="fas fa-database"></i></a>
    {% endif %}
</h3>

<ul class="nav nav-tabs">
    <li{% if tab == "information" %} class="active"{% endif %}><a href="#information-tab" data-toggle="tab">Infrormation</a></li>
    <li{% if tab == "ranking" %} class="active"{% endif %}><a href="#ranking-tab" data-toggle="tab">Ranking</a></li>
    <li{% if tab == "calendar" %} class="active"{% endif %}><a href="#calendar-tab" data-toggle="tab">Calendar</a></li>
</ul>
<div class="tab-content">
    <div id="information-tab" class="tab-pane{% if tab == "information" %} active{% endif %}">
        <h4>Coders
        <span class="badge progress-bar-default">{{ coders|length }}</span>
        </h4>
        <div class="coders">
            {% for coder in coders %}
                <a href="{% url 'coder:profile' coder %}" class="label label-default">{{ coder.username }} | {{ coder.n_participations }}</a>
            {% empty %}
            <div class="alert alert-warning">Not set coders for party</div>
            {% endfor %}
        </div>

        <h4><a href="{% url 'coder:party-contests' party.slug %}">Contests</a>
        <span class="badge progress-bar-default">{{ party.rating_set.all.count }}</span>
        </h4>
        <div class="contests">
            {% for c in party_contests %}
            <a href="{{ c.url }}" class="label label-{% if c.has_statistics %}success{% elif c.is_coming %}warning{% elif c.is_running %}primary{% else %}danger{% endif %}">{{ c.title }}</a>
            {% empty %}
            <div class="alert alert-warning">Not set contest for party</div>
            {% endfor %}
        </div>
        {% if party.author == request.user.coder or request.user.coder in admins %}
        <hr/>
        <a class="btn btn-default btn-sm copy-to-clipboard" data-text="{% absolute_url 'coder:party-action' party.secret_key 'join' %}">Copy join url</a>
        <a class="btn btn-default btn-sm copy-to-clipboard" data-text="{% absolute_url 'coder:party-action' party.secret_key 'leave' %}">Copy leave url</a>
        {% if admins %}
        <h4>Admins
        <span class="badge progress-bar-default">{{ admins|length }}</span>
        </h4>
        <div class="coders">
            {% for coder in admins %}
                <a href="{% url 'coder:profile' coder %}" class="label label-default">{{ coder.username }}</a>
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}
    </div>
    <div id="ranking-tab" class="tab-pane{% if tab == "ranking" %} active{% endif %}">
        {% if user and user.is_authenticated %}{% if not user.first_name or not user.last_name %}
        <div class="alert alert-warning text-center">
            Fill in your first last and last name in <a href="{% url 'coder:settings' 'social' %}#social-tab">social settings</a>.
        </div>
        {% endif %}{% endif %}

        <script>
        $(function () {
            $('li a[data-href]').click(function(e) { window.open($(this).attr('data-href'), '_blank'); });
        });
        </script>

        {% if results|length > 1 or future %}
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#total" data-toggle="tab">Total</a></li>
                {% for contest in future %}
                    <li{% if contest.is_coming %} class="disabled"{% endif %}>
                        <a class="small" href="#" data-href="{{ contest.url }}" data-toggle="tab">
                            <div>
                                <img src="{{ contest.resource.icon_file.name|media_size:'32x32' }}" width="18" height="18"/>
                                {{ contest.title|truncatechars:33 }}
                            </div>
                            <div>{% if contest.is_coming %}starts{% else %}ends{% endif %} in <span class="timeleft countdown" data-countdown="{{ contest.next_time }}">{{ contest.next_time|countdown }}</span></div>
                        </a>
                    </li>
                {% endfor %}
                {% for r in results %}
                    {% if not forloop.first %}
                    <li{% if not r.standings %} class="disabled"{% endif %}>
                        <a title="{{ r.contest.title }}" href="#{{ r.contest.id }}" data-toggle="tab"{% if not r.standings %} data-href="{{ r.contest.actual_url }}"{% endif %}>
                            <img src="{{ r.contest.resource.icon_file.name|media_size:'32x32' }}" width="18" height="18"/>
                            {{ r.contest.title|truncatechars:33 }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="tab-content">
            {% for r in results %}
                {% if r.standings %}
                <div id="{% if forloop.first %}total{% else %}{{ r.contest.id }}{% endif %}" class="tab-pane{% if forloop.first %} active{% endif %}">
                    <div class="standings">
                        <h4 class="name-stand">
                            {% if forloop.first %}
                                Total ranking
                            {% else %}
                                <a href="{% url 'ranking:standings' r.contest.title|slug r.contest.pk %}?search=party:{{ party.slug }}">{{ r.contest.title }}</a>
                                <a href="{{ r.contest.standings_url|default:r.contest.url }}" class="small">{{ r.contest.host }}</a><small>, {{ r.contest.end_time|naturalday:'F j, Y' }}</small>
                            {% endif %}
                        </h4>
                        {% if r.standings %}
                        <div class="col-sm-offset-1 col-xl-10">
                            <div class="panel panel-default table-responsive">
                                <table class="standings table table-hover table-striped table-condensed">
                                    <tr>
                                        <th>#</th>
                                        <th>Coder</th>
                                        <th>Score</th>
                                        <th>Solving</th>
                                        {% for k, _, h in r.fields %}
                                        <th><div data-toggle="tooltip" data-placement="top" title="{{ h }}">{{ k }}</div></th>
                                        {% endfor %}
                                    </tr>
                                {% for s in r.standings %}
                                    <tr>
                                        <td>{{ s.place }}</td>
                                        <td>
                                            <div title="{% if s.stat.account.key %}{{ s.stat.account.key }}{% else %}{{ s.coder.username }}{% endif %}">
                                                <a href="{% url 'coder:profile' s.coder.username %}{% if forloop.parentloop.counter0 %}?search=cid:{{ r.contest.id }}{% endif %}">
                                                {% if s.coder.user.first_name and s.coder.user.last_name %}
                                                    {{ s.coder.user.first_name }} {{ s.coder.user.last_name }}
                                                {% else %}
                                                    {{ s.coder.username }}
                                                {% endif %}
                                                </a>
                                            <div>
                                        </td>
                                        <td>
                                            <div data-toggle="tooltip" data-placement="top" title="{{ s.interpretation|join:' + ' }}">{{ s.score|floatformat:2 }}</div>
                                        </td>
                                        <td>{{ s.stat.solving|floatformat }} ({{ s.stat.upsolving|floatformat }})</td>
                                        {% for _, v, _ in r.fields %}
                                        <td>{{ s|get_item:v }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </table>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning">Rating list is empty</div>
        {% endif %}
    </div>
    <script>$('a[href="#calendar-tab"]').mouseup(function() { setTimeout(function() { $(window).resize() }, 0) } )</script>
    <div id="calendar-tab" class="tab-pane{% if tab == "calendar" %} active{% endif %}">
      <div id="calendar"></div>
      <div id="loading">loading...</div>
      {% for x in fixed_ignore_filters %}
      <input class="ignore-filter" data-value="1" data-id="{{ x.id }}" type="hidden">
      {% endfor %}
    </div>
</div>
{% endblock %}
