{% load el_pagination_tags %}

{% lazy_paginate per_page,per_page_more problems using 'problems_paging' %}

{% for problem in problems %}
{% if coder %}
{% get_problem_solution problem as solution %}

{% if problem.is_solved %}
{% define 'success' as manual_solution_class %}
{% elif problem.is_reject %}
{% define 'danger' as manual_solution_class %}
{% elif problem.is_todo %}
{% define 'info' as manual_solution_class %}
{% else %}
{% define '' as manual_solution_class %}
{% endif %}

{% if solution.result|is_solved %}
{% define 'success' as system_solution_class %}
{% elif solution.result|is_upsolved %}
{% define 'success' as system_solution_class %}
{% elif solution.result|is_hidden %}
{% define 'warning' as system_solution_class %}
{% elif solution.result|is_reject %}
{% define 'danger' as system_solution_class %}
{% elif solution.result|is_partial %}
{% define 'info' as system_solution_class %}
{% else %}
{% define '' as system_solution_class %}
{% endif %}

{% define manual_solution_class|default:system_solution_class as solution_class %}

{% endif %}
<tr class="show-hidden-activity-on-hover show-hidden-note-on-hover">
  <td class="problem-date-column">
    <div title="{{ problem.time|timezone:timezone|format_time:timeformat }}" data-toggle="tooltip">{{ problem.time|timezone:timezone|naturalday }}</div> </td>
  <td class="problem-rating-column">
    {% if problem.rating is not None %}
    {% coder_color_circle problem.resource problem.rating %}
    <span class="{% coder_color_class problem.resource problem.rating %}">
      {{ problem.rating }}
    </span>
    {% else %}
      {% call_method problem.resource 'is_major_kind' problem.contests.all as is_major_kind %}
      {% if problem.resource.has_problem_rating and problem.n_total and is_major_kind %}
      {% with is_coming=problem.end_time|is_coming %}
      <span title="{% if is_coming %}waiting for end of contest{% elif problem.n_hidden %}waiting unfreeze{% else %}in progress{% endif %}" data-toggle="tooltip">
        <i class="text-muted fa-xs fas fa-sync{% if not is_coming and not problem.n_hidden %} fa-spin{% endif %}"></i>
      </span>
      {% endwith %}
      {% else %}
      <span class="text-muted">&mdash;</span>
      {% endif %}
    {% endif %}
  </td>
  <td class="problem-progress-column">
    {% include 'standings_problem_progress.html' with problem=problem contest="" %}
  </td>
  {% if coder %}
  <td class="problem-luck-column">
    {% if problem.luck is not None %}{{ problem.luck|multiply:100|floatformat:2 }}%{% endif %}
  </td>
  <td class="problem-result-column {{ solution_class }}" data-solution-class="{{ solution_class }}" data-system-solution-class="{{ system_solution_class }}">
    {% if solution %}
      {% if not solution.result|is_solved and solution.result.upsolving %}
        {% include "standings_problem_stat.html" with statistic=solution.statistic stat=solution.result.upsolving with_detail=False key=solution.key with_admin_url=True is_upsolving=True %}
      {% else %}
        {% include "standings_problem_stat.html" with statistic=solution.statistic stat=solution.result with_detail=False key=solution.key with_admin_url=True %}
      {% endif %}
    {% endif %}
  </td>
  {% endif %}
  {% for field in custom_fields_select.values %}
  <td class="problem-field-column">
    {% if field in custom_info_fields %}
    {% define problem.info|get_item:field as value %}
    {% else %}
    {% define problem|get_item:field as value %}
    {% endif %}
    {% if value is None %}
    <span class="text-muted">&mdash;</span>
    {% else %}
    {% include "field_value.html" with field=field value=value fields_types=fields_types resource=problem.resource %}
    {% endif %}
  </td>
  {% endfor %}
  <td class="problem-name-column note-holder {{ solution_class }}" data-solution-class="{{ solution_class }}" data-system-solution-class="{{ system_solution_class }}">
    <span class="nowrap">
      <a href="{% url_transform request resource=problem.resource.id %}">
        <img data-toggle="tooltip" data-placement="top" title="{{ problem.resource.host }}" src="{{ problem.resource.icon|media_size:'32x32' }}" width="16" height="16"/>
      </a>
      {% if problem.actual_url %}<a href="{{ problem.actual_url }}" target="_blank" rel="noopener">{% endif %}
        {% trim_to problem.name 50 %}
      {% if problem.actual_url %}</a>{% endif %}
      {% if favorite_problems %}{% activity_action "fav" problem %}{% endif %}

      {% note_action "note" problem %}

      <span class="hidden-activity">
      {% activity_action "tdo" problem callback="click_activity_problem_result" %}
      {% activity_action "sol" problem callback="click_activity_problem_result" %}
      {% activity_action "rej" problem callback="click_activity_problem_result" %}
      </span>
    </span>
    {% if perms.clist.change_problem %}
    <a href="{% url 'admin:clist_problem_change' problem.id %}" class="database-link invisible" target="_blank" rel="noopener"><i class="fas fa-database"></i></a>
    {% endif %}
    <span class="pull-right">
      {% for contest in problem.contests.all %}
        {% if forloop.counter0 %} |
        {% if forloop.counter0 == 1 %}
        <a onclick="return show_hidden_contests(this)" class="hidden-contests contests" title="{% for contest in problem.contests.all|slice:"1:" %}{{ contest.title }}<br/>{% endfor %}" data-toggle="tooltip" data-html="true">...</a>
        <span class="hidden">
        {% endif %}
        {% endif %}
        <a href="{{ contest.actual_url }}" class="contests">{% trim_to contest.title 25 %}</a>
      {% endfor %}
      {% if problem.contests.all|length > 1 %}</span>{% endif %}
    </span>
    <div class="note-text text-muted small">{% if problem.is_note %}{{ problem.note_text }}{% endif %}</div>
  </td>
  <td>
    {% for tag in problem.tags.all %}
    {% ifchanged %}<span class="hidden-tag unevent-hidden-tag badge progress-bar-info{% if show_tags %} hidden{% endif %}">&nbsp;</span>{% endifchanged %}
    <a href="{% url_transform request tag=tag.id %}" class="tag badge progress-bar-info{% if not show_tags %} hidden{% endif %}">{{ tag.name }}</a>
    {% endfor %}
  </td>
</tr>
{% endfor %}

{% show_more_table %}

<script>$(function() { $(window).trigger('resize') })</script> <!-- tags column auto width -->
<script>add_hidden_tag_event()</script>
