
{% lazy_paginate per_page,per_page_more problems using 'problems_paging' %}

{% for problem in problems %}
{% if coder %}
{% get_problem_solution problem as solution %}

{% if problem.is_solved %}
{% define 'success' as manual_solution_class %}
{% elif problem.is_reject %}
{% define 'danger' as manual_solution_class %}
{% elif problem.is_todo %}
{% define 'info' as manual_solution_class %}
{% else %}
{% define '' as manual_solution_class %}
{% endif %}

{% get_result_class solution.result as system_solution_class %}

{% define manual_solution_class|default:system_solution_class as solution_class %}

{% endif %}
<tr class="show-hidden-activity-on-hover show-hidden-note-on-hover">
  <td class="problem-date-column">
    {% if problem.time is not None %}
    <div title="{{ problem.time|timezone:timezone|format_time:timeformat }}" data-toggle="tooltip">{{ problem.time|timezone:timezone|naturalday }}</div>
    {% else %}
g   <span class="text-muted">&mdash;</span>
    {% endif %}
  </td>
  <td class="problem-rating-column">
    {% if problem.rating is not None %}
      {% coder_color_circle problem.resource problem.rating value_name='rating' %}
      <span class="{% coder_color_class problem.resource problem.rating value_name value_name='rating' %}">
        {{ problem.rating }}
      </span>
    {% elif problem.has_rating %}
      <span title="{{ problem.rating_status }}" data-toggle="tooltip">
        <i class="text-muted fa-xs fas fa-sync{% if not problem.n_hidden and problem.rating_is_coming %} fa-spin{% endif %}"></i>
      </span>
    {% else %}
      <span class="text-muted">&mdash;</span>
    {% endif %}
  </td>
  <td class="problem-progress-column">
    {% if problem.n_total or problem.n_total_submissions %}
      {% include 'standings_problem_progress.html' with problem=problem contest="" %}
    {% else %}
      <span class="text-muted">&mdash;</span>
    {% endif %}
  </td>
  {% if coder %}
  <td class="problem-luck-column">
    {% if problem.luck is not None %}{{ problem.luck|multiply:100|floatformat:2 }}%{% endif %}
  </td>
  <td class="problem-result-column {{ solution_class }}" data-solution-class="{{ solution_class }}" data-system-solution-class="{{ system_solution_class }}">
    {% if solution %}
      {% with with_result_name=True  %}
      {% if not solution.result|is_solved and solution.result.upsolving %}
        {% include "standings_problem_stat.html" with statistic=solution.statistic stat=solution.result.upsolving with_detail=False key=solution.key with_admin_url=True is_upsolving=True %}
      {% else %}
        {% include "standings_problem_stat.html" with statistic=solution.statistic stat=solution.result with_detail=False key=solution.key with_admin_url=True %}
      {% endif %}
      {% endwith %}
    {% endif %}
  </td>
  {% endif %}
  {% for field in custom_fields %}
  <td class="problem-field-column problem-column-{{ field }}">
    {% with problem_key=problem|get_problem_key %}
    {% with contest_problem=contest_problems|get_item:problem_key %}

    {% define contest_problem|get_item:field as value %}
    {% if value is None %}
    {% if field in custom_info_fields %}
    {% define problem.info|get_item:field as value %}
    {% else %}
    {% define problem|get_item:field as value %}
    {% endif %}
    {% endif %}

    {% if value is None %}
    <span class="text-muted">&mdash;</span>
    {% else %}
    {% include "field_value.html" with field=field value=value fields_types=fields_types resource=problem.resource %}
    {% endif %}

    {% endwith %}
    {% endwith %}
  </td>
  {% endfor %}
  <td class="problem-name-column note-holder {{ solution_class }}" data-solution-class="{{ solution_class }}" data-system-solution-class="{{ system_solution_class }}">
    <span class="nowrap">
      <a href="{% url_transform request resource=problem.resource.id %}">
        <img data-toggle="tooltip" data-placement="top" title="{{ problem.resource.host }}" src="{{ problem.resource.icon|media_size:'32x32' }}" width="16" height="16"/>
      </a>
      {% if problem.actual_url %}<a href="{{ problem.actual_url }}" target="_blank" rel="noopener">{% endif %}
        {% if not selected_resource %}
          {% for field in problem.resource.problems_fields.fixed_fields %}{{ problem.info|get_item:field }}{% endfor %}
        {% endif %}
        {% trim_to problem.name 50 %}
      {% if problem.actual_url %}</a>{% endif %}

      {% if problem.kinds %}
        {% for kind in problem.kinds %}
          {% if not problem.resource|is_major_kind:kind %}
            {% label_tag kind solution_class %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if favorite_problems %}{% activity_action "fav" problem %}{% endif %}

      {% if problem.resource.problems_fields.locking %}
        {% with locked=problem.info|get_item:problem.resource.problems_fields.locking.field %}
        {% if locked %}{% icon_to 'locked' problem.resource.problems_fields.locking.title class="text-muted" %}{% endif %}
        {% endwith %}
      {% endif %}

      {% note_action "note" problem %}

      <span class="hidden-activity">
      {% activity_action "tdo" problem callback="click_activity_problem_result" %}
      {% activity_action "sol" problem callback="click_activity_problem_result" %}
      {% activity_action "rej" problem callback="click_activity_problem_result" %}
      </span>
    </span>
    {% if perms.clist.change_problem %}
    <a href="{% url 'admin:clist_problem_change' problem.id %}" class="database-link invisible" target="_blank" rel="noopener"><i class="fas fa-database"></i></a>
    {% endif %}
    <span class="pull-right">
      {% for contest in problem.contests.all %}
        {% if forloop.counter0 %} |
        {% if forloop.counter0 == 1 %}
        <a onclick="return show_hidden_contests(this)" class="hidden-contests contests" title="{% for contest in problem.contests.all|slice:"1:" %}{{ contest.title }}<br/>{% endfor %}" data-toggle="tooltip" data-html="true">...</a>
        <span class="hidden">
        {% endif %}
        {% endif %}
        <a href="{{ contest.actual_url }}" class="contests">{% trim_to contest.title 25 %}</a>
      {% endfor %}
      {% if problem.contests.all|length > 1 %}</span>{% endif %}
    </span>
    <div class="note-text text-muted small">{% if problem.is_note %}{{ problem.note_text }}{% endif %}</div>
  </td>
  <td>
    {% for tag in problem.tags.all %}
    {% ifchanged %}<span class="hidden-tag unevent-hidden-tag badge progress-bar-info{% if show_tags %} hidden{% endif %}">&nbsp;</span>{% endifchanged %}
    <a href="{% url_transform request tag=tag.id %}" class="tag badge progress-bar-info{% if not show_tags %} hidden{% endif %}">{{ tag.name }}</a>
    {% endfor %}
  </td>
</tr>
{% endfor %}

{% show_more_table %}
<script>add_hidden_tag_event()</script>
