{% if stat.url or stat.upsolving.url or problem_url %}<a href="{% if stat.upsolving.url and not stat|is_solved %}{{ stat.upsolving.url }}{% elif stat.url %}{{ stat.url }}{% else %}{{ problem_url }}{% endif %}">{% endif %}<span
  data-toggle="tooltip" data-placement="top" data-html="true" title="
<div>{{ short }}</div>
{% if name != short %}
  <div>Name: {{ name }}</div>
{% endif %}
{% if stat.binary is not None %}
  <div>Result: <i class='fas fa-{% if stat|is_solved %}check{% else %}times{% endif %}'></i>{% if full_score %} of {{ full_score|scoreformat:False }}{% endif %}</div>
{% elif stat.result is not None %}
  <div>Result: {{ stat.result|scoreformat:False }}{% if full_score %} of {{ full_score|scoreformat:False }}{% endif %}</div>
{% elif full_score %}
  <div>Full score: {{ full_score|scoreformat:False }}</div>
{% endif %}
{% if stat.upsolving.binary is not None %}
  <div>Upsolving: <i class='fas fa-{% if stat.upsolving|is_solved %}check{% else %}times{% endif %}'></i>
{% elif stat.upsolving.result %}
  <div>Upsolving: {{ stat.upsolving.result|scoreformat:False }}</div>
{% endif %}
{% if stat.time %}
  <div>Time: {{ stat.time }}</div>
{% endif %}
{% if stat.penalty %}
  <div>Penalty: {{ stat.penalty }}</div>
{% endif %}
{% if stat.status %}
  <div>Status: {{ stat.status }}</div>
{% endif %}
"
  class="badge progress-bar-{% if not stat %}default{% elif stat|is_solved %}success{% elif stat|is_hidden %}warning{% elif stat|is_partial or stat.upsolving|is_solved %}info{% else %}danger{% endif %}"
>
{{ short|truncatechars:10 }}
</span>{% if stat.url or stat.upsolving.url or problem_url %}</a>{% endif %}
