{% extends "base.html" %}

{% block ogtitle %}{% block title %}Problems{% endblock %}{% endblock %}
{% block description %}Tasks of past competitions with tags of competitive programming topics{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/problems.css' %}" rel="stylesheet">
<link href="{% static_ts 'css/standings.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/problems.js' %}"></script>
{% endblock %}

{% block content %}

<div class="col-xl-10 col-xl-offset-1">
  <form class="form-inline" id="problems-filter" method="get" action="">
    <div class="input-group input-group-sm">
      <div class="input-group-addon">Problem</div>

      <input type="search" name="search" value="{{ request.GET.search }}" class="form-control" {% if request.GET.search %} autofocus onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"{% endif %} autocomplete="off"/>

      <div class="input-group-addon tooltip-help" data-toggle="tooltip" data-html="true" title="Problem regex. You can use name:{NAME}, contest:{NAME}, resource:{HOST} or tag:{TAG}.<br>Use && and || and ! for difficult conditions.">
        <i class="fas fa-info"></i>
      </div>

      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">{% icon_to 'search' %}</button>
      </div>
    </div>

    {% include 'resource_filter.html' %}

    {% include 'tag_filter.html' %}

    <div class="input-group input-group-sm">
      <input
        id="show-tags"
        type="checkbox"
        data-style="show-tags"
        data-toggle="toggle"
        data-size="small"
        data-on='{% icon_to 'show' 'Show tags' %}'
        data-off='{% icon_to 'hide' 'Hide tags' %}'
        data-onstyle="default"
        data-offstyle="default"
        {% if show_tags %} checked{% endif %}
      >
    </div>
    <script>$('#show-tags').bootstrapToggle()</script>

    {% with values=coder.settings.range_filter %}

    {% include "range_filter.html" with name="luck" value_key="problems" from=0 to=100 default_from=42 default_to=60 disabled=coder|iffalse %}

    {% include "range_filter.html" with name="rating" value_key="problems" from=0 to=5000 %}

    {% include "range_filter_apply.html" %}

    {% endwith %}

    {% if favorite_problems %}{% include "favorite_filter.html" %}{% endif %}

    {% include "field_to_select.html" with field="status" data=status_select %}

    {% include "field_to_select.html" with field="chart" data=chart_select %}
  </form>

  {% include "chart.html" with chart=chart get_query_chart='chart' %}

  <script>$.endlessPaginate({paginateOnScroll: true, onCompleted: toggle_tooltip});</script>
  <div id="problems" class="panel panel-default table-responsive">
    <table class="table table-hover table-striped table-float-head">
      <thead>
        <tr>
          <th class="problem-date-column">Date</th>
          <th class="problem-rating-column">Rating</th>
          <th class="problem-progress-column">Stats</th>
          {% if coder %}
          <th class="problem-luck-column" title="Probability to solve problem<br>If the problem rating equals your rating then probability is 50%." data-html="true" data-toggle="tooltip" >Luck</th>
          <th class="problem-result-column">Result</th>
          {% endif %}
          <th>Name</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        {% include page_template %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
