{% extends "base.html" %}

{% block ogtitle %}{% block title %}Problems{% endblock %}{% endblock %}
{% block description %}Browse through our list of tasks from past competitions. Use our filtering options and problem-rating search to find challenges that match your skill level.{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/problems.css' %}" rel="stylesheet">
<link href="{% static_ts 'css/standings.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/problems.js' %}"></script>
{% endblock %}

{% block content %}

<div class="col-xl-10 col-xl-offset-1">
  {% include "filter_collapse.html" with include_filter="problems_filters.html" %}

  <script>configure_pagination()</script>

  {% if not groupby or groupby == 'none' %}

  {% include "chart.html" with chart=chart get_query_chart='chart' %}

  <div id="problems" class="panel panel-default table-responsive">
    <table class="table table-hover table-striped table-float-head">
      <thead>
        <tr>
          <th class="problem-date-column">Date</th>
          <th class="problem-rating-column">Rating</th>
          <th class="problem-progress-column">Stats</th>
          {% if coder %}
          <th class="problem-luck-column" title="Probability to solve problem<br>If the problem rating equals your rating then probability is 50%." data-html="true" data-toggle="tooltip" >Luck</th>
          <th class="problem-result-column">Result</th>
          {% endif %}
          {% for field in custom_fields_select.values %}
          <th class="problem-field-column">{{ field|title_field }}</th>
          {% endfor %}
          <th>Name <span class="pull-right text-muted">Contest</span></th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        {% include "problems_paging.html" %}
      </tbody>
    </table>
  </div>

  {% else %}

  {% include "standings_groupby.html" with without_orderby=True %}

  {% endif %}
</div>

{% endblock %}
