
{% paginate 3,50 writers using "writers_page" %}

{% for contest in writers %}
<tr>
  <td class="date"><div title="{{ contest.end_time|timezone:timezone|format_time:timeformat }}" data-toggle="tooltip">{{ contest.end_time|timezone:timezone|naturalday }}</div></td>
  <td class="event">
    <a href="{% url 'clist:resource' contest.resource.host %}" title="{{ contest.resource.host }}" data-toggle="tooltip"><img src="{{ contest.resource.icon_file.name|media_size:'32x32' }}" width="16" height="16"/></a>
    <a href="{% if contest.has_statistics %}{% url 'ranking:standings' contest.title|slug contest.pk %}{% endif %}">{{ contest.title }}</a>
  </td>
</tr>
{% endfor %}
{% show_more_table %}
