{% extends "base.html" %}
{% load humanize %}

{% block end-head %}
<link href="{% static_ts 'css/profile.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/profile.js' %}"></script>
{% endblock %}

{% block ogtitle %}{% block title %}{% linebreakless %}
{% if coder %}
  {{ coder.display_name }} - Coder
{% elif account %}
  {% if account.resource.info.standings.name_instead_key and account.name or account.info|get_item:"_name_instead_key" and account.name %}{{ account.name }}{% else %}{{ account.key }}{% endif %} on {{ account.resource.host }} - Account
  {% elif profiles %}{{ query }} - Profile{% endif %}
{% endlinebreakless %}{% endblock %}{% endblock %}

{% block description %}{% linebreakless %}
  {% if coder %}
Number of accounts: {{ coder.n_accounts }}

{% if coder.first_name_native or coder.last_name_native %}
, name: {% if coder.first_name_native %}{{ coder.first_name_native }}{% endif %}{% if coder.first_name_native and coder.last_name_native %} {% endif %}{% if coder.last_name_native %}{{ coder.last_name_native }}{% endif %}
{% elif coder.user.first_name or coder.user.last_name %}
, name: {% if coder.user.first_name %}{{ coder.user.first_name }}{% endif %}{% if coder.user.first_name and coder.user.last_name %} {% endif %}{% if coder.user.last_name %}{{ coder.user.last_name }}{% endif %}
{% endif %}

{% if coder.country %}, country: {{ coder.country.name }}{% endif %}
, last update: {{ coder.modified|format_time:"%-d %B %Y" }}
  {% elif account %}
Number of competitions: {{ account.n_contests }}
{% if account.country %}, country: {{ account.country.name }}{% endif %}
{% if account.rating %}, rating: {{ account.rating }}{% endif %}
{% if account.last_activity %}, last activity: {{ account.last_activity|format_time:"%-d %B %Y" }}{% endif %}
, last update: {{ account.modified|format_time:"%-d %B %Y" }}
  {% endif %}
{% endlinebreakless %}{% endblock %}

{% block content %}

<script>
  ratings_url = '{{ request.path }}ratings/{% if search_resource %}?resource={{ search_resource }}{% endif %}'
</script>

<form method="post" class="form-inline" action="">{% csrf_token %}

<div id="profile-header">
{% if coder %}
  <h2>
    {% if search_resource %}
      {% with resource=resources.0 %}
        {% if resource %}
          <a href="{% url 'clist:resource' resource.host %}" title="{{ resource.host }}" data-toggle="tooltip"><img src="{{ resource.icon|static_resize:'64x64' }}" width="30" height="30"/></a>

          {% for account in resource.coder_accounts %}
            {% if resource.avatar_url %}
              {% call_method account 'avatar_url' resource as avatar_url %}
              {% if avatar_url %}
                <img class="account-avatar" src="{{ avatar_url }}" style="width: 32px; height: 32px"/>
              {% endif %}
            {% endif %}

            {% coder_color_circle resource account.info size=28 %}
          {% endfor %}
        {% endif %}
      {% endwith %}
    {% endif %}

    {% if coder.user.first_name or coder.user.last_name %}
      {{ coder.user.first_name|default:"" }} {{ coder.user.last_name|default:"" }} aka
    {% endif %}
    {{ coder.display_name }}

    {% if request.user.is_authenticated and request.user.coder != coder %}
    <a href="{% url 'ranking:versus' request.user.coder.username|add:"/vs/"|add:coder.username %}">{% icon_to 'versus' %}</a>
    {% endif %}

    {% include "profile_list_filter.html" %}

    {% if perms.true_coders.change_coder %}
      <a href="{% url 'admin:true_coders_coder_change' coder.id %}" class="database-link invisible" target="_blank" rel="noopener"><i class="fas fa-database"></i></a>
    {% endif %}
  </h2>
  {% if search_resource %}
  <a class="badge progress-bar-info" href="{% url 'coder:profile' coder.username %}">
    {% if coder.user.first_name or coder.user.last_name %}
      {{ coder.user.first_name|default:"" }} {{ coder.user.last_name|default:"" }} aka
    {% endif %}
    {{ coder.display_name }}
  </a>
  {% endif %}
{% elif account %}
  <h2>
    <a href="{% url 'clist:resource' account.resource.host %}" title="{{ account.resource.host }}" data-toggle="tooltip"><img src="{{ account.resource.icon|static_resize:'64x64' }}" width="30" height="30"/></a>

    {% if account.resource.avatar_url %}
      {% call_method account 'avatar_url' account.resource as avatar_url %}
      {% if avatar_url %}
        <img class="account-avatar" src="{{ avatar_url }}" style="width: 32px; height: 32px"/>
      {% endif %}
    {% endif %}

    {% coder_color_circle account.resource account.info size=28 %}

    <span class="{% coder_color_class account.resource account.info %}">{% if account.resource.info.standings.name_instead_key and account.name or account.info|get_item:"_name_instead_key" and account.name %}{{ account.name }}{% else %}{{ account.key }}{% endif %}</span>

    {% if account.resource.profile_url and not account.info|get_item:"_no_profile_url" %}
    <a href="{{ account.resource.profile_url|format_dict:account.dict_with_info }}" target="_blank" rel="noopener"><i class="fas fa-external-link-alt"></i></a>
    {% endif %}

    {% if request.user.is_authenticated and not this_is_me %}
    {% with hostname=account.resource.short_host|default:account.resource.host %}
    <a href="{% url 'ranking:versus' request.user.coder.username|add:"/vs/"|add:hostname|add:":"|add:account.key %}">{% icon_to 'versus' %}</i></a>
    {% endwith %}
    {% endif %}

    {% if add_account_button %}
    <a href="{% url 'coder:settings' 'accounts' %}?resource={{ account.resource.host }}&account={{ account.key}}"><i class="fas fa-user-plus"></i></a>
    {% endif %}

    {% include "profile_list_filter.html" %}

    {% if account.resource.has_accounts_infos_update and this_is_me or perms.ranking.update_account %}
    <a class="update-account" data-account-id="{{ account.pk }}">{% icon_to 'update' %}</a>
    {% endif %}

    {% if perms.ranking.change_account %}
      <a href="{% url 'admin:ranking_account_change' account.id %}" class="database-link invisible" target="_blank" rel="noopener"><i class="fas fa-database"></i></a>
    {% endif %}
  </h2>
  {% if show_add_account_message %}
  {% if add_account_button %}
  <div class="text-center alert alert-warning"><b><a href="{% url 'coder:settings' 'accounts' %}?resource={{ account.resource.host }}&account={{ account.key }}">Add the account</a></b> to your profile to update the rating</div>
  {% else %}
  <div class="text-center alert alert-info">The account rating not updated because not added to profile</div>
  {% endif %}
  {% endif %}
  {% for coder in account.coders.all %}
  <a class="badge progress-bar-info" href="{% url 'coder:profile' coder.username %}">
    {% if coder.user.first_name or coder.user.last_name %}
      {{ coder.user.first_name|default:"" }} {{ coder.user.last_name|default:"" }} aka
    {% endif %}
    {{ coder.display_name }}
  </a>
  {% endfor %}
{% elif profiles %}
  <h2>
    {{ query }}

    {% if request.user.is_authenticated %}
    <a href="{% url 'ranking:versus' query|add:"/vs/"|add:request.user.coder.username %}">{% icon_to 'versus' %}</i></a>
    {% endif %}

    {% include "profile_list_filter.html" %}
  </h2>
{% endif %}
</div>
</form>

<div class="row">

<div{% if two_columns %} class="col-lg-6"{% endif %}>

{% if resources and show_history_ratings %}
<div{% if not two_columns and show_history_ratings and writers.exists %} class="col-md-6"{% elif not two_columns %} class="col-xs-12"{% endif %}>
<h3>Accounts</h3>
<div id="list-accounts">
{% if not search_resource %}

  <table id="table-accounts" class="table center table-hover table-condensed">
  {% for resource in resources %}
    {% with account=resource.coder_accounts.0 %}
    {% if account and account.rating is not None and resource.has_rating_history %}
      <tr>
        <td>
          <a href="{% url 'clist:resource' resource.host %}" title="{{ resource.host }}" data-toggle="tooltip">
            <img src="{{ resource.icon|static_resize:'32x32' }}" width="15" height="15"/>
          </a>
        </td>
        <td>
          <span class="{% coder_color_class resource account.info %}">
            {{ account.rating }}
          </span>
        </td>
        <td class="text-left nowrap">
          <a href="{% if resource.coder_accounts|length > 1 %}?search=resource:{{ resource.host|urlencode }}{% else %}{% url 'coder:account' account.key resource.host %}{% endif %}">
            {% include "account_table_cell.html" with account=account resource=account.resource without_country=True without_url=True with_fixed_width=True %}

            {% if resource.coder_accounts|length > 1 %}
            <span class="badge no-user-select" data-toggle="tooltip" data-html="true" data-placement="bottom" title="{% for a in resource.coder_accounts|slice:'1:' %}<div>{% if a.name and a.key|has_season:a.name or a.name and resource.info.standings.name_instead_key %}{{ a.name }}{% else %}{{ a.key }}{% endif %}</div>{% endfor %}">
              +{{ resource.coder_accounts|length|add:-1 }}
            </span>
            {% endif %}
          </a>
        </td>
        <td>
          {% include "profile_account_actions.html" with account=account resource=account.resource without_btn=True %}
        </td>
        <td>
          <span title="Number of contests" data-toggle="tooltip">
            {{ resource.num_contests }}
          </span>
        </td>
        <td class="text-left">
          {% include "profile_medals.html" with stats=resource_medals|get_item:resource.pk %}
        </td>
      </tr>
    {% endif %}
    {% endwith %}
  {% endfor %}
  </table>

  {% for resource in resources %}
    {% with account=resource.coder_accounts.0 %}
      {% if account and account.rating is None or account and not resource.has_rating_history %}
        <span class="account btn-group btn-group-sm">
          <a class="btn btn-default" href="{% url 'clist:resource' resource.host %}" title="{{ resource.host }}" data-toggle="tooltip">
            <img src="{{ resource.icon|static_resize:'32x32' }}" width="15" height="15"/>
          </a>
          <a class="btn btn-default" href="{% if resource.coder_accounts|length > 1 %}?search=resource:{{ resource.host|urlencode }}{% else %}{% url 'coder:account' account.key resource.host %}{% endif %}">
            {% include "account_table_cell.html" with account=account resource=account.resource without_country=True without_url=True trim_length=20 %}

            {% if resource.coder_accounts|length > 1 %}
            <span class="badge no-user-select" data-toggle="tooltip" data-html="true" data-placement="bottom" title="{% for a in resource.coder_accounts|slice:'1:' %}<div>{% if a.name and a.key|has_season:a.name or a.name and resource.info.standings.name_instead_key %}{{ a.name }}{% else %}{{ a.key }}{% endif %}</div>{% endfor %}">
              +{{ resource.coder_accounts|length|add:-1 }}
            </span>

            {% endif %}

            {% include "profile_medals.html" with stats=resource_medals|get_item:resource.pk %}
          </a>
          {% include "profile_account_actions.html" with account=account resource=account.resource %}
        </span>
      {% endif %}
    {% endwith %}
  {% endfor %}

{% else %}

  {% for resource in resources %}
    {% for account in resource.coder_accounts %}
      <span class="account btn-group btn-group-sm">
        <a class="btn btn-default" href="{% url 'coder:account' account.key resource.host %}">
          {% include "account_table_cell.html" with account=account resource=account.resource without_country=True without_url=True %}

          {% include "profile_medals.html" with stats=account_medals|get_item:account.pk %}
        </a>
        {% include "profile_account_actions.html" with account=account resource=account.resource %}
      </span>
    {% endfor %}
  {% endfor %}

{% endif %}
</div>
</div>
{% endif %}

{% if show_history_ratings and writers.exists %}
<div{% if not two_columns %} class="col-md-6"{% endif %}>
<h3>Writer</h3>
<div class="panel panel-default table-responsive">
  <table id="writers" class="table table-hover table-condensed table-striped">
    <tr>
      <th class="date">Date</th>
      <th class="event">Event</th>
    </tr>
    {% include 'profile_writers_paging.html' %}
  </table>
</div>
<script>$('#writers').endlessPaginate({onCompleted: toggle_tooltip});</script>
</div>
{% endif %}

</div>

{% if show_history_ratings and history_resources %}
<div{% if two_columns %} class="col-lg-6"{% else %} class="col-xs-12"{% endif %}>
<h3>Ratings
{% if two_columns %}
<a id="expand-ratings" href="#" onclick=""><i class="fas fa-expand-arrows-alt"></i></a>
{% endif %}
</h3>

{% for hr in history_resources %}
{% if forloop.counter0 == 3 %}
  <a id="collapse-history-resources" class="btn btn-default btn-block" data-toggle="collapse" href="#history-resources-collapsed" onclick="$(this).remove()"><span class="text-primary">{{ history_resources|length|add:"-3" }} more</span></a>
  <div class="collapse" id="history-resources-collapsed">
{% endif %}
<div>
  {% if not hr.kind %}
  <div class="resource_fields">
    <a href="{% url 'clist:resource' hr.host %}" title="{{ hr.host }}" data-toggle="tooltip" data-placement="right"><img src="{{ hr.icon|static_resize:'32x32' }}" width="16" height="16"/></a>
    <div class="input-group input-group-sm invisible">
      <select id="resource_{{ hr.pk }}_fields">
        <option></option>
      </select>
    </div>
  </div>
  {% endif %}

  <div class="text-center loading_rating" data-id="{{ hr.host }}_rating" id="loading_{{ hr.host }}_rating"><i class="fa-3x fas fa-circle-notch fa-spin"></i></div>

  <canvas class="rating_history" id="resource_{{ hr.pk }}_rating{% if hr.kind %}_{{ hr.kind }}{% endif %}" height="75vh">{{ hr }}</canvas>
</div>
{% endfor %}
{% if history_resources|length > 3 %}
  </div>
{% endif %}

</div>
{% endif %}

<div class="col-xs-12">
<h3>Contests</h3>

{% with chart=contests_chart %}
{% if chart %}
{% set_item chart "border_width" 5 %}
{% set_item chart "title" "Number of contests per day" %}
{% set_item chart "type" "line" %}
{% set_item chart "tension" 0.5 %}
{% set_item chart "point_radius" 0 %}
{% set_item chart "point_hover_radius" 0 %}
{% set_item chart "border_color" "#5cb85c" %}
{% set_item chart "border_width" 3 %}
{% set_item chart "height" "40vh" %}
{% set_item chart "duplicate_y_axis" True %}
{% set_item chart "disable_legend_tooltip" True %}
{% include "chart.html" with chart=chart without_buttons=True %}
{% endif %}
{% endwith %}

<form class="form-inline" method="get" action="">
<div class="input-group">
  <div class="input-group-addon">Results</div>
  <input type="search" name="search" value="{{ request.GET.search }}" class="form-control" placeholder="Regex filter" {% if request.GET.search %} autofocus onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"{% endif %} autocomplete="off"/>
  <span class="input-group-addon tooltip-help" data-toggle="tooltip" data-html="true" title="Also you can use contest:{NAME}, account:{NAME}, resource:{HOST}, medal:{|MEDAL}, type:{TYPE} or writer:{HANDLE}.<br>Use && and || for difficult conditions.">
    <i class="fas fa-info"></i>
  </span>
  <span class="input-group-btn">
    <button class="btn btn-default" type="submit">{% icon_to 'search' %}</button>
  </span>
</div>
{% if custom_fields %}
{% include "field_to_select.html" with field="field" data=custom_fields nosm=True %}
{% endif %}
</form>

{% if statistics.exists %}
<div class="panel panel-default table-responsive">
  <table id="contests" class="table table-hover table-striped table-condensed">
    <tr>
      <th></th>
      <th>Rank</th>
      <th>Score</th>
      <th>Rating</th>
      <th title="Rating change" data-toggle="tooltip" data-html="true" data-placement="bottom">&Delta;</th>
      {% if coder.has_global_rating %}
      <th>Global</th>
      <th title="Global rating change" data-toggle="tooltip" data-html="true" data-placement="bottom">&Delta;</th>
      {% endif %}
      <th class="date">Date</th>

      {% if custom_fields %}
      {% for field in custom_fields.values %}
      <th>{{ field|title_field|split:" "|join:"<br>" }}</th>
      {% endfor %}
      {% endif %}

      <th></th>
      <th class="title">Event</th>
    </tr>
    {% include 'profile_contests_paging.html' %}
  </table>
</div>
<script>$('#contests').endlessPaginate({onCompleted: toggle_tooltip});</script>
{% else %}
<div class="alert alert-warning">Empty statistics</div>
{% endif %}
</div>

{% endblock %}

