{% load el_pagination_tags %}

{% lazy_paginate 10,100 statistics using "contest_page" %}

{% for statistic in statistics %}
{% with contest=statistic.contest resource=statistic.contest.resource %}
<tr class="contest{% if statistic.addition.medal %} {{ statistic.addition.medal|lower }}-medal{% endif %}{% if contest.is_running %} success{% endif %}" id="cid-{{ contest.id }}">
    <td>
    {% with division=statistic.addition.division %}
    {% with n_total=contest.info.problems.n_statistics|get_item:division|default:contest.n_statistics %}
        {% if n_total and statistic.place_as_int %}
        {% with percent=statistic.place_as_int|multiply:100|divide:n_total %}
        <div class="pull-left">
            <div class="rank-progress progress progress-bar-vertical" title="Top: {{ percent|floatformat:"1" }}%<br>Rank: {{ statistic.place }}<br>Total: {{ n_total }}" data-toggle="tooltip" data-placement="top" data-html="true">
              <div class="progress-bar progress-bar-success" style="width: {{ 100|substract:percent|floatformat:"3" }}%"></div>
            </div>
        </div>
        {% endwith %}
        {% endif %}
    {% endwith %}
    {% endwith %}
    </td>
    <td class="rank">
        {% if statistic.addition.url %}<a href="{{ statistic.addition.url }}">{% endif %}
        <div data-toggle="tooltip" data-placement="top" data-html="true" title="
            handle: {{ statistic.account.key }}<br/>
            {% for k, v in statistic.addition.items|sort %}
                {% call_method statistic 'is_special_addition_field' k as is_special %}
                {% if not is_special and v|get_type != 'dict' %}
                    {{ k|lower }}: {{ v }}<br/>
                {% endif %}
            {% endfor %}
        ">
            {{ statistic.place|default:"-" }}
        </div>
        {% if statistic.addition.url %}</a>{% endif %}
    </td>

    <td>
        {{ statistic.solving|scoreformat }}
    </td>

    <td>
        {% with value=resource|get_new_rating_value:statistic.addition %}
        {% if value is not None %}
        <div class="{% coder_color_class resource value %}">
            {% coder_color_circle resource value %}
            {{ value }}
        </div>
        {% else %}
        <small class='text-muted'>&#183;</small>
        {% endif %}
        {% endwith %}
    </td>
    <td>
        {% with value=statistic.addition.rating_change %}
        {% with intvalue=value|toint %}
        {% if intvalue or 'rating_change' in statistic.addition %}
            <span class="rating-change{% if intvalue %} rating-change-{% if intvalue > 0 %}up{% else %}down{% endif %}{% endif %}">
            {% if intvalue %}
                <i class="fas fa-angle-{% if intvalue > 0 %}up{% else %}down{% endif %}"></i>{{ intvalue|abs }}
            {% else %}
                {{ value }}
            {% endif %}
            </span>
        {% else %}
            <small class='text-muted'>&#183;</small>
        {% endif %}
        {% endwith %}
        {% endwith %}
    </td>
    {% if coder.has_global_rating %}
    <td>
        {% if statistic.new_global_rating is not None %}
            {{ statistic.new_global_rating }}
        {% else %}
            <small class='text-muted'>&#183;</small>
        {% endif %}
    </td>
    <td>
        {% if statistic.global_rating_change is not None %}
            {% with value=statistic.global_rating_change %}
            {% with intvalue=value|toint %}
            <span class="rating-change{% if intvalue %} rating-change-{% if intvalue > 0 %}up{% else %}down{% endif %}{% endif %}">
            {% if intvalue %}
                <i class="fas fa-angle-{% if intvalue > 0 %}up{% else %}down{% endif %}"></i>{{ intvalue|abs }}
            {% else %}
                {{ value }}
            {% endif %}
            </span>
            {% endwith %}
            {% endwith %}
        {% else %}
            <small class='text-muted'>&#183;</small>
        {% endif %}
    </td>
    {% endif %}
    <td class="date"><div title="{{ contest.end_time|timezone:timezone|format_time:timeformat }}" data-toggle="tooltip">{{ contest.end_time|timezone:timezone|naturalday }}</div></td>
    {% if statistics_fields %}
    {% with fields_types=statistics_fields.types %}
    {% for field in statistics_fields.values %}
    <td>
        {% if field|get_rating_predicition_field %}
        {% define field|get_rating_predicition_field as predicition_field %}
        {% define statistic.rating_prediction|get_item:predicition_field as value %}
        {% else %}
        {% define statistic.addition|get_item:field as value %}
        {% endif %}
        {% include "field_value.html" with statistic=statistic addition=statistic.addition %}
    </td>
    {% endfor %}
    {% endwith %}
    {% endif %}
    <td><a href="?search=resource:{{ resource.host }}" title="{{ resource.host }}" data-toggle="tooltip"><img src="{{ resource.icon|media_size:'32x32' }}" width="16" height="16"/></a></td>
    <td class="title col-md-9 col-sm-8">
        {% if contest.invisible %}<i class="far fa-eye-slash"></i>{% endif %}
        <a href="{% url 'ranking:standings' contest.title|slug contest.pk %}{% if not without_findme %}?find_me={{ statistic.pk }}{% endif %}">{{ contest.title }}</a>
        {% if statistic.addition.hack %}
        {% with hack=statistic.addition.hack %}
        <span class="badge progress-bar-warning"{% if hack.title %} data-toggle="tooltip" data-placement="top" title="{{ hack.title|title }}"{% endif %}>
            {{ hack.successful|default:"0" }} : {% if hack.unsuccessful %}-{{ hack.unsuccessful }}{% else %}0{% endif %}
        </span>
        {% endwith %}
        {% endif %}
        <span class="problems">
            {% if 'problems' in statistic.addition %}
                {% if contest.info.problems %}
                  {% for problem in contest.info.problems|get_division_problems:statistic.addition %}
                    {% with key=problem|get_problem_short  %}
                    {% with stat=statistic.addition.problems|get_item:key %}
                      {% include 'problem_stat.html' with short=problem|get_problem_header name=problem|get_problem_name stat=stat problem_url=problem.url full_score=problem.full_score %}
                    {% endwith %}
                    {% endwith %}
                  {% endfor %}
                {% else %}
                  {% for k, v in statistic.addition.problems.items|sort %}
                  {% include 'problem_stat.html' with short=k name=k stat=v problem_url=None full_score=None %}
                  {% endfor %}
                {% endif %}
            {% endif %}
        </span>
        {% if perms.ranking.change_statistics %}
        <a href="{% url 'admin:ranking_statistics_change' statistic.id %}" class="database-link invisible" target="_blank" rel="noopener"><i class="fas fa-database"></i></a>
        {% endif %}
    </td>
</tr>
{% endwith %}
{% endfor %}
{% show_more_table %}
