{% extends "base.html" %}
{% load humanize %}

{% block ogtitle %}{% block title %}{{ resource.host }} - Resource{% endblock %}{% endblock %}
{% block description %}{{ resource.host }} resource, number of contests: {{ resource.n_contests }}, number of accounts: {{ resource.n_accounts }}.{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/resource.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<script>$.endlessPaginate({onCompleted: toggle_tooltip});</script>

<h2>
    <img src="{{ resource.icon|media_size:'64x64' }}" width="24" height="24"/>
    <a href="{{ resource.href }}">{{ resource.host }}</a>
    {% if perms.clist.change_resource %}
      <a href="{% url 'admin:clist_resource_change' resource.id %}" class="database-link invisible" target="_blank" rel="noopener"><i class="fas fa-database"></i></a>
    {% endif %}
</h2>

<div>
    <a class="btn btn-default btn-xs" href="https://calendar.google.com/calendar/embed?src={{ resource.uid }}">
        <i class="far fa-calendar-alt"></i> Google calendar
    </a>

    <div class="badge progress-bar-{% if resource.enable %}success{% else %}info{% endif %}">
        {% if resource.enable %}auto{% else %}manually{% endif %} updating
    </div>

    <div class="badge progress-bar-{% if resource.has_rating_history %}success{% else %}info{% endif %}">
        {% if resource.has_rating_history %}has{% else %}no{% endif %} account rating
    </div>

    <div class="badge progress-bar-{% if resource.has_problem_rating %}success{% else %}info{% endif %}">
        {% if resource.has_problem_rating %}has{% else %}no{% endif %} problem rating
    </div>

    <div class="badge progress-bar-{% if resource.has_upsolving %}success{% else %}info{% endif %}">
        {% if resource.has_upsolving %}has{% else %}no{% endif %} upsolving
        {% if resource.info.problems.upsolving.help_message %}
        <span data-toggle="tooltip" data-placement="top" title="{{ resource.info.problems.upsolving.help_message }}">
          <i class="fas fa-exclamation-circle"></i>
        </span>
        {% endif %}
    </div>

    <span class="badge progress-bar-{% if resource.module %}success{% else %}info{% endif %}">{{ resource.n_contests|intcomma }} contest(s)</span>

    {% if resource.module %}
    <span class="badge progress-bar-{% if resource.has_accounts_infos_update %}success{% else %}info{% endif %}">{{ resource.n_accounts|intcomma }} accounts(s)</span>
    {% if perms.ranking.change_module %}
      <a href="{% url 'admin:ranking_module_change' resource.module.id %}" class="database-link invisible" target="_blank" rel="noopener"><i class="fas fa-database"></i></a>
    {% endif %}
    {% endif %}
</div>

<br/>

<form class="form-inline" method="get" action="">
    <div id="resource-filters" class="form-group">
        {% include 'country_filter.html' %}

        <div class="input-group input-group-sm">
            <span class="input-group-addon">{% icon_to 'period' %}</span>
            <select name="period" onchange="this.form.submit()">
                {% for p in periods %}
                    <option value="{{ p }}"{% if p == params.period %} selected{% endif %}>{{ p }}</option>
                {% endfor %}
            </select>
        </div>
        <script>$('select[name="period"]').select2({theme: 'bootstrap', placeholder: 'select period'})</script>

        {% if rating.chart.data or request.GET.rating_from or request.GET.rating_to %}
        {% include 'range_filter.html' with name='rating' value_key=resource.host from=rating.min to=rating.max %}
        {% endif %}

        {% include 'range_filter.html' with name='n_participations' value_key=resource.host from=0 to=resource.n_contests %}

        {% include 'range_filter_apply.html' %}
    </div>
</form>

<div id="resource-tables" class="row">
    {% if top.exists %}
    <div class="col-md-6 col-lg-4">
        <h4>
            Top rating
            <a href="{% url 'coder:accounts' %}?resource={{ resource.pk }}&sort_column=rating&sort_order=desc"><i class="fas fa-list"></i></a>
            <a href="{% url 'clist:resources_top' %}">{% icon_to 'top' %}</a>
        </h4>
        <div class="panel panel-default table-responsive">
            <table class="table table-hover table-condensed table-striped">
                <tr>
                    <th>N</th>
                    <th>Handle</th>
                    <th>Rating</th>
                </tr>
                {% include 'resource_top_paging.html' %}
            </table>
        </div>
    </div>
    {% endif %}

    {% if rating.chart.data %}
    <div class="col-md-6 col-lg-8">
        <h4>
            Rating distribution
            {% if rating.account %}
            <span class="pull-right">{% include 'account_table_cell.html' with account=rating.account resource=resource %}</span>
            {% endif %}
        </h4>
        <span id="toggleLogScale">
            <input
                type="checkbox"
                data-toggle="toggle"
                data-on="logarithmic"
                data-off="linear"
                data-onstyle="default active"
                data-offstyle="default active"
                data-size="small"
            />
        </span>
        <canvas id="ratingDistribution"></canvas>
    </div>

    <script>
        $(function() {
            var ctx = document.getElementById('ratingDistribution').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for r in rating.chart.data %}{% if forloop.counter0 %},{% endif %}{{ r.rating }}{% endfor %}],
                    datasets: [{
                        data: [{% for r in rating.chart.data %}{% if forloop.counter0 %},{% endif %}{'x':{{ r.rating }},'y':{{ r.count }}}{% endfor %}],
                        title: [{% for r in rating.chart.data %}{% if forloop.counter0 %},{% endif %}'{{ r.title }}'{% endfor %}],
                        value: [{% for r in rating.chart.data %}{% if forloop.counter0 %},{% endif %}{{ r.count }}{% endfor %}],
                        barPercentage: 0.9,
                        categoryPercentage: 1.0,
                        backgroundColor: [{% for r in rating.chart.data %}{% if forloop.counter0 %},{% endif %}'{{ r.hex_rgb }}'{% endfor %}],
                    }],
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: { display: false},
                        tooltip: {
                            position: 'nearest',
                            callbacks: {
                                title: function(tooltipItems, data) {
                                    var tooltipItem = tooltipItems[0]
                                    return tooltipItem.dataset.title[tooltipItem.dataIndex]
                                },
                                label: function(tooltipItem, data) {
                                    return tooltipItem.dataset.value[tooltipItem.dataIndex]
                                },
                            },
                        },
                    },
                    scales: {
                        x: { grid: { display: false } },
                        y: {
                            ticks: {
                                callback: function(value, index) {
                                    return +value.toFixed(2);
                                },
                            },
                        },
                    },
                    onClick: function (e, item) {
                        if (!item) {
                          return;
                        }
                        item = item[0]
                        data = e.chart.data.datasets[item.datasetIndex].data
                        rating = data[item.index]
                        from = rating['x']
                        to = item.index + 1 < data.length? data[item.index + 1]['x'] - 1 : {{ rating.chart.bins|last }}
                        {% autoescape off %}
                        url = '{% url_transform request %}' + '&rating_from=' + from + '&rating_to=' + to
                        {% endautoescape %}
                        window.location.assign(url);
                    },
                    onHover: (e, el) => {
                        var c = e.target || e.native.target
                        c.style.cursor = el[0] ? 'pointer' : 'default'
                    },
                },
{% if rating.account %}
{% with coloring_field=resource.info|get_item:'ratings'|get_item:'chartjs'|get_item:'coloring_field' %}
{% with coloring_value=rating.account.info|get_item:coloring_field|pass_arg:coloring_field|ifelse:rating.account.rating %}
                plugins: [{
                    beforeDatasetsDraw: function (chart) {
                        var ctx = chart.ctx
                        var y_axis = chart.scales['y']
                        var x_axis = chart.scales['x']
                        var x_ticks = x_axis['ticks']
                        x_axis = {
                            'min': {{ rating.chart.bins|first }},
                            'max': {{ rating.chart.bins|last }},
                            'left': x_axis.left,
                            'right': x_axis.right,
                        }
                        var x = get_x_chart({{ rating.account.rating }}, x_axis)
                        ctx.beginPath();
                        ctx.moveTo(x, y_axis.top);
                        ctx.lineTo(x, y_axis.bottom);
                        ctx.lineWidth = 2;
                        ctx.strokeStyle = "{{ resource|get_rating:coloring_value|get_item:'hex_rgb'|default:'black' }}";
                        ctx.stroke();
                        ctx.closePath()
                    }
                }],
{% endwith %}
{% endwith %}
{% endif %}
            })

            $('#toggleLogScale input').change(function() {
                chart.options.scales.y.type = chart.options.scales.y.type == 'linear'? 'logarithmic' : 'linear'
                chart.update()
                return false
            })
{% if resource.info|get_item:'ratings'|get_item:'chartjs'|get_item:'y_scale' == 'logarithmic' %}
            $('#toggleLogScale input').click()
{% endif %}
        })
    </script>
    {% endif %}

    {% if has_country and countries.exists %}
    <div id="countries" class="col-md-6 col-lg-4">
        <h4>Country distribution</h4>
        <div class="panel panel-default table-responsive">
            <table class="table table-hover table-condensed table-striped">
                <tr>
                    <th>N</th>
                    <th>Country</th>
                    <th>Participants<br/>number</th>
                </tr>
                {% include 'resource_country_paging.html' %}
            </table>
        </div>
    </div>
    {% endif %}

    {% if last_activities.exists %}
    <div class="col-md-6 col-lg-4">
        <h4>
            Last activity
            <a href="{% url 'coder:accounts' %}?resource={{ resource.pk }}&sort_column=last_activity&sort_order=desc"><i class="fas fa-list"></i></a>
        </h4>
        <div class="panel panel-default table-responsive">
            <table class="table table-hover table-condensed table-striped">
                <tr>
                    <th>N</th>
                    <th>Handle</th>
                    <th>Last<br/>activity</th>
                </tr>
                {% include 'resource_last_activity_paging.html' %}
            </table>
        </div>
    </div>
    {% endif %}

    {% if most_participated.exists %}
    <div class="col-md-6 col-lg-4">
        <h4>
            Most participated
            <a href="{% url 'coder:accounts' %}?resource={{ resource.pk }}&sort_column=n_contests&sort_order=desc"><i class="fas fa-list"></i></a>
        </h4>
        <div class="panel panel-default table-responsive">
            <table class="table table-hover table-condensed table-striped">
                <tr>
                    <th>N</th>
                    <th>Handle</th>
                    <th>Contests<br/>number</th>
                </tr>
                {% include 'resource_most_participated_paging.html' %}
            </table>
        </div>
    </div>
    {% endif %}

    {% if most_writer.exists %}
    <div class="col-md-6 col-lg-4">
        <h4>
            Most writer
            <a href="{% url 'coder:accounts' %}?resource={{ resource.pk }}&sort_column=n_writers&sort_order=desc"><i class="fas fa-list"></i></a>
        </h4>
        <div class="panel panel-default table-responsive">
            <table class="table table-hover table-condensed table-striped">
                <tr>
                    <th>N</th>
                    <th>Handle</th>
                    <th>Writer<br/>number</th>
                </tr>
                {% include 'resource_most_writer_paging.html' %}
            </table>
        </div>
    </div>
    {% endif %}

    {% if problems.exists %}
    <div class="col-md-6 col-lg-4">
        <h4>
            Problems
            <a href="{% url 'clist:problems' %}?resource={{ resource.pk }}"><i class="fas fa-list"></i></a>
        </h4>
        <div class="panel panel-default table-responsive">
            <table class="problems table table-hover table-condensed table-striped">
                <tr>
                    <th>Date</th>
                    <th class="title">Name</th>
                </tr>
                {% include 'resource_problems_paging.html' %}
            </table>
        </div>
    </div>
    {% endif %}

    {% if resource.has_problem_rating and problem_rating_chart %}
    <div class="col-md-6 col-lg-4" id="problem-rating-chart">
        <h4>
            Problem rating distribution
            <a href="{% url 'clist:problems' %}?resource={{ resource.pk }}&chart=rating"><i class="fas fa-chart-bar"></i></a>
        </h4>
        {% include 'chart.html' with chart=problem_rating_chart without_close_chart=True without_toggle_type=True expand_class="#problem-rating-chart" %}
    </div>
    {% endif %}

    {% for name, data in contests.items %}
    {% if data.contests.exists %}
    <div class="col-md-6 col-lg-4">
        <h4>
            {{ name|title }} contests
            {% if data.url %}<a href="{{ data.url }}"><i class="fas fa-list"></i></a>{% endif %}
        </h4>
        <div class="panel panel-default table-responsive">
            <table class="contests table table-hover table-condensed table-striped">
                <tr>
                    <th>
                    {% with values=data.field|title|split:"_" %}
                    {% for v in values %}{{ v }}<br/>{% endfor %}
                    {% endwith %}
                    </th>
                    <th class="title">Contest</th>
                </tr>
                {% include 'resource_contests.html' with contests=contests contest_key=name %}
            </table>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}
