<form class="form-inline" method="get" action="">
  <div id="resources-rating-filters" class="form-group">
    {% include 'country_filter.html' with has_country=True %}
    {% include 'resource_filter.html' %}
    {% include 'list_filter.html' %}

    {% include 'range_filter.html' with name='last_activity' icon_title="Last activity days ago" value_key=None from=last_activity.from to=last_activity.to %}
    {% include 'range_filter_apply.html' %}

    <div class="input-group input-group-sm">
      <a id="versus-fixed" class="btn btn-default btn-sm" href="" disabled>{% icon_to 'versus' %}</a>
    </div>

    {% include "admin_filters.html" %}
  </div>
</form>
