{% load el_pagination_tags %}
{% load humanize %}

{% coder_account_filter last_rating_activities primary_account row_number_field="last_rating_activity" operator="__gt" as coder_last_rating_activity %}
{% lazy_paginate first_per_page,per_page last_rating_activities using "last_rating_activity_page" %}
{% get_pages %}
{% for account in last_rating_activities|chain:coder_last_rating_activity %}
  <tr
    {% if account.id in coder_accounts_ids %} class="info"{% endif %}
    {% include "delete_on_duplicate_attrs.html" with name="last_rating_activity" entry=account primary=primary_account %}
  >
    <td>
      {% if account.delete_on_duplicate %}{{ account.row_number }}{% else %}{{ forloop.counter0|add:pages.current_start_index }}{% endif %}
    </td>
    <td>
      {% include 'account_table_cell.html' with account=account resource=resource %}
    </td>
    <td>
      {{ account.last_rating_activity|timezone:timezone|naturalday }}
    </td>
  </tr>
{% endfor %}
{% show_more_table %}
<script>delete_on_duplicate()</script>
