{% load el_pagination_tags %}
{% load humanize %}

{% with name=request.GET.querystring_key|split:"_"|get_item:0|default:contest_key %}
{% with data=contests|get_item:name %}
{% with contests=data.contests %}
{% with name_page=name|add:"_page" %}

{% lazy_paginate first_per_page,per_page contests using name_page %}
{% get_pages %}
{% for contest in contests %}
  <tr>
    <td>
      {% if data.field == 'time_left' %}
        {{ contest.next_time|countdown }}
      {% else %}
        {{ contest|get_item:data.field|timezone:timezone|naturalday }}
      {% endif %}
    </td>
    <td class="title">
      {% if contest.invisible %}<i class="far fa-eye-slash"></i>{% endif %}
      <a href="{{ contest.actual_url }}"{% if contest.is_over and not contest.n_statistics %} class="text-muted"{% endif %}>
        {{ contest.title }}
      <a>
    </td>
  </tr>
{% endfor %}

{% show_more_table %}

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
