{% load el_pagination_tags %}

{% with resource=resource|default:resources.0 %}
{% with accounts=resource.accounts primary_account=primary_accounts|get_item:resource.pk %}
{% coder_account_filter accounts primary_account row_number_field="rating" operator="__gt" as coder_account %}
{% with using_value="top_page"|add:"__"|add:resource.host %}
{% lazy_paginate 10,10 accounts using using_value %}
{% get_pages %}
{% for account in accounts|chain:coder_account %}
  {% with coders=account.coders.all %}
  <tr
    class="to-hover{% if account.id in coder_accounts_ids %} fixed{% endif %}"{% if coders %} data-coder="{{ coders.0.pk }}"{% else %} data-account="{{ account.pk }}"{% endif %}
    {% if account.delete_on_duplicate or account == primary_account %}
    {% if not account.delete_on_duplicate %}data-delete-on-duplicate-stop="true"{% endif %}
    data-delete-on-duplicate="top-{{ account.pk}}"
    {% endif %}
  >
    <td>
      {% if account.delete_on_duplicate %}
      {{ account.row_number }}
      {% else %}
      {{ forloop.counter0|add:pages.current_start_index }}
      {% endif %}
    </td>
    <td>
      {% include 'account_table_cell.html' with resource=resource trim_length=20 %}
    </td>
    <td>
      {{ account.rating }}
    </td>
  </tr>
  {% endwith %}
{% endfor %}
{% show_more_table %}
{% endwith %}
{% endwith %}
{% endwith %}
<script>delete_on_duplicate()</script>
<script>resources_top_setup_hover()</script>
