
{% lazy_paginate first_per_page,per_page problems using "problems_page" %}
{% get_pages %}
{% for problem in problems %}
  <tr>
    <td>
      {{ problem.time|timezone:timezone|naturalday }}
    </td>
    {% if resource.has_problem_rating %}<td>
      {% if problem.rating is not None %}
        {% coder_color_circle resource problem.rating %}
        <span class="{% coder_color_class resource problem.rating %}">{{ problem.rating }}</span>
      {% else %}
        <span class="text-muted">&mdash;</span>
      {% endif %}
    </td>{% endif %}
    <td class="title">
      {% if problem.url %}<a href="{{ problem.url }}">{% endif %}
      {{ problem.name }}
      {% if problem.url %}</a>{% endif %}
    </td>
  </tr>
{% endfor %}
{% show_more_table %}
