{% coder_account_filter accounts primary_account row_number_field=field operator="__gt" as coder_accounts %}
{% define name|add:"_page" as name_page %}
{% lazy_paginate first_per_page,per_page accounts using name_page %}
{% get_pages %}
{% for account in accounts|chain:coder_accounts %}
  <tr
    {% if account.id in coder_accounts_ids %} class="info"{% endif %}
    {% include "delete_on_duplicate_attrs.html" with name=name entry=account primary=primary_account %}
  >
    <td>
      {% if account.delete_on_duplicate %}{{ account.row_number }}{% else %}{{ forloop.counter0|add:pages.current_start_index }}{% endif %}
    </td>
    <td>
      {% include 'account_table_cell.html' with account=account resource=resource %}
    </td>
    {% for field in field|split:"," %}
    <td>
      {% with value=account|get_item:field %}
      {% if with_statistics_filter_url and value %}<a href="{{ account.url|url_with_params_separator }}search={{ statistics_filter_field|split:","|get_item:forloop.counter0 }}:{{ statistics_filter_values|split:","|get_item:forloop.counter0 }}">{% endif %}
      {% include "field_value.html" with value=value scorefixedformat=2 %}
      {% if with_statistics_filter_url and value %}</a>{% endif %}
      {% endwith %}
    </td>
    {% endfor %}
  </tr>
{% endfor %}
{% show_more_table %}
<script>delete_on_duplicate()</script>
