{% load el_pagination_tags %}

{% lazy_paginate first_per_page,per_page countries using "country_page" %}
{% get_pages %}
{% for country in countries %}
  {% with name=country.country|get_country_name %}
  {% with code=country.country|get_country_code %}
  <tr{% if code == coder.country %} class="info"{% endif %}>
    <td>
      {{ forloop.counter0|add:pages.current_start_index }}
    </td>
    <td>
      <a href="{% url_transform request country=code %}"><div class="flag flag-{{ code|lower }}"></div> {{ name }}</a>
    </td>
    <td>
      {{ country.count }}
    </td>
  </tr>
  {% endwith %}
  {% endwith %}
{% endfor %}

{% show_more_table %}
