{% extends "base.html" %}
{% load humanize %}

{% block ogtitle %}{% block title %}Resources{% endblock %}{% endblock %}
{% block description %}Explore our list of resources that host competitive programming contests. Discover a wide range of platforms where you can hone your skills and challenge yourself.{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/resources.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/resources.js' %}"></script>
{% endblock %}

{% block content %}
<div id="resources" class="panel panel-default table-responsive col-md-12 col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
  <table class="table table-condensed table-float-head table-striped">
    <tr>
      <th>
        Resource
        <a href="{% url 'clist:resources_top' %}">{% icon_to 'top' %}</a>
      </th>
      <th>Url</th>
      <th>Google<br/>calendar</th>
      <th>Auto<br/>update</th>
      <th>Rating</th>
      <th>Problem<br/>rating</th>
      <th>Upsolve</th>
      <th>Account<br/>verification</th>
      <th>Contests<br/>number</th>
      <th>Accounts<br/>number</th>
      {% for field in params.more_fields %}
      <th>{% with title_field=field|title_field %}{% for f in title_field.split %}{% if forloop.counter0 %}<br/>{% endif %}{{ f }}{% endfor %}{% endwith %}</th>
      {% endfor %}
    </tr>
    {% for resource in resources %}
    <tr>
      <td class="resource">
        <a class="lead" href="{% url 'clist:resource' resource.host %}">
          <img src="{{ resource.icon|media_size:'64x64' }}" width="24" height="24"/>
          {{ resource.host }}
        </a>
        {% if perms.clist.change_resource %}
          <a href="{% url 'admin:clist_resource_change' resource.id %}" class="database-link invisible" target="_blank" rel="noopener"><i class="fas fa-database"></i></a>
        {% endif %}
      </td>
      <td>
        <a href="{{ resource.href }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i></a>
      </td>
      <td>
        {% if resource.uid %}
          <a class="btn btn-default btn-xs" href="https://calendar.google.com/calendar/embed?src={{ resource.uid }}" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-external-link-alt"></i>
          </a>
          <a class="btn btn-default btn-xs copy-to-clipboard" data-text="https://calendar.google.com/calendar/ical/{{ resource.uid }}/public/basic.ics"><i class="far fa-copy"></i></a>
        {% else %}
          <i class="fas fa-times"></i>
        {% endif %}
      </td>

      <td>
        <span class="badge progress-bar-{% if resource.enable %}success{% else %}info{% endif %}" data-column="auto-update">
          {% if resource.enable %}
            <i class="fas fa-check"></i>
          {% else %}
            <i class="fas fa-times"></i>
          {% endif %}
        </span>
      </td>

      <td>
        <span class="badge progress-bar-{% if resource.has_rating_history %}success{% else %}info{% endif %}" data-column="rating">
          {% if resource.has_rating_history %}
            <i class="fas fa-check"></i>
          {% else %}
            <i class="fas fa-times"></i>
          {% endif %}
        </span>
      </td>

      <td>
        <span class="badge progress-bar-{% if resource.has_problem_rating %}success{% else %}info{% endif %}" data-column="problem-rating">
          {% if resource.has_problem_rating %}
            <i class="fas fa-check"></i>
          {% else %}
            <i class="fas fa-times"></i>
          {% endif %}
        </span>
      </td>

      <td>
        <span class="badge progress-bar-{% if resource.has_upsolving %}success{% else %}info{% endif %}" data-column="upsolve">
          {% if resource.has_upsolving %}
            <i class="fas fa-check"></i>
          {% else %}
            <i class="fas fa-times"></i>
          {% endif %}
        </span>
        {% if resource.info.problems.upsolving.help_message %}
        <span class="help-message" data-toggle="tooltip" data-placement="top" title="{{ resource.info.problems.upsolving.help_message }}">
          <i class="fas fa-exclamation-circle"></i>
        </span>
        {% endif %}
      </td>

      <td>
        <span class="badge progress-bar-{% if resource.has_account_verification %}success{% else %}info{% endif %}" data-column="verification">
          {% if resource.has_account_verification %}
            <i class="fas fa-check"></i>
          {% else %}
            <i class="fas fa-times"></i>
          {% endif %}
        </span>
      </td>

      <td>
        <span class="badge progress-bar-{% if resource.module %}success{% else %}info{% endif %}" data-column="statistics-update">
          {{ resource.n_contests|intcomma }}
        </span>
      </td>

      <td>
        {% if resource.module %}
        <span class="badge progress-bar-{% if resource.has_accounts_infos_update %}success{% else %}info{% endif %}" data-column="accounts-update">
          {{ resource.n_accounts|intcomma }}
        </span>
        {% else %}
        &#183;
        {% endif %}
      </td>

      {% for field in params.more_fields %}
      <td>
        {% with value=resource|get_item:field %}
        {% if value is None %}&#183;{% else %}{{ value }}{% endif %}
        {% endwith %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}

    {% if not resources %}
    <tr>
      <td class="alert alert-info text-center" colspan="100%">List of resources is empty</td>
    </tr>
    {% endif %}
  </table>
</div>

{% endblock %}
