<form class="form-inline inline" method="get" action="">
    <div id="resource-filters" class="form-group">
        {% include 'country_filter.html' %}

        {% include "field_to_select.html" with field="period" data=period_select|simple_select_data %}

        {% include 'coder_kind_filter.html' %}

        {% if rating.chart %}
        {% include 'range_filter.html' with name='rating' value_key=resource.host from=rating.min to=rating.max %}
        {% endif %}

        {% include 'range_filter.html' with name='n_participations' value_key=resource.host from=0 to=resource.n_contests %}

        {% include 'range_filter_apply.html' %}

        {% include "list_filter.html" %}
    </div>
</form>

{% if perms.clist.change_resource %}
<form class="form-inline inline" method="post" action="">
{% csrf_token %}
<input type="hidden" name="action" value="set_verification_fields">
{% include "field_to_select.html" with field="verification_fields" data=verification_fields_select|simple_select_data %}
</form>
{% endif %}
