{% extends "base.html" %}
{% load jsonify %}
{% load crispy_forms_tags %}

{% block ogtitle %}{% block title %}Settings{% endblock %}{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/bootstrap-editable.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/bootstrap-editable.min.js' %}"></script>

<link href="{% static_ts 'css/settings.css' %}" rel="stylesheet">

<script>
    $.fn.editable.defaults.pk = {{ coder.id }}
    emails = [ {{ tokens.values|get_emails }} ]

    USERNAME = "{{ coder.username }}"

    RESOURCES = [ {% for r in resources %}{% if forloop.counter0 %}, {% endif %}{'id': '{{ r.id }}', 'text': '{{ r.host }}'}{% endfor %} ]
    CATEGORIES = [ {% for c in categories %}{% if forloop.counter0 %}, {% endif %}{'id': '{{ c.id }}', 'text': '{{ c.text }}'}{% endfor %} ]
    EVENT_DESCRIPTIONS = [ {% for id, text in event_description.choices %}{% if forloop.counter0 %}, {% endif %}{'id': '{{ id }}', 'text': '{{ text }}'}{% endfor %} ]

    ACCOUNTS_RESOURCES = [ {% for m in modules %}{% if forloop.counter0 %}, {% endif %}{'id': '{{ m.resource.id }}', 'text': '{{ m.resource.host }}'}{% endfor %} ]
    ACCOUNTS = [ {% for a in coder.account_set_order_by_pk %}{% if forloop.counter0 %}, {% endif %}{{ a.dict|jsonify }}{% endfor %} ]

    {% get_countries as countries %}
    COUNTRIES = { {% for c in countries %}{% if forloop.counter0 %}, {% endif %} '{{ c.code }}': '{{ c.name }}' {% endfor %} }

    ACE_CALENDARS = { {% for k, v in ace_calendars.items %}{% if forloop.counter0 %}, {% endif %}'{{ k }}': '{{ v.name }}'{% endfor %} }

    PAST_CALENDAR_ACTIONS = {{ past_calendar_actions|jsonify }}

    PREFERENCES_URL = "{% url 'coder:settings' 'preferences' %}"
    LISTS_URL = "{% url 'coder:settings' 'lists' %}"
    FILTERS_URL = "{% url 'coder:settings' 'filters' %}"
    CALENDARS_URL = "{% url 'coder:settings' 'calendars' %}"
    SUBSCRIPTIONS_URL = "{% url 'coder:settings' 'subscriptions' %}"
    RESOURCES_URL = "{% url 'clist:resources' %}"

    SUBSCRIPTIONS_METHODS = [ {% for k, v in notifications %}{% if forloop.counter0 %}, {% endif %}{'id': '{{ k }}', 'text': '{{ v }}'}{% endfor %} ]
    SHARE_TO_CATEGORY = { 'disable': 'Disable' {% for k, v in notifications %}, '{{ k }}': '{{ v }}'{% endfor %} }

    SELECTED_RESOURCE = {% if selected_resource %}[{'id': {{ selected_resource.pk }}, 'text': '{{ selected_resource.host }}'}]{% else %}[]{% endif %}

    ACCOUNTS_ADVANCED_SEARCH_URL = "{% url 'coder:accounts' %}?add_account=on"

    ACCESS_LEVELS = [ {% for access_level in access_levels %}{% if forloop.counter0 %}, {% endif %}{'id': '{{ access_level.value }}', 'text': '{{ access_level.label }}'}{% endfor %} ]

    WEEK_DAYS = [{'id': '2', 'text': 'Mon'}, {'id': '3', 'text': 'Tue'}, {'id': '4', 'text': 'Wed'}, {'id': '5', 'text': 'Thu'}, {'id': '6', 'text': 'Fri'}, {'id': '7', 'text': 'Sat'}, {'id': '1', 'text': 'Sun'}]
</script>

<script src="{% static_ts 'js/settings.js' %}"></script>

<link href="{% static_ts 'css/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        <li{% if tab == 'preferences' or not tab %} class="active"{% endif %}><a href="#preferences-tab" data-toggle="tab">Preferences</a></li>
        <li{% if tab == 'social' %} class="active"{% endif %}><a href="#social-tab" data-toggle="tab">Social</a></li>
        <li{% if tab == 'accounts' %} class="active"{% endif %}><a href="#accounts-tab" data-toggle="tab">Accounts</a></li>
        <li{% if tab == 'filters' %} class="active"{% endif %}><a href="#filters-tab" data-toggle="tab">Filters</a></li>
        <li{% if tab == 'lists' %} class="active"{% endif %}><a href="#lists-tab" data-toggle="tab">Lists</a></li>
        <li{% if tab == 'notifications' %} class="active"{% endif %}><a href="#notifications-tab" data-toggle="tab">Notifications</a></li>
        <li{% if tab == 'calendars' %} class="active"{% endif %}><a href="#calendars-tab" data-toggle="tab">Calendars</a></li>
        <li{% if tab == 'subscriptions' %} class="active"{% endif %}><a href="#subscriptions-tab" data-toggle="tab">Subscriptions</a></li>
    </ul>

    <div class="tab-content">
        <div id="preferences-tab" class="tab-pane{% if tab == 'preferences' or not tab %} active{% endif %}">
            <div class="key">Theme</div>
            <div class="value"><a href="#" id="theme" data-value="{{ coder.settings.theme|default:"default" }}"></a></div>

            <div class="key">Timezone
                <i rel="tooltip" title="Using url query ?timezone=... for one-time use."></i>
            </div>
            <div class="value"><a href="#" id="timezone" data-value="{{ coder.timezone }}"></a></div>

            <div class="key">Check timezone
                <i rel="tooltip" title="Check user timezone and display warning in case of differences."></i>
            </div>
            <div class="value"><input type="checkbox" id="check-timezone" data-value="{{ coder.settings.check_timezone }}"/></div>

            <div class="key">Time format
                <i rel="tooltip" title="Format start time. Default: '%d.%m %a %H:%M'. Using url query ?time_format=... for one-time use."></i>
            </div>
            <div class="value"><a href="#" id="time-format" data-value="{{ coder.settings.time_format }}"></a></div>

            <div class="key">Default import to calendar</div>
            <div class="value"><a href="#" id="add-to-calendar" data-value="{{ coder.settings.add_to_calendar }}"></a></div>

            <div class="key">Default share to category</div>
            <div class="value"><a href="#" id="share-to-category" data-value="{{ coder.settings.share_to_category }}"></a></div>

            <div class="key">View mode
                <i rel="tooltip" title="Using url query ?view=... for one-time use."></i>
            </div>
            <div class="value"><input type="checkbox" id="view-mode" data-on="List" data-off="Calendar" data-onstyle="info" data-offstyle="info" data-value="{% if coder.settings.view_mode == "list" %}1{% else %}0{% endif %}"/></div>

            <div class="key">Filter long contest in calendar
                <i rel="tooltip" title="Hide contests with long duration and add button to view them."></i>
            </div>
            <div class="value"><input type="checkbox" id="calendar-filter-long" data-value="{{ coder.settings.calendar_filter_long}}"/></div>

            <div class="key">Past events action in calendar</div>
            <div class="value"><a href="#" id="past-action-in-calendar" data-value="{{ coder.settings.past_action_in_calendar }}"></a></div>

            <div class="key">Day event limit in calendar</div>
            <div class="value"><a href="#" id="event-limit-calendar" data-value="{{ coder.settings.event_limit_calendar }}"></a></div>

            <div class="key">Group in list mode view
                <i rel="tooltip" title="Group contests by resource. Use GET query group=yes or group=no for once."></i>
            </div>
            <div class="value"><input type="checkbox" id="group-in-list" data-value="{{ coder.settings.group_in_list }}"/></div>

            <div class="key">Open events in new tab
                <i rel="tooltip" title="Use GET query open_new_tab=1 for once."></i>
            </div>
            <div class="value"><input type="checkbox" id="open-new-tab" data-value="{{ coder.settings.open_new_tab }}"/></div>

            <div class="key">All standings
                <i rel="tooltip" title="View all contests in standings page."></i>
            </div>
            <div class="value"><input type="checkbox" id="all-standings" data-value="{{ coder.settings.all_standings }}"/></div>

            <div class="key">Hide contest
                <i rel="tooltip" title="Add button hide separate contest and to create contest filter. After end of contest filter will be removed. Use hide_contest=1 in GET query for once."></i>
            </div>
            <div class="value"><input type="checkbox" id="hide-contest" data-value="{{ coder.settings.hide_contest }}"/></div>

            <div class="key">Favorite contests
                <i rel="tooltip" title="Add button to favorite contests. Use favorite_contests=1 in GET query for once."></i>
            </div>
            <div class="value"><input type="checkbox" id="favorite-contests" data-value="{{ favorite_contests }}"/></div>

            <div class="key">Favorite problems
                <i rel="tooltip" title="Add button to favorite problems. Use favorite_problems=1 in GET query for once."></i>
            </div>
            <div class="value"><input type="checkbox" id="favorite-problems" data-value="{{ favorite_problems }}"/></div>

            <hr>

            <div class="key">Danger zone</div>
            <div class="value">
                <a class="btn btn-danger btn-sm" id="delete-user">Delete user?</a>
            </div>
        </div>
        <div id="filters-tab" class="tab-pane{% if tab == 'filters' %} active{% endif %}">
            <div class="key">
                <a href="#" id="add-filter" class="btn btn-primary">Create</a>
                <i rel="tooltip" title="Filters of events that you want to show or hide."></i>
                <span>
                    Resulting filter looks like <code class="alert-success">not (hide<sub>1</sub> or hide<sub>2</sub> or ... hide<sub>n</sub>) and (show<sub>1</sub> or show<sub>2</sub> or ... or show<sub>m</sub>)</code>
                </span>
                <div id="add-filter-error" class="label label-danger hidden"></div>
            </div>

            <div id="filters" class="value">
                {% for f in coder.grouped_filter_set.all %}
                {% ifchanged f.has_contest %}{% if forloop.counter0 %}<hr/>{%endif %}{% endifchanged %}
                {% ifchanged f.categories %}
                <div class="key">
                    {% for cid in f.categories %}
                        {% if forloop.counter0 %}|{% endif %}
                        {% for c in categories %}
                            {% if c.id == cid %}
                                {{ c.text }}
                                <a href="{% url "clist:main" %}?filter={{ c.id }}" class="btn btn-default btn-xs"><i class="fas fa-external-link-alt"></i></a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                {% endifchanged %}
                <div>
                    <a href="#" data-name="filter" data-value='{{ f.dict|jsonify|force_escape }}' class="filter{% if not f.enabled %} text-muted{% endif %}"></a>
                    <a href="#" data-id="{{ f.id }}" data-action="disable-filter" data-confirm="false" data-success="$this.addClass('hidden-filter'); $div.find('[data-action=enable-filter]').removeClass('hidden-filter'); $div.find('[data-name=filter]').addClass('text-muted')" class="action-filter btn btn-default btn-xs{% if not f.enabled %} hidden-filter{% endif %}">{% icon_to 'on' 'Off' %}</a>
                    <a href="#" data-id="{{ f.id }}" data-action="enable-filter" data-confirm="false" data-success="$this.addClass('hidden-filter'); $div.find('[data-action=disable-filter]').removeClass('hidden-filter'); $div.find('[data-name=filter]').removeClass('text-muted')" class="action-filter btn btn-default btn-xs{% if f.enabled %} hidden-filter{% endif %}">{% icon_to 'off' 'On' %}</a>
                    <a href="#" data-id="{{ f.id }}" data-action="show-filter" data-url="{% url "coder:search" %}" data-name="query" data-type="GET" data-confirm="false" data-success="toggle_show_filter($this, data)" data-page="1" class="action-filter btn btn-default btn-xs">{% icon_to 'show' %}</a>
                    <a href="#" data-id="{{ f.id }}" data-action="delete-filter" data-success="$div.remove();" class="action-filter btn btn-default btn-xs">{% icon_to 'delete' %}</a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="lists-tab" class="tab-pane{% if tab == 'lists' %} active{% endif %}">
            <div class="key">
                <a href="#" id="add-list" data-name="add-list" class="btn btn-primary">Create</a>
                {% if perms.true_coders.view_coderlist %}
                  <a href="{% url 'admin:true_coders_coderlist_changelist' %}" class="database-link invisible btn btn-default btn-xs" target="_blank" rel="noopener"><i class="fas fa-database"></i></a>
                {% endif %}
            </div>
            <div id="lists" class="value">
                {% for my_list in my_lists %}
                <div class="list">
                    <span class="label label-info">{{ my_list.name }}</span>
                    {% icon_to my_list.access_level %}</span>
                    with <span class="label label-info">{{ my_list.n_records }}</span> record(s)
                    {% if my_list.access_level == 'restricted' %} and <span class="label label-info">{{ my_list.shared_with|length }}</span> shared with coder(s){% endif %}
                    <a href="{% url 'coder:list' my_list.uuid %}" class="btn btn-primary btn-sm" target="_blank" rel="noopener"><i class="fas fa-external-link-alt"></i></a>
                    <button href="#" data-name="edit-list" data-id="{{ my_list.id }}" data-value="{{ my_list.name|escape }}" data-access-level="{{ my_list.access_level }}" data-shared-with="{{ my_list.shared_with|to_escaped_json }}" class="edit-list btn btn-primary btn-sm"><i class="fas fa-pen"></i></button>
                    <button href="#" data-id="{{ my_list.id }}" data-action="delete-list" data-success="$div.remove();" class="action-list btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="notifications-tab" class="tab-pane{% if tab == 'notifications' %} active{% endif %}">
            <div>
                {% if not notification_form.errors %}
                <div>
                <a id="add-notification" class="btn btn-primary" onclick="$(this).remove(); $('#notification-form').show(300)">Create</a>
                {% if perms.notification.view_notification %}
                  <a href="{% url 'admin:notification_notification_changelist' %}" class="database-link invisible btn btn-default btn-xs" target="_blank" rel="noopener"><i class="fas fa-database"></i></a>
                {% endif %}
                </div>
                {% endif %}
                <div id="notification-form"{% if not notification_form.errors %} class="collapse"{% endif %}>
                    {% crispy notification_form %}
                </div>
            </div>
            <div id="notifications" class="value">
                {% for n in coder_notifications %}
                <div class="notification">
                    <span class="label label-info" data-value="method" data-val="{{ n.method }}"{% if n.method in custom_categories %} title="{{ n.method }}"{% endif %} data-toggle="tooltip">
                        {% if n.method in custom_categories %}{{ custom_categories|get_item:n.method }}{% else %}{{ n.method }}{% endif %}</span>
                    before <span class="label label-info" data-value="before">{{ n.before }}</span> minute(s)
                    once a <span class="label label-info" data-value="period">{{ n.get_period_display|lower }}</span>
                    {% if n.with_updates or n.with_results or n.with_virtual or n.clear_on_delete %}
                    with
                    {% if n.with_updates %}<span class="label label-info" data-value="updates">updates</span>{% endif %}
                    {% if n.with_results %}<span class="label label-info" data-value="results">results</span>{% endif %}
                    {% if n.with_virtual %}<span class="label label-info" data-value="virtual">virtual</span>{% endif %}
                    {% if n.clear_on_delete %}<span class="label label-info" data-value="clear">clear</span>{% endif %}
                    {% endif %}
                    <span class="checkin">
                    {% if n.last_time %}check in <a class="label label-success" href="{{ n.last_time|get_timeanddate_href }}">{{ n.last_time|timezone:coder.timezone|format_time:"%d.%m %a %H:%M" }}</a>{% else %}<span class="label label-default">nothing</span>{% endif %}
                    </span>
                    <a href="#" data-id="{{ n.id }}" data-action="edit-notification" class="edit-notification btn btn-warning btn-sm"><i class="fas fa-pen"></i></a>
                    <a href="#" data-id="{{ n.id }}" data-action="delete-notification" data-success="$div.remove();" class="action-notification btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
                    <a href="#" data-id="{{ n.id }}" data-action="reset-notification" data-success="$div.find('.checkin').html('<span class=\'label label-warning\'>reload the page</span>')" class="action-notification btn btn-primary btn-sm"><i class="fas fa-sync-alt"></i></a>
                    {% if perms.notification.change_notification %}
                      <a href="{% url 'admin:notification_notification_change' n.id %}" class="database-link invisible" target="_blank" rel="noopener"><i class="fas fa-database"></i></a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="social-tab" class="tab-pane{% if tab == 'social' %} active{% endif %}">
            <div class="key">First name in English</div>
            <div class="value"><a href="#" id="first-name" data-value="{{ user.first_name }}"></a></div>
            <div class="key">Last name in English</div>
            <div class="value"><a href="#" id="last-name" data-value="{{ user.last_name }}"></a></div>
            <div class="key">First name in native language</div>
            <div class="value"><a href="#" id="first-name-native" data-value="{{ coder.first_name_native }}"></a></div>
            <div class="key">Last name in native language</div>
            <div class="value"><a href="#" id="last-name-native" data-value="{{ coder.last_name_native }}"></a></div>

            <div class="key">Email
                <i rel="tooltip" title="Selected from connected oauth accounts."></i>
            </div>
            <div class="value"><a href="#" id="email" data-value="{{ coder.user.email }}"></a></div>

            <div class="key">Country</div>
            <div class="value">
                <a href="#" id="country" data-value="{{ coder.country.code }}"></a>

                {% for name, values in custom_countries.items %}
                    {% with value=coder.settings.custom_countries|get_item:name %}
                        {% for val in values %}
                        <button class="btn btn-default custom-countries {% if coder.country.code != name %} hidden{% endif %}{% if value == val %} active{% endif %}" data-country="{{ name }}" data-value="{{ val }}"><div class="flag flag-{{ val|lower}}"></div></button>
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
                <i id="custom_countries_loading" class="fas fa-circle-notch fa-spin hidden"></i>
            </div>

            {% with chat=coder.chat %}
            <div class="key">Telegram</div>
            <div class="value">
                <div class="btn-block btn-group">
                    <a class="btn btn-default active service-icon-btn"><i class="fab fa-telegram-plane"></i></a>
                    <a {% if not chat %}href="{% url 'telegram:me' %}"{% endif %} class="btn btn-default{% if chat %} disabled{% endif %}">
                        <div class="text-left">{% if chat %}{{ chat.chat_id }}{% else %}connect{% endif %}</div>
                    </a>
                    {% if chat %}
                    <a href="{% url 'telegram:unlink' %}" class="btn btn-default"><i class="far fa-trash-alt"></i></a>
                    {% endif %}
                </div>
            </div>
            {% endwith %}

            <div class="key">OAuth</div>
            <div class="value">
                <div class="btn-block btn-group">
                    <a class="btn btn-default active service-icon-btn"><i class="fas fa-exchange-alt"></i></a>
                    <a class="btn btn-default" href="{% url "oauth2_provider:authorized-token-list" %}">OAuth Tokens</a>
                </div>
            {% for service in services %}
            {% with token=tokens|get_item:service.pk %}
                <div class="btn-block btn-group">
                    <a class="btn btn-default active service-icon-btn">{% icon_to service.name default=service.title %}</a>
                    <a {% if not token %}href="{% url 'auth:query' service.name %}?next={% url 'coder:settings' %}social/"{% endif %} class="btn btn-default{% if token %} disabled{% endif %}">
                        <div class="text-left">{% if token %}{{ token.user_id }}{% if token.email %} ({{ token.email }}){% endif %}{% else %}connect{% endif %}</div>
                    </a>
                    {% if token and tokens|length > 1 %}
                    <a href="{% url 'auth:unlink' service.name %}" class="btn btn-default"><i class="far fa-trash-alt"></i></a>
                    {% endif %}
                </div>
            {% endwith %}
            {% endfor %}
            </div>
        </div>
        <div id="accounts-tab" class="tab-pane{% if tab == 'accounts' %} active{% endif %}">
            <div class="alert alert-warning text-center">You can add your account after participating in a contest and after parsing statistics</div>
            <div class="key">Resource</div>
            <div class="value"><select class="form-control" id="add-account-resource"></select></div>
            <div class="key">Handle</div>
            <div class="value"><input type="text" class="form-control" id="add-account-search"{% if selected_account %} value="{{ selected_account.key }}"{% endif %}></div>
            <div class="text-left">
                <button class="btn btn-primary" id="add-account">Add</button>
                <a class="btn btn-default" id="add-account-advanced-search" target="_blank" rel="noopener">Advanced Search</a>
                <i id="add-account-loading" class="hidden fas fa-spinner fa-spin"></i>
            </div>
            <div id="error-account-tab" class="alert alert-danger"></div>
            <div id="list-accounts">
                {% for account in coder.account_set_order_by_pk reversed %}
                <div class="account">
                    <a class="delete-account btn btn-default btn-xs" data-id="{{ account.pk }}"><i class="far fa-trash-alt"></i></a>
                    {% include "account_table_cell.html" with account=account addition=None without_url_transform=True resource=account.resource with_resource=True %}
                    <a class="text-muted small" href="{% url 'clist:resource' account.resource.host %}">{{ account.resource.host }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="calendars-tab" class="tab-pane{% if tab == 'calendars' %} active{% endif %}">
            <div class="key">
                <a href="#" id="add-calendar" data-name="add-calendar" class="btn btn-primary" data-descriptions="[{{ event_description.URL }}]">Create</a>
                {% if perms.notification.view_calendar %}
                  <a href="{% url 'admin:notification_calendar_changelist' %}" class="database-link invisible btn btn-default btn-xs" target="_blank" rel="noopener"><i class="fas fa-database"></i></a>
                {% endif %}
            </div>
            <div id="calendars" class="value">
                {% for calendar in calendars %}
                <div class="calendar">
                    <span class="label label-info">{{ calendar.name }}</span>
                    {% if calendar.category or calendar.resources %}
                        with
                        {% if calendar.category %}<span class="label label-info">{{ calendar.category }}</span> filter{% endif %}
                        {% if calendar.resources %}
                        {% if calendar.category %}and{% endif %}
                        <a data-toggle="collapse" href="#calendar-{{ calendar.pk}}-resources" onclick="$(this).remove()"><span class="label label-info">{{ calendar.resources|length }}</span></a>
                        <span class="collapse" id="calendar-{{ calendar.pk}}-resources">
                        {% for resource in resources %}
                            {% if resource.id in calendar.resources %}
                                <span class="label label-info">{{ resource.host }}</span>
                            {% endif %}
                        {% endfor %}
                        </span>
                        resource(s)
                        {% endif %}
                    {% endif %}
                    <a data-url="{{ host_url }}{% url 'notification:calendar' calendar.uuid %}" class="copy-calendar-url btn btn-primary btn-sm" target="_blank" rel="noopener"><i class="fas fa-link"></i></a>
                    <a href="{% url 'notification:calendar' calendar.uuid %}" class="btn btn-primary btn-sm" target="_blank" rel="noopener"><i class="fas fa-external-link-alt"></i></a>
                    <button href="#" data-name="edit-calendar" data-id="{{ calendar.id }}" data-value="{{ calendar.name }}" data-category="{{ calendar.category }}" data-resources="{{ calendar.resources|jsonify }}" data-descriptions="{{ calendar.descriptions|jsonify }}" class="edit-calendar btn btn-warning btn-sm"><i class="fas fa-pen"></i></button>
                    <button href="#" data-id="{{ calendar.id }}" data-action="delete-calendar" data-success="$div.remove();" class="action-calendar btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>
                    <a class="copy-url-help btn btn-success btn-sm hidden" disabled>URL copied</a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="subscriptions-tab" class="tab-pane{% if tab == 'subscriptions' %} active{% endif %}">
            <div class="key">
                <a href="#" id="add-subscription" data-name="add-subscription" class="btn btn-primary">Create</a>
                {% if perms.notification.view_subscription %}
                  <a href="{% url 'admin:notification_subscription_changelist' %}" class="database-link invisible btn btn-default btn-xs" target="_blank" rel="noopener"><i class="fas fa-database"></i></a>
                {% endif %}
            </div>
            <div id="subscriptions" class="value">
                {% for sub in subscriptions %}
                <div class="subscription">
                    <a href="{{ sub.contest.actual_url }}" class="label label-info">{{ sub.contest.title }}</a>
                    on <span class="account">{% include "account_table_cell.html" with account=sub.account resource=sub.account.resource without_country=True without_avatar=True without_circle=True %}</span>
                    with <span class="label label-info">{{ sub.method }}</span>
                    <button href="#" data-id="{{ sub.id }}" data-action="delete-subscription" data-success="$div.remove();" class="action-subscription btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
