<script>
  function copySolutionToClipboard(btn) {
    var code = $('pre code').text()
    var $temp = $('<textarea>')
    $('body').append($temp)
    $temp.val(code).select()
    document.execCommand('copy')
    $temp.remove()
    clear_tooltip()
    var $copied = $(btn).html('{% icon_to "copied" %}')
    toggle_tooltip_object($copied.find('[title]'))
  }

  function toggleFullscreenModal(btn) {
    $(btn).toggleClass('active')
    $(btn).closest('.modal').toggleClass('fullscreen')
    $(btn).find('i').toggleClass('fa-compress-arrows-alt').toggleClass('fa-expand-arrows-alt')
  }
</script>

<{% if is_modal %}div class="modal-header"{% else %}h4{% endif %}>
  {% if is_modal %}
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  {% else %}
  {% endif %}

  {% if stat.url %}
    <a href="{{ stat.url }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i></a>
  {% endif %}
  {% if not is_modal %}
    <a class="pull-right" onClick="copySolutionToClipboard(this)">{% icon_to 'copy' %}</a>
  {% endif %}

  <span class="solution-attr-name">author</span>:
  <a href="{{ account.url }}">{{ account.key }}</a>

  {% if problem %}
  <span class="solution-attr-name">problem name</span>:
    {% with problem_name=problem|get_problem_name %}
      {% if problem.url %}<a href="{{ problem.url }}">{{ problem_name }}</a>{% else %}{{ problem_name }}{% endif %}
    {% endwith %}
  {% endif %}

  <span class="solution-attr-name">contest</span>:
  <a href="{% url 'ranking:standings' contest.title|slug contest.pk %}">{{ contest.title }}</a>

  <span class="solution-attr-name">result</span>:
  <div class="inline {% if stat.result|slice:":1" == "+" or stat.result|asfloat:0 > 0 %} {% if stat.partial %}par{% else %}acc{% endif %} {% elif stat.result|slice:":1" == "?" %}hid{% else %}rej{% endif %}">{% if stat.result|slice:":1" == "+" or stat.result|slice:":1" == "?" %}{{ stat.result }}{% else %}{{ stat.result|scoreformat }}{% endif %}
  </div>

  {% for f in fields %}
    {% with v=stat|get_item:f %}
      {% if v is not None %}
        <span class="solution-attr-name">{{ f }}</span>: {{ v }}
      {% endif %}
    {% endwith %}
  {% endfor %}
</{% if is_modal %}div{% else %}h4{% endif %}>

<div{% if is_modal %} class="modal-body"{% endif %}>
  <pre style="padding: 0px"><code class="{% if stat.language %}{{ stat.language|highlight_class }}{% endif %}{% if stat.lang_class %} {{ stat.lang_class }}{% endif %}">{{ stat.solution }}</code></pre>
</div>

{% if is_modal %}
<div{% if is_modal %} class="modal-footer"{% endif %}>
  <button id="toggle-fullscreen-modal" type="button" class="btn btn-default btn-sm" onClick="toggleFullscreenModal(this)">{% icon_to 'fullscreen' %}</button>
  <a href="{{ request.path }}" target="_blank" rel="noopener" class="btn btn-default btn-sm">{% icon_to 'open_in_tab' %}</a>
  <button type="button" class="btn btn-default btn-sm" onClick="copySolutionToClipboard(this)">{% icon_to 'copy' %}</button>
  <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
</div>
{% endif %}

{% if not stat.solution and stat.url %}
<script>window.open('{{ stat.url }}', '_blank').focus()</script>
{% endif %}
