{% for problem in problems %}
  {% with key=problem|get_problem_short  %}
  {% with stat=addition.problems|get_item:key %}
  {% with with_first=params.division|pass_arg:problem|allow_first:stat %}
  <{{ tag }}
  class="problem-cell{% if stat %} problem-cell-stat{% if '_class' in stat %} {{ stat|get_item:"_class" }}{% elif with_first and stat.first_ac_of_all %} first-ac-of-all{% elif with_first and stat.first_ac %} first-ac{% elif stat.max_score %} max-score{% endif %}{% endif %}{% if hide_problems|contains:key and stat and not statistic.my_stat %} blurred-text{% endif %}{% if statistic.my_stat and with_solution and stat %} drop-zone{% endif %}"
    {% if stat %}
    data-score="{% if not problem.full_score or not stat.binary and not stat.result|slice:":1" == "+" %}{{ stat.result }}{% else %}{{ problem.full_score }}{% endif %}"
    data-result="{{ stat.result }}"
    {% if other_contests and contest_timeline %}
    {% with other_timeline=contests_timelines|get_item:statistic.contest_id %}
    data-penalty="{% if stat.time %}{% if other_timeline %}{{ other_timeline|time_in_seconds:stat.time|divide:contest_timeline.time_factor.1.0 }}{% else %}{{ stat.time }}{% endif %}{% endif %}"
    {% endwith %}
    {% else %}
    data-penalty="{% if relative_problem_time and stat.absolute_time %}{{ stat.absolute_time }}{% else %}{{ stat.time }}{% endif %}"
    {% endif %}
    data-penalty-in-seconds="{% if problem.time_in_seconds and contest.is_stage %}{{ problem.time_in_seconds }}{% else %}{{ stat.time_in_seconds }}{% endif %}"
    data-more-penalty="{{ stat.penalty }}"
    data-class="{% if '_class' in stat %}{{ stat|get_item:"_class" }}{% elif with_first and stat.first_ac_of_all %}first-ac-of-all{% elif with_first and stat.first_ac %}first-ac{% elif stat.max_score %}max-score{% endif %}"
    {% if statistic.virtual_start %}data-active-switcher="true"{% endif %}
    {% endif %}
    data-problem-key="{{ key }}"
    data-problem-full-score="{{ problem.full_score }}"
  >
    {% include "standings_problem_stat.html" with stat=stat my_stat=statistic.my_stat %}
  </{{ tag }}>
  {% endwith %}
  {% endwith %}
  {% endwith %}
{% endfor %}
