{% load el_pagination_tags %}
{% load preload_statistics %}

{% lazy_paginate per_page,per_page_more statistics using 'standings_paging' %}{% get_pages %}

{% with rev=my_statistics_rev|default:False %}

{% if not my_statistics or not rev %}
{% include "standings_paging_previous.html" %}
{% endif %}

{% preload_statistics statistics contest.resource as preload_statistics_data %}
{% with statistics_chained=statistics|pass_arg:my_statistics|chain_rev:rev %}
{% for statistic in statistics_chained %}

{% with tag="td" %}
{% with addition=statistic.addition_replacement|default:statistic.addition %}
{% if statistic.my_stat and statistic.floating and not rev %}{% include "standings_paging_next.html" %}{% endif %}
<tr
class="stat-cell {{ statistic.id }}{% if statistic.my_stat %} my-stat info starred{% endif %}{% if statistic.floating %} floating hidden{% endif %}{% if statistic.id == request.GET.find_me|toint %} find-me-row{% endif %}{% if versus_statistic_id == statistic.id %} success{% endif %}"
data-statistic-id="{{ statistic.id }}"
{% if colored_by_group_score %}data-result="{{ statistic.solving|scoreformat }}"{% endif %}
{% if addition.hack %}
  {% if addition.hack.successful %}data-successful-challenge="{{ addition.hack.successful }}"{% endif %}
  {% if addition.hack.unsuccessful %}data-unsuccessful-challenge="{{ addition.hack.unsuccessful }}"{% endif %}
{% endif %}
data-place="{{ statistic.place }}"
{% with more_solving=addition|get_item:'_more_solving' %}{% if more_solving %}data-additional-score="{{ more_solving }}"{% endif %}{% endwith %}
{% with more_penalty=addition|get_item:'_more_penalty' %}{% if more_penalty %}data-additional-penalty="{{ more_penalty }}"{% endif %}{% endwith %}
>
  {% with advance=addition|get_item:'_advance' %}
  <{{ tag }}
    class="place-cell sticky-column{% if advance and not addition.medal %} advance{% if advance.class %} {{ advance.class }}{% endif %}{% endif %}"
    data-sticky-column="place-cell"
    {% if advance %}
      data-placement="top"
      data-toggle="tooltip"
      title="{% if advance.next %}{% if advance.contest or not contest.next_time %}Advanced{% else %}Supposedly advance{% endif %} to {{ advance.next }}{% if advance.contest %} (in {{ advance.contest }}){% endif %}{% elif advance.medal %}{{ advance.medal }}{% endif %}"
    {% endif %}
  >
    {% with place=statistic.addition_replacement.place|default:statistic.place %}
      {% if place is not None %}{{ place }}{% else %}-{% endif %}
    {% endwith %}
    {% if with_row_num and not statistic.floating %}({{ forloop.counter0|add:pages.current_start_index }}){% endif %}
    {% if other_contests %}{{ contests_ids|get_item:statistic.contest_id }}{% endif %}
  </{{ tag }}>
  {% endwith %}
  {% if data_1st_u %}
  {% with info=participants_info|get_item:statistic.id %}
  <{{ tag }} class="first-u-cell sticky-column" data-sticky-column="first-u-cell">
    {% if info.search %}
      {% if data_1st_u.field %}
      <a href="{{ request.path }}?{% query_transform request data_1st_u.field statistic.addition|get_item:data_1st_u.field %}">
      {% else %}
      <a href="{{ request.path }}?{% query_transform request search=info.search %}">
      {% endif %}
      {% if info.n %}
      <div>{% if info.prefix %}{{ info.prefix }}{% endif %}{{ info.n }}{% if info.q %} ({{ info.q }}){% endif %}</div>
      {% else %}
        <div class="text-muted">—</div>
      {% endif %}
      {% if with_detail and info.t_solving is not None %}
      <small class="text-muted">
        {{ info.t_solving|scoreformat }}{% if info.t_penalty is not None %}<span class="text-{% if info.t_penalty >= 0 %}success{% else %}danger{% endif %}">{% if info.t_penalty >= 0 %}+{% endif %}{{ info.t_penalty }}{% endif %}</span>
      </small>
      {% endif %}
      </a>
    {% endif %}
  </{{ tag }}>
  {% endwith %}
  {% endif %}
  <{{ tag }} class="handle-cell sticky-column
    {% with info=participants_info|get_item:statistic.id %}
    {% if info and info.n and info.n <= standings_options.n_highlight or info and info.highlight %}bg-success{% endif %}
    {% endwith %}
  " data-sticky-column="handle-cell">
    <div class="handle-cell-flex">
      <span>
        {% include "standings_account.html" with account=statistic.account addition=addition resource=contest.resource %}
        {% for resource in params.resources %}
        <div class="small">
          {% with statistic.account.resource_coders|filter_by_resource:resource as accounts %}
            {% if accounts %}
              <img src="{{ resource.icon|media_size:'32x32' }}" width="16" height="16"/>
              {% for account in accounts %}
                {% if forloop.counter0 %}|{% endif %}
                <span class="{% coder_color_class resource account.info %}">
                {% include "account_table_cell.html" with account=account addition=None resource=resource without_avatar=True without_country=True with_fixed_width=False %}
                </span>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
        {% endfor %}
      </span>
      {% if addition.medal %}
      <span class="trophy{% if with_detail %} trophy-detail{% endif %} {{ addition.medal|lower }}-trophy"
        data-placement="top"
        data-toggle="tooltip"
        {% with medal_title_field=addition|get_item:"_medal_title_field" %}
        title="{% if medal_title_field %}{{ medal_title_field|strip:"_"|title }} {{ addition|get_item:medal_title_field }}{% else %}{{ addition.medal|title }}{% endif %}"
        {% endwith %}
      >{% include "trophy.html" with statistic=statistic %}</span>
      {% endif %}
    </div>
  </{{ tag }}>
  {% if versus_data %}
  {% with versus_data_row=versus_data.stats|get_item:statistic.account.key %}
  {% if versus_data_row %}
    {% with win=versus_data_row.win lose=versus_data_row.lose draw=versus_data_row.draw total=versus_data_row.total %}
    <{{ tag }} class="versus-cell">
      {% if versus_data_row.games %}
        <a class="versus-games" onclick="$('#versus-games-{{ statistic.pk }}').modal('show');">
      {% endif %}
      {{ total }}
      {% if versus_data_row.games %}
        </a>
        {% if not statistic.my_stat %}
          {% include "standings_versus_games.html" %}
        {% endif %}
      {% endif %}
    </{{ tag }}>
    <{{ tag }}>{% with p=win|multiply:2|add:draw q=total|multiply:2 %}{{ p|multiply:100|divide:q|floatformat:"1" }}%{% endwith %}</{{ tag }}>
    <{{ tag }}>
      <div class="problem-progress progress" title="
        {% if win %}Number of wins: {{ win }} ({{ win|multiply:100|divide:total|floatformat:"2" }}%)<br/>{% endif %}
        {% if draw %}Number of draws: {{ draw }} ({{ draw|multiply:100|divide:total|floatformat:"2" }}%)<br/>{% endif %}
        {% if lose %}Number of loses: {{ lose }} ({{ lose|multiply:100|divide:total|floatformat:"2" }}%)<br/>{% endif %}
        Total: {{ total }}
      " data-toggle="tooltip" data-html="true" data-placement="bottom">
        <div class="progress-bar progress-bar-success" style="width: {{ win|multiply:100|divide:total|floatformat:"3" }}%"></div>
        <div class="progress-bar progress-bar-warning" style="width: {{ draw|multiply:100|divide:total|floatformat:"3" }}%"></div>
        <div class="progress-bar progress-bar-danger" style="width: {{ lose|multiply:100|divide:total|floatformat:"3" }}%"></div>
      </div>
    </{{ tag }}>
    {% endwith %}
    {% for field in versus_data.fields %}
    {% with value=versus_data_row|get_item:field %}
    <{{ tag }}>{% include "field_value.html" %}</{{ tag }}>
    {% endwith %}
    {% endfor %}
  {% else %}
    <{{ tag }}></{{ tag }}>
    <{{ tag }}></{{ tag }}>
    <{{ tag }}></{{ tag }}>
    {% for field in versus_data.fields %}
    <{{ tag }}></{{ tag }}>
    {% endfor %}
  {% endif %}
  {% endwith %}
  {% endif %}
  <{{ tag }} class="score-cell sticky-column" data-sticky-column="score-cell">
    <div>{{ statistic.addition_replacement.solving|default:statistic.solving|scoreformat }}</div>
  </{{ tag }}>
  {% if mod_penalty %}
  <{{ tag }} class="gap-cell">
    <div>
    {% if addition.penalty is None or statistic.solving is None %}&#183;{% else %}
    {% calc_mod_penalty info=mod_penalty contest=contest solving=statistic.solving penalty=addition.penalty %}{% endif %}
    </div>
  </{{ tag }}>
  {% endif %}

  {% with advance_url=addition|get_item:"_advance_url" advance_medal=addition|get_item:"_advance_medal" advance_icon=addition|get_item:"_advance_icon" %}
  {% for field in fields.keys %}
  {% if field|get_rating_predicition_field %}
  {% define field|get_rating_predicition_field as field %}
  {% define statistic.rating_prediction|get_item:field as value %}
  {% else %}
  {% define addition|get_item:field as value %}
  {% endif %}
  <{{ tag }}{% if field in contest.resource.RATING_FIELDS %} class="rating-cell"{% else %} class="addition-{{ field }}-cell"{% endif %}>
    {% if field in contest.resource.RATING_FIELDS %}{% coder_color_circle contest.resource value %}{% endif %}
    <span
      {% if field in contest.resource.RATING_FIELDS or field == 'performance' %} class="{% coder_color_class contest.resource value %}"{% endif %}
      {% if field == 'advance' and advance_medal %} class="trophy {{ advance_medal|lower }}-trophy"{% endif %}
    >
      {% if field == 'advance' and advance_url %}<a href="{{ advance_url }}">{% endif %}
      {% if field == 'new_global_rating' and statistic.new_global_rating is not None %}
        {{ statistic.new_global_rating }}
      {% elif field == 'global_rating_change' and statistic.global_rating_change is not None %}
        <span class="rating-change{% if statistic.global_rating_change %} rating-change-{% if statistic.global_rating_change > 0 %}up{% else %}down{% endif %}{% endif %}">
          <i class="fas fa-angle-{% if statistic.global_rating_change > 0 %}up{% else %}down{% endif %}"></i>{{ statistic.global_rating_change|abs }}
        </span>
      {% else %}
        {% include "field_value.html" %}
      {% endif %}
      {% if field == 'advance' and advance_url %}</a>{% endif %}
    </span>
  </{{ tag }}>
  {% endfor %}
  {% endwith %}

  {% for problem in problems %}
    {% with key=problem|get_problem_short  %}
    {% with stat=addition.problems|get_item:key %}
    {% with with_first=params.division|pass_arg:problem|allow_first:stat %}
    <{{ tag }}
      class="problem-cell{% if stat %} problem-cell-stat{% if '_class' in stat %} {{ stat|get_item:"_class" }}{% elif with_first and stat.first_ac_of_all %} first-ac-of-all{% elif with_first and stat.first_ac %} first-ac{% elif stat.max_score %} max-score{% endif %}{% endif %}"
      {% if stat %}
      data-score="{% if not problem.full_score or not stat.binary and not stat.result|slice:":1" == "+" %}{{ stat.result }}{% else %}{{ problem.full_score }}{% endif %}"
      data-result="{{ stat.result }}"
      {% if other_contests and contest_timeline %}
      {% with other_timeline=contests_timelines|get_item:statistic.contest_id %}
      data-penalty="{% if stat.time %}{% if other_timeline %}{{ other_timeline|time_in_seconds:stat.time|divide:contest_timeline.time_factor.1.0 }}{% else %}{{ stat.time }}{% endif %}{% endif %}"
      {% endwith %}
      {% else %}
      data-penalty="{% if relative_problem_time and stat.absolute_time %}{{ stat.absolute_time }}{% else %}{{ stat.time }}{% endif %}"
      {% endif %}
      data-penalty-in-seconds="{{ stat.time_in_seconds }}"
      data-more-penalty="{{ stat.penalty }}"
      data-class="{% if '_class' in stat %}{{ stat|get_item:"_class" }}{% elif with_first and stat.first_ac_of_all %}first-ac-of-all{% elif with_first and stat.first_ac %}first-ac{% elif stat.max_score %}max-score{% endif %}"
      {% endif %}
      data-problem-key="{{ key }}"
      data-problem-full-score="{{ problem.full_score }}"
    >
      {% include "standings_problem_stat.html" with stat=stat %}
    </{{ tag }}>
    {% endwith %}
    {% endwith %}
    {% endwith %}
  {% endfor %}
</tr>
{% if statistic.my_stat and statistic.floating and rev %}{% include "standings_paging_previous.html" %}{% endif %}
{% endwith %}
{% endwith %}

{% if statistic.my_stat %}
<script>
  var selector = $('tr.my-stat.floating')
  if (!$('tr.my-stat:not(.floating)').length) {
{% if rev %}
    selector = selector.not(':first')
{% else %}
    selector = selector.not(':last')
{% endif %}
  }
  selector.remove()
  $('tr.my-stat.floating').removeClass('hidden')
</script>
{% endif %}

{% endfor %}
{% endwith %}

{% if not without_paginate %}

{% if not my_statistics or rev %}
{% include "standings_paging_next.html" %}
{% endif %}

{% if with_table_inner_scroll %}
<script>$(update_sticky)</script>
{% endif %}

{% if colored_by_group_score %}
<script>color_by_group_score()</script>
{% endif %}

<script>$(update_trophy_font_size)</script>
<script>$(apply_starring)</script>

{% endif %}

{% endwith %}
