{% extends "base.html" %}

{% block ogtitle %}{% block title %}{{ contest.title }} - Standings{% endblock %}{% endblock %}
{% block description %}View our comprehensive standings table for {{ contest.title }} from {{ contest.resource.host }} with additional statistics. Gain insights into the event's dynamics and participant performance.{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/standings.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/standings.js' %}"></script>

<link href="{% static_ts 'css/highlight-9.18.1-default.min.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/highlight.pack.js' %}"></script>

{% if groupby and groupby != 'none' %}
<script src="{% static_ts 'js/Chart.min.js' %}"></script>
<script src="{% static_ts 'js/addon-chart.js' %}"></script>
{% endif %}

<script src="{% static_ts 'js/countdown.js' %}"></script>
<script>
  contest_duration = {{ contest.duration_in_secs }}
  {% if with_virtual_start %}
  contest_start_timestamp = {{ virtual_start.start_time.timestamp }}
  contest_time_percentage = 0
  {% else %}
  contest_start_timestamp = {{ contest.standings_start_time.timestamp }}
  contest_time_percentage = {{ contest.time_percentage }}
  {% endif %}
  contest_timeline = {{ contest_timeline|default:"{}"|to_json }}
  freeze_duration = {{ freeze_duration|to_json }}
  contest_pk = {{ contest.pk }}
  shown_timeline = false
  standings_filtered = {{ with_row_num|lower }}
  with_detail = {{ with_detail|lower }}
  starred_cookie_path = window.location.pathname
  starred_cookie_expires = 365
  with_virtual_start = {{ with_virtual_start|asbool|lower }}
  virtual_start_pk = {{ virtual_start.pk|default:-1 }}
  update_contest_time_percentage_multiplier = {{ request.GET|get_item:"_multiplier"|asfloat|default:1 }}

  {% if contest.has_submissions %}
  submissions = {% contest_submissions_to_timeline_json contest.submissions %}
  {% else %}
  submissions = false
  {% endif %}

  unfreezing = false
</script>

{% endblock %}

{% block content %}

<script>
  $(function() {
{% if not contest.resource.info.standings.no_change_problem_width %}
    var problem_selector = 'tr.header-row th.problem-cell:not(.header-score):not(.problem-cell-stat), tr.header-problems th.problem-cell:not(.header-score):not(.problem-cell-stat)'
  {% if contest.resource.info.standings.avg_problem_width or contest.info.standings.avg_problem_width %}
    var target_width = 0
    var arr = $(problem_selector).map(function() { w = $(this).width(); target_width += w; return w })
    var target_width = target_width / arr.length
  {% else %}
    var target_width = Math.max(...$(problem_selector).map(function() { return $(this).width() }), 0)
  {% endif  %}
    if ($('th.problem-cell.header-score').length) {
      $('th.problem-cell.header-score').each(function () { $(this).css('max-width', $(this).attr('colspan') * target_width) })
    }
    $(problem_selector).each(function () { $(this).width(target_width); })
{% endif %}

    var table_inner_scroll = $('#table-inner-scroll')
    var default_height = table_inner_scroll.height()
    $(window).resize(function() {
      if (table_inner_scroll.length) {
          var val = $(window).height() - table_inner_scroll.offset().top - {% if fullscreen %}0{% else %}50{% endif %}
        if (val < default_height) {
          table_inner_scroll.height(val)
        } else {
          table_inner_scroll.height(default_height)
        }
      }
    })
    $(window).trigger('resize')

{% if not timeline %}
    scroll_to_find_me()
{% endif %}
  })
</script>

<div class="fullscreen-hidden">
  {% with neighbors=contest.neighbors %}
  <h3 id="standings-title" class="text-center">
    {% if not other_contests and with_neighbors %}
    {% for c in neighbors %}{% if c.end_time < contest.end_time %}{% include "standings_neighbors.html" with contest=c %}{% endif %}{% endfor %}
    {% endif %}

    <div>
      Standings
      <a class="standings-resource" href="{% url 'clist:resource' contest.resource.host %}" data-toggle="tooltip" data-placement="top" title="{{ contest.resource.host }}"><img src="{{ contest.resource.icon|media_size:'32x32' }}" width="24" height="24"/></a>
      <span id="standings-url"></span>
      <a href="{% if other_contests %}{% url 'ranking:standings_by_id' contest.pk %}{% else %}{{ contest.standings_url|default:contest.url }}{% endif %}">{{ contest.title }}</a>

      {% with shown_kind=contest.shown_kind %}{% if shown_kind %}{% label_tag shown_kind %}{% endif %}{% endwith %}

      {% if favorite_contests %}{% activity_action "fav" contest %}{% endif %}

      <span title="{{ contest.end_time|timezone:timezone|format_time:timeformat }}" data-toggle="tooltip">
        <small>{{ contest.end_time|timezone:timezone|naturalday:'F j, Y' }}</small>
      </span>

      {% for stage in contest.stages.all %}
        <a href="{% url 'ranking:standings' stage.contest.title|slug stage.contest.pk %}" class="badge progress-bar-info">{% icon_to "stage" stage.contest.title %}</a>
      {% endfor %}

      {% if contest.series_id %}
        <a href="{% url 'ranking:standings_list' %}?series={{ contest.series.slug }}" class="badge progress-bar-info">{% icon_to "series" contest.series.name %}</a>
      {% endif %}

      {% if contest.has_submissions %}
        <a onclick="open_submissions(this); return false" data-url="{% url 'submissions:submissions' contest.title|slug contest.pk %}" class="open-submissions badge progress-bar-info">{% icon_to "submissions" %}</a>
      {% endif %}

      {% if not other_contests %}

      <a href="?{% query_transform request "neighbors" with_neighbors|yesno:",on" with_replace=True %}" class="badge progress-bar-info"><span title="Show nearby" data-toggle="tooltip"><i class="fas fa-{% if with_neighbors %}compress{% else %}expand{% endif %}-alt"></i></span></a>

      {% if contest.n_problems is not None %}
      <a href="{% url 'clist:problems' %}?contest={{ contest.pk }}" class="badge progress-bar-info">{% icon_to 'problems' %}</a>
      {% endif %}

      {% call_method contest.merging_contests 'values_list' 'id' flat=True as merging_contests_ids %}
      {% if merging_contests_ids %}
      <a href="{% url 'ranking:standings_by_ids' merging_contests_ids|to_list|prepend:contest.id|join:"," %}" class="badge progress-bar-info">{% icon_to "merged_standings" %}</a>
      {% endif %}

      {% for external_url in contest.info.standings.external_urls %}
      <a href="{{ external_url.url }}" class="badge progress-bar-info" rel="external noopener" target="_blank">{% icon_to 'extra_url' external_url.name %}</a>
      {% endfor %}

      {% endif %}

      {% if user|has_update_statistics_permission:contest %}
      <a href="" id="update_statistics_btn" onclick="update_statistics(this); return false">
        {% icon_to 'update' default='Update statistics' %}
      </a>
      <a href="" id="show_update_statistics_log_btn" onclick="show_update_statistics_log(this); return false" class="hidden">
        {% icon_to 'log' default='Show log' %}
      </a>
      {% endif %}

      {% include "contest_inline_buttons.html" with contest=contest with_stage=True virtual_start=virtual_start %}
    </div>

    {% if contest.related is not None %}
    {% include "standings_neighbors.html" with contest=contest.related without_neighbors=True with_related=True %}
    {% endif %}
    {% for related in contest.related_set.all %}
      {% include "standings_neighbors.html" with contest=related without_neighbors=True with_related=True %}
    {% endfor %}

    {% if other_contests %}
    {% for c in other_contests %}{% include "standings_neighbors.html" with contest=c without_neighbors=True with_icon=True %}{% endfor %}
    {% elif with_neighbors %}
    {% for c in neighbors %}{% if not c.end_time < contest.end_time %}{% include "standings_neighbors.html" with contest=c %}{% endif %}{% endfor %}
    {% endif %}
  </h3>
  {% endwith %}

  {% with writers=contest.writers.all %}
  {% if writers %}
    <div id="standings-authors" class="text-center">
      <b>Writer{% if writers|length > 1 %}s{% endif %}</b>
      {% for writer in writers %}
        {% include "account_table_cell.html" with account=writer addition=None resource=contest.resource %}
      {% endfor %}
    </div>
  {% endif %}
  {% endwith %}

  <script>
    function update_neighbors_standings_url_offset() {
      $('.neighbors-standings-url').each(function(idx, el) {
        var before_width = $(el).children('.neighbors-standings-url-before').width() || 0
        $(el).offset({left: $('#standings-url').offset().left - before_width})
        $(el).width($('#standings-title').width() - $(el).offset().left)
      })
    }
    update_neighbors_standings_url_offset()
    $(window).resize(update_neighbors_standings_url_offset)
  </script>

  {% if contest.is_running or contest.is_coming %}
  <h4 class="text-center">
    {% if contest.is_running %}Time remaining: {% elif contest.is_coming %}Time before the start: {% endif %}
    <span class="timeleft countdown" data-countdown="{{ contest.next_time }}" title="{{ contest.next_time_datetime|timezone:timezone|format_time:timeformat }}" data-placement="top" data-toggle="tooltip">{{ contest.next_time|countdown }}</span>
    {% with opening=contest.info|get_item:"_opening" %}
    {% if opening %}
      {% for o in opening %}
      {% with otimedelta=o.date|timestamp_to_datetime|timezone:timezone|timedelta_with_now  %}
      {% with oseconds=otimedelta.total_seconds %}
      {% if oseconds > 0 %}
      | {{ o.title }}: <span class="timeleft countdown" data-countdown="{{ oseconds }}" title="{{ o.date|timestamp_to_datetime|timezone:timezone|format_time:timeformat }}" data-placement="top" data-toggle="tooltip">{{ oseconds|countdown }}</span>
      {% endif %}
      {% endwith %}
      {% endwith %}
      {% endfor %}
    {% endif %}
    {% endwith %}
  </h4>
  {% endif %}
</div>


<div>
  {% include "filter_collapse.html" with include_filter="standings_filters.html" %}

  {% if charts %}
    {% include "standings_charts.html" with charts=charts %}
  {% elif statistics.exists %}
    {% if not groupby or groupby == 'none' %}

    {% if contest.parsed_time %}
    <div id="parsed-time">
      <small class="text-muted pull-right">
        updated
        <span title="{{ contest.parsed_time|timezone:timezone|format_time:timeformat }}" data-placement="top" data-toggle="tooltip">{{ contest.parsed_time|timezone:timezone|naturaltime }}</span>
      </small>
    </div>
    {% endif %}

    {% if contest.resource.info.standings.style %}
    <style>
      {{ contest.resource.info.standings.style|safe }}
    </style>
    {% endif %}

    <div id="timeline" class="progress fullscreen-border">
      <span id="timeline-text"></span>
      <div id="timeline-progress-select" class="progress-bar progress-bar-success" style="width: 0%"></div>
      <div id="timeline-progress-hidden" class="progress-bar progress-bar-success-lighter" style="width: 0%"></div>
      <div id="timeline-progress-freeze" class="progress-bar progress-bar-freeze" style="width: 0%"></div>
      <div id="timeline-progress-freeze-hidden" class="progress-bar progress-bar-freeze-lighter" style="width: 0%"></div>
      <div id="timeline-progress-unparsed" class="progress-bar progress-bar-default-lighter" style="width: 0%"></div>
    </div>
    <div id="timeline-tooltip" class="badge"></div>

    <div{% if with_table_inner_scroll %} id="table-inner-scroll"{% endif %} class="panel panel-default fullscreen-border{% if not with_table_inner_scroll %} table-responsive{% endif %} {{ request.user_agent.browser.family|lower }}">
      <table class="standings table table-hover table-condensed{% if with_detail %}-detail{% else %}-non-detail{% endif %} table-striped{% if not with_table_inner_scroll %} table-float-head{% endif %}{% if timeline or with_virtual_start %} invisible{% endif %}{% if merge_problems %} table-merge-problems{% endif %}{% if with_virtual_start %} no-hints{% endif %}">
          <thead>
            <tr class="header-row">
              <th class="place-cell sticky-column" data-sticky-column="place-cell"{{ default_rowspan }}>
                {% with division=params|get_item:"division" %}
                <span{% if contest.n_statistics %} title="Total: {{ contest.info.problems.n_statistics|get_item:division|default:contest.n_statistics }}" data-toggle="tooltip" data-placement="top"{% endif %}>Rank</span>
                {% endwith %}
              </th>
              {% if data_1st_u %}
              <th class="first-u-cell sticky-column" data-sticky-column="first-u-cell"{{ default_rowspan }}><span{% if data_1st_u.title %} title="{{ data_1st_u.title }}" data-placement="bottom" data-toggle="tooltip"{% endif %}>{{ data_1st_u.header|default:"1st U" }}</span></th>
              {% endif %}
              <th class="handle-cell sticky-column" data-sticky-column="handle-cell"{{ default_rowspan }}>
                {% if has_country %}<div class="flag-width-fixed"></div>{% endif %}
                Handle
                {% if standings_options.help_message %}<span class="bg-success nobold help-message">{{ standings_options.help_message }}</span>{% endif %}
                {% if standings_options.members_message %}
                <div>
                  {% if has_country %}<div class="flag-width-fixed"></div>{% endif %}
                  <span class="small nobold members-message">{{ standings_options.members_message }}</span>
                </div>
                {% endif %}
                <span id="unstar" class="external-link invisible hidden">
                  <a id="unstar_unpin">{% icon_to 'unpin' false %}</a>
                  {% if contest.has_submissions %}
                  <a id="unstar_submissions" data-submissions-url="{% url 'submissions:submissions' contest.title|slug contest.pk %}">{% icon_to 'submissions' false %}</a>
                  {% endif %}
                </span>
              </th>
              {% if versus_data %}
              <th{{ default_rowspan }}>Games</th>
              <th{{ default_rowspan }}>Win Rate</th>
              <th{{ default_rowspan }}>Results</th>
              {% for field in versus_data.fields %}
              <th{{ default_rowspan }}>{{ field|title_field_div }}</th>
              {% endfor %}
              {% endif %}
              <th class="score-cell sticky-column" data-sticky-column="score-cell"{{ default_rowspan }}>Score</th>
              {% if mod_penalty %}
              <th class="gap-cell"{{ default_rowspan }}>
                <span title="penalty - penalty_best_team + (solved_best_team - solved) * current_time<br/>suggested by tourist" data-html="true" data-placement="bottom" data-toggle="tooltip">Gap</span>
              </th>
              {% endif %}
              {% for key, field in fields.items %}
              <th{{ default_rowspan }}><span{% if advance.title and key == 'advanced' %} title="{{ advance.title }}" data-placement="bottom" data-toggle="tooltip"{% endif %}>{% if key in settings_standings_fields %}{{ settings_standings_fields|get_item:key|safe }}{% else %}{% for f in field.split %}<div>{{ f }}</div>{% endfor %}{% endif %}{% with value=contest.info.fields_values|get_item:key %}{% if value is not None %}<div class="small">{{ value }}</div>{% endif %}{% endwith %}</span></th>
              {% endfor %}

              {% for problem in problems %}
              {% if not problem.skip %}
              <th class="problem-cell{% if merge_problems %} header-score{% endif %}"{% if problem.colspan %} colspan="{{ problem.colspan }}"{% endif %}{% if not merge_problems and problem %} data-problem-key="{{ problem|get_problem_short }}"{% endif %}>
                <div class="nowrap" title="{% if problem.group %}{{ problem.group }}{% else %}{{ problem|get_problem_name }}{% endif %}" data-placement="bottom" data-toggle="tooltip">
                {% if problem.rating is not None %}
                {% coder_color_circle contest.resource problem.rating size=12 %}
                {% endif %}

                {% if problem.url %}<a href="{{ problem.url }}">{% endif %}
                <span{% if mod_penalty and not problem.n_accepted and contest.n_statistics %} class="rej"{% endif %}>
                {% if problem.group %}
                  {{ problem.group|truncatechars:truncatechars_name_problem }}
                {% elif merge_problems %}
                  {{ problem|get_problem_name|truncatechars:truncatechars_name_problem }}
                {% else %}
                  {{ problem|get_problem_header|truncatechars:truncatechars_name_problem }}
                {% endif %}
                </span>
                {% if problem.url %}</a>{% endif %}
                </div>
                {% if not merge_problems %}
                  {% if problem.full_score %}
                    <div class="small" title="Full score" data-placement="bottom" data-toggle="tooltip">{{ problem.full_score|floatformat|default:problem.full_score }}</div>
                  {% endif %}
                  {% if problem.first_ac_time %}
                    <div class="small" title="First AC time" data-placement="bottom" data-toggle="tooltip">{{ problem.first_ac_time }}</div>
                  {% endif %}
                  {% if problem.max_score %}
                    <div class="small" title="Max score" data-placement="bottom" data-toggle="tooltip">{{ problem.max_score|scoreformat }}</div>
                  {% endif %}
                  {% if problem.min_score %}
                    <div class="small" title="Min score" data-placement="bottom" data-toggle="tooltip">{{ problem.min_score|scoreformat }}</div>
                  {% endif %}
                  {% if problem.subtext %}
                    <div
                      class="text-muted small text-weight-normal"
                      {% if problem.subtext.text == 'upcoming' %}
                      {% with upcoming=problem.subtext.title|parse_time|timezone:timezone %}
                      title="{{ problem.subtext.title }}<br>{{ upcoming|naturaltime }}" data-placement="bottom" data-toggle="tooltip" data-html="true"
                      {% endwith %}
                      {% elif problem.subtext.title %}
                      title="{{ problem.subtext.title }}" data-placement="bottom" data-toggle="tooltip"
                      {% endif %}
                    >
                      {{ problem.subtext.text }}
                    </div>
                  {% endif %}
                  {% if with_detail %}
                  {% if problem.n_teams is not None or other_contests %}
                    {% include "standings_problem_progress.html" %}
                  {% endif %}
                  {% endif %}
                {% endif %}
              </th>
              {% endif %}
              {% endfor %}
            </tr>
            {% if merge_problems %}
            <tr class="header-problems">
              {% for problem in problems %}
              <th class="problem-cell{% if problem.colspan %} subheader-score{% endif %}"{% if problem %} data-problem-key="{{ problem|get_problem_short }}"{% endif %}>
                <small{% if problem.group %} title="{{ problem|get_problem_name }}" data-placement="bottom" data-toggle="tooltip"{% endif %}>
                  {% if problem.suburl %}<a href="{{ problem.suburl }}">{% endif %}
                    {% if problem.subname %}<div{% if problem.subname_class %} class="{{ problem.subname_class }}"{% endif %}>{{ problem.subname }}</div>{% endif %}
                  {% if problem.suburl %}</a>{% endif %}
                  {% if problem.full_score %}<div>{{ problem.full_score|floatformat|default:problem.full_score }}</div>{% endif %}
                </small>
                {% if with_detail %}
                {% if problem.n_teams is not None or other_contests %}
                  {% include "standings_problem_progress.html" %}
                {% endif %}
                {% endif %}
              </th>
              {% endfor %}
            </tr>
            {% endif %}
          </thead>
          <tbody>
          {% if versus_data and contest.resource.info.standings.versus_data.addition_account %}
            {% with versus_data_row=versus_data.stats|get_item:contest.resource.info.standings.versus_data.addition_account.key %}
            {% if versus_data_row %}
            <tr>
              <td></td>
              <td class="handle-cell">{{ contest.resource.info.standings.versus_data.addition_account.name }}</td>
              {% include "standings_versus_columns.html" with tag="td" statistics=None %}
              <td colspan="100%">
            </tr>
            {% endif %}
            {% endwith %}
          {% endif %}
          {% include "standings_paging.html" %}
          </tbody>
        </table>
        {% if versus_data %}
        {% for statistic in my_statistics %}
          {% with versus_data_row=versus_data.stats|get_item:statistic.account.key %}
          {% if versus_data_row %}
            {% include "standings_versus_games.html" %}
          {% endif %}
          {% endwith %}
        {% endfor %}
        {% endif %}
      </div>
      {% if paginate_on_scroll %}
      <script>
        var el = $('#table-inner-scroll')
        el.scroll(function() {
          if (el.scrollTop() + el.height() + 10 >= document.getElementById("table-inner-scroll").scrollHeight) {
            $('.endless_more').trigger('click')
          }
        });
      </script>
      {% endif %}
    {% else %}
      <div id="standings-groupby">
        {% include "standings_groupby.html" with groupby_data=statistics %}
      </div>
    {% endif %}
    <script>configure_pagination({% if paginate_on_scroll %}true{% else %}false{% endif %});</script>
  {% else %}
  <div class="alert alert-info">No standings</div>
  {% endif %}
</div>

<div class="modal" id="view-solution-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal" id="update-statistics-log">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <span class="lead">
          <a href="{% if other_contests %}{% url 'ranking:standings_by_id' contest.pk %}{% else %}{{ contest.standings_url|default:contest.url }}{% endif %}">{{ contest.title }}</a>
        </span>
        <button id="modal-update-statistics-btn" class="btn btn-primary btn-sm pull-right" onclick="update_statistics(this); return false">
          {% icon_to 'update' default='Update statistics' %}
        </button>
      </div>
      <div class="modal-body">
        <div id="update-statistics-progress" class="progress hidden">
          <span id="update-statistics-progress-text"></span>
          <div id="update-statistics-progress-bar" class="progress-bar progress-bar-success" style="width:0%"></div>
        </div>
        <pre id="update-statistics-log-output"></pre>
      </div>
    </div>
  </div>
</div>

<script>
{% block html %}{% if with_table_inner_scroll %}{% if not groupby or groupby == 'none' %} style="overflow-y: hidden"{% endif %}{% endif %}{% endblock %}
{% if with_table_inner_scroll %}
  $(window).resize(update_sticky)
{% endif %}
</script>

{% endblock %}
