{% extends "base.html" %}

{% block ogtitle %}{% block title %}Standings{% endblock %}{% endblock %}
{% block description %}Pretty standings for past competitions with additional information and filtering{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/standings_list.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/standings_list.js' %}"></script>
<script src="{% static_ts 'js/ajax-csrf.js' %}"></script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="{% if more_fields %}col-lg-12{% else %}col-md-12 col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1{% endif %}">
    <form class="form-inline" id="standings-filters" method="get" action="">
      <div class="input-group input-group-sm">
        <div class="input-group-addon">Contest</div>

        <input type="search" name="search" value="{{ request.GET.search }}" class="form-control" {% if request.GET.search %} autofocus onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"{% endif %} autocomplete="off"/>

        <div class="input-group-addon tooltip-help" data-toggle="tooltip" data-html="true" title="Contest regex. You can use name:{NAME}, resource:{HOST}, writer:{HANDLE}, coder:{HANDLE}, account:{HANDLE}, year:{YEAR}, stage:, medal: or advance:<br>Use && and || and ! for difficult conditions.">
          <i class="fas fa-info"></i>
        </div>

        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">{% icon_to 'search' %}</button>
        </div>
      </div>

      <div class="input-group input-group-sm">
        <input
          {% if all_standings %}
          data-on="Parsed"
          data-off="All"
          {% else %}
          data-on="All"
          data-off="Parsed"
          {% endif %}

          type="checkbox"
          name="switch"
          data-toggle="toggle"
          data-onstyle="default"
          data-offstyle="default"
          data-size="small"
          onchange="this.form.submit()"
          {% if switch %}checked{% endif %}
        />
      </div>
      <script>$('input[name="switch"]').bootstrapToggle()</script>

      {% include 'resource_filter.html' %}

      {% if favorite_contests %}{% include 'favorite_filter.html' %}{% endif %}

      {% include 'series_filter.html' %}

      {% for more_field in more_fields %}
      <input type="hidden" name="more" value="{{ more_field }}"/>
      {% endfor %}
    </form>

    <script>$.endlessPaginate({paginateOnScroll: true, onCompleted: function () { toggle_tooltip(); inline_button(); }});</script>
    <div id="standings_list" class="panel panel-default table-responsive">
      <table class="table table-hover table-striped table-float-head">
        <thead>
          <tr>
            <th class="n_statistics text-muted">{% icon_to 'n_participants' %}</th>
            <th class="n_problems text-muted">{% icon_to 'n_problems' %}</th>
            <th class="event">Event</th>
            <th class="date text-muted">End Time</th>
            {% for more_field in more_fields %}
            <th class="text-muted">{{ more_field|title_field }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% if stages %}
          {% include "standings_list_paging.html" with contests=stages without_paginate=True is_stage=True %}
          <tr><td colspan="100%"></td></tr>
          {% endif %}
          {% include "standings_list_paging.html" with contests=running_contests contests_groups=grouped_running_contests without_paginate=True %}
          {% include page_template %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
