{% if small %}
<small class="text-muted">
{% endif %}

{% if not small and stat.subscores %}
<div>
  {% for subscore in stat.subscores %}{% if forloop.counter0 %}+{% endif %}<span{% if subscore.verdict %} class="{% if subscore.result %}acc{% else %}rej{% endif %}"{% endif %}>{{ subscore.status }}</span>{% endfor %}
</div>
{% endif %}

{% if stat.verdict and not small %}
  {% if stat.result|slice:":1" == "-" or stat.binary is not None and not stat.binary %}
    <div class="rej">{{ stat.verdict }}{% if stat.test %}({{ stat.test }}){% endif %}</div>
  {% endif %}
{% endif %}

{% if not small and stat.result_rank %}
  <div>Rank: {{ stat.result_rank }}</div>
{% endif %}

<div>
{% if 'status' in stat and 'time' in stat and stat.result is None and stat.extra_score is None and with_detail or 'status' in stat and 'time' in stat and not small %}
  <div>{% if stat.status_tag and small %}<{{ stat.status_tag }}>{% endif %}{{ stat.status }}{% if stat.status_tag and small %}</{{ stat.status_tag }}>{% endif %}</div>
  <div>{{ stat.time }}{% if stat.penalty %}+{{ stat.penalty }}{% endif %}{% if stat.time_rank %} ({{ stat.time_rank }}){% endif %}{% if stat.attempt %} ({{ stat.attempt }}){% endif %}</div>
{% elif 'status' in stat and 'time' not in stat or 'status' in stat and stat.result|asfloat:0 <= 0 %}
  {% if stat.status_tag and small %}<{{ stat.status_tag }}>{% endif %}{{ stat.status }}{% if stat.status_tag and small %}</{{ stat.status_tag }}>{% endif %}
{% elif small and stat.delta_time and stat.time %}
  <a href="" onclick="toggle_hidden(this, event)" data-class="detail-alternative-time">
    <span class="detail-alternative-time hidden">{{ stat.delta_time }}</span>
    <span class="detail-alternative-time">{{ stat.time }}</span>
  </a>
{% elif 'time' in stat %}
  {{ stat.time }}{% if stat.penalty %}+{{ stat.penalty }}{% endif %}{% if stat.time_rank %} ({{ stat.time_rank }}){% endif %}{% if stat.attempt %} ({{ stat.attempt }}){% endif %}
{% elif 'upsolving' in stat %}
  {% if small and stat.verdict and not stat.binary and not stat.icon %}
  <div
     class="{% if stat.upsolving.result|is_solved %}upsolved{% else %}upsolving{% endif %}"
     data-toggle="tooltip"
     data-placement="top"
     data-html="true"
     title='upsolving<br/>
  {% endif %}

  {% if stat.upsolving.binary %}
    <i class="fas fa-{% if stat.upsolving|is_solved %}check{% else %}times{% endif %}"></i>
  {% elif stat.upsolving.result|slice:":1" == "+" %}
    {{ stat.upsolving.result }}
  {% elif stat.upsolving.result|slice:":1" == "-" and stat.upsolving.verdict %}
    {% if not small or small and stat.verdict %}
      {{ stat.upsolving.result|scoreformat }} {{ stat.upsolving.verdict }}{% if stat.upsolving.test %}({{ stat.upsolving.test }}){% endif %}
    {% else %}
      <span title="{{ stat.upsolving.verdict }}{% if stat.upsolving.test %}({{ stat.upsolving.test }}){% endif %}" data-toggle="tooltip">
        {{ stat.upsolving.result|scoreformat }}
      </span>
    {% endif %}
  {% elif stat.upsolving.result %}
    {{ stat.upsolving.result|scoreformat }}
  {% endif %}

  {% if small and stat.verdict and not stat.binary and not stat.icon %}
  '>
    {{ stat.verdict }}{% if stat.test %}({{ stat.test }}){% endif %}
  </div>
  {% endif %}

{% elif small and stat.verdict and not stat.binary and not stat.icon %}
  <div class="rej">{{ stat.verdict }}{% if stat.test %}({{ stat.test }}){% endif %}</div>
{% endif %}
</div>

{% if not small and stat.delta_time %}
  <div>{{ stat.delta_time }}</div>
{% endif %}

{% if not small and stat.language %}
  <div class="language">{{ stat.language }}</div>
{% endif %}

{% if small %}
</small>
{% endif %}
