
{% paginate per_page groupby_data using 'groupby_paging' %}{% get_pages %}

{% for row_data in groupby_data %}
<tr>
  <td>{{ forloop.counter0|add:pages.current_start_index }}</td>
  {% for field, header in groupby_fields.items %}
    {% with header=header|lower %}
    {% with value=row_data|get_item:field %}
    <td>
      {% if header == 'resource' and row_data|get_type == 'Resource' %}
        <img src="{{ row_data.icon|media_size:'64x64' }}" width="16" height="16"/>
      {% endif %}
      {% if header == 'country' %}
        {% with name=value|get_country_name %}
        {% with code=value|get_country_code %}
        <a href="{% url_transform request country=code groupby='' %}">
          {% if value is None %}
            Undefined
          {% elif name %}
            <div class="flag flag-{{ code|lower }} margin-right-sm"></div>{{ name }}
          {% else %}
            {{ value }}
          {% endif %}
        </a>
        {% endwith %}
        {% endwith %}
      {% elif value|get_type == 'float' %}
        {{ value|floatformat:2 }}
      {% else %}
        {% if header in fields_to_select %}
          <a class="field-to-select" href="{% url_transform request header value groupby='' %}">{{ value|default:"Undefined" }}</a>
        {% elif forloop.counter == 1 and groupby_select_first_column %}
          <a class="field-to-select" href="{% url_transform request header row_data|get_item:'pk'|default:value groupby='' %}">{{ value|default:"Undefined" }}</a>
        {% else %}
          {{ value }}
        {% endif %}
      {% endif %}
    </td>
    {% endwith %}
    {% endwith %}
  {% endfor  %}
</tr>
{% endfor  %}

{% show_more_table %}
