{% if not stat %}
  <div>&#183;</div>
{% else %}
  <div>
  {% if stat.result is not None %}
    <div
      class="inline text-nowrap
      {% if request.GET.languages and stat.language not in request.GET|get_list:'languages' and 'any' not in request.GET|get_list:'languages' %}
        text-muted
      {% elif stat.binary is None and with_detail and stat.subscores %}
      {% elif stat|is_solved %}
        {% if is_upsolving %}
          upsolved
        {% else %}
          acc
        {% endif %}
      {% elif stat|is_hidden %}
        hid
      {% elif stat|is_reject %}
        rej
      {% elif stat.partial %}
        par
      {% endif %}
      {% if statistic.virtual_start %}vir{% endif %}
      "
      {% if not with_detail %}
        {% if stat.status or stat.time or stat.upsolving or stat.verdict or stat.language %}
          title='{% include "standings_paging_detail.html" with stat=stat small=False %}'
          data-toggle="tooltip"
          data-placement="top"
          data-html="true"
        {% endif %}
      {% endif %}
    >
      {% if has_alternative_result %}
      <a href="" onclick="toggle_hidden(this, event)" data-class="detail-alternative-result">
        <span class="detail-alternative-result hidden">{{ stat|get_item:standings_options.alternative_result_field|default:'&#183;' }}</span>
        <span class="detail-alternative-result">
      {% endif %}

      {% if contest.is_over %}{% if stat.url or stat.solution or stat.external_solution %}
        {% if contest and contest.stage or not stat.solution and not stat.external_solution %}
          <a href="{% if stat.url %}{{ stat.url }}{% else %}{% url 'ranking:solution' statistic.pk key %}{% endif %}" target="_blank" rel="noopener noreferrer">
        {% else %}
          <a class="solution" onClick="event.stopPropagation(); return viewSolution(this)" data-url="{% if stat.url %}{{ stat.url }}{% else %}{% url 'ranking:solution' statistic.pk key %}{% endif %}" href="{% url 'ranking:solution' statistic.pk key %}" target="_blank" rel="noopener noreferrer">
        {% endif %}
      {% endif %}{% endif %}

      {% if stat.icon %}
        <span{% if stat.verdict %} title="{{ stat.verdict }}" data-toggle="tooltip"{% endif %}>{{ stat.icon|safe }}</span>
      {% elif stat.binary is not None %}
      <span{% if stat.verdict %} title="{{ stat.verdict }}" data-toggle="tooltip"{% endif %}><i class="fas fa-{% if stat.result|slice:":1" == "+" or stat.result|asfloat:0 > 0 %}check{% else %}times{% endif %}"></i></span>
      {% elif with_detail and stat.subscores %}
        <span>{% for subscore in stat.subscores %}{% if forloop.counter0 %}+{% endif %}<span{% if subscore.verdict %} title="{{ subscore.verdict }}" data-toggle="tooltip"{% endif %} class="{% if subscore.result %}acc{% else %}rej{% endif %}">{{ subscore.status }}</span>{% endfor %}</span>
      {% elif stat.result|slice:":1" == "+" or stat.result|slice:":1" == "?" %}
        <span>{{ stat.result }}</span>
      {% else %}
        <span
          {% if with_result_name and stat.result_name_class %} class="{{ stat.result_name_class }}"{% endif %}
          {% if stat.verdict and 'time' in stat %} title="{{ stat.verdict }}" data-toggle="tooltip"{% endif %}
        >
          {% if with_result_name and stat.result_name %}{{ stat.result_name }}{% else %}{{ stat.result|scoreformat }}{% endif %}
        </span>
      {% endif %}
      {% if with_detail %}{% if stat.result_rank %}<span class="text-muted small text-weight-normal"> ({{ stat.result_rank }})</span>{% endif %}{% endif %}

      {% if has_alternative_result %}
        </span>
      </a>
      {% endif %}

      {% if stat.is_virtual %}<span class="is-virtual">{% icon_to 'is_virtual' %}</span>{% endif %}

      {% if contest.is_over %}{% if stat.url or stat.solution or stat.external_solution %}</a>{% endif %}{% endif %}
    </div>
  {% endif %}
  {% if stat.extra_score is not None %}
    <div class="inline"
      {% if stat.extra_info %}
        data-toggle="tooltip"
        data-placement="top"
        data-html="true"
        title="{% for info in stat.extra_info %}{{ info }}<br/>{% endfor %}"
      {% endif %}
    >
    {% if stat.extra_score >= 0 %}+{% endif %}{{ stat.extra_score|scoreformat }}
    </div>
  {% endif %}
  {% if with_detail %}
    {% if stat.penalty_score %}
      <div class="inline">({{ stat.penalty_score }})</div>
    {% elif stat.attempts %}
      <div class="inline">({{ stat.attempts }})</div>
    {% endif %}
  {% endif %}

  {% if with_admin_url and perms.ranking.statistics_change and statistic %}
    <a href="{% url 'admin:ranking_statistics_change' statistic.pk %}" class="database-link invisible" target="_blank" rel="noopener"><i class="fas fa-database"></i></a>
  {% endif %}
  </div>

  {% if with_detail or 'result' not in stat and 'extra_score' not in stat %}
    {% include "standings_paging_detail.html" with stat=stat small=True sid=statistic.pk problem_key=key %}
  {% endif %}

  {% if stat.language and request.GET.languages %}
    <small{% if request.GET.languages and stat.language not in request.GET|get_list:'languages' and 'any' not in request.GET|get_list:'languages' %} class="text-muted"{% endif %}><div class="language">{{ stat.language }}</div></small>
  {% endif %}
  {% if request.GET.ips and fields_to_select.ips %}
    {% submission_info_field stat 'ip' %}
  {% endif %}
{% endif %}
