{% load el_pagination_tags %}

{% paginate per_page statistics using 'groupby_paging' %}{% get_pages %}

{% for statistic in statistics %}
<tr>
  <td>{{ forloop.counter0|add:pages.current_start_index }}</td>
  {% for field, header in fields.items %}
    {% with header=header|lower %}
    {% with value=statistic|get_item:field %}
    <td>
      {% if header == 'country' %}
        {% with name=value|get_country_name %}
        {% with code=value|get_country_code %}
        <a href="{% url_transform request country=code groupby='' %}">
          {% if value is None %}
            Undefined
          {% else %}
              {% if name %}
                <div class="flag flag-{{ code|lower }}"></div>
                {{ name }}
              {% else %}
                {{ value }}
              {% endif %}
          {% endif %}
        </a>
        {% endwith %}
        {% endwith %}
      {% elif value|get_type == 'float' %}
        {{ value|floatformat:2 }}
      {% else %}
        {% if header in fields_to_select %}
          <a class="field-to-select" href="{% url_transform request header value groupby='' %}">{{ value|default:"Undefined" }}</a>
        {% else %}
          {{ value }}
        {% endif %}
      {% endif %}
    </td>
    {% endwith %}
    {% endwith %}
  {% endfor  %}
</tr>
{% endfor  %}

{% show_more_table %}
