{% if not without_pagination %}
{% lazy_paginate 50 contests %}
{% endif %}

{% for contest in contests %}
{% with resource=contest.resource %}
{% if contests_groups %}
{% include "standings_list_paging.html" with contests=contests_groups|get_item:resource contests_groups=None group_contest=True without_pagination=True %}
{% endif %}

{% if not contest.has_module %}
{% define 'info' as status %}
{% elif contest.n_statistics is None and not contest.info.problems %}
{% define 'danger' as status %}
{% elif contest.is_running %}
{% define 'success' as status %}
{% elif contest.is_coming %}
{% define 'warning' as status %}
{% else %}
{% define '' as status %}
{% endif %}

<tr class="contest{% if status %} {{ status }}{% endif %}{% if group_contest %} group-resource-{{ resource.pk }}{% endif %}" {% if group_contest %}style="display: none"{% endif %}>
<td class="n_statistics no-stretch text-muted">
  {% if contest.n_statistics %}
  <a href="{% url 'coder:accounts' %}?contest={{ contest.pk }}" class="{% if status %} text-{{ status }}{% endif %}">{{ contest.n_statistics }}</a>
  {% endif %}
</td>
<td class="n_problems no-stretch text-muted">
  {% if contest.n_problems is not None %}
  <a href="{% url 'clist:problems' %}?contest={{ contest.pk }}" class="{% if status %} text-{{ status }}{% endif %}">{{ contest.n_problems }}</a>
  {% endif %}
</td>
<td>
  <a href="{% url_transform request resource=resource.id %}">
    <img data-toggle="tooltip" data-placement="top" title="{{ resource.host }}" src="{{ resource.icon|media_size:'32x32' }}" width="16" height="16"/>
  </a>
  {% if contest.invisible %}<i class="far fa-eye-slash"></i>{% endif %}
  {% if group_contest %}
    <span class="toggle" data-group=".group-resource-{{ resource.pk }}"><i class="fa fa-caret-down"></i></span>
  {% endif %}

  <a href="{{ contest.actual_url }}" class="{% if status %} text-{{ status }}{% endif %}">{% trim_to contest.title 60 %}</a>

  {% if contest.has_submissions %}
  <a href="{% url 'submissions:submissions' contest.title|slug contest.pk %}" class="submissions">{% icon_to 'submissions' %}</a>
  {% endif %}

  {% with shown_kind=contest.shown_kind %}{% if shown_kind %}{% label_tag shown_kind status %}{% endif %}{% endwith %}

  {% if favorite_contests %}{% activity_action "fav" contest %}{% endif %}

  {% if contests_groups %}
    {% with group_size=contests_groups|get_item:resource|length %}
    {% if group_size %}
      <span class="toggle badge progress-bar-info" data-group=".group-resource-{{ resource.pk }}">{{ group_size }}&nbsp;<i class="fa fa-caret-down"></i></span>
    {% endif %}
    {% endwith %}
  {% endif %}

  {% include "contest_inline_buttons.html" with contest=contest with_stage=True %}

  {% if request.GET.with_problems|is_yes %}
  <table>
    {% for division, problems in contest.division_problems %}
    <tr class="problems">
      {% if division %}
      <td class="division">
        <a href="{% url 'ranking:standings' contest.title|slug contest.pk %}?division={{ division }}">{{ division }}</a>
      </td>
      {% endif %}
      <td>
      {% for problem in problems %}
      <div class="problem">
        <div>
          {% if problem.rating is not None %}
            {% coder_color_circle contest.resource problem.rating %}
          {% endif %}
          {% if problem.url %}<a href="{{ problem.url }}" rel="noopener noreferrer">{% endif %}
          <span title="{{ problem|get_problem_title }}" data-toggle="tooltip">{% trim_to problem|get_problem_short 4 raw_text=True %}</span>
          {% if problem.url %}</a>{% endif %}
        </div>
        {% if problem.n_total %}
        <div>{% include 'standings_problem_progress.html' with problem=problem contest=contest %}</div>
        {% endif %}
      </div>
      {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</td>
<td class="rank no-stretch text-muted">
  {% for stat in contest.stats %}
  {% if stat.place %}
  {% with division=stat.addition|get_item:"division" %}
  {{ stat.place }}{% if contest.n_statistics %} of {{ contest.info.problems.n_statistics|get_item:division|default:contest.n_statistics }}{% endif %}
  {% endwith %}
  {% endif %}

  {% with value=stat.addition.rating_change %}
  {% with intvalue=value|toint %}
    <span class="rating-change{% if intvalue %} rating-change-{% if intvalue > 0 %}up{% else %}down{% endif %}{% endif %}">
    {% if intvalue %}
      <i class="fas fa-angle-{% if intvalue > 0 %}up{% else %}down{% endif %}"></i>{{ intvalue|abs }}
    {% else %}
      {{ value }}
    {% endif %}
    </span>
  {% endwith %}
  {% endwith %}
  {% endfor %}
</td>
<td class="date text-muted small no-stretch">
  <span title="{{ contest.end_time|timezone:timezone|format_time:timeformat }}" data-toggle="tooltip">{{ contest.end_time|timezone:timezone|naturalday }}</span>
</td>
{% for more_field in params.more_fields|get_more_fields %}
<td>
  {% with value=contest|get_item:more_field info_value=contest.info|get_item:more_field %}
  {% include "field_value.html" with value=value|ifnone:info_value field=more_field %}
  {% endwith %}
</td>
{% endfor %}

</tr>
{% endwith %}
{% endfor %}

{% if not without_pagination %}
{% show_more_table %}
{% endif %}
