<form class="form-inline fullscreen-hidden" method="get" action="">
  <div id="standings-filters" class="form-group">
    {% if divisions_order %}
    <div class="input-group input-group-sm">
      <div class="input-group-addon">Division</div>
      <select name="division" id="division" onchange="this.form.submit()">
        {% for d in divisions_order %}
        <option value="{{ d }}" {% if params.division == d %}selected{% endif %}>{{ d }}</option>
        {% endfor %}
      </select>
    </div>
    <script>
      $('#division').select2({
        minimumResultsForSearch: -1,
        dropdownAutoWidth : true,
        theme: 'bootstrap',
        width: 'auto',
      })
    </script>
    {% endif %}

    <div class="input-group input-group-sm">
      <input
        type="search"
        name="search"
        {% if request.GET.search %}value="{{ request.GET.search }}"{% endif %}
        {% if request.GET.search %} autofocus onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"{% endif %}
        autocomplete="off"
        class="form-control"
        style="min-width: 200px"
      />
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">
          {% icon_to 'search' %}
        </button>
      </div>
    </div>

    {% if has_country or fields_to_select %}{% if groupby and groupby != 'none' %}<input name="groupby" value="{{ groupby }}" type="hidden"/>{% endif %}{% endif %}

    {% include "country_filter.html" %}

    {% include "fields_to_select.html" %}

    {% include "resource_filter.html" with groupby=False disabled=disable_switches %}

    {% include "field_to_input.html" with field="n_advanced" default=standings_options.n_highlight type="number" min="1" %}

    {% if not request.user.is_authenticated and request.GET.detail %}
    <input type="hidden" name="detail" value="{% if with_detail %}true{% else %}false{% endif %}"/>
    {% endif %}
    <div class="input-group input-group-sm">
      <button class="btn btn-default btn-sm{% if with_detail %} active{% endif %}" name="detail" value="{% if with_detail %}false{% else %}true{% endif %}"{% if disable_switches %} disabled{% endif %}>
        {% icon_to 'detail_info' default='Detail' %}
      </button>
    </div>

    {% if contest.upload_solved_problems_solutions %}
    {% if not request.user.is_authenticated and request.GET.solution %}
    <input type="hidden" name="solution" value="{% if with_solution %}true{% else %}false{% endif %}"/>
    {% endif %}
    <div class="input-group input-group-sm">
      <button class="btn btn-default btn-sm{% if with_solution %} active{% endif %}" name="solution" value="{% if with_solution %}false{% else %}true{% endif %}"{% if disable_switches %} disabled{% endif %}>
        {% icon_to 'solution_info' default='Solution' %}
      </button>
    </div>
    {% endif %}

    {% with find_me=request.GET.find_me|toint %}
    {% if find_me or params.find_me %}
    {% if find_me %}
    <input type="hidden" name="find_me" value="{{ find_me }}"/>
    {% endif %}
    <div class="input-group input-group-sm">
      <button class="btn btn-default btn-sm{% if find_me %} active{% endif %}" name="find_me" value="{% if not find_me %}{{ params.find_me }}{% endif %}"{% if disable_switches %} disabled{% endif %}>
        {% if not find_me or find_me == params.find_me %}
        {% icon_to 'find_me' default='Find me' %}
        {% else %}
        {% icon_to 'find_me' default='Find' %}
        {% endif %}
      </button>
    </div>
    {% endif %}
    {% endwith %}

    {% with orderby=request.GET|get_list:'orderby' %}
      {% for order in orderby %}
    <input type="hidden" name="orderby" value="{{ order }}"/>
      {% endfor %}
    {% endwith %}

    {% if neighbors.visible %}
    <input type="hidden" name="neighbors" value="on"/>
    {% endif %}
    {% if request.GET.versus %}
    <input type="hidden" name="versus" value="{{ request.GET.versus }}"/>
    <input type="hidden" name="versus_id" value="{{ request.GET.versus_id }}"/>
    {% endif %}

    {% if groupby == 'none' %}
    {% if charts %}
    <input type="hidden" name="charts" value="{{ request.GET.charts }}"/>
    {% endif %}
    <div class="input-group input-group-sm">
      <button class="btn btn-default btn-sm{% if charts %} active{% endif %}" name="charts"{% if charts %} value="off"{% endif %}>{% icon_to 'charts' %}</button>
    </div>
    {% endif %}

    {% if groupby == 'none' %}
    {% if "_score_history" in contest.info.fields %}
    <div class="input-group input-group-sm">
      <a data-params="{% query_fields request before="?" %}" class="btn btn-default btn-sm" onClick="return show_score_histories(this, event)">{% icon_to "rating" "Score history" %}</a>
    </div>
    {% endif %}
    {% endif %}

    <div class="input-group input-group-sm">
      <button id="toggle-fullscreen" class="btn btn-default btn-sm{% if fullscreen %} active{% endif %}" name="fullscreen"{% if not fullscreen %} value=""{% else %} value="off"{% endif %}>{% icon_to 'fullscreen' default='Fullscreen (F)' %}</button>
    </div>

    <div class="input-group input-group-sm">
      {% if not request.user.is_authenticated and request.GET.autoreload %}
      <input type="hidden" name="autoreload" value="{{ request.GET.autoreload }}"/>
      {% endif %}
      <button href="#" class="standings-auto-reload btn btn-default btn-sm{% if not with_autoreload%} hidden{% endif %}" data-value="off">{% icon_to "on" "Disable auto reload" %}</button>
      <button href="#" class="standings-auto-reload btn btn-default btn-sm{% if with_autoreload%} hidden{% endif %}" data-value="on">{% icon_to "off" "Enable auto reload" %}</button>
    </div>

    {% include "field_to_input.html" with field="field_instead_key" default=request.GET|get_item:"field_instead_key" force_collapse=True %}

    {% if enable_timeline and groupby == 'none' %}

      <div class="input-group input-group-sm">
        {% if timeline %}
        <input type="hidden" name="timeline" value="{{ request.GET.timeline }}"/>
        {% endif %}
        <button id="show-timeline" onclick="show_timeline(); update_urls_params({'timeline': ''}); return false" class="btn btn-default btn-sm"{% if disable_switches %} disabled{% endif %}>{% icon_to 'timeline' default='Timeline (T)' %}</button>
      </div>

      {% if with_virtual_start %}
      <div class="input-group input-group-sm">
        <button id="finish-virtual-start" onclick="click_finish_virtual_start(this); return false" class="btn btn-default btn-sm">{% icon_to 'finish' default='Finish virtual start' %}</button>
      </div>
      {% endif %}

      <div id="timeline-buttons" class="hidden">

        <div class="btn-group">
          <button id="fast-backward-timeline" onclick="step_timeline(-Infinity, true); return false" class="btn btn-default btn-sm" data-title="Fast backward (H)" data-toggle="tooltip"><i class="fas fa-fast-backward"></i></button>
          <button id="step-backward-timeline" onclick="step_timeline(-1, true); return false" class="btn btn-default btn-sm" data-title="Step backward (K)" data-toggle="tooltip"><i class="fas fa-step-backward"></i></button>
          <button id="play-timeline" class="btn btn-default btn-sm" data-title="Play (G)" data-toggle="tooltip"><i class="fas fa-play"></i></button>
          <button id="step-forward-timeline" onclick="step_timeline(1, true); return false" class="btn btn-default btn-sm" data-title="Step forward (J)" data-toggle="tooltip"><i class="fas fa-step-forward"></i></button>
          <button id="fast-forward-timeline" onclick="step_timeline(Infinity, true); return false" class="btn btn-default btn-sm" data-title="Fast forward (L)" data-toggle="tooltip"><i class="fas fa-fast-forward"></i></button>
          <button id="erase-switchers-timeline" onclick="SWITCHER_CLICK_WITHOUT_UPDATE = true; $(ERASE_SWITCHER_SELECTOR).click(); set_timeline(); SWITCHER_CLICK_WITHOUT_UPDATE = false; return false" class="btn btn-default btn-sm" disabled data-title="Clear selected (D)" data-toggle="tooltip"><i class="fas fa-eraser"></i></button>

          <button id="unfreezing-timeline" onclick="toggle_unfreezing(this); return false" class="btn btn-default btn-sm" data-title="Unfreezing (U)" data-toggle="tooltip"{% if with_virtual_start or not freeze_duration %} disabled{% endif %}>{% icon_to 'unfreezing' False %}</button>
        </div>

        <div class="input-group input-group-sm">
          <div class="input-group-addon">Duration</div>
          {% with value=request.GET.t_duration|toint %}
          <select id="timeline-duration"{% if value %} name="t_duration"{% endif %}>
            {% if value %}<option value="{{ value }}">{{ value }}</option>{% endif %}
            {% for k, v in timeline_durations %}
            <option value="{{ k }}"{% if not value and forloop.revcounter == 3 %} selected{% endif %}>{{ v }}</option>
            {% endfor %}
          </select>
          {% endwith %}
        </div>

        <div class="input-group input-group-sm">
          <div class="input-group-addon">Step</div>
          {% with value=request.GET.t_step|asfloat %}
          <select id="timeline-step"{% if value %} name="t_step"{% endif %}>
            {% if value %}<option value="{{ value }}">{{ value }}</option>{% endif %}
            {% for k, v in timeline_steps %}
            <option value="{{ k }}"{% if not value and forloop.revcounter == 3 %} selected{% endif %}>{{ v }}</option>
            {% endfor %}
          </select>
          {% endwith %}
        </div>

        <div class="input-group input-group-sm">
          <div class="input-group-addon">Delay</div>
          {% with value=request.GET.t_delay|toint %}
          <select id="timeline-delay"{% if value %} name="t_delay"{% endif %}>
            {% if value %}<option value="{{ value }}">{{ value }}</option>{% endif %}
            {% for k, v in timeline_delays %}
            <option value="{{ k }}"{% if not value and forloop.revcounter == 3 %} selected{% endif %}>{{ v }}</option>
            {% endfor %}
          </select>
          {% endwith %}
        </div>

        <div class="input-group input-group-sm">
          <div class="input-group-addon">Freeze</div>
          {% with value=t_freeze %}
          <select id="timeline-freeze"{% if request.GET.t_freeze %} name="t_freeze"{% endif %} onchange="change_freeze_duration(this)">
            {% if value %}<option value="{{ value }}">{{ value }}</option>{% endif %}
            {% for k, v in timeline_freeze %}
            <option value="{{ k }}"{% if not value and forloop.revcounter == 0 %} selected{% endif %}>{{ v }}</option>
            {% endfor %}
          </select>
          {% endwith %}
        </div>

        {% if with_virtual_start %}
        <div class="input-group input-group-sm">
          <div class="input-group-addon">Follow</div>
          {% with value=request.GET.t_follow|toint %}
          <select id="timeline-follow"{% if request.GET.t_follow %} name="t_follow"{% endif %} onchange="change_follow_interval(this)">
            {% if value %}<option value="{{ value }}">{{ value }}</option>{% endif %}
            {% for k, v in timeline_follow %}
            <option value="{{ k }}"{% if not value and k == '60' %} selected{% endif %}>{{ v }}</option>
            {% endfor %}
          </select>
          {% endwith %}
        </div>
        {% endif %}

        <div class="input-group input-group-sm">
          <button id="share-timeline" class="btn btn-default btn-sm"><i class="fas fa-share-square"></i></button>
        </div>
      </div>

      <script>
        var timeline_select_config = {theme: 'bootstrap', width: 'auto', dropdownAutoWidth : true, minimumResultsForSearch: -1}
        $('#timeline-duration').select2(timeline_select_config)
        $('#timeline-step').select2(timeline_select_config)
        $('#timeline-delay').select2(timeline_select_config)
        $('#timeline-freeze').select2(timeline_select_config)
        $('#timeline-follow').select2(timeline_select_config)

        {% if timeline and not disable_switches %}
        $(function() {
          {% if timeline != 'show' %}
          shuffle_statistics_rows()
          {% endif %}

          show_timeline()

          {% if request.GET.unfreezing|is_yes %}
            $('#unfreezing-timeline').click()
          {% endif %}

          {% if timeline == 'play' or 'play' in request.GET %}
            {% if timeline == 'play' or not timeline %}
              $('#fast-backward-timeline').click()
            {% else %}
              set_timeline({{ timeline|asfloat }})
            {% endif %}
            $('#play-timeline').click()
          {% elif timeline|asfloat is not None %}
            CURRENT_PERCENT = null
            set_timeline({{ timeline|asfloat }})
          {% endif %}

          visible_standings()
        })
        {% endif %}
      </script>
    {% endif %}
  </div>

  {% if contest.parsed_time %}
  <div id="parsed-time">
    <small class="text-muted pull-right">
      updated
      {% if contest.parsed_percentage and contest.parsed_percentage < 100 %}{{ contest.parsed_percentage|floatformat:1 }}%{% endif %}
      <span title="{{ contest.parsed_time|timezone:timezone|format_time:timeformat }}" data-placement="top" data-toggle="tooltip" class="countdown" data-timestamp-up="{{ contest.parsed_time.timestamp }}" data-timeago="true">{{ contest.parsed_time|timezone:timezone|naturaltime }}</span>
    </small>
  </div>
  {% endif %}
</form>
