<form class="form-inline" id="standings-filters" method="get" action="">
  <div class="input-group input-group-sm">
    <div class="input-group-addon">Contest</div>

    <input type="search" name="search" value="{{ request.GET.search }}" class="form-control" {% if request.GET.search %} autofocus onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"{% endif %} autocomplete="off"/>

    <div class="input-group-addon tooltip-help" data-toggle="tooltip" data-html="true" title="Contest regex. You can use name:{NAME}, resource:{HOST}, writer:{HANDLE}, coder:{HANDLE}, account:{HANDLE},<br>year:{YEAR}, stage:, medal:, advance:, has_problems: or n_problems:{INT}<br>Use && and || and ! for difficult conditions.">
      <i class="fas fa-info"></i>
    </div>

    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">{% icon_to 'search' %}</button>
    </div>
  </div>

  <div class="input-group input-group-sm">
    <input
      {% if all_standings %}
      data-on="Parsed"
      data-off="All"
      {% else %}
      data-on="All"
      data-off="Parsed"
      {% endif %}

      type="checkbox"
      name="switch"
      data-toggle="toggle"
      data-onstyle="default"
      data-offstyle="default"
      data-size="small"
      onchange="this.form.submit()"
      {% if switch %}checked{% endif %}
    />
  </div>
  <script>$('input[name="switch"]').bootstrapToggle()</script>

  {% include 'resource_filter.html' %}

  {% if favorite_contests %}{% include 'favorite_filter.html' %}{% endif %}

  {% include 'series_filter.html' with with_all=True %}

  {% if request.GET.with_submissions|is_yes %}
  <input type="hidden" name="with_submissions" value="{{ request.GET.with_submissions }}"/>
  {% endif %}
  <div class="input-group input-group-sm">
    <button class="btn btn-default btn-sm{% if request.GET.with_submissions|is_yes %} active{% endif %}" name="with_submissions"{% if request.GET.with_submissions|is_yes %} value="off"{% endif %}>{% icon_to 'submissions' %}</button>
  </div>

  {% if request.GET.with_problems|is_yes %}
  <input type="hidden" name="with_problems" value="{{ request.GET.with_problems }}"/>
  {% endif %}
  <div class="input-group input-group-sm">
    <button class="btn btn-default btn-sm{% if request.GET.with_problems|is_yes %} active{% endif %}" name="with_problems"{% if request.GET.with_problems|is_yes %} value="off"{% endif %}>{% icon_to 'problems' %}</button>
  </div>

  {% include 'more_fields_filter.html' %}

  {% if params.with_medal_scores %}
  {% if request.GET.with_medal_scores|is_yes %}
  <input type="hidden" name="with_medal_scores" value="{{ request.GET.with_medal_scores }}"/>
  {% endif %}
  <div class="input-group input-group-sm">
    <button class="btn btn-default btn-sm{% if request.GET.with_medal_scores|is_yes %} active{% endif %}" name="with_medal_scores"{% if medal_scores_chart %} value="off"{% endif %}>{% icon_to 'medal_scores' %}</button>
  </div>
  {% endif %}

  {% if perms.clist.view_full_table %}
  <div class="input-group input-group-sm">
    <button class="btn btn-default btn-sm" type="submit" name="full_table"{% if not request.GET %} disabled{% endif %}>{% icon_to 'full_table' %}</button>
  </div>
  {% endif %}

  {% if perms.clist.change_contest %}
  <div class="input-group input-group-sm">
    <a id="reparse" class="btn btn-default btn-sm">{% icon_to 'update' %}</a>
  </div>
  {% endif %}
</form>
