{% extends "base.html" %}

{% block ogtitle %}{% block title %}Standings{% endblock %}{% endblock %}
{% block description %}Explore our comprehensive list of results, imported automatically from all participating resources. Gain a holistic view of the competitive programming scene across multiple platforms.{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/standings_list.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/standings_list.js' %}"></script>
<script src="{% static_ts 'js/ajax-csrf.js' %}"></script>
{% endblock %}

{% block content %}

<div class="row">

  <div class="{% if params.more_fields %}col-lg-12{% else %}col-md-12 col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1{% endif %}">
    {% include "filter_collapse.html" with include_filter="standings_list_filters.html" %}

    <script>$.endlessPaginate({paginateOnScroll: true, onCompleted: function () { toggle_tooltip(); inline_button(); }});</script>
    <div id="standings_list" class="panel panel-default table-responsive">
      <table class="table table-hover table-striped table-float-head">
        <thead>
          <tr>
            <th class="n_statistics text-muted">{% icon_to 'n_participants' %}</th>
            <th class="n_problems text-muted">{% icon_to 'n_problems' %}</th>
            <th class="event">Event</th>
            <th class="date text-muted">End Time</th>
            {% for more_field in params.more_fields %}
            <th class="text-muted">{{ more_field|title_field }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% if stages %}
          {% include "standings_list_paging.html" with contests=stages without_paginate=True is_stage=True %}
          <tr><td colspan="100%"></td></tr>
          {% endif %}
          {% include "standings_list_paging.html" with contests=running_contests contests_groups=grouped_running_contests without_paginate=True %}
          {% include page_template %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
