<script>
$(() => {
    var table_inner_scroll = $('#table-inner-scroll')
    var default_height = table_inner_scroll.height()
    $(window).resize(function() {
      if (table_inner_scroll.length) {
          var val = $(window).height() - table_inner_scroll.offset().top - {% if fullscreen %}0{% else %}20{% endif %}
        if (val < default_height) {
          table_inner_scroll.height(val)
        } else {
          table_inner_scroll.height(default_height)
        }
      }
    })
    $(window).trigger('resize')

    {% if paginate_on_scroll is not False %}
    var el = $('#table-inner-scroll')
    el.scroll(function() {
      if (el.scrollTop() + el.height() + 10 >= document.getElementById("table-inner-scroll").scrollHeight) {
        $('.endless_more').trigger('click')
      }
    })
    {% endif %}
})
</script>
