{% extends "base.html" %}

{% block end-head %}
<script src="{% static_ts 'js/ajax-csrf.js' %}"></script>
{% endblock %}

{% block ogtitle %}{% block title %}{{ team.title }} on {{ event.name }}{% endblock %}{% endblock %}

{% block content %}
<h3><a href="{% url 'admin:events_team_change' team.pk %}" target="_blank" rel="noopener"><i class="fas fa-external-link-alt"></i> {{ team.title }}</a></h3>

<form method="post">{% csrf_token %}
  <div class="form-group">
    <input name="name" class="form-control" type="text" placeholder="Enter team name" value="{{ team.name }}" required>
  </div>
  <div class="btn-group">
  {% for status in team_status.labels %}
  <button type="submit" name="status" value="{{ status }}" class="btn btn-{{ team_status.classes|get_item:status }}" {% if status == team.status %} disabled{% endif %}>{{ team_status.labels|get_item:status|title }}</button>
  {% endfor %}
  <input type="hidden" name="action" value="change">
  </div>
</form>
<hr/>

{% include "inline-team.html" with team=team without_detail_url=1 with_profile_url=1 %}
<hr/>

<div class="container">
  <form class="form-horizontal" method="post">{% csrf_token %}
      <div class="form-group">
          <label for="emails" class="control-label col-sm-1">Email:</label>
          <div class="col-sm-11">
            <input id="emails" class="form-control" name="emails" value="{% for m in team.members %}{{ m.email }}{% if forloop.revcounter0 %}, {% endif %}{% endfor %}">
          </div>
      </div>
      <div class="form-group">
          <label for="subject" class="control-label col-sm-1">Subject:</label>
          <div class="col-sm-11">
          <input id="subject" type="text" class="form-control" name="subject" placeholder="Subject" value="{{ event.email_conf.subject }}">
          </div>
      </div>
      <div class="form-group">
          <label for="message" class="control-label col-sm-1">Message:</label>
          <div class="col-sm-11">
          <textarea id="message" class="form-control" rows="5" name="message">{{ event.email_conf.message }}</textarea>
          </div>
      </div>
      <div class="form-group">
          <input name="submit" type="submit" value="Send" class="btn btn-primary">
          <input type="hidden" name="action" value="email">
      </div>
  </form>
</div>

<hr/>

<div class="row">
  {% for p in team.members %}
  <div class="col-sm-3">
    <div>
      <a href="{% url 'admin:events_participant_change' p.pk %}" target="_blank" rel="noopener"><i class="fas fa-external-link-alt"></i>{{ p.first_name }} {{ p.last_name }}</a>
    </div>
    {% include "registration-participant.html" with for_coach=p.is_coach user=p coder=p disable=True %}
  </div>
  {% endfor %}
</div>

{% endblock %}
