{% extends "base.html" %}

{% block ogtitle %}{% block title %}{% linebreakless %}
{% for whos in versus_data.opponents %}
{% if forloop.counter0 %} vs {% endif %}
{% for w in whos %}{% if forloop.counter0 %}, {% endif %}{{ w }}{% endfor %}
{% endfor %} - Versus
{% endlinebreakless %}{% endblock %}{% endblock %}

{% block description %}{% linebreakless %}
Final results {% for info in versus_data.infos %}{% if forloop.counter0 %} : {% endif %}{{ info.score }}{% endfor %}
{% endlinebreakless %}{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/versus.css' %}" rel="stylesheet">

<script src="{% static_ts 'js/daterangepicker.js' %}"></script>
<link href="{% static_ts 'css/daterangepicker-bs3.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<h3 id="versus-title" class="text-center">
  <table>
  <tr>
  {% for whos, display_names in versus_data.opponents|zip:versus_data.display_names %}
    {% if forloop.counter0 %}<td>vs</td>{% endif %}
    <td>
      {% if versus_data.opponents|length > 2 %}
      <a href="{{ request.path }}?remove={{ forloop.counter0 }}" class="versus-action"><i class="fas fa-times fa-xs"></i></a>
      {% endif %}
      <a href="{% if whos|length > 1 or ':' in whos.0 %}{% url 'coder:mixed_profile' whos|join:',' %}{% else %}{% url 'coder:profile' whos.0 %}{% endif %}">
      {% for val in display_names %}<div class="text-nowrap">{{ val }}</div>{% endfor %}
      </a>
    </td>
  {% endfor %}
    <td id="col_add_to_versus" rowspan="2">
      <a href="#add_to_versus" data-toggle="collapse" onclick="$(this).hide(); ">
        <i class="fas fa-user-plus fa-sm"></i>
      </a>
      <div class="collapse" id="add_to_versus">
        <form class="form-inline" method="get" action="">
          {% include "coder_filter.html" with nomultiply=True %}
        </form>
      </div>
      <script>
        $('#add_to_versus').on('shown.bs.collapse', function() {
          $('#coder').select2('open')
        })
      </script>
    </td>
  </tr>
  <tr>
  {% for info in versus_data.infos %}
    {% if forloop.counter0 %}<td>:</td>{% endif %}<td>{{ info.score }}</td>
  {% endfor %}
  </tr>
  </table>
</h3>

{% with ratings=versus_data.ratings %}
{% for resource, resource_info in ratings.resources.items %}
<div>
  <div class="resource_fields">
    <a href="{% url 'clist:resource' resource_info.host %}" title="{{ resource_info.host }}" data-toggle="tooltip" data-placement="right"><img src="{{ resource_info.icon|static_resize:'32x32' }}" width="16" height="16"/></a>
    <div class="input-group input-group-sm invisible">
      <select id="resource_{{ resource_info.pk }}_fields">
        <option></option>
      </select>
    </div>
  </div>

  <canvas class="rating_history" id="resource_{{ resource_info.pk }}_rating" height="75vh">{{ resource }}</canvas>
</div>
<script>
  var resource_info = {{ resource_info|to_json }}
  var resource_dates = {{ ratings.dates|to_json }}
  config = create_chart_config(resource_info, resource_dates)
  var resource_rating_id = 'resource_{{ resource_info.pk }}_rating'
  var ctx = new Chart(resource_rating_id, config)
  add_selection_chart_range(resource_rating_id, ctx)
  add_selection_chart_fields(resource_info, resource_rating_id, 'resource_{{ resource_info.pk }}_fields', resource_dates)
</script>
{% endfor %}
{% endwith %}

<div class="col-lg-8 col-lg-offset-2">
  {% include "versus_filter.html" %}

  <div id="versus-table" class="panel panel-default table-responsive">
    <table class="table table-hover table-striped table-float-head">
    <thead>
    <tr>
      {% for whos, urls in versus_data.opponents|zip:versus_data.urls %}
      <th class="score-column">
        {% for val, href in whos|zip:urls %}
        <div>
          {% if href %}
            <a href="{{ href }}">{{ val }}</a>
          {% else %}
            {{ val }}
          {% endif %}
        </div>
        {% endfor %}
      </th>
      {% endfor %}
      {% if scored %}
      <th>Score</th>
      {% endif %}
      <th class="time-column">Time</th>
      <th class="title-column">Event</th>
    </tr>
    </thead>
    <tbody>
    {% for contest in contests %}
    <tr>
      {% for info in versus_data.infos %}
      {% with stat=info.contests|get_item:contest.id %}
      <td class="score-column{% if stat.scored_ %} info{% endif %}">
        <div
          class="solving-place"
          title='
            <div>Rank: {{ stat.place }}</div>
            <div>Score: {{ stat.solving|scoreformat:False }}</div>
            {% if stat.addition.penalty is not None %}
            <div>Penalty: {{ stat.addition.penalty }}</div>
            {% endif %}
            {% if stat.addition.medal %}
            <div>Medal: {{ stat.addition.medal|title }}</div>
            {% endif %}
            {% if stat.addition.division %}
            <div>Division: {{ stat.addition.division }}</div>
            {% endif %}
          '
          data-toggle="tooltip"
          data-placement="top"
          data-html="true"
        >
          {{ stat.solving|scoreformat }} ({{ stat.place }})
          {% if stat.addition.medal %}
            <span class="trophy {{ stat.addition.medal|lower }}-trophy no-user-select">
              {% include "trophy.html" with statistic=stat %}
            </span>
          {% endif %}
          {% if perms.ranking.statistics_change and stat %}
            <a href="{% url 'admin:ranking_statistics_change' stat.id %}" class="database-link invisible" target="_blank" rel="noopener"><i class="fas fa-database"></i></a>
          {% endif %}
        </div>
        {% if rated %}
        <div>
          {% with rating=stat.addition.new_rating %}
          {% if rating %}
          <span class="{% coder_color_class contest.resource rating %}">
          {% coder_color_circle contest.resource rating %}
          {{ rating }}
          </span>
          {% endif %}
          {% endwith %}

          {% if stat.addition.rating_change %}
          {% include "field_value.html" with field='rating_change' value=stat.addition.rating_change %}
          {% endif %}
        </div>
        {% endif %}
      </td>
      {% endwith %}
      {% endfor %}
      {% if scored %}
      <td>
        {% with scoring=versus_data.scores|get_item:contest.pk %}
          {% for s in scoring.score %}
          {% if forloop.counter0 %}:{% endif %}
          {% if forloop.counter0 in scoring.indices %}
            <b>{{ s }}</b>
          {% else %}
            {{ s }}
          {% endif %}
          {% endfor %}
        {% endwith %}
      </td>
      {% endif %}
      <td class="time-column">
        <div title="{{ contest.end_time|timezone:timezone|format_time:timeformat }}" data-toggle="tooltip">
          {{ contest.end_time|timezone:timezone|naturalday }}
        </div>
      </td>
      <td class="title-column">
        <span>
          <a href="{{ contest.resource.href }}"><img class="resource-icon" src="{{ contest.resource.icon|static_resize:'32x32' }}" width="16" height="16"/></a>
          <a href="{% url 'ranking:standings' contest.title|slug contest.pk %}">{{ contest.title }}</a>
        </span>
      </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
</div>

{% endblock %}
