#accounts table.table th,
#accounts table.table td
{
  text-align: center;
  vertical-align: middle;
}

#accounts table.table .account {
  text-align: left;
}

#accounts-filters > * {
  margin-bottom: 5px;
}

#accounts table.table th > div {
  display: inline-block;
}

#accounts table.table td:not(.account) {
  white-space: nowrap;
}

#accounts .has_coders {
  color: #999;
}

#accounts input[type=checkbox][name=accounts] {
  transform: scale(1.5);
}
