/* Space out content a bit */
body {
  padding-bottom: 20px;
}

.service-icon-btn {
  width: 40px;
  cursor: default !important;
}

.navbar-static-top .navbar-right .dropdown-menu i {
  width: 20px;
  text-align: center;
}

.navbar-static-top .navbar-right .login-signup a.authorized {
  cursor: not-allowed;
  opacity: 0.5;
}

html * {
  outline: 0 !important;
}

html {
  overflow-y: scroll;
}

/*
 * http://stackoverflow.com/a/30724492
 */
.modal-open{
  overflow: hidden !important;
  padding: 0px !important;
}

.modal-open .modal{
  overflow: hidden !important;
}

.flag-ch {
  width: 11px !important;
}

/*
 * coder rating colors
 */

.coder-circle {
  vertical-align: middle;
}

.coder-legendary:first-letter {
  color: black !important;
}

.coder-legendary {
  color: #FF0000 !important;
}

.coder-legend {
  background: -webkit-gradient(linear,left bottom,left top,from(#b00),color-stop(50%,#b00),color-stop(51%,#000));
  background: -webkit-linear-gradient(bottom,#b00,#b00 50%,#000 51%);
  background: linear-gradient(0deg,#b00,#b00 50%,#000 51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FF0000 !important;
}

.coder-red {
  color: #FF0000 !important;
}

.coder-yellow {
  color: #BBBB00 !important;
}

.coder-violet {
  color: #AA00AA !important;
}

.coder-orange {
  color: #FF8C00 !important;
}

.coder-blue {
  color: #0000FF !important;
}

.coder-cyan {
  color: #03A89E !important;
}

.coder-green {
  color: #008000 !important;
}

.coder-brown {
  color: #A52A2A !important;
}

.coder-gray {
  color: #808080 !important;
}

.coder-white {
  color: #FFFFFF !important;
}

.coder-tc-red {
  color: #EE0000 !important
}

.coder-tc-yellow {
  color: #DDCC00 !important;
}

.coder-tc-blue {
  color: #6666FF !important;
}

.coder-tc-green {
  color: #00A900 !important;
}

.coder-tc-gray {
  color: #999999 !important;
}

.coder-purple {
  color: #7030a0 !important;
}

.coder-color {
  font-weight: bold !important;
}

.rating-change {
  font-weight: bold !important;
}

.rating-change-up {
  color: #090;
}

.rating-change-down {
  color: #f00;
}

:hover > a.external-database-link {
  color: #337ab7;
  visibility: visible;
}

/*
 * tooltip nowrap
 */

.tooltip-inner {
  white-space: nowrap !important;
  max-width: none !important;
}
