/* Space out content a bit */
body {
    padding-bottom: 20px;
}

.service-icon-btn {
    width: 40px;
    cursor: default !important;
}

.dropdown-menu.signup .fa {
    width: 15px;
    text-align: center;
}

html * {
    outline: 0 !important;
}

html {
    overflow-y: scroll;
}

/*
 * http://stackoverflow.com/a/30724492
 */
.modal-open{
    overflow: hidden !important;
    padding: 0px !important;
}

.modal-open .modal{
    overflow: hidden !important;
}

.flag-ch {
   width: 11px !important;
}
