#problems table th,
#problems table td
{
  padding: 5px 15px;
}

#problems table td,
#problems table th {
  vertical-align: middle !important;
}

.problem-date, .problem-resource {
  text-align: center;
  white-space: nowrap;
}
