#contests td,
#contests th {
  text-align: center;
  vertical-align: middle !important;
}

#contests .title {
  text-align: left;
}

#contests .endless_container {
  margin-right: -15px;
  margin-left: -15px;
}

.contest>div {
  padding: 3px;
}

#list-accounts {
  text-align: center;
}

#list-accounts .badge {
  font-size: 90%;
  background-color: #cccccc;
}

#list-accounts .account a {
  text-decoration: none;
}

#list-accounts .account .text-muted {
  color: white;
}

#list-accounts .account .input-group-addon {
  background-color: #f7f7f7;
  font-weight: bold;
  width: 0px;
}

#list-accounts .account .input-group-btn {
  width: 0px;
}

#list-accounts .input-group,
#list-accounts .btn-group {
  display: inline-block;
  margin: 2px;
}

#list-accounts .input-group-addon .no-user-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title .problems {
  display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.gold-medal {
  color: transparent;
  text-shadow: 0 0 0 #f9d923;
}

.silver-medal {
  color: transparent;
  text-shadow: 0 0 0 silver;
}

.bronze-medal {
  color: transparent;
  text-shadow: 0 0 0 #c08e55;
}
