#writers .date,
#contests td,
#contests th {
  text-align: center;
  vertical-align: middle !important;
}

#contests .title {
  text-align: left;
  white-space: normal;
}

#contests tr td {
  white-space: nowrap;
}

#writers td {
  white-space: nowrap;
}

.rank div {
  display: inline-block;
}

.rank-progress {
  margin-bottom: 0px;
  border: 1px solid #5cb85c;
  width: 20px;
  height: 10px;
}

#contests .endless_container {
  margin-right: -15px;
  margin-left: -15px;
}

.contest>div {
  padding: 3px;
}

#list-accounts {
  text-align: center;
}

#list-accounts .badge {
  font-size: 90%;
  background-color: #cccccc;
}

#list-accounts .account a {
  text-decoration: none;
}

#list-accounts .account .btn:hover {
  background-color: #f7f7f7;
}

#list-accounts .account .btn:first-child {
  font-weight: bold;
}

#list-accounts .btn-group {
  display: inline-block;
  margin: 2px;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

#list-accounts .gold-medal {
  color: transparent;
  text-shadow: 0 0 0 #f9d923;
}

#list-accounts .silver-medal {
  color: transparent;
  text-shadow: 0 0 0 silver;
}

#list-accounts .bronze-medal {
  color: transparent;
  text-shadow: 0 0 0 #c08e55;
}

#list-accounts .honorable-medal {
  color: transparent;
  text-shadow: 0 0 0 #d0e3f7;
}

table tr.contest.gold-medal {
  background: #fff28c;
}

table tr.contest.silver-medal {
  background: #d9d9d9;
}

table tr.contest.bronze-medal {
  background: #dbb993;
}

table tr.contest.honorable-medal {
  background: #d0e3f7;
}
