table.table tr td,
table.table tr th {
  text-align: center;
  vertical-align: middle;
}

#toggleLogScale {
  position: absolute;
  right: 0;
}

@media (min-width:1200px) {
  #ratingDistribution {
    min-height: 400px !important;
  }
}

[name="min_rating"],
[name="max_rating"] {
  width: 70px !important;
}

table.table td {
  white-space: nowrap;
}

table.table.contests tr .title {
  text-align: left;
}
