table tr td,
table tr th {
  text-align: center;
  vertical-align: middle;
}

table tr td a {
  color: inherit;
}

#toggleLogScale {
  position: absolute;
  right: 0;
}

@media (min-width:1200px) {
  #ratingDistribution {
    min-height: 400px !important;
  }
}
