.contest {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

table.standings td,
table.standings th {
  text-align: center;
  vertical-align: middle !important;
}

.acc {
  color: #090;
  font-weight: bold;
}

.rej {
  color: #d22;
  font-weight: bold;
}

.hid {
  color: #da2;
  font-weight: bold;
}

.par {
  color: #07f;
  font-weight: bold;
}

.first-ac {
  background-color: #dff0d8;
}

.first-ac-of-all {
  background-color: #ffe866;
}

.gold-medal {
  background: #f9d923;
}

.silver-medal {
  background: silver;
}

.bronze-medal {
  background: #c08e55;
}

table.standings .handle-cell {
  text-align: left;
}

.standings th {
  border: none !important;
}

.standings th.header-score {
  border-left: 1px solid #d0d0d0 !important;
}

.standings a {
  text-decoration: none;
}

.standings td a {
  color: inherit;
}

.inline {
  display: inline;
}

.standings a.coder {
  text-decoration: underline;
  font-weight: bold;
}

.nobold {
  font-weight:normal;
}

.tooltip-inner {
  white-space:nowrap;
  max-width:none;
}
