.contest {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

table.standings td,
table.standings th {
  text-align: center;
  vertical-align: middle !important;
}

.acc {
  color: #070;
}

.rej {
  color: #B00;
}

table.standings .handle-cell {
  text-align: left;
}

.standings .header-row th {
  position: sticky;
  top: 0;
}

.standings a {
  text-decoration: none;
}

.standings td a {
  color: inherit;
}

.inline {
  display: inline;
}
