{% extends "base.html" %}


{% block ogtitle %}{% block title %}API Documentation{% endblock %}{% endblock %}

{% block begin-head %}
    <link href="{% static_ts 'tastypie_swagger/css/highlight.default.css' %}" media='screen' rel='stylesheet' type='text/css'/>
    <link href="{% static_ts 'tastypie_swagger/css/screen.css' %}" media='screen' rel='stylesheet' type='text/css'/>
    <link href="{% static_ts 'css/tastypie_swagger.css' %}" media='screen' rel='stylesheet' type='text/css'/>
{% endblock %}

{% block end-head %}
    <title>Swagger UI</title>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
    <script src="{% static_ts 'tastypie_swagger/js/lib/shred.bundle.js' %}" type="text/javascript"></script>
    <script src="{% static_ts 'tastypie_swagger/js/lib/jquery.slideto.min.js' %}" type='text/javascript'></script>
    <script src="{% static_ts 'tastypie_swagger/js/lib/jquery.wiggle.min.js' %}" type='text/javascript'></script>
    <script src="{% static_ts 'tastypie_swagger/js/lib/jquery.ba-bbq.min.js' %}" type='text/javascript'></script>
    <script src="{% static_ts 'tastypie_swagger/js/lib/handlebars-1.0.0.js' %}" type='text/javascript'></script>
    <script src="{% static_ts 'tastypie_swagger/js/lib/underscore-min.js' %}" type='text/javascript'></script>
    <script src="{% static_ts 'tastypie_swagger/js/lib/backbone-min.js' %}" type='text/javascript'></script>
    <script src="{% static_ts 'tastypie_swagger/js/lib/swagger.js' %}" type='text/javascript'></script>
    <script src="{% static_ts 'tastypie_swagger/js/swagger-ui.js' %}" type='text/javascript'></script>
    <script src="{% static_ts 'tastypie_swagger/js/lib/highlight.7.3.pack.js' %}" type='text/javascript'></script>

    <script type="text/javascript">
        $(function () {
            window.swaggerUi = new SwaggerUi({
                url:"{{ discovery_url }}",
                apiKey:"special-key",
                dom_id:"swagger-ui-container",
                supportHeaderParams: false,
                supportedSubmitMethods: ['get'],
                onComplete: function(swaggerApi, swaggerUi){
                    $("img[src$='throbber.gif']").attr("src", "{% static_ts 'tastypie_swagger/images/throbber.gif' %}");
                    $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
                },
                docExpansion: "list"
            });

            window.swaggerUi.load();
        });
    </script>
{% endblock %}

{% block content %}
<div class="info">
    {% with api_url="clist:api:latest:index"|url %}
    {% if request.path != api_url %}
    <div class="alert alert-warning text-center lead">Use the <a href="{{ api_url }}">latest</a> API version</div>
    {% endif %}
    {% endwith %}
    <div class="title">authentication</div>
    <div class="text">API key is needed to access API (<a href="{% url 'auth:login' %}" id="show-api-key">show my api-key</a>). There is also access without api-key through session on this website. You can get access API from other user throught <a href="{% url 'oauth2_provider:list' %}">OAuth</a>.
    {% if user.is_authenticated %}
    <script>
        $(function() {
            $('#show-api-key').click(function() {
                var $this = $(this)
                $this.html('<i class="fas fa-sync-alt fa-lg fa-pulse"></i>')
                $.ajax({
                    type: 'POST',
                    url: '{% url "coder:api-key" %}',
                    success: function (api_key) {
                        $this.html(api_key)
                        $this.removeAttr('href').unbind('click')
                        $this.popover({
                            placement: 'bottom',
                            container: 'body',
                            html: true,
                            delay: {
                                'show': 300,
                                'hide': 100,
                            },
content: '<div class="info"><div class="title">Request header</div><div class="text">Authorization: ApiKey {{user.username}}:' + api_key + '</div></div><div class="or text-center">or</div><div class="info"><div class="title">Param query</div><div class="text">/?username={{user.username}}&api_key=' + api_key + '</div></div>',
                            title: 'How to use?',
                        }).popover('show')
                        $this.append('&nbsp;<a id="remove-api-key" class="btn btn-xs btn-danger"><i class="far fa-trash-alt"></i></a>')
                        $('#remove-api-key').click(function() {
                            bootbox.confirm({
                                size: 'small',
                                message: 'Remove api key?<br/><small class="text-muted">You can create a new api key later.</small>',
                                callback: function (result) {
                                    if (result) {
                                        $.ajax({
                                            type: 'DELETE',
                                            url: '{% url "coder:remove-api-key" %}',
                                            success: function(response) { location.reload() },
                                            error: function (data) { bootbox.alert({message: data.statusText, size: 'small'}) },
                                        })
                                    }
                                }
                            })
                        })
                    },
                    error: function (data) { bootbox.alert({message: data.statusText, size: 'small'}) },
                })
                return false;
            })
        })
    </script>
    {% else %}
    <a href="{% url 'auth:login' %}" class="pull-right" id="show-api-key">Log in to view api-key</a>
    {% endif %}
    </div>
</div>
<div class="info">
    {% get_api_formats as formats %}
    <div class="title">format</div>
    <div class="text">Supported {% for format in formats %}{% if forloop.counter0 %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}<samp>{{ format }}</samp>{% endfor %}. Set format in url <samp>/api/v2/json/...</samp> or use param in get query <samp>/?format=json</samp>.</div>
</div>
<div class="info">
    <div class="title">throttle</div>
    <div class="text">10 requests per minute.</div>
</div>
<div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>

<div id="swagger-ui-container" class="swagger-ui-wrap"></div>
{% endblock %}
