{% extends "base.html" %}
{% load extras %}

{% block title %}{{ party.name }}{% endblock %}

{% block end-head %}
    <link href="{% static_ts 'css/party/ranking.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<small>
{% if party.author == request.user.coder %}
[<a href="{% url 'coder:party-action' party.secret_key 'join' %}">Join</a>]
[<a href="{% url 'coder:party-action' party.secret_key 'leave' %}">Leave</a>]
{% endif %}
</small>

<h3 id="name">{{ party.name }}</h3>

<h4><a href="{% url 'ranking:party' party.slug %}">Ranking</a></h4>

<h4>Coders
{% if party.coders.all.count %}
<span class="badge progress-bar-default">{{ party.coders.all.count }}</span>
{% endif %}
</h4>
<div class="coders">
    {% for c in party.coders.all %}
    <a href="{% url 'coder:profile' c.user.username %}" class="label label-default">{{ c.user.username }}</a>
    {% empty %}
    <div class="alert alert-warning">Not set coders for party</div>
    {% endfor %}
</div>

<h4><a href="/?party={{ party.slug }}&view=list">Contests</a>
{% if party.rating_set.all %}
<span class="badge progress-bar-default">{{ party.rating_set.all.count }}</span>
{% endif %}
</h4>
<div class="contests">
    {% for r in party.rating_set.all %}
    <a href="{{ r.contest.url }}" class="label label-{% if r.contest.statistics_set.count %}primary{% else %}warning{% endif %}">{{ r.contest.title}}</a>
    {% empty %}
    <div class="alert alert-warning">Not set contest for party</div>
    {% endfor %}
</div>

<h4>Unparsed
<span class="badge progress-bar-default">{{ unparsed.count }}</span>
</h4>
<div class="unparsed">
    {% for r in unparsed %}
    <a href="{{ r.url }}" class="label label-warning">{{ r.host }}</a>
    {% empty %}
    <div class="alert alert-warning">Not set unparsed for party</div>
    {% endfor %}
</div>

<h4>Participates</h4>
<div class="participates">
    {% for stat in statistics %}
        <div class="{% if stat.coder == request.user.coder %}larger {% endif %}participate">
        <a href="{% url 'coder:profile' stat.coder %}" class="label label-default">{{ stat.coder.user.username }}</a>
        {% for p in stat.participate %}
            <a href="http://{{ p.host }}/" class="label label-{% if p.count == -1 %}danger{% elif p.count == 0 %}warning{% else %}primary{% endif %}">{{ p.host }}{% if p.count > 0 %} | {{ p.count }}{% endif %}</a>
        {% endfor %}
        </div>
    {% empty %}
    <div class="alert alert-warning">Not set statistic participates for party</div>
    {% endfor %}
</div>

{% endblock %}

