
#filter {
    max-width: 200px;
}

#filter .tooltip.top .tooltip-inner {
    background-color: #555;
    min-width: 200px;
}

#filter .tooltip.top .tooltip-arrow {
    border-top-color: #555;
}

#time-view-search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
