.badge {
    font-size: 80%;
}

.start-time {
    font-family: monospace;
}

#contests>tbody>tr>td {
    vertical-align: middle;
}

.header-start-time,
.header-duration,
.header-timeleft,
.header-event {
    /*font-weight: bold;*/
}

.header-start-time,
.header-duration,
.header-timeleft,
.start-time,
.duration,
.timeleft {
    text-align: center;
}

#contests>div:first-child {
    border-top: 1px solid #c9c9c9;
}

#contests>div {
    border-bottom: 1px solid #c9c9c9;
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
}

#contests>div {
    padding: 4px 0px;
}

#contests a {
    outline: none;
}


/*
 * action contest
 */

.hide-contest.fa-eye,
.fc-content .data-ace
{
    visibility: hidden;
    margin-right: 2px;
}

.fc-content .data-ace {
    color: #fff;
}

:hover > .hide-contest,
:hover > .data-ace
{
    visibility: visible;
}

.event i.hide-contest:hover,
.event .data-ace:hover i,
.event i.share-to-category:hover
{
    color: #23527c;
}

.fc-content a.data-ace:hover,
.fc-content i.hide-contest:hover
{
    color: black;
}

.event .hide-contest,
.event .data-ace,
.event .share-to-category
{
    color: #8be;
    cursor: pointer;
}

.party-check.has-permission-toggle-party-contest:hover {
    cursor: pointer;
}

.contest.nofilter {
    display: none;
}

.contest.onfilter {
    display: block !important;
}

.contest.subcontest {
    display: none;
}

@media(max-width:767px) {
    #contests>div:nth-child(2) {
        border-top: 1px solid #c9c9c9;
    }
    .event {
        text-align: center;
    }
    #switch {
        position: absolute;
        visibility: hidden;
    }
}

@media(min-width:1200px) {
    .event .resource{
        float: right;
    }
}

.event .resource a {
    text-decoration: none;
}
