#accounts table.table th,
#accounts table.table td
{
  text-align: center;
  vertical-align: middle;
}

#accounts table.table .account {
  text-align: left;
}

#accounts table.table th > div {
  display: inline-block;
}

#accounts table.table td:not(.account) {
  white-space: nowrap;
}

#accounts .has_coders {
  color: #999;
}

#accounts .has_coders.clickable {
  cursor: pointer;
}

#accounts input[type=checkbox][name=accounts] {
  transform: scale(1.5);
}

#accounts .buttons {
  width: 30px;
  margin: -1px;
  text-align: center;
}

#accounts .result-table {
  width: 100%;
  min-height: 40px;
}

#accounts .result-td {
  padding: 0px;
}

#accounts .gold-medal {
  background: #f9d923 !important;
}

#accounts .silver-medal {
  background: silver !important;
}

#accounts .bronze-medal {
  background: #c08e55 !important;
}

#accounts .honorable-medal {
  background: #d0e3f7 !important;
}
