#coder-list table.table th,
#coder-list table.table td
{
  text-align: center;
  vertical-align: middle;
}

#coder-list table.table .value {
  text-align: left;
}

#add-list-value {
  margin-top: 5px;
}

#coder-list {
  margin-top: 5px;
}

#add-list-value textarea,
#raw-submit {
  margin-bottom: 5px;
}
