.problem-date-column,
.problem-result-column,
.problem-field-column,
.problem-rating-column,
.problem-luck-column,
.problem-progress-column {
  text-align: center;
  white-space: nowrap;
}

#problems table td {
  vertical-align: middle;
}

.hidden-tag {
  cursor: pointer;
}

.problem-progress {
  height: 8px;
  margin: 0px;
}

#problems a.contests {
  font-size: 90%;
  color: #777;
  cursor: pointer;
}

.select2-container--bootstrap .select2-dropdown-status .select2-results>.select2-results__options {
  max-height: max-content;
  overflow-y: auto;
}

#problems .problem-result-column a {
  color: inherit !important;
}
