#resources table td,
#resources table th {
  text-align: center;
  vertical-align: middle !important;
}

#resources table td img {
  vertical-align: top;
  margin-top: 3px;
}

#resources table td {
  white-space: nowrap;
}

#resources table td.wrap {
  white-space: wrap;
}

#resources.panel {
  padding: 0px;
}

#resources .badge {
  min-width: 30px;
}

#resources [data-column] {
  cursor: pointer;
}

#resources .help-message {
  color: #bbb;
  position: absolute;
  margin-left: 2px;
}
