table.table tr td,
table.table tr th {
  text-align: center;
  vertical-align: middle;
}

#toggleLogScale {
  position: absolute;
  right: 15px;
}

@media (min-width:1200px) {
  #ratingDistribution {
    min-height: 400px !important;
  }
}

#resource-filters .short-value {
  width: 70px !important;
}

table.table td {
  white-space: nowrap;
}

table.table.contests tr .title,
table.table.problems tr .title {
  text-align: left;
}

.update-time {
  font-size: 70%;
  font-weight: normal;
  margin-top: 5px;
  margin-right: 5px;
}
