table.table tr td,
table.table tr th {
  text-align: center;
  vertical-align: middle;
}

#toggleLogScale {
  position: absolute;
  right: 15px;
}

@media (min-width:1200px) {
  #ratingDistribution {
    min-height: 400px !important;
  }
}

#resource-filters .short-value {
  width: 70px !important;
}

table.table td {
  white-space: nowrap;
}

table.table.contests tr .title,
table.table.problems tr .title {
  text-align: left;
}

@media (min-width: 992px) {
  #resource-tables {
    display: flex;
    flex-wrap: wrap;
  }
}
