#resources-rating table td,
#resources-rating table th {
  text-align: center;
  vertical-align: middle !important;
}

#resources-rating th.host {
  text-align: left;
}

#resources-rating table td {
  white-space: nowrap;
}

#resources-rating .hover {
  background-color: #dff0d8;
}

#resources-rating .fixed {
  background-color: #d9edf7;
}
