table.standings {
  border-collapse: separate;
}

table.standings td,
table.standings th {
  text-align: center;
  vertical-align: middle !important;
}

.acc {
  color: #090;
  font-weight: bold;
}

.rej {
  color: #d22;
  font-weight: bold;
}

.hid, .upsolving {
  color: #da2;
  font-weight: bold;
}

.par, .upsolved {
  color: #07f;
  font-weight: bold;
}

.swi {
  color: #f0f;
  font-weight: bold;
}

.standings tr.parity-border td,
.standings tr.parity-border th
{
  border-top: 1px solid #444;
}

.standings .first-ac,
.standings .max-score {
  background: #dff0d8 !important;
}

.standings .first-ac-of-all {
  background: #ffe866 !important;
}

.standings .gold-medal {
  background: #f9d923 !important;
}

.standings .silver-medal {
  background: silver !important;
}

.standings .bronze-medal {
  background: #c08e55 !important;
}

.standings .honorable-medal {
  background: #d0e3f7 !important;
}

.standings .text-gold-medal {
  color: #ccab04 !important;
}

.standings .text-bg-success {
  color: #4ba823 !important;
}

.standings .bg-success {
  background: #dff0d8 !important;
}

table.standings .handle-cell {
  text-align: left;
  white-space: nowrap;
}

table.standings .rating-cell {
  white-space: nowrap;
}

table.standings .place-cell {
  white-space: nowrap;
}

.handle-cell > .handle-cell-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.standings thead th {
  border: none !important;
}

.standings thead tr th {
  box-shadow: inset 0 -1px #d0d0d0;
}

.standings th.header-score {
  box-shadow: inset 1px 0 #d0d0d0;
}

.standings tr.header-problems th.subheader-score {
  box-shadow: inset 1px 0 #d0d0d0, inset 0 -1px #d0d0d0;
}

a.coder, .standings td a {
  color: inherit !important;
}

.inline {
  display: inline;
}

.standings a.coder:hover span,
a.solution:hover span {
  text-decoration: underline;
}

.standings .handle-cell:hover .external-link {
  visibility: visible;
}

.nobold {
  font-weight: normal;
}

#view-solution-modal:not(.fullscreen) .modal-body {
  max-height: calc(100vh - 200px);
}

#view-solution-modal.fullscreen .modal-body {
  max-height: calc(100vh - 120px);
}

#view-solution-modal.modal .modal-body {
  overflow-y: auto;
}

#update-statistics-log-output {
  white-space: pre-wrap;
}

#update-statistics-log-output .horizontal-line {
  height: 1px;
  background-color: #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

#update-statistics-progress-text {
  position: absolute;
  color: black;
  text-align: center;
  left: 0;
  right: 0;
  user-select: none;
}

.language {
  white-space: nowrap;
}

#table-inner-scroll table thead tr,
#table-inner-scroll:not(.firefox) table tr.starred,
#table-inner-scroll.firefox table tr.starred td  /* https://bugzilla.mozilla.org/show_bug.cgi?id=1745323 */
{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 20;
}

#table-inner-scroll table tr.starred td {
  border-top: 1px solid #c8e5f3;
}

#table-inner-scroll table .sticky-column {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  z-index: 10;
}

.table tr:nth-of-type(n).info td {
  background-color: #d9edf7;
}

.table-striped tr:nth-of-type(even)>td {
  background-color: #ffffff;
}

.table-striped tr:nth-of-type(odd)>td {
  background-color: #f9f9f9;
}

/*
 * starred
 */

.starred .advance,
.advance {
  font-weight: bold;
}

.star {
  cursor: pointer;
}

#unstar {
  cursor: pointer;
  color: inherit;
}

.stat-cell.starred .far.fa-star {
  display: none;
}

.stat-cell .fas.fa-star {
  display: none;
}

.stat-cell.starred .fas.fa-star {
  display: inline;
}

#table-inner-scroll {
  overflow-x: auto;
  overflow-y: auto;
}

#standings-authors {
  margin-top: -10px;
  margin-bottom: 10px;
}

#standings-groupby > div {
  padding: 0px;
}

.standings-resource img {
  vertical-align: top;
}

.neighbors-standings-url {
  text-align: left;
}

.problem-progress {
  height: 7px;
  margin: 5px 0px;
}

#timeline {
  position: relative;
  margin-bottom: 5px;
  cursor: pointer;
  display: none;
}

#timeline-buttons {
  display: inline-block;
}

#timeline-text {
  position: absolute;
  color: black;
  text-align: center;
  left: 0;
  right: 0;
  user-select: none;
}

#timeline-tooltip {
  display: none;
  position: fixed;
  z-index: 100501;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.first-u-cell.result-hidden::before,
.problem-cell.result-hidden::before {
  content: "?";
  color: #da2;
}

.standings .result-hidden * {
  background: inherit !important;
  display: none !important;
}

.accepted-switcher {
  cursor: pointer;
}

.problem-cell.accepted-switcher:hover {
  background-color: #fef;
}

.problem-cell .is-virtual {
  color: #777;
  font-size: 70%;
  margin-left: -2px;
}

/*
 * versus games modal
 */

.modal-versus-games .panel,
.modal-versus-games table {
  margin: 0;
}

.modal-versus-games table {
  text-align: center;
}

.modal-versus-games table a {
  color: #337ab7 !important;
}

.modal-versus-games table {
  text-align: center;
}

.modal-versus-games .modal-content {
  max-height: calc(100vh - 60px);
  overflow-y: auto;
}

a.versus-games:hover {
  cursor: pointer;
}

#parsed-time .pull-right {
  margin-top: -20px;
  height: 20px;
}

.stat-cell {
  position: relative;
  background-color: #fff;
}

table.standings.table-condensed-detail tr>td {
  height: 40px;
}

table.standings.table-condensed-detail tr>* {
  padding: 1px 5px;
}

table.standings.table-condensed-non-detail tr>* {
  padding: 5px;
}

table.standings.table-merge-problems th {
  height: 20px;
  line-height: normal;
}
