#standings_list .n_statistics {
  text-align: center;
}

#standings_list .n_problems {
  text-align: center;
}

#standings_list .date {
  text-align: right;
  white-space: nowrap;
}

#standings_list .submissions {
  color: #bbb;
}

#standings_list tr td[colspan="100%"] {
  padding: 4px;
}

#standings-filters .input-group-addon:has(>.series-checkbox) {
  line-height: 1.0;
}

#standings-filters .series-checkbox {
  transform: scale(1.3);
}

.problems .division {
  vertical-align: middle;
  text-align: center;
  padding: 5px;
}

.problems .problem {
  text-align: center;
  min-width: 50px;
  display: inline-block;
}
