EMAIL_HOST_PASSWORD = '{str}'
SECRET_KEY = '{str}'
TELEGRAM_TOKEN = '{int}:{str}'
TELEGRAM_ADMIN_CHAT_ID = {int}

DB_HOST = '{str}'
DB_PORT = '{int}'
DB_NAME = '{str}'
DB_USER = '{str}'
DB_PASSWORD = '{str}'
