js/moment.min.js linguist-vendored

js/moment-timezone.min.js linguist-vendored

bootswatch/ linguist-vendored

css/bootstrap-editable.css linguist-vendored
js/bootstrap-editable.js linguist-vendored
js/bootstrap-editable.min.js linguist-vendored

css/Chart.min.css linguist-vendored
js/Chart.min.js linguist-vendored

css/BootstrapXL.css linguist-vendored

css/awesome-bootstrap-checkbox.css linguist-vendored

css/font-awesome.css linguist-vendored

css/select2-bootstrap.min.css linguist-vendored

js/bootbox.min.js linguist-vendored

fullcalendar/ linguist-vendored
