{% if with_resource %}
  {% if with_fixed_width %}<div class="resource-width-fixed">{% endif %}
    <a href="{% url_transform request resource=resource.pk %}">
      <img data-toggle="tooltip" data-placement="bottom" title="{{ resource.host }}" src="{{ resource.icon|static_resize:'32x32' }}" width="16" height="16"/>
    </a>
  {% if with_fixed_width %}</div>{% endif %}
{% endif %}

{% if with_fixed_width %}<div class="avatar-width-fixed">{% endif %}
{% if resource.avatar_url %}
  {% call_method account 'avatar_url' resource as avatar_url %}
  {% if avatar_url %}
    <img class="account-avatar" src="{{ avatar_url }}"/>
  {% endif %}
{% endif %}
{% if with_fixed_width %}</div>{% endif %}

{% if not without_country %}
{% if with_fixed_width %}<div class="flag-width-fixed">{% endif %}
{% with country=account.country %}
{% if country %}
{% with code=account.info.custom_countries_|get_item:country.code|default:country.code %}
<a href="{% url_transform request country=country.code %}" title="{{ country.name }}" data-toggle="tooltip">
  <div class="flag flag-{{ code|lower }}"></div>
</a>
{% endwith %}
{% endif %}
{% endwith %}
{% if with_fixed_width %}</div>{% endif %}
{% endif %}

<span>
{% coder_color_circle resource account.info %}

{% if not without_url %}
<a href="{{ account.url }}" class="{% coder_color_class resource account.info %}">
{% else %}
<span class="{% coder_color_class resource account.info %}">
{% endif %}

  {% if account.name and account.key|has_season:account.name %}
    <span>{{ account.name }}</span>
  {% elif account.name and resource.info.standings.name_instead_key %}
    <span>{{ account.name }}</span>
  {% else %}
    <span{% if account.name %} title="{{ account.name }}" data-placement="top"{% endif %} data-toggle="tooltip">{{ account.key }}</span>
  {% endif %}

{% if not without_url %}
</a>
{% else %}
</span>
{% endif %}

</span>
