{% load el_pagination_tags %}

{% lazy_paginate 50,200 accounts %}{% get_pages %}

{% for account in accounts %}
<tr{% if account.my_account %} class="info"{% endif %}>
  <td class="text-muted">{{ forloop.counter0|add:pages.current_start_index }}</td>
  <td class="account">
    {% include "account_table_cell.html" with resource=account.resource account=account with_resource=True with_fixed_width=True %}

    {% if perms.ranking.change_account %}
    <a href="{% url 'admin:ranking_account_change' account.id %}" class="database-link invisible" target="_blank"><i class="fas fa-database"></i></a>
    {% endif %}

    {% if request.user.is_authenticated and request.GET.add_account %}
    <div class="buttons pull-right">
      <button
        class="btn btn-primary btn-xs add-account{% if account.my_account %} hidden{% endif %}"
        data-id="{{ account.pk }}"
        data-action="add-account"
        data-message="Account added"
      ><i class="fas fa-user-plus fa-fw"></i></button>
      <button
        class="btn btn-danger btn-xs delete-account{% if not account.my_account %} hidden{% endif %}"
        data-id="{{ account.pk }}"
        data-action="delete-account"
        data-message="Account deleted"
      ><i class="far fa-trash-alt fa-fw"></i></button>
      <i class="loading-account fas fa-circle-notch fa-spin hidden fa-fw fa-lg"></i>
    </div>
    {% endif %}
  </td>
  <td>
    {% if not account.has_coders and perms.ranking.link_account %}
    <input type="checkbox" name="accounts" value="{{ account.pk }}"{% if account.pk|slugify in params.link_accounts %} checked{% endif %}>
    {% else %}
    <i class="has_coders fas fa-{% if account.has_coders %}check{% else %}times{% endif %}"></i>
    {% endif %}
  </td>
  <td>
    {% if account.rating is not None %}
    {% with coloring_field=account.resource.info|get_item:'ratings'|get_item:'chartjs'|get_item:'coloring_field' %}
    {% with coloring_value=account.info|get_item:coloring_field|pass_arg:coloring_field|ifelse:account.rating %}
    <div class="{% coder_color_class account.resource coloring_value %}">
        {% coder_color_circle account.resource coloring_value %}
        {{ account.rating }}
    </div>
    {% endwith %}
    {% endwith %}
    {% else %}
    &mdash;
    {% endif %}
  </td>
  <td>{{ account.n_contests }}</td>
  <td>{{ account.n_writers }}</td>
  <td>
    {% if account.last_activity is not None %}
    <div title="{{ account.last_activity|timezone:timezone|format_time:timeformat }}" data-toggle="tooltip">{{ account.last_activity|timezone:timezone|naturalday }}</div>
    {% else %}
    &mdash;
    {% endif %}
  </td>
  {% if custom_fields %}
  {% for field in custom_fields.values %}
  <td>
    {% with k=resources_custom_fields|contains:field|iftrue:"info__"|default:""|add:field %}
    {% with v=account|get_item:k %}
    {% if v is None %}
      &mdash;
    {% elif v|get_type == "datetime" %}
      <div title="{{ v|timezone:timezone|format_time:timeformat }}" data-toggle="tooltip">{{ v|timezone:timezone|naturalday }}</div>
    {% else %}
      {{ v }}
    {% endif %}
    {% endwith %}
    {% endwith %}
  </td>
  {% endfor %}
  {% endif %}
</tr>
{% endfor %}
{% show_more_table %}
<script>init_account_buttons()</script>
