{% extends "base.html" %}

{% block ogtitle %}{% block title %}Accounts{% endblock %}{% endblock %}
{% block description %}List of accounts with functional filter and search{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/accounts.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="col-lg-10 col-lg-offset-1">
  <form class="form-inline" method="get" action="">
  <div id="accounts-filters" class="form-group">
    <div class="input-group input-group-sm">
      <div class="input-group-addon">Account</div>

      <input
        type="search"
        name="search"
        value="{{ request.GET.search }}"
        class="form-control"
        {% if request.GET.search %}
        autofocus
        onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"
        {% endif %}
        autocomplete="off"
      />

      <div class="input-group-addon tooltip-help" data-toggle="tooltip" data-html="true" title="Account regex.<br>Use && and || and ! for difficult conditions.">
        <i class="fas fa-info"></i>
      </div>

      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <i class="fas fa-search"></i>
          Search
        </button>
      </span>
    </div>

    {% if request.GET.sort_order %}
    <input type="hidden" name="sort_column" value="{{ request.GET.sort_column }}"/>
    <input type="hidden" name="sort_order" value="{{ request.GET.sort_order }}"/>
    {% endif %}
    {% if request.GET.chart_column %}
    <input type="hidden" name="chart_column" value="{{ request.GET.chart_column }}"/>
    {% endif %}
    {% if chart and groupby %}
    <input name="groupby" value="{{ groupby }}" type="hidden"/>
    {% endif %}

    {% include 'country_filter.html' with has_country=True groupby=groupby|default:chart %}
    {% include 'resource_filter.html' with groupby=groupby|default:chart %}
  </div>

  </form>

  {% if chart %}
  <div>
    {% include "chart.html" with chart=chart %}
  </div>
  {% endif %}

  <script>$.endlessPaginate({paginateOnScroll: true, onCompleted: toggle_tooltip});</script>
  <div id="accounts" class="panel panel-default table-responsive">
    <table class="table table-hover table-striped table-float-head">
      <thead>
        <tr>
          <th>#</th>
          <th class="account">
            <div class="resource-width-fixed"></div>
            <div class="avatar-width-fixed"></div>
            <div class="flag-width-fixed"></div>
            <div>Accounts</div>
            <div class="sortable-column" data-column="account"></div>
          </th>
          <th>
            <div class="chart-column" data-field="rating"></div>
            <div>Rating</div>
            <div class="sortable-column" data-column="rating"></div>
          </th>
          <th>
            <div class="chart-column" data-field="n_contests"></div>
            <div>Contests<br/>number</div>
            <div class="sortable-column" data-column="n_contests"></div>
          </th>
          <th>
            <div class="chart-column" data-field="n_writers"></div>
            <div>Authors<br/>number</div>
            <div class="sortable-column" data-column="n_writers"></div>
          </th>
          <th>
            <div class="chart-column" data-field="last_activity"></div>
            <div>Last<br/>activity</div>
            <div class="sortable-column" data-column="last_activity"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        {% include page_template %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}


