<!DOCTYPE html>
<html{% block html %}{% endblock %}>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta name="google-site-verification" content="_r9dKPi1upFgyN6EgdU2g6yNRC7aza6qHyhdIPGomkE" />
        <meta name="description" property="og:description" content="{% block description %}Events of competitive programming. Also coders, standings and more{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="apple-touch-icon" sizes="180x180" href="{% static_ts 'img/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static_ts 'img/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static_ts 'img/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static_ts 'img/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static_ts 'img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">
        <meta name="msapplication-config" content="{% static_ts 'img/favicon/browserconfig.xml' %}">

        {% if user.is_authenticated %}
        <meta name="sw" content="{% static_ts 'js/sw.js' %}">
        <meta name="vapid-key" content="{{ vapid_public_key }}">
        {% endif %}

        <meta property="og:title" content="{%block full_ogtitle %}{% block ogtitle %}{% endblock %} - CLIST{% endblock %}">
        <title>{% block full_title %}{% block title %}{% endblock %} - CLIST{% endblock %}</title>

        {% if not DEBUG %}
        {% include 'counter/base.html' %}
        {% endif %}

        {% block begin-head %}{% endblock %}

        <script src="{% static_ts 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static_ts 'js/jquery-ui.min.js' %}"></script>
        <link href="{% static_ts 'css/jquery-ui.min.css' %}" rel="stylesheet">
        <script src="{% static_ts 'js/ie-emulation-modes-warning.js' %}"></script>

        <link href="{% static_ts 'css/base.css' %}" rel="stylesheet">
        <link href="{% static_ts 'css/print.css' %}" media="print" rel="stylesheet">

        <script src="{% static_ts 'js/base.js' %}"></script>

        {% if user.is_authenticated and user.coder.settings.theme %}
        <link href="{% static_ts 'bootswatch/'|add:user.coder.settings.theme|add:'/bootstrap.min.css' %}" rel="stylesheet">
        {% else %}
        <link href="{% static_ts 'css/bootstrap.min.css' %}" rel="stylesheet">
        {% endif %}

        <link href="{% static_ts 'css/my-bootstrap.css' %}" rel="stylesheet">

        <script src="{% static_ts 'js/bootstrap.min.js' %}"></script>
        <link href="{% static_ts 'css/bootstrap-toggle-2.2.2.min.css' %}" rel="stylesheet">
        <script src="{% static_ts 'js/bootstrap-toggle-2.2.2.min.js' %}"></script>
        <link href="{% static_ts 'css/bootstrap-input-xs.css' %}" rel="stylesheet">

        <link href="{% static_ts 'css/BootstrapXL.css' %}" rel="stylesheet">
        <link href="{% static_ts 'css/bootstrap-left-right-below-tabs.css' %}" rel="stylesheet">

        <link href="{% static_ts 'fontawesome/css/all.min.css' %}" rel="stylesheet">

        <script src="{% static_ts 'js/notify.js' %}"></script>
        <script src="{% static_ts 'js/notify-config.js' %}"></script>

        <script src="{% static_ts 'el-pagination/js/el-pagination.js' %}"></script>

        <link href="{% static_ts 'css/select2.min.css' %}" rel="stylesheet">
        <script src="{% static_ts 'js/select2.full.min.js' %}"></script>
        <link href="{% static_ts 'css/select2-bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static_ts 'flags/flags.css' %}" rel=stylesheet type="text/css">
        <link href="{% static_ts 'flags/flags-custom.css' %}" rel=stylesheet type="text/css">

        <script src="{% static_ts 'js/bootbox.min.js' %}"></script>

        <script src="{% static_ts 'js/ajax-csrf.js' %}"></script>

        <script src="{% static_ts 'js/jquery.floatThead-2.1.4.min.js' %}"></script>

        <script src="{% static_ts 'js/moment.min.js' %}"></script>
        <script src="{% static_ts 'js/moment-timezone.min.js' %}"></script>

        <script src="{% static_ts 'js/chart.js@3.5.0' %}"></script>
        <script src="{% static_ts 'js/chartjs-adapter-moment@0.1.1' %}"></script>
        <script src="{% static_ts 'js/chart-helper.js' %}"></script>
        <script src="{% static_ts 'js/palette-1.1.0.min.js' %}"></script>
        {% block end-head %}{% endblock %}
    </head>
    <body>
        {% block navbar %}{% include 'navbar.html' %}{% endblock %}
        <div class="rating-clips">{% include "rating-clip.html" %}</div>
        {% block container %}
        <div class="container">
        {% block banner %}
            {% for b in banners %}
                {% if b.template %}
                    {% include b.template with banner=b %}
                {% endif %}
            {% endfor %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        </div>
        {% endblock %}
        {% include 'messages.html' %}

        {% if user.is_authenticated %}
        <script src="{% static_ts 'js/register-sw.js' %}"></script>
        {% endif %}
    </body>
</html>
