<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="google-site-verification" content="_r9dKPi1upFgyN6EgdU2g6yNRC7aza6qHyhdIPGomkE" />

        <title>{% block full-title %}{% block title %}{% endblock %} - CLIST{% endblock %}</title>

        {% include 'counter/base.html' %}

        {% block begin-head %}{% endblock %}

        <script src="{% static_ts 'js/jquery-2.2.0.min.js' %}"></script>
        <script src="{% static_ts 'js/ie-emulation-modes-warning.js' %}"></script>

        <link href="{% static_ts 'css/base.css' %}" rel="stylesheet">
        <script src="{% static_ts 'js/base.js' %}"></script>

        <link href="{% static_ts 'css/bootstrap.min.css' %}" rel="stylesheet">
        <script src="{% static_ts 'js/bootstrap.min.js' %}"></script>
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

        <link href="{% static_ts 'css/BootstrapXL.css' %}" rel="stylesheet">
        <link href="{% static_ts 'css/bootstrap-left-right-below-tabs.css' %}" rel="stylesheet">

        <link href="{% static_ts "fontawesome/css/fontawesome-all.min.css" %}" rel="stylesheet">

        <script src="{% static_ts 'js/notify.js' %}"></script>
        <script src="{% static_ts 'js/notify-config.js' %}"></script>

        <script src="{% static_ts 'el-pagination/js/el-pagination.js' %}"></script>

        <link href="{% static_ts 'css/select2.min.css' %}" rel="stylesheet">
        <script src="{% static_ts 'js/select2.full.min.js' %}"></script>
        <link href="{% static_ts 'css/select2-bootstrap.min.css' %}" rel="stylesheet">

        {% block end-head %}{% endblock %}
    </head>
    <body>
        <svg width="0" height="0" style="display: block"><defs><clipPath id="rating-clip"><circle cx="{{ svg_r|default:8 }}" cy="{{ svg_r|default:8 }}" r="{{ svg_r|add:-1|default:7 }}"/></clipPath></defs></svg>
        {% block navbar %}{% include 'navbar.html' %}{% endblock %}
        <div class="container">
        {% block banner %}
            {% for b in banners %}
                {% include b.template with banner=b %}
            {% endfor %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        </div>
        {% include 'messages.html' %}
    </body>
</html>
