<script>
  customButtonDesc = { {% for i in ignore_filters %}cb{{ i.id }}: { text: '{{ i.name|safe }}', data: '{{ i.id }}' }{% if forloop.revcounter0 %}, {% endif %}{% endfor %} }
  customButtonGroup = '{% for i in ignore_filters %}{% if i.id == 0 %} {% endif %}cb{{ i.id }}{% if forloop.revcounter0 %},{% endif %}{% endfor %}'
  customButtonSelector = [{% for i in ignore_filters %}{% if i.id > 0 %}'.fc-cb{{ i.id }}-button',{% endif %}{% endfor %}].join(',')
  timezone = '{{ timezone }}'
  timezone_hm = '{{ timezone|get_timezone_offset_hm }}'
  hide_contest = {{ hide_contest|default:0 }}
  contest_toggle = {{ party.toggle_contest|default:0 }}
  party_contests_set = new Set([{% for i in party.contest_ids %}{% if forloop.counter0 %},{% endif %}{{ i }}{% endfor %}])
  has_permission_toggle_party_contests = {{ party.has_permission_toggle|default:0 }}
  add_to_calendar = {% if add_to_calendar %}"{{ add_to_calendar }}"{% else %}"disable"{% endif %}
  event_limit = {{ request.user.coder.settings.event_limit_calendar|default:"true" }}
</script>

{% if add_to_calendar and add_to_calendar != "disable" %}
<script src="{% static_ts 'js/AddCalEvent.js' %}"></script>
<link href="{% static_ts 'css/AddCalEvent.css' %}" rel="stylesheet">
<script>
  var AddCalEventZones = undefined
</script>
{% endif %}

<script src="{% static_ts 'js/moment.min.js' %}"></script>
<script src="{% static_ts 'js/moment-timezone.min.js' %}"></script>

<link href="{% static_ts 'fullcalendar/core/main.min.css' %}" rel="stylesheet">
<script src="{% static_ts 'fullcalendar/core/main.min.js' %}"></script>

<link href="{% static_ts 'fullcalendar/daygrid/main.min.css' %}" rel="stylesheet">
<script src="{% static_ts 'fullcalendar/daygrid/main.min.js' %}"></script>
<link href="{% static_ts 'fullcalendar/timegrid/main.min.css' %}" rel="stylesheet">
<script src="{% static_ts 'fullcalendar/timegrid/main.min.js' %}"></script>
<link href="{% static_ts 'fullcalendar/list/main.min.css' %}" rel="stylesheet">
<script src="{% static_ts 'fullcalendar/list/main.min.js' %}"></script>
<script src="{% static_ts 'fullcalendar/moment/main.min.js' %}"></script>
<script src="{% static_ts 'fullcalendar/moment-timezone/main.min.js' %}"></script>

<link href="{% static_ts 'css/contest/calendar.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/contest/calendar.js' %}"></script>

<script src="{% static_ts 'js/ajax-csrf.js' %}"></script>

<!-- {% csrf_token %} -->
