{% extends "base.html" %}

{% block ogtitle %}{% block title %}Coders{% endblock %}{% endblock %}
{% block description %}List of coders with functional filter and search{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/coders.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="col-lg-10 col-lg-offset-1">
  <form class="form-inline" method="get" action="">
  <div id="coders-filters" class="form-group">
    <div class="input-group input-group-sm">
      <div class="input-group-addon">Coder</div>

      <input
        type="search"
        name="search"
        value="{{ request.GET.search }}"
        class="form-control"
        {% if request.GET.search %}
        autofocus
        onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"
        {% endif %}
        autocomplete="off"
      />

      <div class="input-group-addon tooltip-help" data-toggle="tooltip" data-html="true" title="User regex.<br>Use && and || and ! for difficult conditions.">
        <i class="fas fa-info"></i>
      </div>

      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <i class="fas fa-search"></i>
          Search
        </button>
      </span>
    </div>

    {% include 'country_filter.html' with has_country=True %}
    {% include 'resource_filter.html' %}

    {% include "field_to_select.html" with field='virtual' data=virtual_field %}

    {% if request.GET.sort_order %}
    <input type="hidden" name="sort_column" value="{{ request.GET.sort_column }}"/>
    <input type="hidden" name="sort_order" value="{{ request.GET.sort_order }}"/>
    {% endif %}
  </div>

  </form>

  <script>$.endlessPaginate({paginateOnScroll: true, onCompleted: toggle_tooltip});</script>
  <div id="coders" class="panel panel-default table-responsive">
    <table class="table table-hover table-striped table-float-head">
      <thead>
        <tr>
          <th>#</th>
          <th class="username">
            <div class="flag-width-fixed"></div>
            <div>Coder</div>
            <div class="sortable-column" data-column="username"></div>
          </th>
          {% if enable_global_rating %}
          <th>
            <div>Global<br/>rating</div>
            <div class="sortable-column" data-column="global_rating"></div>
          </th>
          {% endif %}
          {% for resource in params.resources %}
          <th>
            <a href="{% url 'clist:resource' resource.host %}">
              <img data-toggle="tooltip" data-placement="bottom" title="{{ resource.host }}" src="{{ resource.icon|static_resize:'32x32' }}" width="24" height="24"/>
            </a>
            <div class="sortable-column" data-column="resource_{{ resource.pk }}"></div>
          </th>
          {% endfor %}
          <th>
            <div>Contests<br/>number</div>
            <div class="sortable-column" data-column="n_contests"></div>
          </th>
          <th>
            <div>Accounts<br/>number</div>
            <div class="sortable-column" data-column="n_accounts"></div>
          </th>
          <th>
            <div>Registration<br/>time</div>
            <div class="sortable-column" data-column="created"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        {% include page_template %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

