{% extends "base.html" %}

{% block ogtitle %}{% block title %}{% if is_owner %}{{ coder_list.name }} - {% endif %}List{% endblock %}{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/coder_list.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/coder_list.js' %}"></script>
{% endblock %}

{% block content %}

<h2>
  <i class="fas fa-list"></i>
  {% if is_owner %}{{ coder_list.name }}{% else %}{{ coder_list.uuid }}{% endif %}
  {% if versus %}
  <small><a href="{% url 'ranking:versus' versus %}"><i class="fas fa-people-arrows"></i></a></small>
  {% endif %}
  {% if perms.true_coders.change_coderlist %}
    <a href="{% url 'admin:true_coders_coderlist_change' coder_list.id %}" class="database-link invisible" target="_blank"><i class="fas fa-database"></i></a>
  {% endif %}
</h2>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <form class="form-inline" method="post" action="">
      {% if can_modify %}
      {% csrf_token %}

      <div id="add-list-value">
        <span id="add-list-value-coder">
        {% include "coder_filter.html" with nomultiply=True coder="coder" %}
        <span class="or">or</span>
        </span>
        {% include "account_filter.html" with nomultiply=True account="account" %}
        <span class="or">or</span>
        <div class="form-group">
          <textarea class="form-control" rows="1" name="raw" id="raw-value" placeholder="coder_1
  host_2:account_2,host_3:account_3
  ..."></textarea>
          <button class="btn btn-primary btn-sm" type="submit" id="raw-submit" disabled>Add</button>
        </div>
      </div>
      {% endif %}

      <div id="coder-list" class="panel panel-default table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th><i class="fas fa-external-link-alt"></i></th>
              <th>VS</th>
              <th class="value">Coder/Accounts</th>
              {% for resource in params.resources %}
              <th>
                <a href="{% url 'clist:resource' resource.host %}">
                  <img data-toggle="tooltip" data-placement="bottom" title="{{ resource.host }}" src="{{ resource.icon|static_resize:'32x32' }}" width="24" height="24"/>
                </a>
              </th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for group_id, data in coder_values.items %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="{% url 'coder:mixed_profile' data.versus %}"><i class="fa fa-user"></i></a></td>
              <td>
                {% if request.user.is_authenticated %}
                <a href="{% url 'ranking:versus' data.versus|add:"/vs/"|add:coder.username %}"><i class="fas fa-people-arrows"></i></a>
                {% else %}
                <a href="{% url 'auth:login' %}?next={{ request.path }}"><i class="fa fa-sign-in-alt"></i></a>
                {% endif %}
              </td>
              <td class="value">
                {% for v in data.list_values %}
                  {% if forloop.counter0 %}|{% endif %}
                  {% if v.coder %}
                  <a href="{% url 'coder:profile' v.coder.username %}">{{ v.coder.username }}</a>
                  {% elif v.account %}
                  {% include "account_table_cell.html" with resource=v.account.resource account=v.account with_resource=True %}
                  {% else %}
                  &mdash;
                  {% endif %}
                {% endfor %}
                {% if can_modify %}
                {% with v=data.list_values.0 %}
                <span class="inline-button">
                  <button href="#" class="add-account btn btn-primary btn-xs" data-gid="{{ v.group_id }}"><i class="fas fa-plus"></i></button>
                  <button class="btn btn-danger btn-xs" name="delete_gid" value="{{ v.group_id }}"><i class="far fa-trash-alt"></i></button>
                </span>
                {% endwith %}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>

{% endblock %}
