{% with coder_id=coder|default:"coder" %}
<div class="input-group input-group-sm hidden" id="{{ coder_id }}-hidden">
  <span class="input-group-addon">Coder</span>

  <select name="{{ coder_id }}" id="{{ coder_id }}" onchange="this.form.submit()"{% if not nomultiply %} multiple{% endif %}>
    <option></option>
    {% for coder in coders %}
      <option value="{{ coder.pk }}" selected>{{ coder.username }}</option>
    {% endfor %}
  </select>
</div>

<script>
  $('#{{ coder_id }}').select2({
    dropdownAutoWidth : true,
    theme: 'bootstrap',
    placeholder: '',
    allowClear: true,
    templateResult: function (data) {
      var $result = $('<span></span>')
      $result.text(data.text)
      if (data.icon) {
        $result.prepend('<img src="/imagefit/static_resize/32x32/' + data.icon + '" width="16" height="16">&nbsp;')
      }
      return $result
    },
    ajax: {
      url: '/settings/search/',
      dataType: 'json',
      delay: 314,
      data: function (params) {
        return {
          query: 'coders',
          regex: params.term,
          page: params.page || 1
        };
      },
      processResults: function (data, params) {
        return {
          results: data.items,
          pagination: {
            more: data.more
          }
        };
      },
      cache: true,
    },
  }).on('select2:unselecting', function() {
    $(this).data('unselecting', true);
  }).on('select2:opening', function(e) {
    if ($(this).data('unselecting')) {
      $(this).removeData('unselecting');
      e.preventDefault();
    }
  })
  $('#{{ coder_id }}-hidden').removeClass('hidden');
</script>
{% endwith %}
