<script>

function create_chart_config(resource, resource_info, dates) {
  var min_rating = resource_info['min']
  var max_rating = resource_info['max']
  var rating_labels = new Set($.map(resource_info['colors'], function(val) { return val['low']; }))
  var max_rating_labels = Math.max(...$.map(resource_info['colors'], function(val) { return val['low']; }))
  var highest = resource_info['highest']

  function get_or_default(value, other) {
    return value == undefined? other: value;
  }


  var datasets_infos = get_or_default(resource_info['datasets'], {})
  var datasets_colors = get_or_default(datasets_infos['colors'], [])
  var datasets_labels = get_or_default(datasets_infos['labels'], [])

  return {
    type: 'line',
    data: {
      labels: dates,
      datasets: $.map(resource_info['data'], function(data, index) {
        return {
          data: $.map(data, function(val) { return {t: val['date'], y: val['new_rating']}; }),
          label: datasets_labels[index],
          history: data,
          borderWidth: get_or_default(resource_info['border_width'], 1),
          borderColor: get_or_default(datasets_colors[index], 'black'),
          pointRadius: get_or_default(resource_info['point_radius'], 3),
          pointHitRadius: get_or_default(resource_info['point_hit_radius'], 1),
          pointHoverRadius: 5,
          fill: false,
          lineTension: 0,
          pointBackgroundColor: $.map(data, function(val) {
            for (var idx in resource_info['colors']) {
              var rating = resource_info['colors'][idx]
              if (rating['low'] <= val['new_rating'] && val['new_rating'] <= rating['high']) {
                return rating['hex_rgb']
              }
            }
          }),
        }
      })
    },
    options: {
      responsive: true,
      title: {
        display: true,
        text: resource,
        fontSize: 16,
      },
      legend: {
        display: resource_info['data'].length > 1,
        position: 'right',
      },
      hover: {
        mode: 'nearest',
      },
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            unit: 'year',
          },
        }],
        yAxes: [{
          gridLines: {
            display: false,
          },
          ticks: {
            stepSize: 50,
            autoSkip: false,
            min: Math.floor((min_rating - 100) / 100) * 100,
            max: Math.ceil((max_rating + 100) / 100) * 100,
            callback: function(value, index, values) {
              if ((value < max_rating_labels || value % 500) && !rating_labels.has(value)) {
                return;
              }
              return value
            },
          },
        }],
      },
      rating_colors: resource_info['colors'],
      onClick: function (e, item) {
        if (item.length == 0) {
          return
        }
        item = item[0]
        rating = item._chart.data.datasets[item._datasetIndex].history[item._index]
        if ('url' in rating) {
          url = rating['url']
        } else {
          url = '/standings/' + rating['slug'] + '-' + rating['cid'] + '/'
        }
        window.open(url, '_blank');
      },
      onHover: (e, el) => {
        e.target.style.cursor = el[0] ? 'pointer' : 'default'
      },
      tooltips: {
        displayColors: false,
        bodyFontSize: 14,
        caretPadding: 0,
        caretSize: 0,
        callbacks: {
          title: function(tooltipItem, data) {
            var hist = data.datasets[tooltipItem[0].datasetIndex].history[tooltipItem[0].index]
            var ret = '<div style="font-weight: bold">' + hist['name'] + '</div>'
            if (resource_info['data'].length > 1) {
              ret = '<div style="font-weight: bold">' + datasets_labels[tooltipItem[0].datasetIndex] + '</div>' + ret
            }
            return ret
          },
          label: function(tooltipItem, data) {
            var color = data.datasets[tooltipItem.datasetIndex].pointBackgroundColor[tooltipItem.index]
            var hist = data.datasets[tooltipItem.datasetIndex].history[tooltipItem.index]
            var rating = '<span style="font-weight: bold; color: ' + color + '">' + hist['new_rating'] + '</span>'
            if (hist['old_rating']) {
              var change = hist['new_rating'] - hist['old_rating']
              if (change > 0) {
                rating += ' <span style="font-weight: bold; color: #0f0"><i class="fas fa-angle-up"></i>' + change + '</span>'
              } else if (change < 0) {
                rating += ' <span style="font-weight: bold; color: #f00"><i class="fas fa-angle-down"></i>' + -change + '</span>'
              } else {
                rating += ' <span style="font-weight: bold; color: #fff">=' + change + '</span>'
              }
            }
            var label = ''
            label += '<div>' + hist['when'] + '</div>'
            label += '<div>' + rating + '</div>'
            if (hist['place']) {
              label += '<div class="small">Rank: ' + hist['place'] + '</div>'
            }
            if (typeof hist['score'] != 'undefined') {
              label += '<div class="small">Score: ' + hist['score'] + '</div>'
            }
            if (hist['solved'] != null) {
              label += '<div class="small">Solved: ' + hist['solved'] + ' of ' + hist['n_problems'] + '</div>'
            }
            return label
          },
        },

        enabled: false,

        custom: function(tooltipModel) {
          // Tooltip Element
          var tooltipEl = document.getElementById('chartjs-tooltip');

          // Create element on first render
          if (!tooltipEl) {
            tooltipEl = document.createElement('div');
            tooltipEl.id = 'chartjs-tooltip';
            tooltipEl.innerHTML = '<div></div>';
            document.body.appendChild(tooltipEl);
          }

          // Hide if no tooltip
          if (tooltipModel.opacity === 0) {
            tooltipEl.style.opacity = 0;
            return;
          }

          // Set caret Position
          tooltipEl.classList.remove('above', 'below', 'no-transform');
          if (tooltipModel.yAlign) {
            tooltipEl.classList.add(tooltipModel.yAlign);
          } else {
            tooltipEl.classList.add('no-transform');
          }

          function getBody(bodyItem) {
            return bodyItem.lines;
          }

          // Set Text
          if (tooltipModel.body) {
            var titleLines = tooltipModel.title || [];
            var bodyLines = tooltipModel.body.map(getBody);

            var innerHtml = '';

            titleLines.forEach(function(title) {
              innerHtml += '<div>' + title + '</div>';
            });

            bodyLines.forEach(function(body, i) {
              innerHtml += '<div>' + body + '</div';
            });

            var tableRoot = tooltipEl.querySelector('div');
            tableRoot.innerHTML = innerHtml;
          }

          // `this` will be the overall tooltip
          var position = this._chart.canvas.getBoundingClientRect();

          // Display, position, and set styles for font
          tooltipEl.style.opacity = 1;
          tooltipEl.style.position = 'absolute';

          var left = window.pageXOffset + position.left + tooltipModel.caretX + (tooltipModel.caretX > tooltipEl.offsetWidth + 10? -tooltipEl.offsetWidth : 0)
          tooltipEl.style.left = left + 'px';
          var top = window.pageYOffset + position.top + tooltipModel.caretY + (tooltipModel.caretY < position.height - tooltipEl.offsetHeight - 10? 0 : -tooltipEl.offsetHeight)
          tooltipEl.style.top = top + 'px';

          tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
          tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
          tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
          tooltipEl.style.padding = tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
          tooltipEl.style.pointerEvents = 'none';
        },
      },
    },
    plugins: [{
      beforeDraw: function (chart) {
        var rating_colors = chart.chart.options.rating_colors
        var ctx = chart.chart.ctx
        var rules = chart.chart.options.backgroundRules;
        var y_axis = chart.chart.scales["y-axis-0"];
        var x_axis = chart.chart.scales["x-axis-0"];

        for (var i = 0; i < rating_colors.length; ++i) {
          var to = get_y_chart(rating_colors[i].low, y_axis)
          var from = get_y_chart(rating_colors[i].high + 1, y_axis)
          hsl = rating_colors[i].hsl
          color = 'hsl(' + hsl[0] * 360 + ',' + hsl[1] * 100 + '%,' + (hsl[2] * 100 + 100) * 0.5 + '%)'
          ctx.fillStyle = color
          ctx.fillRect(x_axis.left, from, x_axis.width, to - from)
        }

        if (highest) {
          var y = get_y_chart(highest['value'], y_axis)
          ctx.beginPath();
          ctx.setLineDash([5, 15])
          ctx.moveTo(x_axis.left, y)
          ctx.lineTo(x_axis.right, y)
          ctx.stroke()
          ctx.setLineDash([])
          ctx.closePath()
        }
      },
      beforeDatasetsDraw: function (chart) {
        if (!highest) {
          return;
        }
        var ctx = chart.chart.ctx
        var y_axis = chart.chart.scales["y-axis-0"];
        var x_axis = chart.chart.scales["x-axis-0"];

        var x = get_x_chart(highest['timestamp'] * 1000, x_axis)
        var y = get_y_chart(highest['value'], y_axis)
        var width = 40
        var height = 20
        var rx = Math.min(Math.max(x_axis.left + 10, x - width / 2), x_axis.right - width - 10)
        var ry = y - (height + 10)
        if (y_axis.top <= y && y <= y_axis.bottom) {
          var cx = rx + width / 2
          var cy = ry + height / 2

          ctx.beginPath();
          ctx.moveTo(x, y);
          ctx.lineTo(Math.min(Math.max(x, rx), rx + width - 1), ry + height - 1);
          ctx.lineWidth = 1;
          ctx.strokeStyle = 'black';
          ctx.stroke();
          ctx.closePath()

          ctx.fillStyle = '#fff'
          ctx.fillRect(rx, ry, width, height)
          ctx.lineWidth = 1
          ctx.strokeStyle = 'black'
          ctx.strokeRect(rx, ry, width, height)

          ctx.font = '12px Comic Sans MS';
          ctx.textAlign = 'center'
          ctx.fillStyle = 'black'
          ctx.fillText(highest['value'], cx, cy + 4);
        }
      }
    }],
  }
}

</script>
