<div class="input-group input-group-sm field-to-select hidden">
  {% if data.nogroupby %}
    <span class="input-group-addon">{{ data.title|default:field|title }}</span>
  {% else %}
  <div class="input-group-btn">
    <button class="btn btn-default{% if groupby == field %} active{% endif %}" name="groupby" value="{% if groupby != field %}{{ field }}{% endif %}">{{ data.title|default:field|title }}</button>
  </div>
  {% endif %}
  <select name="{{ field }}" id="{{ field }}" onchange="this.form.submit()"{% if not data.nomultiply %} multiple{% endif %}>
  {% if data.options %}
    <option></option>
    {% for v in data.options %}
      <option value="{{ v }}"{% if v in data.values %} selected{% endif %}>{{ v }}</option>
    {% endfor %}
  {% else %}
    {% for v in data.values %}
      <option value="{{ v }}" selected>{{ v }}</option>
    {% endfor %}
  {% endif %}
  </select>
</div>
<script>
  $('#{{ field }}').select2({
    minimumResultsForSearch: -1,
    dropdownAutoWidth : true,
    theme: 'bootstrap',
    placeholder: '',
    allowClear: true,
    {% if not data.noajax %}
    ajax: {
        url: '/settings/search/',
        dataType: 'json',
        delay: 314,
        data: function (params) {
            return {
                query: 'field-to-select',
                cid: {{ contest.pk }},
                division: '{{ request.GET.division }}',
                field: $(this).attr('name'),
                text: params.term,
                page: params.page || 1
            };
        },
        processResults: function (data, params) {
            return {
                results: data.items,
                pagination: {
                    more: data.more
                }
            };
        },
        cache: true,
    },
    {% endif %}
  }).on('select2:unselecting', function() {
    $(this).data('unselecting', true);
  }).on('select2:opening', function(e) {
    if ($(this).data('unselecting')) {
      $(this).removeData('unselecting');
      e.preventDefault();
    }
  })
</script>
