<div class="list-group-item">
  <strong class="name">
    {{ participant.first_name }}
    <a href="{% url 'coder:profile' participant.coder.username %}">{{ participant.coder.username }}</a>
    {{ participant.last_name }}
  </strong>
  {% if participant.organization %}
  from <abbr title="{{ participant.organization.name }}" data-toggle="tooltip">{{ participant.organization.abbreviation }}</abbr>
  {% endif %}
  {% if participant.team %}
  in <strong class="small">{{ participant.team.name }}</strong>
  {% endif %}

  {% if perms.events.participant_change %}
    <a href="{% url 'admin:events_participant_change' participant.id %}" class="external-database-link invisible" target="_blank"><i class="fas fa-database"></i></a>
  {% endif %}
</div>

<script>$(function(){$('[data-toggle="tooltip"]').removeAttr('data-toggle').tooltip()})</script>
