{% load extras %}
<{% if without_detail_url %}div{% else %}a{% endif %} class="team list-group-item status-{{ team.status }}"{% if not without_detail_url %} href="{% url 'events:team-details' slug=slug team_id=team.id %}"{% endif %}>
  <strong class="name">
    {{ team.title }}
  </strong>
  <span class="badge progress-bar-{{ team_status.classes|get_item:team.status }}">{{ team_status.labels|get_item:team.status }}</span>

  <div class="small">
    {% with organizations=team.organizations %}
    {% if organizations %}{% for o in team.organizations %}{{ o.name }}{% if forloop.revcounter0 %} + {% endif %}{% endfor %}{% endif %}{% if team.country %},{% endif %}
    {% endwith %}
    {% with country=team.organizations %}
    {% if country %}{{ team.country }}{% endif %}
    {% endwith %}
    <div class="text-muted">
      {% for p in team.ordered_participants %}
        {% for a in p.coder.account_set.all %}
        {% coder_color_circle codeforces_resource a.info size=10 %}
        <{% if with_profile_url %}a href="{{ codeforces_resource.profile_url|format_dict:a.dict_with_info }}" target="_blank"{% else %}span{% endif %} class="{% coder_color_class codeforces_resource a.info %}">{{ a.key }}</{% if with_profile_url %}a{% else %}span{% endif %}>
        {% endfor %}
        {% if with_profile_url %}<a href="{% url 'coder:profile' p.coder %}">{% endif %}{{ p.first_name }} {{ p.last_name }}{% if with_profile_url %}</a>{% endif %}{% if forloop.revcounter0 %}, {% endif %}
      {% endfor %}
    </div>
    {% if team.coach %}
    <div class="text-muted">
      Coach: <strong>{{ team.coach.first_name }} {{ team.coach.last_name }}</strong>
    </div>
    {% endif %}
  </div>
</{% if without_detail_url %}div{% else %}a{% endif %}>
