{% extends "base.html" %}

{% block content %}
{% if request.is_ajax %}
<script>
    window.location.href = "{{ request.get_full_path }}";
</script>
{% else %}
<div class="col-sm-offset-2 col-sm-8 col-lg-offset-4 col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading">{% block ogtitle %}{% block title %}Log in / Sign up{% endblock %}{% endblock %}</div>
        <div class="panel-body">
        <style>
.mbtn-group-justified>.btn {
    display: table-cell;
    float: none;
}

.mbtn-group-justified {
    margin-bottom: 5px;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
        </style>

{% if services %}
    {% for service in services %}
            <div class="mbtn-group-justified btn-group">
                <a class="btn btn-default active icon service-icon-btn">{% icon_to service.name %}</a>
                <a href="{% url 'auth:query' service.name %}" class="btn btn-default">
                    <div class="text-left">{{ service.title }}</div>
                </a>
            </div>
    {% endfor %}
{% else %}
            <form method="post">{% csrf_token %}
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Username" value="">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" name="action" tabindex="3" class="btn btn-primary" value="login">Log In</button>
            </form>
{% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
