{% extends "base.html" %}

{% block content %}
{% if request.is_ajax %}
<script>
    window.location.href = "{{ request.get_full_path }}";
</script>
{% else %}
<div class="col-sm-offset-2 col-sm-8 col-lg-offset-4 col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading">{% block ogtitle %}{% block title %}Log in / Sign up{% endblock %}{% endblock %}</div>
        <div class="panel-body">
        <style>
.mbtn-group-justified>.btn {
    display: table-cell;
    float: none;
}

.mbtn-group-justified {
    margin-bottom: 5px;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
        </style>
        {% for service in services %}
            <div class="mbtn-group-justified btn-group">
                <a class="btn btn-default active icon service-icon-btn"><i class="fab {{ service.fa_icon }}"></i></a>
                <a href="{% url 'auth:query' service.name %}" class="btn btn-default">
                    <div class="text-left">{{ service.title }}</div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
