{% load extras %}
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'clist:main' %}">CLIST</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'clist:resources' %}">Resources</a></li>
                <li><a href="{% url 'clist:tastypie_swagger:index' %}">API</a></li>
                <li><a href="{% url 'telegram:me' %}" target="_blank">Telegram</a></li>
                <li><a href="https://github.com/aropan/clist/issues" target="_blank">Issues</a></li>
                <li><a href="{% url 'coder:parties' %}">Parties</a></li>
                <li><a href="{% url 'events:events' %}">Events</a></li>
                <li><a href="{% url 'ranking:standings_list' %}">Standings</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}&nbsp;<i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'coder:profile' user.username %}"><i class="fa fa-user"></i> Profile</a></li>
                        {% if user.is_staff %}
                        <li><a href="/admin/"><i class="fa fa-home"></i> Admin</a></li>
                        {% endif %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'coder:settings' %}#preferences-tab"><i class="fa fa-cog"></i>&nbsp;Preferences</a></li>
                        <li><a href="{% url 'coder:settings' %}#social-tab"><i class="fa fa-users"></i>&nbsp;Social</a></li>
                        <li><a href="{% url 'coder:settings' %}#accounts-tab"><i class="fa fa-globe"></i>&nbsp;Accounts</a></li>
                        <li><a href="{% url 'coder:settings' %}#filters-tab"><i class="fa fa-filter"></i>&nbsp;Filters</a></li>
                        <li><a href="{% url 'coder:settings' %}#notifications-tab"><i class="fa fa-bullhorn"></i>&nbsp;Notifications</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'auth:logout' %}"><i class="fa fa-sign-out-alt"></i> Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sign-in"></i>&nbsp;Login / Sign Up&nbsp;<i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu signup">
                        <li><a href="{% url 'auth:query' "vk" %}"><i class="fab fa-vk"></i> vkontakte</a></li>
                        <li><a href="{% url 'auth:query' "yandex" %}"><i class="fab fa-yahoo"></i> yandex</a></li>
                        <li><a href="{% url 'auth:query' "google" %}"><i class="fab fa-google"></i> google</a></li>
                        <li><a href="{% url 'auth:query' "facebook" %}"><i class="fab fa-facebook"></i> facebook</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
