<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'clist:main' %}">CLIST</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'clist:resources' %}">Resources</a></li>
                <li><a href="{% url 'ranking:standings_list' %}">Standings</a></li>
                <li><a href="https://github.com/aropan/clist/issues" target="_blank">Issues</a></li>
                {% block banner %}
                    {% for b in banners %}
                        {% if not b.template %}
                            <li>
                                <a href="{{ b.url }}" target="_blank"{% if b.data.style %} style="{{ b.data.style }}"{% endif %}>
                                    <strong>{{ b.name }}</strong> {{ b.data.text }}
                                    <strong
                                        title="{{ b.end_time|timezone:timezone|format_time:time_format }}"
                                        data-placement="bottom"
                                        data-toggle="tooltip"
                                        class="countdown"
                                        data-timestamp="{{ b.next_time }}"
                                    >
                                        {{ b.end_time|countdown }}
                                    </strong>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endblock %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if user.is_authenticated %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}&nbsp;<i class="fa fa-caret-down"></i></a>
                    {% else %}
                        {% url 'auth:login' as login_url %}

                        {% if request.path != login_url %}
                        <li><a href="{{ login_url }}"><i class="fa fa-sign-in-alt">&nbsp;</i>Login / Sign up</a></li>
                        {% endif %}

                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></a>
                    {% endif %}

                    <ul class="dropdown-menu{% if not user.is_authenticated %} login-signup{% endif %}">
                        <li><a{% if user.is_authenticated %} href="{% url 'coder:profile' user.username %}"{% endif %} class="authorized"><i class="fa fa-user"></i> Profile</a></li>
                        {% if user.is_staff %}
                        <li><a href="/admin/"><i class="fa fa-home"></i> Admin</a></li>
                        {% endif %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'clist:tastypie_swagger:index' %}"><i class="fas fa-terminal"></i>&nbsp;API</a></li>
                        <li><a href="{% url 'telegram:me' %}" target="_blank" class="authorized"><i class="fab fa-telegram-plane"></i>&nbsp;@ClistBot</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'coder:settings' 'preferences' %}" class="authorized"><i class="fa fa-cog"></i>&nbsp;Preferences</a></li>
                        <li><a href="{% url 'coder:settings' 'social' %}" class="authorized"><i class="fa fa-users"></i>&nbsp;Social</a></li>
                        <li><a href="{% url 'coder:settings' 'accounts' %}" class="authorized"><i class="fa fa-globe"></i>&nbsp;Accounts</a></li>
                        <li><a href="{% url 'coder:settings' 'filters' %}" class="authorized"><i class="fa fa-filter"></i>&nbsp;Filters</a></li>
                        <li><a href="{% url 'coder:settings' 'notifications' %}" class="authorized"><i class="fa fa-bullhorn"></i>&nbsp;Notifications</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'coder:parties' %}"><i class="far fa-handshake"></i>&nbsp;Parties</a></li>
                        <li><a href="{% url 'events:events' %}"><i class="far fa-calendar-check"></i>&nbsp;Events</a></li>
                        {% if user.is_authenticated %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'auth:logout' %}"><i class="fa fa-sign-out-alt"></i> Logout</a></li>
                        {% endif %}
                    </ul>

                    {% if not user.is_authenticated %}
                        </li>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
