{% extends "base.html" %}
{% load extras %}
{% load humanize %}

{% block title %}Ranking - {{ party.name }}{% endblock %}

{% block end-head %}
    <link href="{% static_ts 'css/party/ranking.css' %}" rel="stylesheet">
    <script>page_load = $.now();</script>
    <script src="{% static_ts 'js/countdown.js' %}"></script>
    {% include "calendar.html" %}
{% endblock %}

{% block content %}

<h3 id="party-name" data-slug="{{ party.slug }}">{{ party.name }}</h3>

<ul class="nav nav-tabs">
    <li><a href="#information-tab" data-toggle="tab">Infrormation</a></li>
    <li class="active"><a href="#ranking-tab" data-toggle="tab">Ranking</a></li>
    <li><a href="#calendar-tab" data-toggle="tab">Calendar</a></li>
</ul>
<div class="tab-content">
    <div id="information-tab" class="tab-pane">
        <h4>Coders
        <span class="badge progress-bar-default">{{ party.coders.all.count }}</span>
        </h4>
        <div class="coders">
            {% for coder in coders %}
                <a href="{% url 'coder:profile' coder %}" class="label label-default">{{ coder.username }} | {{ coder.n_participations }}</a>
            {% empty %}
            <div class="alert alert-warning">Not set coders for party</div>
            {% endfor %}
        </div>

        <h4><a href="/?party={{ party.slug }}&view=list">Contests</a>
        <span class="badge progress-bar-default">{{ party.rating_set.all.count }}</span>
        </h4>
        <div class="contests">
            {% for c in party_contests %}
            <a href="{{ c.url }}" class="label label-{% if c.has_statistics %}success{% elif c.is_coming %}warning{% elif c.is_running %}primary{% else %}danger{% endif %}">{{ c.title }}</a>
            {% empty %}
            <div class="alert alert-warning">Not set contest for party</div>
            {% endfor %}
        </div>

        <small>
        {% if party.author == request.user.coder %}
        [<a href="{% url 'coder:party-action' party.secret_key 'join' %}">Join</a>]
        [<a href="{% url 'coder:party-action' party.secret_key 'leave' %}">Leave</a>]
        {% endif %}
        </small>
    </div>
    <div id="ranking-tab" class="tab-pane active">
        {% if user and user.is_authenticated %}{% if not user.first_name or not user.last_name %}
        <div class="alert alert-warning text-center">
            Fill in your first last and last name in <a href="{% url 'coder:settings' %}#social-tab">social settings</a>.
        </div>
        {% endif %}{% endif %}

        <script>
        $(function () {
            $('li a[data-href]').click(function(e) { window.open($(this).attr('data-href'), '_blank'); });
        });
        </script>

        {% if results|length > 1 or future %}
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#total" data-toggle="tab">Total</a></li>
                {% for contest in future %}
                    <li{% if contest.is_coming %} class="disabled"{% endif %}>
                        <a class="small" href="#" data-href="{{ contest.url }}" data-toggle="tab">
                            <div>{{ contest.title|truncatechars:33 }}</div>
                            <div>{% if contest.is_coming %}starts{% else %}ends{% endif %} in <span class="timeleft countdown" data-timestamp="{{ contest.next_time }}">{{ contest.next_time|countdown }}</span></div>
                        </a>
                    </li>
                {% endfor %}
                {% for r in results %}
                    {% if not forloop.first %}
                    <li{% if not r.standings %} class="disabled"{% endif %}>
                        <a title="{{ r.contest.title }}" href="#{{ r.contest.id }}" data-toggle="tab"{% if not r.standings %} data-href="{{ r.contest.url }}"{% endif %}>{{ r.contest.title|truncatechars:33 }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="tab-content">
            {% for r in results %}
                {% if r.standings %}
                <div id="{% if forloop.first %}total{% else %}{{ r.contest.id }}{% endif %}" class="tab-pane{% if forloop.first %} active{% endif %}">
                    <div class="standings col-lg-offset-2 col-lg-8">
                        <h4 class="name-stand">
                            {% if forloop.first %}
                                Total ranking
                            {% else %}
                                <a href="{% url 'ranking:standings' r.contest.title|slug r.contest.pk %}?search=party:{{ party.slug }}">{{ r.contest.title }}</a>
                                <a href="{{ r.contest.standings_url|default:r.contest.url }}" class="small">{{ r.contest.host }}</a><small>, {{ r.contest.end_time|naturalday:'F j, Y' }}</small>
                            {% endif %}
                        </h4>
                        {% if r.standings %}
                        <div class="table col-xs-12">
                            <div class="head-stand">
                                {% for h in header %}
                                <div class="col-xs-{% cycle '1' '5' '3' '3' %}">{{ h }}</div>
                                {% endfor %}
                            </div>
                        {% for s in r.standings %}
                            <div class="row-stand">
                                <div class="col-xs-1">{{ s.place }}</div>
                                <div class="col-xs-5" title="{% if s.stat.account.key %}{{ s.stat.account.key }}{% else %}{{ s.coder.username }}{% endif %}">
                                    <a href="{% url 'coder:profile' s.coder.username %}{% if forloop.parentloop.counter0 %}?search=contest:{{ r.contest.id }}{% endif %}">
                                    {% if s.coder.user.first_name and s.coder.user.last_name %}
                                        {{ s.coder.user.first_name }} {{ s.coder.user.last_name }}
                                    {% else %}
                                        {{ s.coder.username }}
                                    {% endif %}
                                    </a>
                                </div>
                                <div class="col-xs-3" data-toggle="tooltip" data-placement="top" title="{{ s.interpretation|join:' + ' }}">{{ s.score|floatformat:2 }}</div>
                                <div class="col-xs-3">{{ s.stat.solving|floatformat }} ({{ s.stat.upsolving|floatformat }})</div>
                            </div>
                        {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning">Rating list is empty</div>
        {% endif %}
    </div>
    <script>$('a[href="#calendar-tab"]').mouseup(function() { setTimeout(function() { $(window).resize() }, 0) } )</script>
    <div id="calendar-tab" class="tab-pane">
      <div id="calendar"></div>
      <div id="loading">loading...</div>
      {% for x in fixed_ignore_filters %}
      <input class="ignore-filter" data-value="1" data-id="{{ x.id }}" type="hidden">
      {% endfor %}
    </div>
</div>
{% endblock %}
