{% extends "base.html" %}
{% load extras %}

{% block title %}Parties{% endblock %}

{% block end-head %}
    <link href="{% static_ts 'css/party/ranking.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<h4>Parties</h4>
<div class="parties">
    {% for party in parties %}
    <div class="party">
        <a class="lead" href="{% url 'coder:party' party.slug %}">{{ party.name }}</a>
        <span class="label label-default">{{ party.coders.all.count }} accounts(s)</span>
        <span class="label label-primary">{{ party.rating_set.all.count }} contest(s)</span>
        {% if party.is_hidden %}
        <i class="fa fa-lock fa-lg"></i>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}
