{% extends "base.html" %}

{% block ogtitle %}{% block title %}Problems{% endblock %}{% endblock %}
{% block description %}Tasks of past competitions with tags of competitive programming topics{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/problems.css' %}" rel="stylesheet">
<link href="{% static_ts 'css/standings.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/problems.js' %}"></script>

<script>
  coder_pk = {% if coder %}{{ coder.pk }}{% else %}undefined{% endif %}
</script>
{% endblock %}

{% block content %}

<div class="col-lg-10 col-lg-offset-1">
  <form class="form-inline" id="problems-filter" method="get" action="">
    <div class="input-group input-group-sm">
      <div class="input-group-addon">Problem</div>

      <input type="search" name="search" value="{{ request.GET.search }}" class="form-control" {% if request.GET.search %} autofocus onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"{% endif %} autocomplete="off"/>

      <div class="input-group-addon tooltip-help" data-toggle="tooltip" data-html="true" title="Problem regex. You can use name:{NAME}, contest:{NAME}, resource:{HOST} or tag:{TAG}.<br>Use && and || and ! for difficult conditions.">
        <i class="fas fa-info"></i>
      </div>

      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <i class="fas fa-search"></i>
          Search
        </button>
      </div>
    </div>

    {% include 'resource_filter.html' %}

    {% include 'tag_filter.html' %}

    <div class="input-group input-group-sm">
      <input
        id="show-tags"
        type="checkbox"
        data-style="show-tags"
        data-toggle="toggle"
        data-size="small"
        data-on="Hide"
        data-off="Show"
        data-onstyle="default"
        data-offstyle="default"
        {% if show_tags %} checked{% endif %}
      >
    </div>

  </form>

  <script>$.endlessPaginate({paginateOnScroll: true, onCompleted: toggle_tooltip});</script>
  <div id="problems" class="panel panel-default table-responsive">
    <table class="table table-hover table-striped table-float-head">
      <thead>
        <tr>
          <th class="problem-date-column">Date</th>
          <th class="problem-rating-column">Rating</th>
          <th class="problem-progress-column">Progress</th>
          <th>Name</th>
          <th>Contest</th>
          {% if coder %}
          <th class="problem-luck-column">Luck</th>
          <th class="problem-result-column">Result</th>
          {% endif %}
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        {% include page_template %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
