{% extends "base.html" %}

{% block end-head %}
<link href="{% static_ts 'css/problems.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Problems{% endblock %}

{% block content %}

<div class="col-lg-10 col-lg-offset-1">
  <form method="get" action="">
  <div class="form-group input-group input-group-sm">
    <input type="search" name="search" value="{{ request.GET.search }}" class="form-control" placeholder="Regex filter to problem name, contest title, resource host or problem tag" {% if request.GET.search %} autofocus onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"{% endif %} autocomplete="off"/>

    <span class="input-group-addon tooltip-help" data-toggle="tooltip" data-html="true" title="Also you can use name:{PROBLEM}, contest:{NAME}, resource:{HOST} or tag:{TAG}.<br>Use && and || for difficult conditions.">
      <i class="fas fa-info"></i>
    </span>

    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        Search
      </button>

    </span>
  </div>
  </form>

  <script>$.endlessPaginate({paginateOnScroll: true});</script>
  <div id="problems" class="panel panel-default table-responsive">
    <table class="table table-hover table-striped table-float-head">
      <thead>
        <tr>
          <th class="problem-date">
            Date
          </th>
          <th>
            Name
          </th>
          <th>
            Tags
          </th>
        </tr>
      </thead>
      <tbody>
        {% include page_template %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
