{% load humanize %}
{% load el_pagination_tags %}

{% lazy_paginate 50,200 problems %}

{% for problem in problems %}
<tr>
    <td>
        <a href="{% if problem.url %}{{ problem.url }}{% else %}{{ problem.contest.url }}{% endif %}">
            {% if problem.short and problem.short != problem.name %}{{ problem.short }}. {% endif %}{{ problem.name }}
        </a>
        <div class="contest">
            <a href="{{ request.path }}?search={{ 'cid:'|concat:problem.contest.pk }}"><small class="text-muted">{{ problem.contest.title }}</small></a>
        </div>
    </td>
    <td>
        <a href="{{ request.path }}?search={{ 'rid:'|concat:problem.contest.resource_id }}"><small class="text-muted">{{ problem.contest.host }}</small></a>
    </td>
    <td>
        {% for tag in problem.tags.all %}
            <a href="{{ request.path }}?search={{ 'tag:'|concat:tag.name }}" class="badge progress-bar-info">{{ tag.name }}</a>
        {% endfor %}
    </td>
</tr>
{% endfor %}

{% show_more_table %}

<script>$(toggle_tooltip);</script>
