{% extends "base.html" %}
{% load extras %}

{% block end-head %}
<link href="{% static_ts 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
{{ coder.user.username }} - Coder
{% endblock %}

{% block content %}
  <h2>
    {% if coder.user.first_name or coder.user.last_name %}
      {{ coder.user.first_name|default:"" }} {{ coder.user.last_name|default:"" }} aka
    {% endif %}
    {{ coder.user.username }}
  </h2>
  <h3>Accounts</h3>
  {% for account in accounts %}
  <span class="account badge progress-bar-info">{{ account.key }} <a href="http://{{ account.resource.host }}"><small class="text-muted">{{ account.resource.host }}</small></a></span>
  {% endfor %}
  <h3>Contests</h3>
  <div class="container">
    <form method="get" action="">
    <div class="row input-group">
      <input type="search" name="search" value="{{ request.GET.search }}" class="form-control" placeholder="Regex filter to contest name or resource host. Also you can use contest:{ID} or problem:{NAME}" {% if request.GET.search %} autofocus onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"{% endif %} autocomplete="off"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Search
        </button>
      </span>
    </div>
    </form>
    <br/>
  </div>

  {% if statistics.exists %}
  <div class="container" id="contests">
    <div class="row contest header">
      <div class="rank col-xs-1">Rank</div>
      <div class="solving col-xs-1">Score</div>
      <div class="title col-xs-10">Event</div>
    </div>
    {% include page_template %}
  </div>
  <script>$.endlessPaginate({paginateOnScroll: true});</script>
  {% else %}
  <div class="alert alert-warning">Empty statistics</div>
  {% endif %}
{% endblock %}

