{% extends "base.html" %}
{% load extras %}
{% load humanize %}

{% block end-head %}
<link href="{% static_ts 'css/profile.css' %}" rel="stylesheet">

<script src="{% static_ts 'js/moment.min.js' %}"></script>
<script src="{% static_ts 'js/moment-timezone.min.js' %}"></script>

<link href="{% static_ts 'css/Chart.min.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/Chart.min.js' %}"></script>

{% endblock %}

{% block title %}
  {% if coder %}
    {{ coder.user.username }} - Coder
  {% else %}
    {{ account.key }} on {{ account.resource.host }} - Account
  {% endif %}
{% endblock %}

{% block content %}

{% if coder %}
  <h2>
    {% if coder.user.first_name or coder.user.last_name %}
      {{ coder.user.first_name|default:"" }} {{ coder.user.last_name|default:"" }} aka
    {% endif %}
    {{ coder.user.username }}
    {% if perms.true_coders.change_coder %}
      <a href="{% url 'admin:true_coders_coder_change' coder.id %}" class="external-database-link invisible" target="_blank"><i class="fas fa-database"></i></a>
    {% endif %}
  </h2>
{% else %}
  <div>
    <h2>
      {% coder_color_circle account.resource account.info %}
      <span class="{% coder_color_class account.resource account.info %}">{{ account.key }}</span>
      {% if account.resource.profile_url %}
      <small><a href="{{ account.resource.profile_url|format_dict:account.dict_with_info }}" target="_blank"><i class="fas fa-external-link-alt"></i></a></small>
      {% endif %}
      {% if perms.ranking.change_account %}
        <a href="{% url 'admin:ranking_account_change' account.id %}" class="external-database-link invisible" target="_blank"><i class="fas fa-database"></i></a>
      {% endif %}
    </h2>
    {% for coder in account.coders.all %}
      <a class="badge progress-bar-info" href="{% url 'coder:profile' coder.user.username %}">
        {% if coder.user.first_name or coder.user.last_name %}
          {{ coder.user.first_name|default:"" }} {{ coder.user.last_name|default:"" }} aka
        {% endif %}
        {{ coder.user.username }}
      </a>
    {% endfor %}
  </div>
{% endif %}

{% if resources and show_history_ratings %}
<h3>Accounts</h3>
<div id="list-accounts">
{% if not search_resource %}

{% for resource in resources %}
  {% with account=resource.coder_accounts.0 %}
    <span class="input-group input-group-sm account">
      <span class="input-group-addon">
        {% coder_color_circle resource account.info %}
        <span class="{% coder_color_class resource account.info %}">{{ account.key }}</span>
        {% if resource.coder_accounts|length > 1 %}
        <span class="badge no-user-select" data-toggle="tooltip" data-html="true" data-placement="bottom" title="{% for a in resource.coder_accounts|slice:'1:' %}<div>{{ a.key }}</div>{% endfor %}">
          +{{ resource.coder_accounts|length|add:-1 }}
        </span>
        {% endif %}
        {% for s in resource_medals|get_item:resource.pk %}
          <span title="{{ s.contest.title }}<br>{{ s.contest.end_time|naturalday }}" data-toggle="tooltip" data-html="true" class="{{ s.addition.medal|lower }}-medal no-user-select">
            &#9899;
          </span>
        {% endfor %}
      </span>
      <span class="input-group-btn">
        {% if resource.profile_url %}
        <a class="btn btn-default" href="{{ resource.profile_url|format_dict:account.dict_with_info }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
        {% endif %}
        <a class="btn btn-default" href="?search=resource:{{ resource.host|urlencode }}">{{ resource.host }}</a>
      </span>
    </span>
  {% endwith %}
{% endfor %}

{% else %}

{% for resource in resources %}
  {% for account in resource.coder_accounts %}
    <span class="account btn-group btn-group-sm">
    <a class="btn btn-default {% coder_color_class resource account.info %}" href="{% url 'coder:account' account.key|url_quote resource.host|url_quote %}">
      {% coder_color_circle resource account.info %} {{ account.key }}

      {% for s in account_medals|get_item:account.pk %}
        <span title="{{ s.contest.title }}<br>{{ s.contest.end_time|naturalday }}" data-toggle="tooltip" data-html="true" class="{{ s.addition.medal|lower }}-medal no-user-select">
          &#9899;
        </span>
      {% endfor %}
    </a>
    {% if resource.profile_url %}
    <a class="btn btn-default" href="{{ resource.profile_url|format_dict:account.dict_with_info }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
    {% endif %}
    </span>
  {% endfor %}
{% endfor %}

{% endif %}
</div>


{% endif %}

{% if show_history_ratings and history_resources %}
<h3>Ratings</h3>

<style>

canvas{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#chartjs-tooltip {
  white-space: nowrap;
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, .7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
}

.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

</style>

{% for hr in history_resources %}
<canvas id="{{ hr.host }}_rating" height="75vh">{{ hr }}</canvas>
{% endfor %}

<script>
$(function(){
    function get_y(value, y_axis) {
      value = (y_axis.max - value) / (y_axis.max - y_axis.min)
      value = Math.min(Math.max(value, 0), 1)
      return value * (y_axis.bottom - y_axis.top) + y_axis.top
    }

    function get_x(value, x_axis) {
      value = (value - x_axis.min) / (x_axis.max - x_axis.min)
      value = Math.min(Math.max(value, 0), 1)
      return value * (x_axis.right - x_axis.left) + x_axis.left
    }

  function create_chart_config(resource, response, dates) {
    var min_rating = Math.min(...$.map(response['data'], function(val) { return val['new_rating']; }))
    var max_rating = Math.max(...$.map(response['data'], function(val) { return val['new_rating']; }))
    var points_colors = $.map(response['data'], function(val) {
      for (var idx in response['colors']) {
        var rating = response['colors'][idx]
        if (rating['low'] <= val['new_rating'] && val['new_rating'] <= rating['high']) {
          return rating['hex_rgb']
          var hsl = rating['hsl']
          var color = 'hsl(' + hsl[0] * 360 + ',' + hsl[1] * 100 + '%,' + hsl[2] * 100 + '%)'
          return color
        }
      }
    })
    var rating_labels = new Set($.map(response['colors'], function(val) { return val['low']; }))
    var max_rating_labels = Math.max(...$.map(response['colors'], function(val) { return val['low']; }))
    var highest = response['highest']

    return {
      type: 'line',
      data: {
        labels: dates,
        datasets: [{
          data: $.map(response['data'], function(val) { return {t: val['date'], y: val['new_rating']}; }),
          history: response['data'],
          backgroundColor: 'red',
          borderColor: 'black',
          borderWidth: 1,
          fill: false,
          cubicInterpolationMode: 'monotone',
          pointBackgroundColor: points_colors,
        }]
      },
      options: {
        responsive: true,
        title: {
          display: true,
          text: resource,
          fontSize: 16,
        },
        legend: {
          display: false,
        },
        scales: {
          xAxes: [{
            type: 'time',
            time: {
              unit: 'year',
            },
          }],
          yAxes: [{
            gridLines: {
              display: false,
            },
            ticks: {
              stepSize: 50,
              autoSkip: false,
              min: Math.floor((min_rating - 100) / 100) * 100,
              max: Math.ceil((max_rating + 100) / 100) * 100,
              callback: function(value, index, values) {
                if ((value < max_rating_labels || value % 500) && !rating_labels.has(value)) {
                  return;
                }
                return value
              },
            },
          }],
        },
        rating_colors: response['colors'],
        onClick: function (e, item) {
          if (!item) {
            return;
          }
          item = item[0]
          rating = item._chart.data.datasets[item._datasetIndex].history[item._index]
          url = '/standings/' + rating['slug'] + '-' + rating['cid'] + '/'
          window.open(url, '_blank');
        },
        onHover: (e, el) => {
          e.target.style.cursor = el[0] ? 'pointer' : 'default'
        },
        tooltips: {
          displayColors: false,
          bodyFontSize: 14,
          caretPadding: 0,
          caretSize: 0,
          callbacks: {
            title: function(tooltipItem, data) {
              var hist = data.datasets[tooltipItem[0].datasetIndex].history[tooltipItem[0].index]
              return '<div style="font-weight: bold">' + hist['name'] + '</div>'
            },
            label: function(tooltipItem, data) {
              var color = data.datasets[tooltipItem.datasetIndex].pointBackgroundColor[tooltipItem.index]
              var hist = data.datasets[tooltipItem.datasetIndex].history[tooltipItem.index]
              var rating = '<span style="font-weight: bold; color: ' + color + '">' + hist['new_rating'] + '</span>'
              if (hist['old_rating']) {
                var change = hist['new_rating'] - hist['old_rating']
                if (change >= 0) {
                  rating += ' <span style="font-weight: bold; color: #0f0"><i class="fas fa-angle-up"></i>' + change + '</span>'
                } else if (change < 0) {
                  rating += ' <span style="font-weight: bold; color: #f00"><i class="fas fa-angle-down"></i>' + -change + '</span>'
                }
              }
              var label = ''
              label += '<div>' + hist['when'] + '</div>'
              label += '<div>' + rating + '</div>'
              if (hist['place']) {
                label += '<div class="small">Rank: ' + hist['place'] + '</div>'
              }
              if (typeof hist['score'] != 'undefined') {
                label += '<div class="small">Score: ' + hist['score'] + '</div>'
              }
              if (hist['solved'] != null) {
                label += '<div class="small">Solved: ' + hist['solved'] + ' of ' + hist['n_problems'] + '</div>'
              }
              return label
            },
          },

          enabled: false,

          custom: function(tooltipModel) {
            // Tooltip Element
            var tooltipEl = document.getElementById('chartjs-tooltip');

            // Create element on first render
            if (!tooltipEl) {
              tooltipEl = document.createElement('div');
              tooltipEl.id = 'chartjs-tooltip';
              tooltipEl.innerHTML = '<div></div>';
              document.body.appendChild(tooltipEl);
            }

            // Hide if no tooltip
            if (tooltipModel.opacity === 0) {
              tooltipEl.style.opacity = 0;
              return;
            }

            // Set caret Position
            tooltipEl.classList.remove('above', 'below', 'no-transform');
            if (tooltipModel.yAlign) {
              tooltipEl.classList.add(tooltipModel.yAlign);
            } else {
              tooltipEl.classList.add('no-transform');
            }

            function getBody(bodyItem) {
              return bodyItem.lines;
            }

            // Set Text
            if (tooltipModel.body) {
              var titleLines = tooltipModel.title || [];
              var bodyLines = tooltipModel.body.map(getBody);

              var innerHtml = '';

              titleLines.forEach(function(title) {
                innerHtml += '<div>' + title + '</div>';
              });

              bodyLines.forEach(function(body, i) {
                innerHtml += '<div>' + body + '</div';
              });

              var tableRoot = tooltipEl.querySelector('div');
              tableRoot.innerHTML = innerHtml;
            }

            // `this` will be the overall tooltip
            var position = this._chart.canvas.getBoundingClientRect();

            // Display, position, and set styles for font
            tooltipEl.style.opacity = 1;
            tooltipEl.style.position = 'absolute';

            var left = window.pageXOffset + position.left + tooltipModel.caretX + (tooltipModel.caretX > tooltipEl.offsetWidth + 10? -tooltipEl.offsetWidth : 0)
            tooltipEl.style.left = left + 'px';
            var top = window.pageYOffset + position.top + tooltipModel.caretY + (tooltipModel.caretY < position.height - tooltipEl.offsetHeight - 10? 0 : -tooltipEl.offsetHeight)
            tooltipEl.style.top = top + 'px';

            tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
            tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
            tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
            tooltipEl.style.padding = tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
            tooltipEl.style.pointerEvents = 'none';
          },
        },
      },
      plugins: [{
        beforeDraw: function (chart) {
          var rating_colors = chart.chart.options.rating_colors
          var ctx = chart.chart.ctx
          var rules = chart.chart.options.backgroundRules;
          var y_axis = chart.chart.scales["y-axis-0"];
          var x_axis = chart.chart.scales["x-axis-0"];

          for (var i = 0; i < rating_colors.length; ++i) {
            var to = get_y(rating_colors[i].low, y_axis)
            var from = get_y(rating_colors[i].high + 1, y_axis)
            hsl = rating_colors[i].hsl
            color = 'hsl(' + hsl[0] * 360 + ',' + hsl[1] * 100 + '%,' + (hsl[2] * 100 + 100) * 0.5 + '%)'
            ctx.fillStyle = color
            ctx.fillRect(x_axis.left, from, x_axis.width, to - from)
          }

          var y = get_y(highest['value'], y_axis)
          ctx.beginPath();
          ctx.setLineDash([5, 15])
          ctx.moveTo(x_axis.left, y)
          ctx.lineTo(x_axis.right, y)
          ctx.stroke()
          ctx.setLineDash([])
          ctx.closePath()
        },
        beforeDatasetsDraw: function (chart) {
          var ctx = chart.chart.ctx
          var y_axis = chart.chart.scales["y-axis-0"];
          var x_axis = chart.chart.scales["x-axis-0"];

          var x = get_x(highest['timestamp'] * 1000, x_axis)
          var y = get_y(highest['value'], y_axis)
          var width = 40
          var height = 20
          var rx = Math.min(Math.max(x_axis.left + 10, x - width / 2), x_axis.right - width - 10)
          var ry = y - (height + 10)
          if (y_axis.top <= y && y <= y_axis.bottom) {
            var cx = rx + width / 2
            var cy = ry + height / 2

            ctx.beginPath();
            ctx.moveTo(x, y);
            ctx.lineTo(Math.min(Math.max(x, rx), rx + width - 1), ry + height - 1);
            ctx.lineWidth = 1;
            ctx.strokeStyle = 'black';
            ctx.stroke();
            ctx.closePath()

            ctx.fillStyle = '#fff'
            ctx.fillRect(rx, ry, width, height)
            ctx.lineWidth = 1
            ctx.strokeStyle = 'black'
            ctx.strokeRect(rx, ry, width, height)

            ctx.font = '12px Comic Sans MS';
            ctx.textAlign = 'center'
            ctx.fillStyle = 'black'
            ctx.fillText(highest['value'], cx, cy + 4);
          }
        }
      }],
    }
  }

  $.ajax({
    url: '{{ request.path }}ratings/{% if search_resource %}?resource={{ search_resource }}{% endif %}',
    method: 'GET',
    dataType: 'json',
    success: function (response) {
      for (var resource in response['data']['resources']) {
        config = create_chart_config(resource, response['data']['resources'][resource], response['data']['dates'])
        new Chart(resource + '_rating', config)
      }
    }
  });
});
</script>
{% endif %}

<h3>Contests</h3>

<form method="get" action="">
<div class="input-group">
  <input type="search" name="search" value="{{ request.GET.search }}" class="form-control" placeholder="Regex filter to contest name or resource host. Also you can use contest:{ID}, problem:{NAME}, account:{NAME} or resource:{HOST}" {% if request.GET.search %} autofocus onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"{% endif %} autocomplete="off"/>
  <span class="input-group-btn">
    <button class="btn btn-default" type="submit">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      Search
    </button>
  </span>
</div>
</form>
<br/>

{% if statistics.exists %}
<div class="panel panel-default table-responsive">
  <table id="contests" class="table table-hover table-striped table-condensed">
    <tr>
      <th>Rank</th>
      <th>Score</th>
      <th>Time</th>
      <th class="title">Event</th>
    </tr>
    {% include page_template %}
  </table>
</div>
<script>$.endlessPaginate({paginateOnScroll: true});</script>
{% else %}
<div class="alert alert-warning">Empty statistics</div>
{% endif %}

{% endblock %}

