{% load humanize %}
{% load el_pagination_tags %}

{% paginate 50 statistics %}

{% for s in statistics %}
<tr class="contest{% if s.addition.medal %} {{ s.addition.medal|lower }}-medal{% endif %}{% if s.contest.is_running %} success{% endif %}" id="cid-{{ s.contest.id }}">
    <td>
        {% if s.addition.url %}<a href="{{ s.addition.url }}">{% endif %}
        <div data-toggle="tooltip" data-placement="top" data-html="true" title="
            handle: {{ s.account.key }}<br/>
            {% for k, v in s.addition.items|sort %}
                {% if k.0 != "_" and k not in "problems,hack,solved,challenges,url" %}
                    {{ k|lower }}: {{ v }}<br/>
                {% endif %}
            {% endfor %}
        ">
            {{ s.place|default:"-" }}
        </div>{% if s.addition.url %}</a>{% endif %}
    </td>
    <td>{{ s.solving|floatformat }}</td>
    <td>
        {% with value=s.addition.rating_change %}
        {% with intvalue=value|toint %}
            <span class="rating-change{% if intvalue %} rating-change-{% if intvalue > 0 %}up{% else %}down{% endif %}{% endif %}">
            {% if intvalue %}
              <i class="fas fa-angle-{% if intvalue > 0 %}up{% else %}down{% endif %}"></i>{{ intvalue|abs }}
            {% else %}
              {{ value }}
            {% endif %}
            </span>
        {% endwith %}
        {% endwith %}
    </td>
    <td>{{ s.contest.end_time|naturalday }}</td>
    <td class="title col-md-9 col-sm-8">
        <a href="{% url 'ranking:standings' s.contest.title|slug s.contest.pk %}">{{ s.contest.title }}</a>
        <a href="{{ s.contest.resource.url }}"><small class="text-muted">{{ s.contest.resource.host }}</small></a>
        <div class="problems">
            {% if s.addition.hack %}
            {% with hack=s.addition.hack %}
                <span class="badge progress-bar-warning"{% if hack.title %} data-toggle="tooltip" data-placement="top" title="{{ hack.title|title }}"{% endif %}>
                    {{ hack.successful|default:"" }}{% if hack.successful and hack.unsuccessful %} : {% endif %}{% if hack.unsuccessful %}-{{ hack.unsuccessful}}{% endif %}
                </span>
            {% endwith %}
            {% endif %}
            {% if 'problems' in s.addition %}
                {% if s.contest.info.problems %}
                  {% for problem in s.contest.info.problems|get_division_problems:s.addition %}
                    {% with key=problem|get_problem_short  %}
                    {% with stat=s.addition.problems|get_item:key %}
                      {% include 'problem_stat.html' with short=problem|get_problem_short name=problem|get_problem_name stat=stat problem_url=problem.url %}
                    {% endwith %}
                    {% endwith %}
                  {% endfor %}
                {% else %}
                  {% for k, v in s.addition.problems.items|sort %}
                  {% include 'problem_stat.html' with short=k name=k stat=v problem_url=None %}
                  {% endfor %}
                {% endif %}
            {% endif %}
        </div>
        {% if perms.ranking.change_statistics %}
          <a href="{% url 'admin:ranking_statistics_change' s.id %}" class="external-database-link invisible" target="_blank"><i class="fas fa-database"></i></a>
        {% endif %}
    </td>
</tr>
{% endfor %}

<script>$(function(){$('[data-toggle="tooltip"]').removeAttr('data-toggle').tooltip()})</script>

{% show_more_table %}
