<svg width="0" height="0" style="display: block"><defs><clipPath id="rating-clip"><circle cx="{{ svg_r|default:8 }}" cy="{{ svg_r|default:8 }}" r="{{ svg_r|add:-1|default:7 }}"/></clipPath></defs></svg>
<svg width="0" height="0" style="display: block"><defs><clipPath id="rating-clip-16"><circle cx="8" cy="8" r="7"/></clipPath></defs></svg>
<svg width="0" height="0" style="display: block"><defs><clipPath id="rating-clip-24"><circle cx="12" cy="12" r="11"/></clipPath></defs></svg>
<svg width="0" height="0" style="display: block"><defs><clipPath id="rating-clip-28"><circle cx="14" cy="14" r="13"/></clipPath></defs></svg>
<svg width="0" height="0" style="display: block"><defs><clipPath id="rating-clip-30"><circle cx="15" cy="15" r="14"/></clipPath></defs></svg>
