{% extends "base.html" %}
{% load humanize %}

{% block title %}Resources{% endblock %}

{% block content %}
<style>
  .resources table td,
  .resources table th {
    text-align: center;
    vertical-align: middle !important;
  }

  .resources table tr *:first-child {
    text-align: right;
  }

  .resources table td {
    white-space: nowrap;
  }
  .resources.panel {
    padding: 0px;
  }
</style>

<div class="container">
  <div class="resources panel panel-default table-responsive col-md-12 col-lg-8 col-lg-offset-2">
    <table class="table table-condensed table-float-head table-striped">
      <tr>
        <th>Resource</th>
        <th>Url</th>
        <th>Google<br/>calendar</th>
        <th>Auto<br/>update</th>
        <th>Update<br/>statistics</th>
        <th>Rating</th>
        <th>Contests<br/>number</th>
        <th>Accounts<br/>number</th>
      </tr>
      {% for resource in resources %}
      <tr>
        <td>
          <a class="host lead" href="{% url 'clist:resource' resource.host %}">{{ resource.host }}</a>
        </td>
        <td>
          <a href="{{ resource.href }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
        </td>
        <td>
          {% if resource.uid %}
            <a class="btn btn-default btn-xs" href="https://calendar.google.com/calendar/embed?src={{ resource.uid }}">
              <i class="far fa-calendar-alt"></i>
            </a>
          {% else %}
            <i class="fas fa-times"></i>
          {% endif %}
        </td>

        <td>
          <span class="badge progress-bar-{% if resource.enable %}success{% else %}danger{% endif %}">
            {% if resource.enable %}
              <i class="fas fa-check"></i>
            {% else %}
              <i class="fas fa-times"></i>
            {% endif %}
          </span>
        </td>

        <td>
          <span class="badge progress-bar-{% if resource.module %}success{% else %}danger{% endif %}">
            {% if resource.module %}
              <i class="fas fa-check"></i>
            {% else %}
              <i class="fas fa-times"></i>
            {% endif %}
          </span>
        </td>

        <td>
          <span class="badge progress-bar-{% if resource.has_rating_history %}success{% else %}danger{% endif %}">
            {% if resource.has_rating_history %}
              <i class="fas fa-check"></i>
            {% else %}
              <i class="fas fa-times"></i>
            {% endif %}
          </span>
        </td>

        <td>
          <span class="badge progress-bar-info">{{ resource.n_contests|intcomma }}</span>
        </td>

        <td>
          <span class="badge progress-bar-info">{{ resource.n_accounts|intcomma }}</span>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
