{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ resource.host }} - Resource{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/resource.css' %}" rel="stylesheet">
<link href="{% static_ts 'css/Chart.min.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/Chart.min.js' %}"></script>
{% endblock %}

{% block content %}
<script>$.endlessPaginate();</script>

<h2>
    <a href="{{ resource.href }}">{{ resource.host }}</a>
    {% if perms.clist.change_resource %}
      <a href="{% url 'admin:clist_resource_change' resource.id %}" class="external-database-link invisible" target="_blank"><i class="fas fa-database"></i></a>
    {% endif %}
</h2>

<div>
    <a class="btn btn-default btn-xs" href="https://calendar.google.com/calendar/embed?src={{ resource.uid }}">
        <i class="far fa-calendar-alt"></i> Google calendar
    </a>

    <div class="badge progress-bar-{% if resource.enable %}success{% else %}danger{% endif %}">
        updating {% if resource.enable %}auto{% else %}manually{% endif %}
    </div>

    {% if resource.module %}
    <span class="badge progress-bar-warning">
        parse statistic
    </span>
    {% endif %}

    <span class="badge progress-bar-info">{{ resource.n_contests|intcomma }} contest(s)</span>

    <span class="badge progress-bar-info">{{ resource.n_accounts|intcomma }} accounts(s)</span>
</div>

<br/>

<form class="form-inline" method="get" action="">
    <div class="form-group">
        {% include 'country_filter.html' %}

        <div class="input-group input-group-sm">
            <span class="input-group-addon">Period</span>
            <select name="period" onchange="this.form.submit()">
                {% for p in periods %}
                    <option value="{{ p }}"{% if p == params.period %} selected{% endif %}>{{ p }}</option>
                {% endfor %}
            </select>
        </div>

        {% if rating.data or request.GET.min_rating|length or request.GET.max_rating|length %}
        <div class="input-group input-group-sm">
            <span class="input-group-addon">Min rating</span>
            <input name="min_rating" type="number" class="form-control" value="{{ request.GET.min_rating }}"/>
            <span class="input-group-addon">Max rating</span>
            <input name="max_rating" type="number" class="form-control" value="{{ request.GET.max_rating }}"/>
        </div>
        {% endif %}

        <input type="submit" style="visibility: hidden;" />

        <script>
        $(function() {
            $('select[name="period"]').select2({
                theme: 'bootstrap',
                placeholder: 'select period',
            })
        })
        </script>
    </div>
</form>

<div>
    {% if top.exists %}
    <div class="col-md-6 col-lg-4">
        <h4>Top rating</h4>
        <div class="panel panel-default table-responsive">
            <table class="table table-hover table-condensed table-striped">
                <tr>
                    <th>N</th>
                    <th>Handle</th>
                    <th>Rating</th>
                </tr>
                {% include 'resource_top_paging.html' %}
            </table>
        </div>
    </div>
    {% endif %}

    {% if rating.data %}
    <div class="col-md-6 col-lg-8">
        <h4>
            Rating distribution
            {% if rating.account %}
            <span class="pull-right">{% include 'account_table_cell.html' with account=rating.account resource=resource %}</span>
            {% endif %}
        </h4>
        <span id="toggleLogScale">
            <input
                type="checkbox"
                data-toggle="toggle"
                data-on="logarithmic"
                data-off="linear"
                data-onstyle="default active"
                data-offstyle="default active"
                data-size="small"
            />
        </span>
        <canvas id="ratingDistribution"></canvas>
    </div>

    <script>
        $(function() {
            var ctx = document.getElementById('ratingDistribution').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for label in rating.labels %}{% if forloop.counter0 %},{% endif %}{{ label }}{% endfor %}],
                    datasets: [{
                        data: [{% for r in rating.data %}{% if forloop.counter0 %},{% endif %}{'x':{{ r.rating }},'y':{{ r.count }}}{% endfor %}],
                        title: [{% for r in rating.data %}{% if forloop.counter0 %},{% endif %}'{{ r.title }}'{% endfor %}],
                        value: [{% for r in rating.data %}{% if forloop.counter0 %},{% endif %}{{ r.count }}{% endfor %}],
                        barPercentage: 0.9,
                        categoryPercentage: 1.0,
                        backgroundColor: [{% for r in rating.data %}{% if forloop.counter0 %},{% endif %}'{{ r.info.hex_rgb }}'{% endfor %}],
                    }],
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false,
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                display:false
                            },
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                            },
                        }],
                    },
                    tooltips: {
                        position: 'nearest',
                        callbacks: {
                            title: function(tooltipItems, data) {
                                var tooltipItem = tooltipItems[0]
                                return data.datasets[tooltipItem.datasetIndex].title[tooltipItem.index]
                            },
                            label: function(tooltipItem, data) {
                                return data.datasets[tooltipItem.datasetIndex].value[tooltipItem.index]
                            },
                        },
                    },
                    onClick: function (e, item) {
                        if (!item) {
                          return;
                        }
                        item = item[0]
                        rating = item._chart.data.datasets[item._datasetIndex].data[item._index]
                        {% autoescape off %}
                        url = '{% url_transform request %}' + '&min_rating=' + rating['x'] + '&max_rating=' + (rating['x'] + {{ rating.width }} - 1)
                        {% endautoescape %}
                        window.location.assign(url);
                    },
                    onHover: (e, el) => {
                        e.target.style.cursor = el[0] ? 'pointer' : 'default'
                    },
                },
{% if rating.account %}
                plugins: [{
                    beforeDatasetsDraw: function (chart) {
                        var ctx = chart.chart.ctx
                        var y_axis = chart.chart.scales["y-axis-0"];
                        var x_axis = chart.chart.scales["x-axis-0"];
                        x_axis = {
                            'min': x_axis.min,
                            'max': x_axis.max + {{ rating.width }},
                            'left': x_axis.left,
                            'right': x_axis.right,
                        }

                        var x = get_x_chart({{ rating.account.rating }}, x_axis)
                        ctx.beginPath();
                        ctx.moveTo(x, y_axis.top);
                        ctx.lineTo(x, y_axis.bottom);
                        ctx.lineWidth = 2;
                        ctx.strokeStyle = "{{ resource|get_rating:rating.account.rating|get_item:'hex_rgb'|default:'black' }}";
                        ctx.stroke();
                        ctx.closePath()
                    }
                }],
{% endif %}
            })

            $('#toggleLogScale input').change(function() {
                var type = chart.options.scales.yAxes[0].type
                for (var i in chart.data.datasets[0].data) {
                    chart.data.datasets[0].data[i]['y'] += type == 'linear'? 1 : -1;
                }
                type = type == 'linear'? 'logarithmic' : 'linear'
                chart.options.scales.yAxes[0].type = type
                chart.update()
                return false
            })
        })
    </script>
    {% endif %}

    {% if has_country %}
    <div id="countries" class="col-md-6 col-lg-4">
        <h4>Country distribution</h4>
        <div class="panel panel-default table-responsive">
            <table class="table table-hover table-condensed table-striped">
                <tr>
                    <th>N</th>
                    <th>Country</th>
                    <th>Participants<br/>number</th>
                </tr>
                {% include 'resource_country_paging.html' %}
            </table>
        </div>
    </div>
    {% endif %}

    {% if last_activities.exists %}
    <div class="col-md-6 col-lg-4">
        <h4>Last activity</h4>
        <div class="panel panel-default table-responsive">
            <table class="table table-hover table-condensed table-striped">
                <tr>
                    <th>N</th>
                    <th>Handle</th>
                    <th>Last<br/>activity</th>
                </tr>
                {% include 'resource_last_activity_paging.html' %}
            </table>
        </div>
    </div>
    {% endif %}

    {% if most_participated.exists %}
    <div class="col-md-6 col-lg-4">
        <h4>Most participated</h4>
        <div class="panel panel-default table-responsive">
            <table class="table table-hover table-condensed table-striped">
                <tr>
                    <th>N</th>
                    <th>Handle</th>
                    <th>Contests<br/>number</th>
                </tr>
                {% include 'resource_most_participated_paging.html' %}
            </table>
        </div>
    </div>
    {% endif %}

    {% if most_writer.exists %}
    <div class="col-md-6 col-lg-4">
        <h4>Most writer</h4>
        <div class="panel panel-default table-responsive">
            <table class="table table-hover table-condensed table-striped">
                <tr>
                    <th>N</th>
                    <th>Handle</th>
                    <th>Writer<br/>number</th>
                </tr>
                {% include 'resource_most_writer_paging.html' %}
            </table>
        </div>
    </div>
    {% endif %}

    {% for name, data in contests.items %}
    {% if data.contests.exists %}
    <div class="col-md-6 col-lg-4">
        <h4>{{ name|title }} contests</h4>
        <div class="panel panel-default table-responsive">
            <table class="contests table table-hover table-condensed table-striped">
                <tr>
                    <th>
                    {% with values=data.field|title|split:"_" %}
                    {% for v in values %}{{ v }}<br/>{% endfor %}
                    {% endwith %}
                    </th>
                    <th class="title">Contest</th>
                </tr>
                {% include 'resource_contests.html' with contests=contests contest_key=name %}
            </table>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}
