{% load el_pagination_tags %}
{% load extras %}

{% paginate 10 countries %}{% get_pages %}
{% for country in countries %}
  {% with name=country.country|get_country_name %}
  {% with code=country.country|get_country_code %}
  <tr>
    <td>
      <a href="{% url_transform request country=code %}">
        <img class="flag flag-{{ code|lower }}"/> {{ name }}
      </a>
    </td>
    <td>
      {{ country.count }}
    </td>
  </tr>
  {% endwith %}
  {% endwith %}
{% endfor %}

{% show_more_table %}
