{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ resource.host }} - Resource{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/resource.css' %}" rel="stylesheet">
<link href="{% static_ts 'css/Chart.min.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/Chart.min.js' %}"></script>
{% endblock %}

{% block content %}
<script>$.endlessPaginate();</script>

<h2><a href="{{ resource.href }}">{{ resource.host }}</a></h2>

<div>
    <a class="btn btn-default btn-xs" href="https://calendar.google.com/calendar/embed?src={{ resource.uid }}">
        <i class="far fa-calendar-alt"></i> Google calendar
    </a>

    <div class="badge progress-bar-{% if resource.enable %}success{% else %}danger{% endif %}">
        updating {% if resource.enable %}auto{% else %}manually{% endif %}
    </div>

    {% if resource.module %}
    <span class="badge progress-bar-warning">
        parse statistic
    </span>
    {% endif %}

    <span class="badge progress-bar-info">{{ resource.n_contests|intcomma }} contest(s)</span>

    <span class="badge progress-bar-info">{{ resource.n_accounts|intcomma }} accounts(s)</span>
</div>

<br/>

<form class="form-inline" method="get" action="">
    <div class="form-group">
        {% include 'country_filter.html' %}

        <div class="input-group input-group-sm">
            <div class="input-group-btn">
                <button class="btn btn-default">Period</button>
            </div>
            <select name="period" onchange="this.form.submit()">
                {% for p in periods %}
                    <option value="{{ p }}"{% if p == params.period %} selected{% endif %}>{{ p }}</option>
                {% endfor %}
            </select>
        </div>
        <script>
        $(function() {
            $('select[name="period"]').select2({
                theme: 'bootstrap',
                placeholder: 'select period',
            })
        })
        </script>
    </div>
</form>

<div>
    {% if rating.data %}
    <div class="col-md-6 col-lg-4">
        <h4>Top rating</h4>
        <div class="panel panel-default table-responsive">
            <table class="standings table table-hover table-condensed table-striped">
                <tr>
                    <th>Handle</th>
                    <th>Rating</th>
                </tr>
                {% include 'resource_top_paging.html' %}
            </table>
        </div>
    </div>

    <div class="col-md-6 col-lg-8">
        <h4>Rating distribution</h4>
        <span id="toggleLogScale">
            <input
                type="checkbox"
                data-toggle="toggle"
                data-on="logarithmic"
                data-off="linear"
                data-onstyle="default active"
                data-offstyle="default active"
                data-size="small"
            />
        </span>
        <canvas id="ratingDistribution"></canvas>
    </div>

    <script>
        $(function() {
            var ctx = document.getElementById('ratingDistribution').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for label in rating.labels %}{% if forloop.counter0 %},{% endif %}{{ label }}{% endfor %}],
                    datasets: [{
                        data: [{% for r in rating.data %}{% if forloop.counter0 %},{% endif %}{'x':{{ r.rating }},'y':{{ r.count }}}{% endfor %}],
                        title: [{% for r in rating.data %}{% if forloop.counter0 %},{% endif %}'{{ r.title }}'{% endfor %}],
                        value: [{% for r in rating.data %}{% if forloop.counter0 %},{% endif %}{{ r.count }}{% endfor %}],
                        barPercentage: 0.9,
                        categoryPercentage: 1.0,
                        backgroundColor: [{% for r in rating.data %}{% if forloop.counter0 %},{% endif %}'{{ r.info.hex_rgb }}'{% endfor %}],
                    }],
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false,
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                display:false
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                            },
                        }],
                    },
                    tooltips: {
                        position: 'nearest',
                        callbacks: {
                            title: function(tooltipItems, data) {
                                var tooltipItem = tooltipItems[0]
                                return data.datasets[tooltipItem.datasetIndex].title[tooltipItem.index]
                            },
                            label: function(tooltipItem, data) {
                                return data.datasets[tooltipItem.datasetIndex].value[tooltipItem.index]
                            },
                        },
                    },
                },
            })

            $('#toggleLogScale input').change(function() {
                var type = chart.options.scales.yAxes[0].type
                for (var i in chart.data.datasets[0].data) {
                    chart.data.datasets[0].data[i]['y'] += type == 'linear'? 1 : -1;
                }
                type = type == 'linear'? 'logarithmic' : 'linear'
                chart.options.scales.yAxes[0].type = type
                chart.update()
                return false
            })
        })
    </script>
    {% endif %}

    {% if has_country %}
    <div id="countries" class="col-md-6 col-lg-4">
        <h4>Country distribution</h4>
        <div class="panel panel-default table-responsive">
            <table class="standings table table-hover table-condensed table-striped">
                <tr>
                    <th>Country</th>
                    <th>Participants<br/>number</th>
                </tr>
                {% include 'resource_country_paging.html' %}
            </table>
        </div>
    </div>
    {% endif %}

    {% if last_activities.count %}
    <div class="col-md-6 col-lg-4">
        <h4>Last activity</h4>
        <div class="panel panel-default table-responsive">
            <table class="standings table table-hover table-condensed table-striped">
                <tr>
                    <th>Handle</th>
                    <th>Last<br/>activity</th>
                </tr>
                {% include 'resource_last_activity_paging.html' %}
            </table>
        </div>
    </div>
    {% endif %}

    {% if most_participated %}
    <div class="col-md-6 col-lg-4">
        <h4>Most participated</h4>
        <div class="panel panel-default table-responsive">
            <table class="standings table table-hover table-condensed table-striped">
                <tr>
                    <th>Handle</th>
                    <th>Contests<br/>number</th>
                </tr>
                {% include 'resource_most_participated_paging.html' %}
            </table>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
