{% extends "base.html" %}

{% block ogtitle %}{% block title %}Solution{% if problem %} {{ problem|get_problem_name }}{% endif %} on {{ contest.title }}{% endblock %}{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/standings.css' %}" rel="stylesheet">
<link href="{% static_ts 'css/highlight-9.18.1-default.min.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content %}
{% include 'solution-source.html' %}
{% endblock %}
