{% extends "base.html" %}
{% load extras %}

{% block title %}Solution {{ problem|get_problem_name }} on {{ contest.title }}{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/standings.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css">
<script src="{% static_ts 'js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content %}
{% include 'solution-source.html' %}
{% endblock %}
