{% extends "base.html" %}
{% load humanize %}
{% load extras %}
{% load el_pagination_tags %}

{% block title %}
  Standings {{ contest.title }}
{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/standings.css' %}" rel="stylesheet">
<link href="{% static_ts 'flags/flags.min.css' %}" rel=stylesheet type="text/css">
{% endblock %}

{% block content %}

<h3 class="text-center">
  Standings <a href="{{ contest.standings_url|default:contest.url }}">{{ contest.title }}</a> <small>{{ contest.end_time|naturalday:'F j, Y' }}</small>
</h3>

{% if contest.is_running and not contest.is_over %}
<h4 class="text-center">Time remaining: {{ contest.next_time|countdown }}{% if contest.info.last_parse_statistics %} <small>updated {{ contest.info.last_parse_statistics|strptime:"%Y-%m-%d %H:%M:%S.%f+%Z"|naturaltime }}</small>{% endif %}</h4>
{% endif %}

<div class="container">
  <form id="standings-form" class="form-inline invisible" method="get" action="">
    <div class="form-group">
      {% if divisions_order %}
      <div class="input-group input-group-sm">
        <div class="input-group-addon">Division</div>
        <select name="division" id="division" onchange="this.form.submit()">
          {% for d in divisions_order %}
          <option value="{{ d }}" {% if params.division == d %}selected{% endif %}>{{ d }}</option>
          {% endfor %}
        </select>
      </div>
      <script>
        $(function() {
          $('#division').select2({
            minimumResultsForSearch: -1,
            dropdownAutoWidth : true,
            theme: 'bootstrap',
            width: 'auto',
          })
        })
      </script>
      {% endif %}

      <div class="input-group input-group-sm">
        <input
          type="search"
          name="search"
          {% if request.GET.search %}value="{{ request.GET.search }}"{% endif %}
          placeholder="Regex filter to username"
          {% if request.GET.search %} autofocus onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"{% endif %}
          autocomplete="off"
          class="form-control"
          style="min-width: 300px"
        />
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            Search
          </button>
        </div>
      </div>

      <input
        name="detail"
        type="checkbox"
        data-size="small"
        data-toggle="toggle"
        data-on="Detail"
        data-off="Short"
        data-onstyle="default"
        data-offstyle="default"
        onchange="this.setAttribute('value', this.checked? 'true' : 'false'); this.checked = true; this.form.submit()"
        {% if with_detail %}checked{% endif %}
      >

      {% if has_country %}
      <div class="input-group input-group-sm hidden" id="country-hidden">
        <div class="input-group-addon">Country</div>
        <select name="country" id="country" onchange="this.form.submit()" multiple>
          <option></option>
          {% with country=request.user.coder.country %}
            {% if country %}
            <option value="{{ country.code }}"{% if country.code in params.countries %} selected{% endif %}>{{ country.name }}</option>
            {% endif %}
            {% get_countries as countries %}
            {% for c in countries %}
              {% if country.code != c.code %}
                <option value="{{ c.code }}"{% if c.code in params.countries %} selected{% endif %}>{{ c.name }}</option>
              {% endif %}
            {% endfor %}
          {% endwith %}
        </select>
      </div>

      <script>
        $(function() {
          $('#country').select2({
            dropdownAutoWidth : true,
            theme: 'bootstrap',
            placeholder: '',
            allowClear: true,
            templateResult: function (data) {
                var $result = $('<span></span>')
                $result.text(data.text)
                if (data.id) {
                    var code = data.id.toLowerCase()
                    $result.prepend('<img class="flag flag-' + code + '"/>&nbsp;')
                }
                return $result
            },
          }).on('select2:unselecting', function() {
            $(this).data('unselecting', true);
          }).on('select2:opening', function(e) {
            if ($(this).data('unselecting')) {
              $(this).removeData('unselecting');
              e.preventDefault();
            }
          })
          $('#country-hidden').removeClass('hidden');
        })
      </script>
      {% endif %}

      {% if fields_to_select %}
        {% for field, values in fields_to_select.items %}
          <div class="input-group input-group-sm field-to-select hidden">
            <div class="input-group-addon">{{ field|title }}</div>
            <select name="{{ field }}" id="{{ field }}" onchange="this.form.submit()" multiple>
            {% for v in values %}
              <option value="{{ v }}" selected>{{ v }}</option>
            {% endfor %}
            </select>
          </div>
        {% endfor %}
        <script>
          $(function() {
            $('.field-to-select select').select2({
              dropdownAutoWidth : true,
              theme: 'bootstrap',
              placeholder: '',
              allowClear: true,
              minimumInputLength: 1,
              ajax: {
                  url: '/settings/search/',
                  dataType: 'json',
                  delay: 314,
                  data: function (params) {
                      return {
                          query: 'field-to-select',
                          cid: {{ contest.pk }},
                          division: '{{ request.GET.division }}',
                          field: $(this).attr('name'),
                          text: params.term,
                          page: params.page || 1
                      };
                  },
                  processResults: function (data, params) {
                      return {
                          results: data.items,
                          pagination: {
                              more: data.more
                          }
                      };
                  },
                  cache: true,
              },
            }).on('select2:unselecting', function() {
              $(this).data('unselecting', true);
            }).on('select2:opening', function(e) {
              if ($(this).data('unselecting')) {
                $(this).removeData('unselecting');
                e.preventDefault();
              }
            })
            $('.field-to-select').removeClass('hidden');
          })
        </script>
      {% endif %}
    </div>
  </form>

  <script>
  $(function() {
    $('#standings-form').hide().removeClass('invisible').fadeIn();
  })
  </script>

  <br/>

  {% if statistics.exists %}
  <script>$.endlessPaginate({paginateOnScroll: true});</script>
  <div class="panel panel-default table-responsive">
    <table class="standings table table-hover table-striped table-condensed">
      <tr class="header-row">
        <th{% if merge_problems %} rowspan="2"{% endif %}>Rank</th>
        {% if data_1st_u %}
        <th{% if merge_problems %} rowspan="2"{% endif %}>1st U</th>
        {% endif %}
        <th{% if merge_problems %} rowspan="2"{% endif %} class="handle-cell">
          {% if has_country %}<div class="flag-width-fixed"></div>{% endif %}
          Handle
          {% if standings_options.help_message %}
          <span class="bg-success nobold">{{ standings_options.help_message }}</span>
          {% endif %}
        </th>
        <th{% if merge_problems %} rowspan="2"{% endif %}>Score</th>
        {% if mod_penalty %}
        <th{% if merge_problems %} rowspan="2"{% endif %}><span title="penalty - penalty_best_team + (solved_best_team - solved) * current_time<br/>suggested by tourist" data-html="true">Gap</span></th>
        {% endif %}
        {% for field in fields.values %}
        <th{% if merge_problems %} rowspan="2"{% endif %}>{% for f in field.split %}<div>{{ f }}</div>{% endfor %}</th>
        {% endfor %}

        {% for problem in problems %}
        {% if not problem.skip %}
        <th class="problem-cell{% if merge_problems %} header-score{% endif %}"{% if problem.colspan %} colspan="{{ problem.colspan }}"{% endif %}>
          <div title="{{ problem|get_problem_name }}">
          {% if problem.url %}<a href="{{ problem.url }}">{% endif %}
          {{ problem|get_problem_short|truncatechars:truncatechars_name_problem }}
          {% if problem.url %}</a>{% endif %}
          </div>
          {% if not merge_problems %}
            {% if problem.full_score %}
              <div class="small" title="Full score">{{ problem.full_score|floatformat }}</div>
            {% endif %}
            {% if problem.n_teams is not None and with_detail %}
              <div class="small text-muted nobold">
                <span title="Number of accepted">{{ problem.n_accepted|default:0 }}</span>/<span title="Number of teams tried">{{ problem.n_teams }}</span>
              </div>
            {% endif %}
          {% endif %}
        </th>
        {% endif %}
        {% endfor %}
      </tr>
      {% if merge_problems %}
      <tr style="background: #f9f9f9">
        {% for problem in problems %}
        <th{% if problem.colspan %} class="header-score"{% endif %}><small>{{ problem.full_score|floatformat }}</small></th>
        {% endfor %}
      </tr>
      <tr></tr>
      {% endif %}
      {% include page_template %}
    </table>
  </div>
  {% else %}
  <div class="alert alert-info">Standings is empty</div>
  {% endif %}
</div>

<script>$(function() {$('[title]').tooltip()})</script>

{% endblock %}
