{% load humanize %}
<div class="neighbors-contests"{% if not neighbors.visible %} style="display: none"{% endif %}>
  {% for contest in contests %}
  <div class="neighbors-standings-url">
    <span class="neighbors-standings-url-date"><small title="{{ contest.end_time|timezone:timezone|format_time:timeformat }}" data-toggle="tooltip">{{ contest.end_time|timezone:timezone|naturalday }}</small>&nbsp;</span><a href="{% url 'ranking:standings_by_id' contest.pk %}?{% query_transform request 'neighbors' 'on' 'with_replace' True %}">{{ contest.title }}</a>
  </div>
  {% endfor %}
</div>
