{% load el_pagination_tags %}
{% load extras %}

{% paginate per_page statistics using 'standings_paging' %}{% get_pages %}
{% for statistic in statistics %}
{% with addition=statistic.addition %}
{% with coders=statistic.account.coders.all %}
<tr{% for c in coders %}{% if c == request.user.coder %} class="info"{% endif %}{% endfor %}{% if colored_by_group_score %} data-result="{{ statistic.solving|floatformat:'-2' }}"{% endif %}>
{% endwith %}
  {% with advance=addition|get_item:'_advance' %}
  <td
    {% if addition.medal %}
      class="{{ addition.medal|lower }}-medal"
      {% with medal_title_field=addition|get_item:"_medal_title_field" %}
      title="{% if medal_title_field %}{{ medal_title_field|title }} {{ addition|get_item:medal_title_field }}{% else %}{{ addition.medal|title }}{% endif %}"
      {% endwith %}
      data-toggle="tooltip"
      data-placement="top"
    {% elif advance %}
      class="advance{% if advance.class %} {{ advance.class }}{% endif %}"
      {% if advance %}
        data-toggle="tooltip"
        data-placement="top"
        title="{% if advance.contest or not contest.next_time %}Advanced{% else %}Supposedly advance{% endif %} to {{ advance.next }}{% if advance.contest %} (in {{ advance.contest }}){% endif %}"
      {% endif %}
    {% endif %}
  >
    {% if statistic.place is not None %}{{ statistic.place }}{% else %}-{% endif %}
    {% if with_row_num %}({{ forloop.counter0|add:pages.current_start_index }}){% endif %}
  </td>
  {% endwith %}
  {% if data_1st_u %}
  {% with info=participants_info|get_item:statistic.id %}
  <td>
    <a href="{{ request.path }}?{% query_transform request search=info.search %}">
    {% if info.n %}
      <div>{{ info.n }}</div>
    {% else %}
      <div class="text-muted">—</div>
    {% endif %}
    {% if with_detail and info.t_solving is not None %}
    <small class="text-muted">
      {{ info.t_solving|floatformat:'-2' }}<span class="text-{% if info.t_penalty >= 0 %}success{% else %}danger{% endif %}">{% if info.t_penalty >= 0 %}+{% endif %}{{ info.t_penalty }}</span>
    </small>
    {% endif %}
    </a>
  </td>
  {% endwith %}
  {% endif %}
  <td class="handle-cell
    {% with info=participants_info|get_item:statistic.id %}
    {% if info and info.n <= standings_options.n_highlight %}bg-success{% endif %}
    {% endwith %}
  ">
    {% if has_country %}
      {% with country=statistic.account.country %}
        <div class="flag-width-fixed">
        {% if country %}
        <a href="{% url_transform request country=country.code %}" title="{{ country.name }}" data-toggle="tooltip">
          <img class="flag flag-{{ country.code|lower }}"/>
        </a>
        {% endif %}
        </div>
      {% endwith %}
    {% endif %}

    {% with team_id=addition.team_id %}
    {% if not team_id %}{% coder_color_circle contest.resource addition statistic.account.info %}{% endif %}

    <div class="handle-div{% if not team_id%} {% coder_color_class contest.resource addition statistic.account.info %}{% endif %}" style="display: inline-block">
      {% if statistic.account.url %}<a href="{{ statistic.account.url }}" class="coder">{% endif %}

      {% if addition.name and statistic.account.key|has_season:addition.name or addition.team_id %}
        <span>{{ addition.name }}</span>
      {% elif addition.name and contest.resource.info.standings.name_instead_key %}
        <span>{{ addition.name }}</span>
      {% else %}
        <span{% if addition.name %} title="{{ addition.name }}" data-placement="top"{% endif %} data-toggle="tooltip">{{ statistic.account.key }}</span>
      {% endif %}

      {% if statistic.account.url %}</a>{% endif %}

      {% for country_name in addition|get_item:"_countries" %}
        {% with country_code=country_name|get_country_code %}
          {% if country_code %}
            <div class="flag-width-fixed">
              <a href="{% url_transform request country=country_code %}" title="{{ country_name }}" data-toggle="tooltip">
                <img class="flag flag-{{ country_code|lower }}"/>
              </a>
            </div>
          {% endif %}
        {% endwith %}
      {% endfor %}

      {% if addition.url %}
        <a href="{{ addition.url }}" class="external-link invisible" target="_blank"><i class="fas fa-external-link-alt"></i></a>
      {% endif %}

      {% if perms.ranking.statistics_change %}
        <a href="{% url 'admin:ranking_statistics_change' statistic.id %}" class="external-database-link invisible" target="_blank"><i class="fas fa-database"></i></a>
      {% endif %}
    </div>
    {% endwith %}
  </td>
  <td>
    <div>{{ statistic.solving|floatformat:'-2' }}</div>
  </td>
  {% if mod_penalty %}
  <td>{% calc_mod_penalty info=mod_penalty contest=contest solving=statistic.solving penalty=addition.penalty|default:0 %}</td>
  {% endif %}

  {% for field in fields.keys %}
  {% with value=addition|get_item:field %}
  <td{% if field in contest.resource.RATING_FIELDS or field == 'performance' %} class="{% coder_color_class contest.resource value %}"{% endif %}>
    {% if field in contest.resource.RATING_FIELDS %}{% coder_color_circle contest.resource value %}{% endif %}
    {% if field in addition and not value.empty %}
      {% if field == 'hack' %}
        <small>
        {% if addition.hack.successful %}<div class="inline acc">+{{ addition.hack.successful }}</div>{% endif %}
        {% if addition.hack.unsuccessful %}<div class="inline rej">-{{ addition.hack.unsuccessful }}</div>{% endif %}
        </small>
      {% else %}
        {% if field in fields_to_select and value not in fields_to_select|get_item:field %}
          <a class="field-to-select" href="{{ request.path }}?{% query_transform request field value %}">{{ value }}</a>
        {% elif value|get_type == 'bool' %}
          <span class="text-muted">
            {% if value %}
              <i class="fas fa-check"></i>
            {% else %}
              <i class="fas fa-times"></i>
            {% endif %}
          </span>
        {% else %}
          {% with intvalue=value|toint %}
            <span{% if field == "rating_change" %} class="rating-change{% if intvalue %} rating-change-{% if intvalue > 0 %}up{% else %}down{% endif %}{% endif %}"{% endif %}>
              {% if field == "rating_change" and intvalue %}
                <i class="fas fa-angle-{% if intvalue > 0 %}up{% else %}down{% endif %}"></i>{{ intvalue|abs }}
              {% else %}
                {{ value }}
              {% endif %}
            </span>
          {% endwith %}
        {% endif %}
      {% endif %}
    {% else %}
      <small class='text-muted'>&#183;</small>
    {% endif %}
  </td>
  {% endwith %}

  {% endfor %}
  {% for problem in problems %}
    {% with key=problem|get_problem_key  %}
    {% with stat=addition.problems|get_item:key %}
    <td class="problem-cell{% if stat %}{% if stat.first_ac_of_all %} first-ac-of-all{% endif %}{% if stat.first_ac %} first-ac{% endif %}{% endif %}">
      {% if not stat %}
        <div>&#183;</div>
      {% else %}
        <div>
        {% if stat.result is not None %}
          <div
            class="inline
            {% if request.GET.languages and stat.language not in request.GET|get_list:'languages' %}
              text-muted
            {% elif stat.binary is None and with_detail and stat.subscores %}
            {% elif stat.result|slice:":1" == "+" or stat.result|asfloat:0 > 0 %}
              {% if stat.partial %}par{% else %}acc{% endif %}
            {% elif stat.result|slice:":1" == "?" %}
              hid
            {% else %}
              rej
            {% endif %}
            "
            {% if not with_detail %}
              {% if stat.status or stat.time or stat.upsolving %}
                title='{% include "standings_paging_detail.html" with stat=stat small=False %}'
                data-toggle="tooltip"
                data-placement="top"
                data-html="true"
              {% endif %}
            {% endif %}
          >
            {% if stat.url or stat.solution %}
              <a{% if stat.solution %} onClick="return viewSolution(this);"{% endif %} href="{% if not stat.solution %}{{ stat.url }}{% else %}{% url 'ranking:solution' statistic.pk key %}{% endif %}" target="_blank">
            {% endif %}

            {% if stat.binary is not None %}
              <i class="fas fa-{% if stat.result|slice:":1" == "+" or stat.result|asfloat:0 > 0 %}check{% else %}times{% endif %}"></i>
            {% elif with_detail and stat.subscores %}
            {% for subscore in stat.subscores %}{% if forloop.counter0 %}+{% endif %}<span{% if subscore.verdict %} title="{{ subscore.verdict }}" data-toggle="tooltip"{% endif %}{% if subscore.result is not None %} class="{% if request.GET.languages and stat.language not in request.GET|get_list:'languages' %}text-muted{% elif subscore.result %}acc{% else %}rej{% endif %}"{% endif %}>{{ subscore.status }}</span>{% endfor %}
            {% elif stat.result|slice:":1" == "+" or stat.result|slice:":1" == "?" %}
              {{ stat.result }}
            {% else %}
              {{ stat.result|floatformat:'-2' }}
            {% endif %}

            {% if stat.url or stat.solution %}</a>{% endif %}
          </div>
        {% elif not with_detail %}
          {% include "standings_paging_detail.html" with stat=stat small=True sid=statistic.pk problem_key=key %}
        {% endif %}
        {% if stat.extra_score is not None %}
          <div class="inline"
            {% if stat.extra_info %}
              data-toggle="tooltip"
              data-placement="top"
              data-html="true"
              title="{% for info in stat.extra_info %}{{ info }}<br/>{% endfor %}"
            {% endif %}
          >
          {% if stat.extra_score >= 0 %}+{% endif %}{{ stat.extra_score|floatformat:'-2' }}
          </div>
        {% endif %}
        </div>

        {% if with_detail %}
          {% include "standings_paging_detail.html" with stat=stat small=True sid=statistic.pk problem_key=key %}
        {% endif %}
      {% endif %}
    </td>
    {% endwith %}
    {% endwith %}
  {% endfor %}
</tr>
{% endwith %}
{% endfor %}

{% if colored_by_group_score %}
<script>
    var prev = null
    var idx = 0
    $('.standings tr[data-result]').each(function(e) {
      var node = $(this)
      node.removeClass('odd')
      node.removeClass('event')
      node.removeClass('parity-border')
      var result = node.attr('data-result')
      if (result != prev) {
        idx = 1 - idx
        if (prev != null) {
          node.addClass('parity-border')
        }
      }
      node.addClass(idx? 'odd' : 'even')
      prev = result
    })
</script>
{% endif %}

<script>
  $(function(){
    $('[data-toggle="tooltip"]').removeAttr('data-toggle').tooltip({trigger : 'hover'})
  })
</script>

{% show_more_table %}
