<div class="col-lg-7">
  {% with orderby=request.GET|get_list:'orderby' %}
  <div class="panel panel-default table-responsive">
    <table class="standings table table-condensed table-float-head table-striped">
      <thead>
        <tr class="header-row">
          <th>N</th>
          {% for key, field in fields.items %}
          <th>
            {% with rev_key="-"|add:key %}
            <span
              {% if key in labels_groupby %}title="{{ labels_groupby|get_item:key }}" data-placement="bottom" data-toggle="tooltip"{% endif %}
            >
              {{ field|title }}
            </span>
            <a
              {% if rev_key in orderby  %}
                href="{% url_transform request orderby="--"|add:key %}"
              {% else %}
                href="{% url_transform request orderby=rev_key %}"
                class="text-muted"
              {% endif %}
            ><i class="fas fa-chevron-down"></i></a>
            <a
              {% if key in orderby  %}
                href="{% url_transform request orderby="--"|add:key %}"
              {% else %}
                href="{% url_transform request orderby=key %}"
                class="text-muted"
              {% endif %}
            ><i class="fas fa-chevron-up"></i></a>
            {% endwith %}
            {% if forloop.last %}
            {% endif %}
          </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% include 'standings_groupby_paging.html' %}
      </tbody>
    </table>
  </div>
  {% if orderby %}
  <a href="{% url_transform request orderby='--' %}" style="position:absolute; top: 6px; right: 0px;"><i class="fas fa-times"></i></a>
  {% endif %}
  {% endwith %}
</div>
<div class="col-lg-5">
  {% for field, header in fields.items %}
  {% if header != groupby %}

  {% with limited_statistics=statistics|limit:pie_limit_rows_groupby %}
  <div>
    <canvas id="chart_{{ field }}"></canvas>
    <script>
      $(function() {
        var ctx = document.getElementById('chart_{{ field }}').getContext('2d');

        var config = {
          type: 'pie',
          data: {
            datasets: [{
              data: [
                {% for statistic in limited_statistics %}
                  {% with value=statistic|get_item:field %}
                    {% if value|get_type == 'float' %}
                      {{ value|floatformat:2 }},
                    {% else %}
                      {{ value }},
                    {% endif %}
                  {% endwith %}
                {% endfor %}
              ],
              backgroundColor: palette('tol-rainbow', {{ num_rows|minimize:pie_limit_rows_groupby }}).map(function(hex) {
                return '#' + hex;
              }),
            }],
            labels: [
              {% for statistic in limited_statistics %}
                {% with value=statistic|get_item:'groupby' %}
                {% if groupby == 'country' %}
                  {% if value %}
                    "{{ value|get_country_name }}",
                  {% else %}
                    "Undefined",
                  {% endif %}
                {% else %}
                  {% with values=value|aslist %}
                    "{% for v in values %}{% if forloop.counter0 %} {% endif %}{{ v|default:'Undefined' }}{% endfor %}",
                  {% endwith %}
                {% endif %}
                {% endwith %}
              {% endfor %}
            ],
          },
          options: {
            responsive: true,
            legend: {
              display: false,
            },
            title: {
              display: true,
              text: '{% if field in labels_groupby %}{{ labels_groupby|get_item:field }}{% else %}}{{ header|title }}{% endif %} by {{ groupby }}{% if num_rows > pie_limit_rows_groupby %} (first {{ pie_limit_rows_groupby }}){% endif %}',
            },
          }
        }
        new Chart(ctx, config);
      })
    </script>
  </div>
  {% endwith %}

  {% endif %}
  {% endfor %}
</div>
