<div class="col-lg-7">
  {% with orderby=request.GET|get_list:'orderby' %}
  <div class="panel panel-default table-responsive">
    <table class="standings table table-condensed table-float-head table-striped">
      <thead>
        <tr class="header-row">
          <th>N</th>
          {% for key, field in fields.items %}
          <th>
            {% with rev_key="-"|add:key %}
            <span
              {% if key in labels_groupby %}title="{{ labels_groupby|get_item:key }}" data-placement="bottom" data-toggle="tooltip"{% endif %}
            >
              {{ field }}
            </span>
            <a
              {% if rev_key in orderby  %}
                href="{% url_transform request orderby="--"|add:key %}"
              {% else %}
                href="{% url_transform request orderby=rev_key %}"
                class="text-muted"
              {% endif %}
            ><i class="fas fa-chevron-down"></i></a>
            <a
              {% if key in orderby  %}
                href="{% url_transform request orderby="--"|add:key %}"
              {% else %}
                href="{% url_transform request orderby=key %}"
                class="text-muted"
              {% endif %}
            ><i class="fas fa-chevron-up"></i></a>
            {% endwith %}
            {% if forloop.last %}
            {% endif %}
          </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% include 'standings_groupby_paging.html' %}
      </tbody>
    </table>
  </div>
  {% if orderby %}
  <a href="{% url_transform request orderby='--' %}" style="position:absolute; top: 6px; right: 0px;"><i class="fas fa-times"></i></a>
  {% endif %}
  {% endwith %}
</div>
<div class="col-lg-5">
  {% for field, header in fields.items %}
  {% if field != "groupby" %}
  <div>
    <canvas id="chart_{{ field }}"></canvas>
  </div>
  {% endif %}
  {% endfor %}

  <script>
    $(function() {
      var charts = []
  {% for field, header in fields.items %}
  {% if field != "groupby" %}
  {% with limited_statistics=statistics|order_by_desc:field|limit:pie_limit_rows_groupby %}
      var ctx = document.getElementById('chart_{{ field }}').getContext('2d');
      var bg_colors = palette('tol-rainbow', {{ num_rows_groupby }}).map(function(hex) { return '#' + hex; })

      var config = {
        type: 'pie',
        data: {
          datasets: [{
            data: [
              {% for statistic in limited_statistics %}
                {% with value=statistic|get_item:field %}
                  {% if value|get_type == 'float' %}
                    {{ value|floatformat:2 }},
                  {% else %}
                    {{ value }},
                  {% endif %}
                {% endwith %}
              {% endfor %}
            ],
            {% if map_colors_groupby %}
            backgroundColor: [{% for s in limited_statistics %}bg_colors[{{ map_colors_groupby|get_item:s.groupby }}],{% endfor %}],
            {% else %}
            backgroundColor: bg_colors,
            {% endif %}
          }],
          labels: [
            {% for statistic in limited_statistics %}
              {% with value=statistic|get_item:'groupby' %}
              {% if groupby == 'country' %}
                {% if value %}
                  "{{ value|get_country_name }}",
                {% else %}
                  "Undefined",
                {% endif %}
              {% else %}
                "{{ value|escapejs|default:'Undefined' }}",
              {% endif %}
              {% endwith %}
            {% endfor %}
          ],
        },
        options: {
          responsive: true,
          legend: {
            display: true,
            position: 'right',
            labels: {
              filter: function(item, chart_data) {
                return item.index < 10;
              },
              generateLabels: function(chart) {
                var data = chart.data
                return data.labels.map(function(label, i) {
                  var ds = data.datasets[0];
                  var meta = chart.getDatasetMeta(0)
                  var arc = meta.data[i]
                  var custom = arc && arc.custom || {}
                  var getValueAtIndexOrDefault = Chart.helpers.getValueAtIndexOrDefault
                  var arcOpts = chart.options.elements.arc
                  var fill = custom.backgroundColor ? custom.backgroundColor : getValueAtIndexOrDefault(ds.backgroundColor, i, arcOpts.backgroundColor);
                  var stroke = custom.borderColor ? custom.borderColor : getValueAtIndexOrDefault(ds.borderColor, i, arcOpts.borderColor);
                  var bw = custom.borderWidth ? custom.borderWidth : getValueAtIndexOrDefault(ds.borderWidth, i, arcOpts.borderWidth);
                  return {
                    text: label + ': ' + ds.data[i],
                    fillStyle: fill,
                    strokeStyle: stroke,
                    lineWidth: bw,
                    hidden: isNaN(ds.data[i]) || meta.data[i].hidden,
                    index: i,
                  }
                })
              },
              padding: 5,
              usePointStyle: true,
            },
          },
          title: {
            display: true,
            text: '{% if field in labels_groupby %}{{ labels_groupby|get_item:field }}{% else %}}{{ header|title }}{% endif %} by {{ groupby }}{% if num_rows_groupby > pie_limit_rows_groupby %} (first {{ pie_limit_rows_groupby }}){% endif %}',
          },
        }
      }
      var chart = new Chart(ctx, config);
      charts.push(chart)
  {% endwith %}
  {% endif %}
  {% endfor %}
      equalizeLegendWidth(charts)
    })
  </script>
</div>
