{% load el_pagination_tags %}


{% paginate per_page statistics %}

{% for statistic in statistics %}
<tr>
  <td
    {% if statistic.addition.medal %}
      class="{{ statistic.addition.medal }}-medal"
    {% elif medals and statistic.place_as_int %}
      {% for medal, limit in medals %}
        {% if statistic.place_as_int <= limit %}
          {% ifchanged statistic.id %}
            class="{{ medal }}-medal"
          {% endifchanged %}
        {% endif %}
      {% endfor %}
    {% endif %}
  >
    {% if statistic.place is not None %}{{ statistic.place }}{% else %}-{% endif %}
    {% if with_row_num %}({{ forloop.counter|add:start_num }}){% endif %}
  </td>
  {% if data_1st_u %}
  {% with info=data_1st_u.infos|get_item:statistic.id %}
  <td>
    <a href="{{ request.path }}?{% query_transform request search=info.search %}">
    {% if info.n %}
      <div>{{ info.n }}</div>
    {% else %}
      <div class="text-muted">—</div>
    {% endif %}
    {% if with_detail and info.t_solving is not None %}
    <small class="text-muted">
      {{ info.t_solving|floatformat:'-2' }}<span class="text-{% if info.t_penalty >= 0 %}success{% else %}danger{% endif %}">{% if info.t_penalty >= 0 %}+{% endif %}{{ info.t_penalty }}</span>
    </small>
    {% endif %}
    </a>
  </td>
  {% endwith %}
  {% endif %}
  <td class="handle-cell
    {% if data_1st_u %}
    {% with info=data_1st_u.infos|get_item:statistic.id %}
    {% if info and info.n <= data_1st_u.n_highlight %}bg-success{% endif %}
    {% endwith %}
    {% endif %}
">
    {% with country=statistic.account.country %}
      {% if country %}
      <a href="{{ request.path }}?country={{ country.code }}" title="{{ country.name }}">
        <img class="flag flag-{{ country.code|lower }}"/>
      </a>
      {% endif %}
    {% endwith %}

    {% with coders=statistic.account.coders.all %}
      {% if coders|length == 1 %}
        {% for c in coders %}
          <a href="{% url 'coder:profile' c.username %}" class="coder">
        {% endfor %}
      {% endif %}

      {% if statistic.addition.name %}
        <span{% if statistic.addition.name not in statistic.account.key %} title="{{ statistic.account.key }}"{% endif %}>
          {{ statistic.addition.name }}
        </span>
      {% else %}
        {{ statistic.account.key }}
      {% endif %}

      {% if coders|length == 1 %}
        </a>
      {% endif %}

      {% if coders|length > 1 %}
      <div class="small">
        {% for c in coders %}
          <a href="{% url 'coder:profile' c.username %}" class="coder">{{ c.username }}</a>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}
  </td>
  <td>
    <div{% if not with_detail %} style="display: inline;"{% endif %}>{{ statistic.solving|floatformat:'-2' }}</div>
    {% if 'hack' in statistic.addition %}
      <small>
      {% if statistic.addition.hack.successful %}<div class="inline acc">+{{ statistic.addition.hack.successful }}</div>{% endif %}
      {% if statistic.addition.hack.unsuccessful %}<div class="inline rej">-{{ statistic.addition.hack.unsuccessful }}</div>{% endif %}
      </small>
    {% endif %}
  </td>
  {% if with_detail and mod_penalty %}
  <td>{% calc_mod_penalty info=mod_penalty contest=contest solving=statistic.solving penalty=statistic.addition.penalty|default:0 %}</td>
  {% endif %}
  {% for field in fields.keys %}
  <td>{% if field in statistic.addition %}{{ statistic.addition|get_item:field }}{% endif %}</td>
  {% endfor %}
  {% for problem in problems %}
    {% with key=problem|get_problem_key  %}
    {% with stat=statistic.addition.problems|get_item:key %}
    <td class="problem-cell{% if stat %}{% if stat.first_ac_of_all %} first-ac-of-all{% endif %}{% if stat.first_ac %} first-ac{% endif %}{% endif %}">
      {% if not stat %}
        <div>&#183;</div>
      {% else %}
        <div>
        {% if stat.result is not None %}
          <div
            class="inline
            {% if stat.result|slice:":1" == "+" or stat.result|asfloat:0 > 0 %}
              {% if stat.partial %}par{% else %}acc{% endif %}
            {% elif stat.result|slice:":1" == "?" %}
              hid
            {% else %}
              rej
            {% endif %}
            "
            {% if not with_detail %}
              {% if stat.status or stat.time or stat.upsolving %}
                title='{% include "standings_paging_detail.html" with stat=stat nosmall=True %}'
                data-toggle="tooltip"
                data-placement="top"
                data-html="true"
              {% endif %}
            {% endif %}
          >
            {% if stat.url %}<a href="{{ stat.url }}">{% endif %}

            {% if stat.binary is not None %}
              <i class="fas fa-{% if stat.result|slice:":1" == "+" or stat.result|asfloat:0 > 0 %}check{% else %}times{% endif %}"></i>
            {% elif stat.result|slice:":1" == "+" or stat.result|slice:":1" == "?" %}
              {{ stat.result }}
            {% else %}
              {{ stat.result|floatformat:'-2' }}
            {% endif %}

            {% if stat.url %}</a>{% endif %}
          </div>
        {% elif not with_detail %}
          {% include "standings_paging_detail.html" with stat=stat %}
        {% endif %}
        {% if stat.extra_score is not None %}
          <div class="inline"
            {% if stat.extra_info %}
              data-toggle="tooltip"
              data-placement="top"
              data-html="true"
              title="{% for info in stat.extra_info %}{{ info }}<br/>{% endfor %}"
            {% endif %}
          >
          {% if stat.extra_score >= 0 %}+{% endif %}{{ stat.extra_score|floatformat:'-2' }}
          </div>
        {% endif %}
        </div>

        {% if with_detail %}
          {% include "standings_paging_detail.html" with stat=stat %}
        {% endif %}
      {% endif %}
    </td>
    {% endwith %}
    {% endwith %}
  {% endfor %}
</tr>
{% endfor %}

<script>$(function(){$('[data-toggle="tooltip"]').removeAttr('data-toggle').tooltip()})</script>

{% show_more_table %}
