{% extends "base.html" %}
{% load countries %}
{% load el_pagination_tags %}

{% block title %}Standings {{ contest.title }}{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/standings.css' %}" rel="stylesheet">
<link href="{% static_ts 'flags/flags.min.css' %}" rel=stylesheet type="text/css">
{% endblock %}

{% block content %}

<h3 class="text-center">
  Standings <a href="{{ contest.standings_url }}">{{ contest.title }}</a>
</h3>

{% if contest.is_running and not contest.is_over %}
<h4 class="text-center">Time remaining: {{ contest.next_time|countdown }}</h4>
{% endif %}

<div class="container">
  <form id="standings-form" class="form-inline" method="get" action="">
    <div class="form-group">
      {% if 'division' in contest.info.problems %}
      {% with division=contest.info.problems|get_item:'division' %}
      {% if division %}
      <div class="input-group input-group-sm">
        <div class="input-group-addon">Division</div>
        <select name="division" id="division" onchange="this.form.submit()">
          {% for d in division %}
          <option value="{{ d }}" {% if d == params.division %}selected{% endif %}>{{ d }}</option>
          {% endfor %}
        </select>
      </div>
      <script>
        $(function() {
          $('#division').select2({
            minimumResultsForSearch: -1,
            dropdownAutoWidth : true,
            theme: 'bootstrap',
            width: 'auto',
          })
        })
      </script>
      {% endif %}
      {% endwith %}
      {% endif %}

      <div class="input-group input-group-sm">
        <input
          type="search"
          name="search"
          {% if request.GET.search %}value="{{ request.GET.search }}"{% endif %}
          placeholder="Regex filter to username"
          {% if request.GET.search %} autofocus onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"{% endif %}
          autocomplete="off"
          class="form-control"
          style="min-width: 300px"
        />

        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            Search
          </button>
          {% if has_detail %}
          <input
            name="detail"
            type="checkbox"
            data-size="small"
            data-toggle="toggle"
            data-on="Detail"
            data-off="Short"
            data-onstyle="default"
            data-offstyle="default"
            onchange="this.form.submit()"
            {% if with_detail %}checked{% endif %}
          >
          {% endif %}
        </div>
      </div>

      {% if 'country' in contest.info.fields %}
      <div class="input-group input-group-sm">
        <div class="input-group-addon">Country</div>
        <select name="country" id="country" onchange="this.form.submit()" multiple>
          <option></option>
          {% with country=request.user.coder.country %}
            {% if country %}
            <option value="{{ country.code }}"{% if country.code in params.countries %} selected{% endif %}>{{ country.name }}</option>
            {% endif %}
            {% get_countries as countries %}
            {% for c in countries %}
              {% if country.code != c.code %}
              <option value="{{ c.code }}"{% if c.code in params.countries %} selected{% endif %}>{{ c.name }}</option>
              {% endif %}
            {% endfor %}
          {% endwith %}
        </select>
      </div>
      <script>
        $(function() {
          $('#country').select2({
            dropdownAutoWidth : true,
            theme: 'bootstrap',
            placeholder: '',
            allowClear: true,
            templateResult: function (data) {
                var $result = $('<span></span>')
                $result.text(data.text)
                if (data.id) {
                    var code = data.id.toLowerCase()
                    $result.prepend('<img class="flag flag-' + code + '"/>&nbsp;')
                }
                return $result
            },
          }).on('select2:unselecting', function() {
            $(this).data('unselecting', true);
          }).on('select2:opening', function(e) {
            if ($(this).data('unselecting')) {
              $(this).removeData('unselecting');
              e.preventDefault();
            }
          })
        })
      </script>
      {% endif %}

    </div>
  </form>

  <br/>

  {% if statistics.exists %}
  <script>$.endlessPaginate({paginateOnScroll: true});</script>
  <div class="panel panel-default table-responsive">
    <table class="standings table table-hover table-striped table-condensed">
      <tr class="header-row">
        <th{% if merge_problems %} rowspan="2"{% endif %}>Rank</th>
        {% if data_1st_u %}
        <th{% if merge_problems %} rowspan="2"{% endif %}>1st U</th>
        {% endif %}
        <th{% if merge_problems %} rowspan="2"{% endif %} class="handle-cell">
          Handle
          {% if data_1st_u %}
          <span class="bg-success nobold">{{ data_1st_u.help_message }}</span>
          {% endif %}
        </th>
        <th{% if merge_problems %} rowspan="2"{% endif %}>Score</th>
        {% for field in fields.values %}
        <th{% if merge_problems %} rowspan="2"{% endif %}>{{ field }}</th>
        {% endfor %}

        {% for problem in problems %}
        {% if not problem.skip %}
        <th class="problem-cell{% if merge_problems %} header-score{% endif %}"{% if problem.colspan %} colspan="{{ problem.colspan }}"{% endif %}>
          <div title="{{ problem|get_problem_name }}">
          {% if problem.url %}<a href="{{ problem.url }}">{% endif %}
          {{ problem|get_problem_short|truncatechars:truncatechars_name_problem }}
          {% if problem.url %}</a>{% endif %}
          </div>
          {% if not merge_problems %}
            {% if problem.full_score %}
              <div class="small" title="Full score">{{ problem.full_score|floatformat }}</div>
            {% endif %}
            {% if problem.n_teams is not None and with_detail %}
              <div class="small text-muted nobold">
                <span title="Number of accepted">{{ problem.n_accepted|default:0 }}</span>
                /
                <span title="Number of teams tried">{{ problem.n_teams }}</span>
              </div>
            {% endif %}
          {% endif %}
        </th>
        {% endif %}
        {% endfor %}
      </tr>
      {% if merge_problems %}
      <tr style="background: #f9f9f9">
        {% for problem in problems %}
        <th{% if problem.colspan %} class="header-score"{% endif %}><small>{{ problem.full_score|floatformat }}</small></th>
        {% endfor %}
      </tr>
      <tr></tr>
      {% endif %}
      {% include page_template %}
    </table>
  </div>
  {% else %}
  <div class="alert alert-info">Standings is empty</div>
  {% endif %}
</div>

<script>$(function() {$('[title]').tooltip()})</script>

{% endblock %}
