{% extends "base.html" %}

{% block ogtitle %}{% block title %}Standings{% endblock %}{% endblock %}
{% block description %}Pretty standings for past competitions with additional information and filtering{% endblock %}

{% block end-head %}
<link href="{% static_ts 'css/standings.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/ajax-csrf.js' %}"></script>
{% endblock %}

{% block content %}

<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
  <form id="standings-filters" method="get" action="">
    <div class="input-group input-group-sm">
      <input type="search" name="search" value="{{ request.GET.search }}" class="form-control" placeholder="Regex filter to contest name or resource host" {% if request.GET.search %} autofocus onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"{% endif %} autocomplete="off"/>
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Search
        </button>

        <input
          {% if all_standings %}
          data-on="Parsed"
          data-off="All"
          {% else %}
          data-on="All"
          data-off="Parsed"
          {% endif %}

          type="checkbox"
          name="switch"
          data-toggle="toggle"
          data-onstyle="default"
          data-offstyle="default"
          data-size="small"
          onchange="this.form.submit()"
          {% if switch %}checked{% endif %}
        />
      </div>
    </div>

  </form>

  <script>$.endlessPaginate({paginateOnScroll: true, onCompleted: function () { toggle_tooltip(); inline_button(); }});</script>
  <div id="standings_list" class="list-group">
  {% include page_template %}
  </div>
</div>

{% endblock %}
