{% if small %}
<small class="text-muted">
{% endif %}
{% if not small and stat.subscores %}
<div>
  {% for subscore in stat.subscores %}{% if forloop.counter0 %}+{% endif %}<span{% if subscore.verdict %} class="{% if subscore.result %}acc{% else %}rej{% endif %}"{% endif %}>{{ subscore.status }}</span>{% endfor %}
</div>
{% endif %}
{% if stat.status|slugify and stat.time %}
  {% if stat.result|asfloat:0 < 0 %}
    {% if stat.status_tag and small %}<{{ stat.status_tag }}>{% endif %}{{ stat.status }}{% if stat.status_tag and small %}</{{ stat.status_tag }}>{% endif %}
  {% else %}
    {{ stat.time }}{% if stat.penalty %}+{{ stat.penalty }}{% endif %}
  {% endif %}
{% elif stat.status|slugify %}
  {% if stat.status_tag and small %}<{{ stat.status_tag }}>{% endif %}{{ stat.status }}{% if stat.status_tag and small %}</{{ stat.status_tag }}>{% endif %}
{% elif stat.time %}
  {{ stat.time }}{% if stat.penalty %}+{{ stat.penalty }}{% endif %}
{% elif 'upsolving' in stat %}
  {% if stat.upsolving.result|slice:":1" == "+" %}
    {{ stat.upsolving.result }}
  {% else %}
    {{ stat.upsolving.result|floatformat:'-2' }}
  {% endif %}
{% endif %}
{% if stat.language %}
  {% if not small %}
    <br/>{{ stat.language }}
  {% elif problem_key and stat.solution %}
    <a class="solution" onClick="return viewSolution(this);" href="{% url 'ranking:solution' sid problem_key %}" target="_blank">{{ stat.language }}</a>
  {% else %}
    {{ stat.language }}
  {% endif %}
{% endif %}
{% if small %}
</small>
{% endif %}
