{% load el_pagination_tags %}

{% paginate 50 statistics %}
{% for statistic in statistics %}
<tr>
  <td>{{ statistic.place }}</td>
  <td class="handle-cell">{{ statistic.account.key }}</td>
  <td>{{ statistic.solving|floatformat }}</td>
  {% for problem in contest.info.problems|get_division_problems:params %}
    {% with key=problem|get_problem_key  %}
    {% with stat=statistic.addition.problems|get_item:key %}
    <td class="problem-cell">
      {% if stat and stat.result is not None %}
        <div class="{% if stat.result|slice:":1" == "+" or stat.result|asfloat:0 > 0 %}acc{% else %}rej{% endif %}">
          {% if stat.result|slice:":1" == "+" %}
            {{ stat.result }}
          {% else %}
            {{ stat.result|floatformat }}
          {% endif %}
        </div>
        {% if stat.time %}<small class="text-muted">{{ stat.time }}</small>{% endif %}
      {% else %}
      {% endif %}
    </td>
    {% endwith %}
    {% endwith %}
  {% endfor %}
</tr>
{% endfor %}
{% show_more_table %}
