<form class="form-inline" method="get" action="">
  <div id="standings-filters" class="form-group">
    {% if divisions_order %}
    <div class="input-group input-group-sm">
      <div class="input-group-addon">Division</div>
      <select name="division" id="division" onchange="this.form.submit()">
        {% for d in divisions_order %}
        <option value="{{ d }}" {% if params.division == d %}selected{% endif %}>{{ d }}</option>
        {% endfor %}
      </select>
    </div>
    <script>
      $('#division').select2({
        minimumResultsForSearch: -1,
        dropdownAutoWidth : true,
        theme: 'bootstrap',
        width: 'auto',
      })
    </script>
    {% endif %}

    <div class="input-group input-group-sm">
      <input
        type="search"
        name="search"
        {% if request.GET.search %}value="{{ request.GET.search }}"{% endif %}
        placeholder="Regex filter to username"
        {% if request.GET.search %} autofocus onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"{% endif %}
        autocomplete="off"
        class="form-control"
        style="min-width: 300px"
      />
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Search
        </button>
      </div>
    </div>

    <input
      name="detail"
      type="checkbox"
      data-size="small"
      data-toggle="toggle"
      data-on="Detail"
      data-off="Short"
      data-onstyle="default"
      data-offstyle="default"
      onchange="this.setAttribute('value', this.checked? 'true' : 'false'); this.checked = true; this.form.submit()"
      {% if with_detail %}checked{% endif %}
    >
    <script>$('[data-toggle="toggle"]').removeAttr('data-toggle').bootstrapToggle();</script>

    {% if has_country or fields_to_select %}{% if groupby and groupby != 'none' %}<input name="groupby" value="{{ groupby }}" type="hidden"/>{% endif %}{% endif %}

    {% include 'country_filter.html' %}

    {% if fields_to_select %}
      {% for field, field_to_select in fields_to_select.items %}
        <div class="input-group input-group-sm field-to-select hidden">
          <div class="input-group-btn">
            <button class="btn btn-default{% if groupby == field %} active{% endif %}" name="groupby" value="{% if groupby != field %}{{ field }}{% endif %}">{{ field|title }}</button>
          </div>
          <select name="{{ field }}" id="{{ field }}" onchange="this.form.submit()"{% if not field_to_select.nomultiply %} multiple{% endif %}>
          {% if field_to_select.options %}
            <option></option>
            {% for v in field_to_select.options %}
              <option value="{{ v }}"{% if v in field_to_select.values %} selected{% endif %}>{{ v }}</option>
            {% endfor %}
          {% else %}
            {% for v in field_to_select.values %}
              <option value="{{ v }}" selected>{{ v }}</option>
            {% endfor %}
          {% endif %}
          </select>
        </div>
        <script>
          $('#{{ field }}').select2({
            minimumResultsForSearch: -1,
            dropdownAutoWidth : true,
            theme: 'bootstrap',
            placeholder: '',
            allowClear: true,
            {% if not field_to_select.noajax %}
            ajax: {
                url: '/settings/search/',
                dataType: 'json',
                delay: 314,
                data: function (params) {
                    return {
                        query: 'field-to-select',
                        cid: {{ contest.pk }},
                        division: '{{ request.GET.division }}',
                        field: $(this).attr('name'),
                        text: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: data.items,
                        pagination: {
                            more: data.more
                        }
                    };
                },
                cache: true,
            },
            {% endif %}
          }).on('select2:unselecting', function() {
            $(this).data('unselecting', true);
          }).on('select2:opening', function(e) {
            if ($(this).data('unselecting')) {
              $(this).removeData('unselecting');
              e.preventDefault();
            }
          })
        </script>
      {% endfor %}
      <script>
        $('.field-to-select').removeClass('hidden');
      </script>
    {% endif %}

    {% with orderby=request.GET|get_list:'orderby' %}
      {% for order in orderby %}
    <input type="hidden" name="orderby" value="{{ order }}"/>
      {% endfor %}
    {% endwith %}

    {% if neighbors.visible %}
    <input type="hidden" name="neighbors" value="on"/>
    {% endif %}
  </div>
</form>
