{% if small %}
<small class="text-muted">
{% endif %}
{% if not small and stat.subscores %}
<div>
  {% for subscore in stat.subscores %}{% if forloop.counter0 %}+{% endif %}<span{% if subscore.verdict %} class="{% if subscore.result %}acc{% else %}rej{% endif %}"{% endif %}>{{ subscore.status }}</span>{% endfor %}
</div>
{% endif %}
{% if stat.status and stat.time %}
  {% if stat.result|asfloat:0 < 0 %}{{ stat.status }}{% else %}{{ stat.time }}{% endif %}
{% elif stat.status %}
  {{ stat.status }}
{% elif stat.time %}
  {{ stat.time }}
{% elif 'upsolving' in stat %}
  {% if stat.upsolving.result|slice:":1" == "+" %}
    {{ stat.upsolving.result }}
  {% else %}
    {{ stat.upsolving.result|floatformat:'-2' }}
  {% endif %}
{% endif %}
{% if stat.language %}
  {% if not small %}
    <br/>{{ stat.language }}
  {% elif problem_key and stat.solution %}
    <a class="solution" href="{% url 'ranking:solution' sid problem_key %}" target="_blank">{{ stat.language }}</a>
  {% else %}
    {{ stat.language }}
  {% endif %}
{% endif %}
{% if small %}
</small>
{% endif %}
