{% extends "base.html" %}
{% load el_pagination_tags %}

{% block title %}Standings {{ contest.title }}{% endblock %}

{% block end-head %}
<script src="{% static_ts 'el-pagination/js/el-pagination.js' %}"></script>
<link href="{% static_ts 'css/standings.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<h3 class="text-center">
  <a href="{{ contest.standings_url }}">{{ contest.title }}</a>
  {% if 'division' in contest.info.problems %}
  {% with division=contest.info.problems|get_item:'division' %}
  {% if division %}
  <div class="btn-group">
    {% for d in division %}
    <a href="?division={{ d }}" class="btn btn-xs btn-default{% if params.division == d %} active disabled{% endif %}">Division {{ d }}</a>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  {% endif %}
</h3>

<div class="col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1">
  <form method="get" action="">
  <div class="input-group">
    <input type="search" name="search" value="{{ request.GET.search }}" class="form-control" placeholder="Regex filter to username" {% if request.GET.search %} autofocus onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"{% endif %}>
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        Search
      </button>
    </div>
  </div>
  <br/>

  {% if statistics %}
  <script>$.endlessPaginate({paginateOnScroll: true});</script>
  <div class="panel panel-default">
    <table class="standings table table-hover table-striped table-condensed">
      <tr class="header-row">
        <th>Rank</th>
        <th class="handle-cell">Handle</th>
        <th>Score</th>
        {% for _, field in fields %}
        <th>{{ field|title }}</th>
        {% endfor %}
        {% for problem in contest.info.problems|get_division_problems:params %}
        <th title="{{ problem|get_problem_name }}" class="problem-cell">
          <div>
          {% if problem.url %}<a href="{{ problem.url }}">{% endif %}
          {{ problem|get_problem_short|truncatechars:10 }}
          {% if problem.url %}</a>{% endif %}
          </div>
          {% if problem.full_score %}
            <small>{{ problem.full_score|floatformat }}</small>
          {% endif %}
        </th>
        {% endfor %}
      </tr>
      {% include page_template %}
    </table>
  </div>
  {% else %}
  <div class="alert alert-info">Standings is empty</div>
  {% endif %}
</div>

{% endblock %}
