{% if resource.avatar_url %}
  <div class="avatar-width-fixed">
  {% with avatar_url=account.avatar_url %}
    {% if avatar_url %}
      <img class="account-avatar" src="{{ avatar_url }}"/>
    {% endif %}
  {% endwith %}
  </div>
{% endif %}

{% if has_country %}
  {% with country=account.country %}
    <div class="flag-width-fixed">
    {% if country %}
    {% with code=account.info.custom_countries_|get_item:country.code|default:country.code %}
    <a href="{% url_transform request country=country.code %}" title="{{ country.name }}" data-toggle="tooltip"><img class="flag flag-{{ code|lower }}"/></a>
    {% endwith %}
    {% endif %}
    </div>
  {% endwith %}
{% endif %}

{% with team_id=addition.team_id %}
{% if not team_id %}{% coder_color_circle resource addition account.info %}{% endif %}

<div class="handle-div{% if not team_id%} {% coder_color_class resource addition account.info %}{% endif %}" style="display: inline-block">
  {% if account.url %}<a href="{{ account.url }}" class="coder">{% endif %}

  {% if addition.name and account.key|has_season:addition.name or addition.team_id %}
    <span>{{ addition.name }}</span>
  {% elif addition.name and resource.info.standings.name_instead_key or addition.name and addition|get_item:"_name_instead_key" %}
    <span>{{ addition.name }}</span>
  {% else %}
    <span{% if addition.name or account.name %} title="{{ addition.name|default:account.name }}" data-placement="top"{% endif %} data-toggle="tooltip">{{ account.key }}</span>
  {% endif %}

  {% if account.url %}</a>{% endif %}

  {% for country_name in addition|get_item:"_countries" %}
    {% with country_code=country_name|get_country_code %}
      {% if country_code %}
        <div class="flag-width-fixed">
          <a href="{% url_transform request country=country_code %}" title="{{ country_name }}" data-toggle="tooltip">
            <img class="flag flag-{{ country_code|lower }}"/>
          </a>
        </div>
      {% endif %}
    {% endwith %}
  {% endfor %}

  {% if addition.url %}
    <a href="{{ addition.url }}" class="external-link invisible" target="_blank"><i class="fas fa-external-link-alt"></i></a>
  {% endif %}

  {% if perms.ranking.statistics_change and statistic %}
    <a href="{% url 'admin:ranking_statistics_change' statistic.id %}" class="external-database-link invisible" target="_blank"><i class="fas fa-database"></i></a>
  {% endif %}
</div>
{% endwith %}

