<form class="form-inline" method="get" action="">
  <div id="standings-filters" class="form-group">
    {% if divisions_order %}
    <div class="input-group input-group-sm">
      <div class="input-group-addon">Division</div>
      <select name="division" id="division" onchange="this.form.submit()">
        {% for d in divisions_order %}
        <option value="{{ d }}" {% if params.division == d %}selected{% endif %}>{{ d }}</option>
        {% endfor %}
      </select>
    </div>
    <script>
      $('#division').select2({
        minimumResultsForSearch: -1,
        dropdownAutoWidth : true,
        theme: 'bootstrap',
        width: 'auto',
      })
    </script>
    {% endif %}

    <div class="input-group input-group-sm">
      <input
        type="search"
        name="search"
        {% if request.GET.search %}value="{{ request.GET.search }}"{% endif %}
        placeholder="Regex filter to username"
        {% if request.GET.search %} autofocus onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"{% endif %}
        autocomplete="off"
        class="form-control"
        style="min-width: 200px"
      />
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <i class="fas fa-search"></i>
          Search
        </button>
      </div>
    </div>

    {% if not request.user.is_authenticated %}
    <input type="hidden" name="detail" value="{% if with_detail %}true{% else %}false{% endif %}"/>
    {% endif %}
    <button class="btn btn-default btn-sm" name="detail" value="{% if with_detail %}false{% else %}true{% endif %}">
      {% if with_detail %}Detail{% else %}Short{% endif %}
    </button>

    {% if has_country or fields_to_select %}{% if groupby and groupby != 'none' %}<input name="groupby" value="{{ groupby }}" type="hidden"/>{% endif %}{% endif %}

    {% include 'country_filter.html' %}

    {% include 'fields_to_select.html' %}

    {% with find_me=request.GET.find_me|toint %}
    {% if find_me or params.find_me %}
    {% if find_me %}
    <input type="hidden" name="find_me" value="{{ find_me }}"/>
    {% endif %}
    <button class="btn btn-default btn-sm{% if find_me %} active{% endif %}" name="find_me" value="{% if not find_me %}{{ params.find_me }}{% endif %}">Find{% if not find_me or find_me == params.find_me %} me{% endif %}</button>
    {% endif %}
    {% endwith %}

    {% with orderby=request.GET|get_list:'orderby' %}
      {% for order in orderby %}
    <input type="hidden" name="orderby" value="{{ order }}"/>
      {% endfor %}
    {% endwith %}

    {% if neighbors.visible %}
    <input type="hidden" name="neighbors" value="on"/>
    {% endif %}
    {% if request.GET.versus %}
    <input type="hidden" name="versus" value="{{ request.GET.versus }}"/>
    <input type="hidden" name="id" value="{{ request.GET.id }}"/>
    {% endif %}

    {% if enable_timeline and contest.resource.info.standings.timeline %}
      <button onclick="this.remove(); show_timeline(); return false" class="btn btn-default btn-sm"><i class="fas fa-history"></i></button>

      <div id="timeline-buttons" class="hidden">

        <div class="btn-group">
          <button onclick="set_timeline(0.0); return false" class="btn btn-default btn-sm"><i class="fas fa-fast-backward"></i></button>
          <button id="play-timeline" class="btn btn-default btn-sm"><i class="fas fa-play"></i></button>
          <button onclick="set_timeline(1); return false" class="btn btn-default btn-sm"><i class="fas fa-fast-forward"></i></button>
        </div>

        <div class="input-group input-group-sm">
          <div class="input-group-addon">Duration</div>
          <select id="timeline-duration">
            <option value="100">100 ms</option>
            <option value="500">500 ms</option>
            <option value="1000" selected>1 sec</option>
            <option value="2000">2 sec</option>
            <option value="4000">4 sec</option>
          </select>
        </div>

        <div class="input-group input-group-sm">
          <div class="input-group-addon">Step</div>
          <select id="timeline-step">
            <option value="0.001">0.001%</option>
            <option value="0.005">0.005%</option>
            <option value="0.01">0.01%</option>
            <option value="0.03" selected>0.03%</option>
            <option value="0.1">0.1%</option>
            <option value="0.2">0.2%</option>
          </select>
        </div>

        <div class="input-group input-group-sm">
          <div class="input-group-addon">Delay</div>
          <select id="timeline-delay">
            <option value="100">100 ms</option>
            <option value="500">500 ms</option>
            <option value="1000">1 sec</option>
            <option value="2000" selected>2 sec</option>
            <option value="4000">4 sec</option>
            <option value="10000">10 sec</option>
          </select>
        </div>

      </div>

      <script>
        $('#timeline-duration').select2({theme: 'bootstrap', width: 'auto', dropdownAutoWidth : true})
        $('#timeline-step').select2({theme: 'bootstrap', width: 'auto', dropdownAutoWidth : true})
        $('#timeline-delay').select2({theme: 'bootstrap', width: 'auto', dropdownAutoWidth : true})
      </script>
    {% endif %}
  </div>
</form>
