{% load el_pagination_tags %}
{% lazy_paginate 50 contests %}
{% for contest in contests %}
<a href="{% if not contest.n_statistics %}{{ contest.standings_url|default:contest.url }}{% else %}{% url 'ranking:standings' contest.title|slug contest.pk %}{% endif %}" class="contest list-group-item list-group-item-action list-group-item-{% if not contest.has_module %}info{% elif not contest.n_statistics %}danger{% elif contest.is_running %}success{% endif %}">
    <div>
    <img data-toggle="tooltip" data-placement="top" title="{{ contest.resource.host }}" src="{{ contest.resource.icon|static_resize:'32x32' }}" width="16" height="16"/>
    {{ contest.title }}
    {% if contest.n_statistics and not contest.stats %}<small>({{ contest.n_statistics }})</small>{% endif %}
    <small class="pull-right">
        {% include "contest_inline_buttons.html" with contest=contest %}

        <span title="{{ contest.end_time|timezone:timezone|format_time:timeformat }}" data-toggle="tooltip">
            {{ contest.end_time|timezone:timezone|naturalday }}
        </span>
    </small>
    </div>

    {% for stat in contest.stats %}
    <small>
        {% if stat.place %}
        {% with division=stat.addition|get_item:"division" %}
        Rank {{ stat.place }}{% if contest.n_statistics %} of {{ contest.info.problems.n_statistics|get_item:division|default:contest.n_statistics }}{% endif %}
        {% endwith %}
        {% endif %}

        {% with value=stat.addition.rating_change %}
        {% with intvalue=value|toint %}
            <span class="rating-change{% if intvalue %} rating-change-{% if intvalue > 0 %}up{% else %}down{% endif %}{% endif %}">
            {% if intvalue %}
              <i class="fas fa-angle-{% if intvalue > 0 %}up{% else %}down{% endif %}"></i>{{ intvalue|abs }}
            {% else %}
              {{ value }}
            {% endif %}
            </span>
        {% endwith %}
        {% endwith %}
    </small>
    {% endfor %}
</a>
{% endfor %}
{% show_more %}
