django==3.1.13
django-add-default-value==0.6.0
django-cache-machine==1.1.0
django_countries==7.0.0
django-cprofile-middleware==1.0.5
django-crispy-forms==1.11.1
django-enumfield==2.0.2
django-extensions==2.2.8
django-jsonify==0.3.0
django-json-widget==1.1.1
django-ltree==0.5.2
django-oauth-toolkit==1.4.0
django-phonenumber-field==5.0.0
django-pivot==1.8.1
django-postgres-reindex-command==2020.12.3
django-print-sql==2018.3.6
django-ratelimit==3.0.0
django-sql-utils==0.6.1
django-static-fontawesome==5.14.0.0
django-super-deduper==0.1.4
django-tastypie==0.14.3
django-user-agents==0.4.0
django-webpush==0.3.3
pytest-django==3.8.0
phonenumbers==8.10.6
psycopg2-binary==2.8.6
arrow==0.13.2
tqdm==4.31.1
attrdict==2.0.1
requests==2.21.0
pytimeparse==1.1.8
humanfriendly==9.1
humanize==3.1.0
python-telegram-bot==12.7
lxml==4.6.3
defusedxml==0.5.0
pyyaml==5.4
biplist==1.0.3
ipdb==0.11
google-api-python-client==1.7.8
oauth2client==4.1.3
python-memcached==1.59
django-debug-toolbar==3.2.1
yapf==0.27.0
unidecode==1.1.1
first==2.0.2
setuptools==45.2.0
jsonfield==3.1.0
git+https://github.com/piotrbilski/django-tastypie-swagger@dec9484d3ccb7c0bb00251a4ba67ca68dfa56ffc
git+https://github.com/aropan/django-el-pagination@show_more_table
git+https://github.com/orcasgit/django-tastypie-oauth@01c40de7b86ae3c6cc9e9463ec9bcecbb22b897e
git+https://github.com/aropan/django-imagefit@f564246e5d65255aedf6bd9193c5bcc818f4a442
geopy==1.21.0
cssutils==1.0.2
unicodecsv==0.14.1
ratelimiter==1.2.0
bootstrap-admin==0.4.4
docutils==0.16
image==1.5.32
pillow==8.3.2
olefile==0.46
sqlparse==0.3.0
pytesseract==0.3.7
python-dateutil==2.8.0
scikit-image==0.17.2
string-color==1.2.1
channels==3.0.3
flake8==3.8.4
isort==5.7.0
emoji-country-flag==1.2.4
gitpython==3.1.14
free-proxy==1.0.3
coloredlogs==15.0
twisted[http2,tls]==21.2.0
channels_redis==3.2.0
fire==0.4.0
lazy-load==0.8.2
blackboxprotobuf==1.0.1
traceback-with-variables==2.0.1
flatten-dict==0.4.2
