django
django-tastypie
git+https://github.com/piotrbilski/django-tastypie-swagger@dec9484d3ccb7c0bb00251a4ba67ca68dfa56ffc
django-jsonify
django-crispy-forms
jsonfield
django-markdown-app
django_enumfield
django-countries
django-el-pagination
django-static-fontawesome

django-phonenumber-field
phonenumbers

psycopg2-binary

arrow
tqdm
attrdict
requests
pytimeparse
humanfriendly
python-telegram-bot
lxml
defusedxml
pyyaml
biplist

ipdb

google-api-python-client
oauth2client

python-memcached

django-debug-toolbar
yapf
unidecode
first
