Django==2.2.13
django-add-default-value==0.6.0
django-cache-machine==1.1.0
django-countries==5.5
django-cprofile-middleware==1.0.5
django-crispy-forms==1.7.2
django-enumfield==1.5
django-extensions==2.2.8
django-imagefit==0.6.2
django-jsonify==0.3.0
django-ltree==0.5
django-markdown-app==0.9.6
django-phonenumber-field==2.2.0
django-postgres-reindex-command==2020.12.3
django-print-sql==2018.3.6
django-ratelimit==3.0.0
django-sql-utils==0.6.1
django-static-fontawesome==5.14.0.0
django-super-deduper==0.1.4
django-tastypie==0.14.2
django-user-agents==0.4.0
django-webpush==0.3.3
pytest-django==3.8.0
phonenumbers==8.10.6
psycopg2==2.7.7
arrow==0.13.2
tqdm==4.31.1
attrdict==2.0.1
requests==2.21.0
pytimeparse==1.1.8
humanfriendly==4.18
humanize==3.1.0
python-telegram-bot==12.7
lxml==4.6.2
defusedxml==0.5.0
PyYAML==5.1
biplist==1.0.3
ipdb==0.11
google-api-python-client==1.7.8
oauth2client==4.1.3
python-memcached==1.59
django-debug-toolbar==1.11
yapf==0.27.0
Unidecode==1.1.1
first==2.0.2
setuptools==45.2.0
jsonfield==2.0.2
git+https://github.com/piotrbilski/django-tastypie-swagger@dec9484d3ccb7c0bb00251a4ba67ca68dfa56ffc
git+https://github.com/aropan/django-el-pagination@4clist
geopy==1.21.0
cssutils==1.0.2
unicodecsv==0.14.1
ratelimiter==1.2.0
django-json-widget==1.0.0
bootstrap-admin==0.4.4
docutils==0.16
image==1.5.32
pillow==7.2.0
olefile==0.46
sqlparse==0.3.0
pytesseract==0.3.7
python-dateutil==2.8.0
