DJANGO_ENV=dev
ALLOWED_HOSTS=dev.clist.by,localhost,127.0.0.1,10.42.0.103
WEBSOCKET_ALLOWED_ORIGINS=https://dev.clist.by,http://localhost,http://localhost:10042,http://127.0.0.1,http://127.0.0.1:10042,http://10.42.0.103:10042
REQUESTER_DEBUG=true
