{% extends "base.html" %}
{% load extras %}

{% block title %}Main{% endblock %}

{% block end-head %}
<script>page_load = $.now();</script>

<script src="{% static_ts 'js/moment.min.js' %}"></script>
<script src="{% static_ts 'js/moment-timezone.min.js' %}"></script>

<link href="{% static_ts 'fullcalendar/core/main.min.css' %}" rel="stylesheet">
<script src="{% static_ts 'fullcalendar/core/main.min.js' %}"></script>
<link href="{% static_ts 'fullcalendar/daygrid/main.min.css' %}" rel="stylesheet">
<script src="{% static_ts 'fullcalendar/daygrid/main.min.js' %}"></script>
<link href="{% static_ts 'fullcalendar/timegrid/main.min.css' %}" rel="stylesheet">
<script src="{% static_ts 'fullcalendar/timegrid/main.min.js' %}"></script>
<link href="{% static_ts 'fullcalendar/list/main.min.css' %}" rel="stylesheet">
<script src="{% static_ts 'fullcalendar/list/main.min.js' %}"></script>
<script src="{% static_ts 'fullcalendar/moment/main.min.js' %}"></script>
<script src="{% static_ts 'fullcalendar/moment-timezone/main.min.js' %}"></script>

<link href="{% static_ts 'css/contest/calendar.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/contest/calendar.js' %}"></script>

<link href="{% static_ts 'css/bootstrap-input-xs.css' %}" rel="stylesheet">
<script>var timezone = '{{ timezone }}'</script>
{% endblock %}

{% block content %}
{% include "includes/check-timezone-and-filter.html" %}
</div>

<div class="container">
    <div class="row">
        {% if ignore_filters %}
            <div class="ignore-filters text-right">
            {% for i in ignore_filters %}
                <button class="btn btn-default btn-xs ignore-filters" data-id="{{ i.id }}" data-value="0">{{ i.name }}</button>
            {% endfor %}
            </div>
        {% endif %}
        <div id="calendar"></div>
        <div id="loading">loading...</div>
    </div>

{% endblock %}
