{% extends "base.html" %}
{% load extras %}

{% block title %}Main{% endblock %}

{% block end-head %}
<script>page_load = $.now();</script>
<link href="{% static_ts 'css/contest/main.css' %}" rel="stylesheet">
<link href="{% static_ts 'css/bootstrap-input-xs.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/countdown.js' %}"></script>
<script src="{% static_ts 'js/contest/toggle.js' %}"></script>
<script src="{% static_ts 'js/contest/main.js' %}"></script>
<link href="{% static_ts 'css/atc-style-menu-wb.css' %}" rel="stylesheet">
<script src="{% static_ts 'js/atc.min.js' %}"></script>
{% endblock %}

{% block content %}
{% include "includes/check-timezone-and-filter.html" %}
{% if contests %}
<div id="contests">
    <div class="row hidden-xs">
        <div class="col-md-5 col-sm-4">
            <div class="col-md-5 col-sm-12 header-start-time">Start/End Time</div>
            <div class="col-md-3 col-sm-6 header-duration">Duration</div>
            <div class="col-md-4 col-sm-6 header-timeleft">Time Left</div>
        </div>
        <div class="col-md-7 col-sm-8 header-event">
            Event
            {% if contests|total_sub_contest > 0 %}
            <a href="#" id="toggle-all" class="badge progress-bar-info">{{ contests|total_sub_contest }}&nbsp;<i class="fa fa-caret-down"></i></a>
            {% endif %}
            <span id="filter-count-matches" class="badge progress-bar-info hidden"></span>
        </div>
    </div>
{% for contest in contests %}
    {% with rid=contest.resource.id|stringformat:"s"  %}
    {% with group=contest.state|add:"-"|add:rid %}
    <div class="row contest {{ contest.state }}{% if contest.sub_contest %} {{ group }} subcontest hidden{% endif %}">
        <div class="col-md-5 col-sm-4">
            <div class="col-md-5 col-sm-12 start-time">
                {% if contest.state == 'coming' %}
                <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg={{ contest.title|iriencode }}&amp;iso={{ contest.start_time|format_time:"%Y%m%dT%H%M" }}{% if contest.duration|less_24_hours %}&ah={{ contest.duration|hours }}&am={{ contest.duration|minutes }}{% endif %}">
                    {{ contest.start_time|timezone:timezone|format_time:time_format }}
                </a>
                {% else %}
                <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg={{ contest.title|iriencode }}&amp;iso={{ contest.end_time|format_time:"%Y%m%dT%H%M" }}">
                    {{ contest.end_time|timezone:timezone|format_time:time_format }}
                </a>
                {% endif %}
            </div>
            <div class="col-md-3 col-sm-6 duration">{{ contest.hr_duration }}</div>
            <div class="col-md-4 col-sm-6 timeleft{% if contest.next_time %} countdown{% endif %}"{% if contest.next_time %} data-timestamp="{{ contest.next_time }}"{% endif %}>
                {% if contest.is_over %}over{% else %}{{ contest.next_time|countdown }}{% endif %}
            </div>
        </div>
        <div class="col-md-7 col-sm-8 event">
            {% if party.id %}
            <i class="party-check fa-fw fa {% if contest.id in party.contest_ids %}fa-check-square-o{% else %}fa-square-o{% endif %}" {% if party.owner == user.coder %}data-contest-id="{{ contest.id}}"{% endif %}></i>
            {% endif %}
            {% if contest.sub_contest %}
                <a href="#" class="toggle" data-group=".{{ group }}"><i class="fa fa-caret-up"></i></a>
            {% endif %}
            <a href="{{ contest.url }}"{% if open_new_tab %} target="_blank"{% endif %} title="{{ contest.title }}">{{ contest.title }}</a>
            {% if contest.state != "past" and add_to_calendar != "disable" %}
            <div class="addtocalendar atc-style-menu-wb"{% if add_to_calendar != "enable" %} data-calendars="{{ add_to_calendar }}"{% endif %}>
                <var class="atc_event">
                    <var class="atc_date_start">{{ contest.start_time|timezone:timezone|format_time:"%Y%m%dT%H%M" }}</var>
                    <var class="atc_date_end">{{ contest.end_time|timezone:timezone|format_time:"%Y%m%dT%H%M" }}</var>
                    <var class="atc_timezone">{{ timezone }}</var>
                    <var class="atc_title">{{ contest.title|pass_arg:"#"|replace:"" }} @ {{ contest.host }}</var>
                    <var class="atc_location">{{ contest.host }}</var>
                    <var class="atc_description">{{ contest.url }}</var>
                </var>
                <a class="atcb-link"><i class="far fa-calendar-alt"></i></a>
            </div>
            {% endif %}
            {% if contest.group_size %}
                <a href="#" class="toggle badge progress-bar-info" data-group=".{{ group }}">{{ contest.group_size }}&nbsp;<i class="fa fa-caret-down"></i></a>
            {% endif %}
            <div class="resource">
                <a href="http://{{ contest.host }}"><small class="text-muted">{{ contest.host }}</small></a>
            </div>
        </div>
    </div>
    {% endwith %}
    {% endwith %}
{% endfor %}
</div>
{% else %}
    <div class="row alert alert-info text-center">List of competitions is empty</div>
{% endif %}

{% endblock %}
