.fc-event .activity.fav:not(.selected-activity) {
    color: #fff;
}

.fc-day-number {
    font-size: 10px;
}

.fc-day-header {
    font-size: 12px;
}

.fc-content {
    font-family: "Lato", sans-serif;
    font-size: 11px;
}

.fc-toolbar {
    margin-bottom: 4px;
    font-size: 12px;
}

.fc-toolbar h2 {
    font-size: 20px;
}

.dropdown-menu .ignore-filter {
    border: 0;
    width: 100%;
    text-align: left;
    border-radius: 0px;
    margin-left: 0 !important;
}

#calendar .fc-dayGrid-view .fc-body .fc-row {
    min-height: 0em;
}

#calendar .fc-toolbar .fc-right .btn-group {
    margin: 4px;
}
