#contests .badge {
    font-size: 75%;
}

.start-time {
    font-family: monospace;
}

#contests>tbody>tr>td {
    vertical-align: middle;
}

#contests th,
#contests .start-time,
#contests .duration,
#contests .timeleft {
    white-space: nowrap;
}

#contests th,
#contests td {
    border-width: 1px 0px;
    border-style: solid #ddd;
    padding: 5px 15px;
}

.header-start-time,
.header-duration,
.header-timeleft,
#contests .start-time,
#contests .duration,
#contests .timeleft {
    text-align: center;
}


.header-resource,
#contests .resource {
    text-align: right;
}

#contests a {
    outline: none;
}


/*
 * action contest
 */

.hide-contest.fa-eye,
.fc-event .data-ace
{
    visibility: hidden;
    margin-right: 2px;
}

:hover > .hide-contest,
:hover > .data-ace
{
    visibility: visible;
}

.event i.hide-contest:hover,
.event .data-ace:hover i,
.event i.share-to-category:hover
{
    color: #23527c;
}

.event .hide-contest,
.event .data-ace,
.event .share-to-category
{
    color: #8be;
    cursor: pointer;
}

.party-check.has-permission-toggle-party-contest:hover {
    cursor: pointer;
}

.contest.contest-muted * {
    color: #ccc;
}

.contest.contest-muted img {
    opacity: 50%;
    filter: grayscale(50%);
}

.contest.nofilter,
.contest.subcontest {
    display: none;
}

.contest.onfilter {
    display: table-row;
}

@media(max-width:767px) {
    #contests td {
        border: none;
        display: block;
        padding: 2px;
        text-align: center;
    }
    #contests td:first-child {
        padding-top: 5px;
    }
    #contests td:last-child {
        padding-bottom: 5px;
    }
    #contests tr {
        border: 1px solid #ddd;
    }
}
